[2018-06-18 15:26] jhibbets commented on #1046
The Annex is available for both days. We can discuss tonight if you want me to complete the booking process. No problem on my side, I just need to fill out a form.

[2018-06-18 15:27] jhibbets opened #1059 "Reminder about planning meet-up - Jun 18"

[2018-06-18 15:38] ChrisTheDBA commented on #1046
Looks like Artspace could be a good fit Friday evening.  Price is within
our budget and they seem accommodating and not too restrictive.

Thank you for your interest in Artspace for the event you are planning.
Operating out of its historic building in downtown Raleigh, Artspace is a
wonderful, unique facility, filled with interesting and colorful artwork.
We always receive a lot of positive feedba

[2018-06-18 16:58] #1059 closed, assigned to jhibbets

[2018-06-18 21:58] jhibbets opened #1060 "Host 6/18 planning meet-up"

[2018-06-18 22:17] jmpmcmanus commented on #1042
Created a survey, on SurveyMonkey. It currently has five questions. I would like to get feedback and additional questions.

[2018-06-18 23:07] #1060 closed, assigned to jhibbets

[2018-06-18 23:08] #1046 closed, assigned to ChrisTheDBA, jhibbets

[2018-06-19 01:07] jhibbets commented on #1042
@jmpmcmanus I shared the password to the NC Open Pass survey monkey account with you

[2018-06-19 01:09] jhibbets opened #1061 "Review staging site and give feedback"

[2018-06-19 01:10] jhibbets opened #1062 "Good source for social media"
http://c4a.me/thisweekincivictech

[2018-06-19 01:31] jhibbets opened #1063 "Contact Us forms from website - which email should it go to?"
A: ncopenpass-admin@googlegroups.com

[2018-06-19 01:33] jhibbets opened #1064 "Looking to update the generic email (Mailchimp send email)"
Let's also use this: ncopenpass-admin@googlegroups.com

But if you can still list my name as the sender (name) I think it's helpful to have a person tied to a newsletter. If you disagree, no worries, update this as you see fit.

[2018-06-19 01:34] jhibbets opened #1065 "Generate a list of venue options for DataPalooza"

[2018-06-19 01:36] jcwlib commented on #1064
Jason -

I know that MailChimp won’t let me send from the googlegroups.com domain.

That was the initial issue when I tried to use the marketing email address
instead of your personal email.

We can keep sending from your email.

—Janel

On Mon, Jun 18, 2018 at 9:33 PM Jason Hibbets <notifications@github.com>
wrote:

[2018-06-19 01:36] jhibbets opened #1066 "Reserve Red Hat Annex for CivicCamp (Fri/Sat)"

[2018-06-19 01:36] jhibbets commented on #1064
Well then....

[2018-06-19 01:44] jhibbets commented on #1064
Let's try this: mailchimp@ncopenpass.com

[2018-06-20 12:55] #1047 closed, assigned to ChrisTheDBA, TaxLadyTracy

[2018-06-20 12:55] #1038 closed, assigned to ChrisTheDBA

[2018-06-20 12:58] ChrisTheDBA opened #1067 "Improve Audio of our recordings"
We need to make our recordings more engaging. The Mevo has proven to be effective in capturing video. Some of our venues have shown we need better audio setup.

here is a list of proposed equipment to purchase https://www.amazon.com/gp/registry/wishlist/NZYYQUJGFYRL/ref=nav_wishlist_lists_1

[2018-06-22 19:04] jcwlib opened #1068 "Draft Flyer for Innovation Raleigh partnership"
To be used at First Responders' outreach events

[2018-06-22 19:05] jcwlib opened #1069 "Create talking points for First Responder's breakfast"
mentioning initiative and table, Civic Camp and registration option

[2018-06-22 19:06] jcwlib opened #1070 "Create scope statement for First Reponders design sessions"

[2018-06-22 19:07] jcwlib commented on #1070
this statement will be output from the Monday afternoon brainstorming meeting

[2018-06-22 19:30] #996 closed, assigned to zachambrose

[2018-06-25 13:20] #1063 closed, assigned to jcwlib

[2018-06-29 15:27] jhibbets commented on #1064
@jcwlib - This email isn't working yet. I'll let you know when I've got the DNS issues resolved and the MX record in place.

[2018-06-29 15:28] jhibbets opened #1071 "Potential sponosrs"
Hey @zachambrose - was reading this article: https://news.centennial.ncsu.edu/inc-features-nc-states-centennial-campus-in-raleighs-rise-as-a-startup-hub/

Made me think we should pursue sponsorship opportunities with Bandwidth and Republic Wireless

[2018-06-29 20:20] jcwlib commented on #1044
first draft of events are submitted for review - I will continue to update the information as more details are finalized - closing this ticket for now

[2018-06-29 20:20] #1044 closed, assigned to jcwlib

[2018-06-29 20:21] jcwlib commented on #1050
Had an initial planning session with group - aiming to pull together specific dates/times by July 8th

[2018-07-09 13:18] jcwlib commented on #1050
Dates are set - July 27, Aug 9 and Aug 10 - all three from 2:00 - 4:30 pm.  Placeholders sent to planning committee calendars and posted on NC Open Pass calendar

[2018-07-09 13:19] #1050 closed, assigned to ChrisTheDBA, jcwlib, zachambrose

[2018-07-09 13:32] jcwlib commented on #1062
thanks @jhibbets for sharing! Social media posts are scheduled for the next week

[2018-07-10 20:25] zachambrose commented on #1071
Anyone have contacts at Bandwidth or Republic Wireless?

On Fri, Jun 29, 2018 at 11:28 AM, Jason Hibbets <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2018-07-11 00:26] jhibbets commented on #1071
Just pinged a contact who has connections to the head of HR at bandwidth

On Tue, Jul 10, 2018, 4:25 PM zachambrose <notifications@github.com> wrote:

[2018-07-11 12:02] zachambrose commented on #1071
Thanks!

On Tue, Jul 10, 2018 at 8:26 PM, Jason Hibbets <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2018-07-11 15:48] #1025 closed, assigned to jhibbets

[2018-07-11 15:49] #1026 closed, assigned to jhibbets

[2018-07-11 19:25] jhibbets opened #1072 "Needs links to current projects"
Each project should have a link to their project page and if available, how to get involved.

http://ncopenpass.com/civictech/about/current-projects/

[2018-07-11 19:30] jhibbets opened #1073 "Update site header"
I think I broke the site header while moving files around, can you check on it for me please?

[2018-07-11 19:30] #1061 closed, assigned to jhibbets

[2018-07-11 19:31] jhibbets commented on #402
This is done, we probably need to open tasks to start pointing domains names to the correct pages

[2018-07-11 19:31] #402 closed, assigned to ChrisTheDBA, FrankCJones, jhibbets

[2018-07-11 19:37] jhibbets commented on #1016
@jcwlib You should be able to migrate the CityCampNC blog posts to the new site now. I've moved Staging to a new directory /civictech and the homepage should redirect to the new WP location. Most of the images were broken, I think I was able to fix most of them.  I opened up a ticket about the header, to make sure I did it right. Sorry this took so long, DNS changes messed me up.

[2018-07-11 19:38] #1048 closed, assigned to ChrisTheDBA, TaxLadyTracy

[2018-07-11 19:39] jhibbets commented on #1058
@FrankCJones this can now be migrated, staging is moved to /civictech

[2018-07-11 19:55] jhibbets commented on #1015
Transferred ncdatapalooza.com today. All 10 domains should now use the NC Open Pass Labs account and ncopenpass-admin@googlegroups.com email address.

[2018-07-11 19:55] #1015 closed, assigned to ChrisTheDBA, FrankCJones, jhibbets

[2018-07-11 19:55] jhibbets opened #1074 "Update NC DataPalooza DNS"

[2018-07-11 20:01] jhibbets commented on #1074
http://ncdatapalooza.com should redirect to http://ncopenpass.com/civictech/datapolooza/ once DNS changes propagate

[2018-07-11 20:03] jhibbets opened #1075 "Update CityCamp DNS and add redirect"
Waiting on blog migration #1058

[2018-07-12 16:22] dtraleigh commented on #1065
We could consider Loading Dock as Clark has, again, reminded me that if
there is anything we need to let him know.

Past locations include (IIRC) HQ Raleigh and Red Hat Annex

On Mon, Jun 18, 2018 at 9:34 PM, Jason Hibbets <notifications@github.com>
wrote:

[2018-07-12 16:26] ChrisTheDBA commented on #1065
Datapalooza and Innovate Raleigh reception will be co-located so we'll run
this by Bridget.

Chris Mathews

On Thu, Jul 12, 2018 at 12:22 PM, Leo Suarez <notifications@github.com>
wrote:

[2018-07-12 16:46] jcwlib commented on #1065
Campbell Law School downtown is another option. Good size classroom with
A/V built in with wifi.  Nice area right outside for the social/reception
part.

We haven’t asked if the space is available on the specific date.

On Thu, Jul 12, 2018 at 12:26 PM Chris Mathews <notifications@github.com>
wrote:

[2018-07-16 17:49] jcwlib commented on #1073
Jennifer has fixed the site header

[2018-07-16 17:49] jcwlib commented on #1073
Jennifer has fixed the site header

[2018-07-16 17:49] #1073 closed, assigned to jcwlib

[2018-07-16 21:44] jhibbets opened #1076 "Schedule logistics meetings before mid-August"
Leo to schedule a logistics meeting before the August meeting general meeting.

[2018-07-16 21:45] jhibbets opened #1077 "Host 7/16 planning meet-up"

[2018-07-16 21:46] jhibbets commented on #1074
This is done.

[2018-07-16 21:46] #1074 closed, assigned to jhibbets

[2018-07-16 21:51] jhibbets opened #1078 "Items for newsletter / social media - 7/16"
https://mailchi.mp/codeforamerica/july-newsletter?e=2d2e8853b7

scroll to :
What we’re reading

[2018-07-16 21:53] jhibbets opened #1079 "Register NDoCH event with CfA"
https://docs.google.com/forms/d/e/1FAIpQLSdjlFBGS0wF6Vsd3iYDLmntec8iXHf9_5Og2jEyd__Da0cxvQ/viewform

National Day of Civic Hacking (NDoCH) is quickly approaching, taking place on August 11, 2018. In order for your Brigade to receive a swag box from CfA (which includes stickers!) and to ensure your event is on the NDoCH website, we need you to register your event by July 20.

We know this is a tigh

[2018-07-17 00:15] jhibbets opened #1080 "Draft meet-up page for NDoCH"

[2018-07-17 00:16] jhibbets opened #1081 "Check with Campbell on space availability for 8/11"
For NDoCH:
Event will be 9am - 4pm (set-up at 8, doors open at 8:30, wrap-up at 4pm)

[2018-07-17 00:16] #1077 closed, assigned to jhibbets

[2018-07-18 11:58] jcwlib commented on #1081
email sent on 7/17

[2018-07-19 15:17] jcwlib opened #1082 "Setup Stephanie from HQ"
Give access to NC Open Pass documents and social media accounts

[2018-07-19 15:33] jcwlib opened #1083 "Github website - post message"
Chris - can you put the GitHub website back up with a page redirecting users to ncopenpass.com?  Marketing committee felt that was a better user experience than the 404 error we are getting right now.  Thanks =)

[2018-07-19 15:35] jcwlib commented on #1075
In the meantime, can you also add a message on the homepage pointing folks to the ncopenpass.com/civic-camp page?

[2018-07-19 15:36] jcwlib commented on #1083
@FrankCJones please share any specifics with Chris

[2018-07-19 15:37] jcwlib commented on #1081
Campbell has a conflict - send email to Leo/Brent to ask Loading Dock

[2018-07-19 15:37] #1081 closed, assigned to jcwlib

[2018-07-19 15:38] jcwlib opened #1084 "Check with Loading Dock on space availability for 8/11"

[2018-07-19 15:49] jcwlib commented on #1082
@jhibbets or @zachambrose can you add Stephanie (stephanie@hq.community) to the main NC Open Pass Google Group?

[2018-07-19 15:53] jcwlib commented on #1082
@zachambrose  - can you also give her access to the NC Open Pass Google Calendar

[2018-07-19 15:55] FrankCJones commented on #1083
I am outlining three options for redirecting this traffic. Given the amount of traffic and links going to the site, the "Better option" offers a nice balance of effort and results for this site. However, this requires setting up redirects using Jekyll which is not something I have done before. Typically, I work with .htaccess and don't know how complicated it will be to configure these redirects w

[2018-07-19 15:59] FrankCJones commented on #1083
It seems Jekyll may be easier to redirect than I thought, at least the one redirect for the whole site seems easy enough based on the [info about this in Stack Overflow](https://stackoverflow.com/questions/9276817/301-redirect-for-site-hosted-at-github).

[2018-07-19 16:09] jcwlib commented on #1082
@jhibbets - can you invite Stephanie to the Slack channel

[2018-07-19 16:34] jhibbets commented on #1082
Stephanie should be onboarded (mailing list, invite to GitHub, invite to Slack, and access to Drive). Let me know if I need to share any credentials via LastPass.

[2018-07-19 16:39] jcwlib commented on #1082
@jhibbets  - anything not listed specifically above is all ready taken care of

[2018-07-19 16:51] ChrisTheDBA commented on #1083
Done.

However, the redirect fails on Chrome due to the new site not being secure.

Chris Mathews

On Thu, Jul 19, 2018 at 11:59 AM, Frank C Jones <notifications@github.com>
wrote:

[2018-07-19 16:51] ChrisTheDBA commented on #1083
it worked on FIrefox.

Chris Mathews

On Thu, Jul 19, 2018 at 12:50 PM, Chris Mathews <christhedba@gmail.com>
wrote:

[2018-07-19 16:53] jhibbets commented on #1083
Would it be worthwhile to do a self-signed cert?

On Thu, Jul 19, 2018 at 12:51 PM, Chris Mathews <notifications@github.com>
wrote:

[2018-07-19 16:55] jhibbets opened #1085 "Add favicon to NC Open Pass site"
It would be great to have s small hexagon that shows up in the browser tab

[2018-07-19 17:00] jhibbets commented on #1075
CityCamp NC is now NC Open Pass Civic Camp. Be sure to visit http://ncopenpass.com/civic-camp/ for all the details about this years Civic Camp.

[2018-07-19 17:45] FrankCJones commented on #1083
Use Let's Encrypt, they offer a free cert that is better than self-signed.
Also, be sure to redirect all HTTP traffic to HTTPS and update the image
URLs in the database to use HTTPS.

*Frank Jones* Director of Marketing, OptSus Marketing
  828.479.5663
  800 Park Offices Dr Suite 3117, NC 27709
Upcoming events : https://OptSus.com/events
  Frank@OptSus.com
  OptSus.com

<http://www.facebook.com/Op

[2018-07-19 18:18] zachambrose commented on #1082
I just did the calendar and the main Google Group. Stephanie will need the
Hootsuite credentials on Last Pass.

On Thu, Jul 19, 2018 at 12:39 PM, Janel <notifications@github.com> wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2018-07-19 18:19] jcwlib commented on #1082
Thanks @zachambrose  - I gave her access to the social media accounts via LastPass

[2018-07-19 18:20] #1082 closed, assigned to jcwlib

[2018-07-19 18:25] zachambrose commented on #1082
I also gave you management rights to the google calendar. :)

On Thu, Jul 19, 2018 at 2:19 PM, Janel <notifications@github.com> wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2018-07-19 22:30] jhibbets commented on #1066
Good news, I've got the big room for both Fri/Sat. Bad news is that the other rooms are booked, I'm just sure for what times. I should know more tomorrow.

[2018-07-23 11:45] HoneyBadger126510 commented on #1085
Done

[2018-07-23 13:53] #1085 closed, assigned to jcwlib

[2018-07-23 13:54] jcwlib commented on #1070
we have a draft - and it should be finalized during the design session logistics meeting tomorrow (7/24)

[2018-07-23 13:55] jcwlib commented on #1051
https://docs.google.com/spreadsheets/d/1PT9Jf5V-0TOzJwPU6CqiFZM4u6fjDAwLQKkr6HG_gZM/edit#gid=0

[2018-07-23 16:30] jcwlib opened #1086 "Draft next Newsletter"
- promote website redesign
 - NDoCH
 - mention Civic Camp items to come
 - First Responders Program

[2018-07-23 16:37] zachambrose commented on #1086
Depending on timing we could include call for speakers.

On Mon, Jul 23, 2018 at 12:30 PM, Janel <notifications@github.com> wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2018-07-23 17:06] jcwlib commented on #1086
I was aiming for Friday (7/27) but could wait till Monday or Tuesday next
week.

On Mon, Jul 23, 2018 at 12:37 PM, zachambrose <notifications@github.com>
wrote:

[2018-07-23 17:07] zachambrose commented on #1086
When are you thinking for the one after that?

On Mon, Jul 23, 2018 at 1:06 PM, Janel <notifications@github.com> wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2018-07-23 17:09] jcwlib commented on #1086
Timing is flexible - if we need to push on attendees for NDoCH before
August 11.

We probably should be a little more consistent on the timing of the
newsletters as we move into the "busy" time for the next couple of months.

Every two weeks would probably be a good timing come August - thoughts?

On Mon, Jul 23, 2018 at 1:07 PM, zachambrose <notifications@github.com>
wrote:

[2018-07-23 17:09] jhibbets commented on #1086
I'd rather hold off and have a newsletter more focused on call for speakers

[2018-07-27 14:39] #1084 closed, assigned to dtraleigh

[2018-07-27 14:40] dtraleigh commented on #1076
August 9, 5pm. Let's chat about Civic Camp logistics over beers at Brice's.

[2018-07-29 16:52] jcwlib commented on #1064
Jason - is this email up and running or should I continue to use your
personal email?

On Fri, Jun 29, 2018 at 11:27 AM Jason Hibbets <notifications@github.com>
wrote:

[2018-07-30 02:26] #1078 closed, assigned to jcwlib

[2018-07-30 02:31] #1080 closed, assigned to jhibbets

[2018-07-30 02:31] #1079 closed, assigned to ChrisTheDBA

[2018-07-30 12:56] zachambrose commented on #1076
I added it to the Open Pass calendar.

On Fri, Jul 27, 2018 at 10:40 AM, Leo Suarez <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2018-07-30 15:17] jhibbets commented on #1064
Please just use my email for now. I'll check the MX records this week.

[2018-07-30 18:03] #1086 closed, assigned to jcwlib

[2018-08-06 21:37] #1066 closed, assigned to jhibbets

[2018-08-06 21:38] jhibbets opened #1087 "Build out call for speakers and judges forms"

[2018-08-06 21:38] jhibbets opened #1088 "Build call for speakers page"

[2018-08-06 21:39] jhibbets opened #1089 "Call for speakers newsleter - Wed Aug 8"

[2018-08-06 22:38] #1087 closed, assigned to jhibbets, zachambrose

[2018-08-06 22:47] jhibbets commented on #1088
http://ncopenpass.com/civic-camp/civic-camp-call-for-speakers/

[2018-08-06 22:47] #1088 closed, assigned to jhibbets

[2018-08-06 22:47] jhibbets commented on #1089
@jcwlib landing page is here: http://ncopenpass.com/civic-camp/civic-camp-call-for-speakers/

[2018-08-07 15:00] #1051 closed, assigned to ChrisTheDBA, jcwlib, zachambrose

[2018-08-07 15:01] jcwlib commented on #1070
What are the things we do well and what things we don’t do well when communicating with each other and communicating with the community? - with the framing of civic tech/open tech

[2018-08-07 15:01] #1070 closed, assigned to ChrisTheDBA, jcwlib, zachambrose

[2018-08-07 15:07] jcwlib opened #1090 "Civic Camp Flyer for Design sessions"

[2018-08-07 15:07] zachambrose commented on #1051
This turned out really well! Nice work!

On Tue, Aug 7, 2018 at 11:00 AM, Janel <notifications@github.com> wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2018-08-07 15:08] jcwlib opened #1091 "Draft Newsletter"
Sending on Wednesday, August 8

-- call for speakers/judges Civic Camp
-- reminder about NDoCH
-- any brigade announcements

[2018-08-07 15:09] jcwlib opened #1092 "NC Open Pass Logo"
from Chris -
Do we have the logo with the "benzene" ring, not in green but transparent?

Jennifer is working on this request

[2018-08-07 15:09] jcwlib opened #1093 "Send NDoCH information to NC RiOT"

[2018-08-07 15:10] jcwlib opened #1094 "Send Civic Camp call to Partners"
--NC RiOT
--Innovate Raleigh
--HQ Raleigh
--ATO
-- WRAL TechWire
-- Derrick's Newsletter
--Joel's Newsletter
--CED newsletter

[2018-08-07 15:10] #1093 closed, assigned to jcwlib

[2018-08-07 15:11] jcwlib commented on #1091
Closing - duplicate of 1089

[2018-08-07 15:11] #1091 closed, assigned to jcwlib

[2018-08-07 15:11] jcwlib commented on #1089
Sending Wednesday 8/8

--call for Civic Camp speakers
--reminder NDoCH
-- brigade announcements

[2018-08-07 15:29] jcwlib commented on #1089
Promote NC RiOT event on August 21

[2018-08-07 23:26] jcwlib opened #1095 "Draft August Newsletter"
scheduled for Tuesday, Aug 21

--reminder Civic Camp speakers/judges
--extended Early Bird - NC Open Pass (include ATO discount)
--recap of NDoCH
--what we're reading
--data survey
--brigade events

[2018-08-08 00:51] jcwlib commented on #1043
prototype posted https://drive.google.com/open?id=1-ZHmMpdihR1cLQEQRWC4zK-ls2JmKiYx

[2018-08-08 13:06] jhibbets commented on #1043
Looks good to me. Ship it! And thank you.

On Tue, Aug 7, 2018 at 8:51 PM, Janel <notifications@github.com> wrote:

[2018-08-08 13:12] ChrisTheDBA commented on #1043
I like the bottom one and the green makes me feel nauseous.

Chris Mathews

On Wed, Aug 8, 2018 at 9:06 AM Jason Hibbets <notifications@github.com>
wrote:

[2018-08-08 13:15] jhibbets commented on #1043
I also like the bottom one, without the green square. Feels more open.

On Wed, Aug 8, 2018 at 9:12 AM, Chris Mathews <notifications@github.com>
wrote:

[2018-08-08 13:53] snewt-n commented on #1043
Wasn't the top just bleed edges etc? Third vote for bottom one, if it wasn't.

[2018-08-08 13:53] snewt-n commented on #1043
PS Jennifer they're beautiful!

[2018-08-08 13:55] snewt-n commented on #1092
Jennifer/Janel - What do you mean by not in green but transparent? I know Carsi & I both had working versions on it, just need to be clear on what you're asking for to help point ya in the right direction

[2018-08-08 14:00] ChrisTheDBA commented on #1092
it's for the t-shirt, The logo will be one color. The green benzene ring
needs to be a negative component so the t-shirt color will show through.

Chris Mathews

On Wed, Aug 8, 2018 at 9:55 AM snewt-n <notifications@github.com> wrote:

[2018-08-08 16:36] #1089 closed, assigned to jhibbets, jcwlib

[2018-08-08 16:49] jhibbets opened #1096 "Update for partners - more prominent"
Janel, some requests for you, no rush.

1) Can we work on this page a bit:
http://ncopenpass.com/about/partners/

The logo sizes are inconsistent is the main issue I'm seeing.

2) Can we make the partners more prominent throughout the site. I'm wondering if a widget/banner in the footer where we can make the logo's the same scale and maybe in grey, also clickable to their site.

3) Could we also g

[2018-08-08 18:48] jhibbets opened #1097 "Add All Things Open Logo to sponsor folder"

[2018-08-08 18:48] jhibbets opened #1098 "Update eventbright with ATO discount option"

[2018-08-08 18:53] jhibbets commented on #1097
@jcwlib the files have been added to the sponsor folder and  uploaded to WordPress

[2018-08-08 18:53] #1097 closed, assigned to jhibbets

[2018-08-08 19:19] jcwlib opened #1099 "Create 2018 Civic Camp Flyer"
Jennifer Tawes - use language from last year's flyer and adjust for new schedule and partnerships on the hackathon with Innovate Raleigh and AT&T

https://drive.google.com/open?id=0B6evljh09h0QUm1oSjQxYm4yNkU

[2018-08-08 19:23] jcwlib commented on #1099
Janel's quick and dirty version to use at the design sessions https://drive.google.com/open?id=1JwybXwCEno4kD7lp6QtKoGhfKGHOvADG

[2018-08-08 19:27] #1090 closed, assigned to jcwlib

[2018-08-08 19:31] jtawes commented on #1096
I have resized the logos on the about/partners page and added a gallery of the sponsors to the bottom of the nc-open-pass-events page. I am working on adding direct links to the gallery images.

[2018-08-08 19:56] jhibbets commented on #1098
Cleaned up HTML
Moved old events to the bottom
Updated profile
Removed old tickets
Changed early bird ticket date to expire on 8/31

https://www.eventbrite.com/e/nc-open-pass-2018-tickets-42176718701

[2018-08-08 19:56] #1098 closed, assigned to jhibbets

[2018-08-08 20:03] jcwlib commented on #1098
social media post about early bird extension set for tomorrow

[2018-08-08 20:11] jhibbets commented on #1096
Thanks, looks great! Can we add that gallery to each subsequent event page
as well, that would be assume.

On Wed, Aug 8, 2018 at 3:31 PM, jtawes <notifications@github.com> wrote:

[2018-08-08 20:16] jtawes commented on #1096
Sure, I just wanted to be sure you were happy with it before duplicating it. Making the gallery images have links to their respective sites will require me to add a plugin, I will be working on that soon.

[2018-08-08 20:20] jhibbets commented on #1096
I think having the links are a nice to have, maybe we can have the gallery
just link to the sponsor page?

On Wed, Aug 8, 2018 at 4:16 PM, jtawes <notifications@github.com> wrote:

[2018-08-08 20:26] jtawes commented on #1096
By default, clicking on the images just pulls up a larger version of the image. I will work on either getting it to link to the sponsors page or individual sites.

[2018-08-09 17:45] jtawes commented on #1099
I have finished this, what file format would be most useful and what folder would you like it saved to?

[2018-08-09 17:48] jcwlib commented on #1099
Pdf and in the marketing folder is fine

On Thu, Aug 9, 2018 at 1:45 PM jtawes <notifications@github.com> wrote:

[2018-08-09 17:53] jtawes commented on #1099
It's there now, let me know if we need any changes. If not, I'll move this issue to done.

[2018-08-09 21:20] dtraleigh opened #1100 "Gift for speakers and judges"

[2018-08-09 21:25] dtraleigh opened #1101 "Civic Camp Friday Lunch"

[2018-08-09 21:25] dtraleigh opened #1102 "Civic Camp Friday Morning Pastries"

[2018-08-09 21:25] dtraleigh opened #1103 "Civic Camp Saturday Morning Pastries"

[2018-08-09 21:25] dtraleigh opened #1104 "Civic Camp Saturday Lunch"

[2018-08-09 21:30] dtraleigh opened #1105 "Contact to collect leftover food"

[2018-08-09 21:33] #1076 closed, assigned to dtraleigh

[2018-08-09 21:38] dtraleigh commented on #1100
Need a count and budget.

[2018-08-09 21:45] dtraleigh opened #1106 "Civic Camp - Book artspace for Friday night"

[2018-08-09 21:46] dtraleigh opened #1107 "Civic Camp - Catering+"
Catering and everything that goes with it. Can they provide tables? Setup and tear down? Do they provide alcohol and can they serve?

[2018-08-09 21:50] dtraleigh opened #1108 "T-shirts for Civic Camp"

[2018-08-09 21:52] dtraleigh opened #1109 "Test the new audio setup"

[2018-08-09 21:55] dtraleigh opened #1110 "Civic Camp - Test the Mevo at each location"

[2018-08-09 21:58] dtraleigh opened #1111 "Civic Camp - Printing needs"
What needs to be printed? Banners, etc.

[2018-08-09 21:59] dtraleigh opened #1112 "Stickers"

[2018-08-09 22:01] dtraleigh opened #1113 "Civic Camp - Print signs for A-frames"
Leo to send sizes.

[2018-08-09 22:02] dtraleigh opened #1114 "Civic Camp - logistics blog post"
Where to park, what to expect, etc.

[2018-08-09 22:05] dtraleigh opened #1115 "AV and projector setup at Artspace"
May have to DIY the projector and AV equipment.

[2018-08-09 22:08] dtraleigh opened #1116 "Civic Camp - chair rental"
unless venue provides.

[2018-08-09 22:22] dtraleigh opened #1117 "Civic Camp - Lanyards"
Badges. Buy and prepare

[2018-08-09 22:23] dtraleigh commented on #1117
Need them designed, simple with logo.

[2018-08-10 10:53] jcwlib commented on #1099
Looks great - can you take off the design session line though and add "DISCOUNTED PRICES FOR STUDENTS AND GOV’T EMPLOYEES" instead?  We want to use this flyer going forward and not specifically for the design sessions.

[2018-08-10 13:10] jcwlib commented on #1092
Final designs -
https://drive.google.com/open?id=0B9xGF61MFIr6alFKQ2JTOFJCY1NoZmdYOFdkNEE3VDV4NTI0

https://drive.google.com/open?id=0B9xGF61MFIr6NGNkOTd1T0FzNE83S2gzQ0dvSTJtWlp4SFNB

[2018-08-10 13:10] #1092 closed, assigned to jcwlib, jtawes

[2018-08-10 13:11] jcwlib commented on #1108
@TaxLadyTracy see ticket 1092 for links to designs

[2018-08-10 13:11] jcwlib commented on #1043
Ready to go with printing order for Civic Camp

[2018-08-10 13:30] jtawes commented on #1099
Hi Janel,

I deleted the file that was on the shared drive and uploaded the new one
with changes. Let me know if you need any other edits.

Thanks!
Jennifer

On Fri, Aug 10, 2018 at 6:53 AM, Janel <notifications@github.com> wrote:

[2018-08-10 13:34] jcwlib commented on #1099
Thanks!  The edits look good to me.  I'm going to mark this item closed

[2018-08-10 13:34] #1099 closed, assigned to jcwlib, jtawes

[2018-08-11 13:41] zachambrose commented on #1052
Done.

[2018-08-11 13:41] #1052 closed, assigned to ChrisTheDBA, zachambrose

[2018-08-11 14:47] TaxLadyTracy commented on #1108
I have emailed my tshirt guy to see what format he needs for this.

[2018-08-11 14:50] TaxLadyTracy opened #1118 "Coffee!!!"
Jason check to see if we can use Red Hats coffee or do we need to cater our own.

[2018-08-11 15:27] jhibbets opened #1119 "Create NC Open Pass gmail"
- [x] Create account
 - [x] Share password

[2018-08-11 15:27] jhibbets opened #1120 "Migrate NCOP Google Drive"

[2018-08-11 15:37] jcwlib opened #1121 "copy CityCamp Media files into new NC Open Pass Gdrive"
dependent on ticket #1120

[2018-08-11 16:06] #1119 closed, assigned to jhibbets

[2018-08-11 16:51] jcwlib commented on #1121
the new Gdrive is made - feel free to make a photos folder in the main folder and copy things over https://drive.google.com/drive/u/0/folders/1YW-v_Vd6V6QT5RW3Cy2-Yx1_1WDkrK1A?ogsrc=32

[2018-08-11 17:08] zachambrose opened #1122 "Email call for speakers to Brigade list"

[2018-08-11 17:09] zachambrose opened #1123 "Email call to GDAC"

[2018-08-11 17:10] zachambrose opened #1124 "Send call for speakers to Phillip Lamb"

[2018-08-11 17:20] zachambrose commented on #1094
How about these too?

American Underground
Innovate Durham

On Tue, Aug 7, 2018 at 11:10 AM, Janel <notifications@github.com> wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2018-08-11 17:33] jhibbets commented on #1075
Instead of setting up new MX records, I created NCopenpass@gmail.com

[2018-08-11 17:33] #1075 closed, assigned to jhibbets

[2018-08-11 17:35] #1120 closed, assigned to jhibbets

[2018-08-11 17:35] jhibbets commented on #1118
Email has been sent to Red Hat GWS team

[2018-08-11 17:39] jhibbets commented on #1064
Update to NCOpenPass@gmail.com

[2018-08-11 17:39] #1064 closed, assigned to jhibbets, jcwlib

[2018-08-11 17:40] jcwlib opened #1125 "Draft blog post recapping design sessions and NDoCH"

[2018-08-11 17:49] jhibbets opened #1126 "Add Red Hat Annex floor plan to logistics"
- [x] Upload PDF
 - [x] List out room reservations

[2018-08-11 18:32] jhibbets commented on #1126
See room listings - https://docs.google.com/document/d/1CjQQJ9pY3V1XaFb9qneoM8UNVb0QnRYUumh7bLbvXX0/edit

[2018-08-11 18:34] #1126 closed, assigned to dtraleigh, jhibbets

[2018-08-13 13:56] jcwlib opened #1127 "Pitch lightning talks to Asst Chief from Fayetteville"

[2018-08-13 13:57] jcwlib commented on #1127
sent email to him this morning

[2018-08-13 13:57] #1127 closed, assigned to jcwlib

[2018-08-13 13:58] TaxLadyTracy commented on #1115
We have a connection to borrow a projector and screen if needed.

[2018-08-13 14:00] TaxLadyTracy commented on #1108
@jcwlib he said jpg file will work.  can you email them directly to me at tracy.mathews1125@gmail.com

[2018-08-13 14:01] TaxLadyTracy commented on #1103
Just planning on pastry tray since most people have already had "breakfast" by the time we start.  Maybe we should just say "Morning snack"

[2018-08-13 14:02] TaxLadyTracy commented on #1101
Taco Bar from Moe's!  #hackfortacos

[2018-08-13 14:39] jhibbets commented on #1127
FYI  - Laura (Code for Durham), Chris, and I have been talking to the CIO of Fayetteville about starting a bridage there.

[2018-08-13 15:21] jhibbets commented on #1118
@TaxLadyTracy Yes, you should be able to use those coffee machines in the Annex.  They are first come first serve though but they are available for use.

[2018-08-13 15:21] #1118 closed, assigned to jhibbets, TaxLadyTracy

[2018-08-13 16:02] jtawes commented on #1108
I just emailed the png and jpg file of the transparent logo to Tracy.

[2018-08-13 20:22] jcwlib opened #1128 "Blog post with call for speakers"
repurposed newsletter item to create an official blog post referring the call for speakers page on the website

[2018-08-13 20:22] #1128 closed, assigned to jcwlib

[2018-08-13 20:23] jcwlib opened #1129 "Add First Responders to MailChimp list"
make a unique segment

[2018-08-13 20:24] jcwlib opened #1130 "Add NDoCH attendees to MailChimp"
send lastest newsletter and thank them for coming- make separate segment

[2018-08-13 20:39] jcwlib commented on #1094
forwarded call to Caroline (NC RiOT), Bridget (Innovate Raleigh), Jason W (HQ Raleigh), Todd and Danny (ATO), Derrick, Joel, Ben and Eric (Innovate Durham)

[2018-08-13 20:54] jcwlib commented on #1042
introduction to the survey -https://docs.google.com/document/d/16mk3_lySLIbEq3_YVWvoZFYQUglgtXeov0PI8d4Q4-E/edit

[2018-08-13 21:00] zachambrose commented on #1094
It's good to cc' Christie Williams at HQ on those kind of things.
christie@hqraleigh.com

On Mon, Aug 13, 2018 at 4:39 PM, Janel <notifications@github.com> wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2018-08-13 21:06] jcwlib opened #1131 "Figure out graphic needs for Civic Camp"

[2018-08-13 21:07] jcwlib opened #1132 "Figure out blog posts for marketing Civic Camp"

[2018-08-13 21:09] jcwlib opened #1133 "Update Civic Camp marketing text"
https://docs.google.com/document/d/1MfvfuT1CoN4ZE4DTtt92Hy0IJItHpnxW1trVkeqAGzs/edit?usp=sharing

[2018-08-13 21:11] jcwlib opened #1134 "Review and update marketing contacts list"
https://docs.google.com/spreadsheets/d/1KOXHZM4t1LB2jmx00XlCmXbCjIBxzaBDBQ7iVB4R6UE/edit?usp=sharing

[2018-08-13 21:14] jcwlib commented on #1072
Are We Represented -> https://github.com/Open-NC/Are-We-Represented

[2018-08-14 00:57] jcwlib opened #1135 "Update NDoCH webpage on website"
Add pictures and a link to blog recap

[2018-08-14 13:57] #1062 closed, assigned to jcwlib, Stephanie-H

[2018-08-14 18:48] jcwlib commented on #1125
Posted on website and on social media http://bit.ly/2MPH6t6

[2018-08-14 18:48] #1125 closed, assigned to jcwlib

[2018-08-14 18:49] jcwlib commented on #1130
and send them the latest newsletter

[2018-08-14 18:49] jcwlib commented on #1129
and send them the blog post recap

[2018-08-14 20:17] #1135 closed, assigned to jcwlib

[2018-08-15 13:37] jcwlib opened #1136 "Send NDoCH Follow up to attendees"

[2018-08-15 13:50] jcwlib commented on #1130
Added and given a tag of NCoCH2018attendee

[2018-08-15 13:50] #1130 closed, assigned to jcwlib

[2018-08-15 13:52] #1136 closed, assigned to jcwlib

[2018-08-15 14:28] jcwlib commented on #1129
Made a separate list in MailChimp, updated the attendance in the spreadsheet in GDrive and send along a link to the Google Doc and blog post to the broader group

[2018-08-15 14:28] #1129 closed, assigned to jcwlib

[2018-08-15 16:47] jcwlib opened #1137 "Draft Sept 5 Newsletter"

[2018-08-16 13:12] jcwlib opened #1138 "Create Graphics needed for Civic Camp signs"
Reference this spreadsheet

https://docs.google.com/spreadsheets/d/1L3bP3Gj4421--GA3x4n1x5CDHS4BV0DSCcbHheOnj7A/edit?usp=sharing

[2018-08-16 13:13] #1131 closed, assigned to jcwlib

[2018-08-16 13:15] jcwlib commented on #1117
@jtawes need to design a badge template that has NC Open Pass logo with @ncopenpass twitter handle and #civiccampnc hashtag. @TaxLadyTracy will then use this template when printing the name badges

[2018-08-16 13:18] jcwlib commented on #1111
tracking in this spreadsheet - https://docs.google.com/spreadsheets/d/1L3bP3Gj4421--GA3x4n1x5CDHS4BV0DSCcbHheOnj7A/edit?usp=sharing

[2018-08-16 13:31] jcwlib opened #1139 "schedule social media for week of 8/20"

[2018-08-16 13:31] jcwlib opened #1140 "schedule social media for week of 8/27"

[2018-08-16 13:31] jcwlib opened #1141 "schedule social media for week of 9/3"

[2018-08-16 13:32] jcwlib opened #1142 "schedule social media for week of 9/10"

[2018-08-16 14:00] jtawes commented on #1117
Where can I get dimensions for the lanyards that will be ordered? Is it something that will be printed and slid into a plastic sleeve? Is it a horizontal or vertical orientation?

[2018-08-16 14:03] jtawes commented on #1112
What size stickers? Just the logo for NC Open Pass or include Civic Camp?

[2018-08-16 14:06] jcwlib commented on #1112
we can talk more at 11, but I check out the spreadsheet I linked in the marketing notes and ticket 1138

[2018-08-16 14:07] jtawes commented on #1112
I just found the spreadsheet! Sorry about that.

On Thu, Aug 16, 2018 at 10:06 AM, Janel <notifications@github.com> wrote:

[2018-08-20 16:28] #1124 closed, assigned to jhibbets

[2018-08-20 16:28] #1122 closed, assigned to jhibbets

[2018-08-20 16:29] jhibbets opened #1143 "Save the date, CfP to Raleigh City Council"

[2018-08-20 16:29] jhibbets opened #1144 "Save the date, CfP to Wake County BoC"

[2018-08-20 16:30] jhibbets opened #1145 "Save the date, CfP to Wake county Board of Edu"

[2018-08-20 16:30] jhibbets opened #1146 "Save the date, CfP to NCGA reps"

[2018-08-20 16:35] #1143 closed, assigned to jhibbets

[2018-08-20 16:35] #1144 closed, assigned to jhibbets

[2018-08-20 16:36] jhibbets opened #1147 "Correct Red Hat logo"
Please update the Red Hat logo on the site. The Red Hat logo can not be stacked and must have shadowman on the left, despite what Google searches might present to you ;)

[2018-08-20 16:42] #1146 closed, assigned to jhibbets

[2018-08-20 16:44] #1145 closed, assigned to jhibbets

[2018-08-20 17:47] jtawes commented on #1147
![red_hat_logo_redhat](https://user-images.githubusercontent.com/38951776/44357272-96a50880-a47f-11e8-9db4-a69635e99612.png)
Is this the one to use then?

[2018-08-20 18:54] jhibbets commented on #1147
Yes. It should already be uploaded in the media folder on on Drive.

On Mon, Aug 20, 2018 at 1:47 PM jtawes <notifications@github.com> wrote:

[2018-08-20 19:04] #1147 closed, assigned to jcwlib, jtawes

[2018-08-20 19:05] #1096 closed, assigned to jtawes

[2018-08-20 21:02] #1024 closed, assigned to ChrisTheDBA, cjharper

[2018-08-20 21:03] ChrisTheDBA commented on #1116
Artspace does not have adequate chairs, we need to rent them

[2018-08-20 21:04] ChrisTheDBA commented on #1106
In process, need check

[2018-08-20 21:17] jhibbets opened #1148 "Host 8/20 planning meet-up"

[2018-08-20 22:39] jcwlib opened #1149 "Graphics for table banner"
We are NC Open Pass

[2018-08-20 22:40] jcwlib commented on #1111
standing banner is from VistaPrint

[2018-08-20 22:40] jcwlib commented on #1149
from VistaPrint as well

[2018-08-20 22:52] #1139 closed, assigned to Stephanie-H

[2018-08-20 22:56] jcwlib opened #1150 "Write Civic Camp blurb for CAC newsletter"

[2018-08-21 00:02] jcwlib commented on #1095
test email sent out for comment

[2018-08-21 13:00] zachambrose commented on #1095
Looks good.

On Mon, Aug 20, 2018 at 8:02 PM, Janel <notifications@github.com> wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2018-08-21 13:19] zachambrose opened #1151 "Send Alix Bowman call for speakers"

[2018-08-21 13:19] zachambrose commented on #1151
Done

[2018-08-21 13:19] #1151 closed, assigned to zachambrose

[2018-08-21 15:15] jcwlib opened #1152 "Invoice Innovate Raleigh for prize money"

[2018-08-21 15:15] jcwlib opened #1153 "Follow up with Campbell re DataPalooza"

[2018-08-21 16:19] #1148 closed, assigned to jhibbets

[2018-08-21 16:26] jhibbets commented on #1150
Civic Camp (formerly City Camp NC) is an annual civic tech event that brings citizens, government change agents, and businesses together to openly innovate and improve our communities. It's happening in Raleigh on September 21-22, 2018 at the Red Hat Annex and Artspace. For more details, visit: http://ncopenpass.com/civic-camp/

[2018-08-21 16:26] #1150 closed, assigned to jhibbets, jcwlib

[2018-08-21 16:27] jhibbets opened #1154 "Create Civic Camp event ticket and discount codes"

[2018-08-21 16:39] zachambrose commented on #1152
Done

[2018-08-21 16:39] #1152 closed, assigned to zachambrose

[2018-08-21 16:40] zachambrose commented on #1071
Any feedback from Bandwidth?

[2018-08-21 17:29] jhibbets commented on #1071
My lead went cold, but I'll ping them again.

[2018-08-21 17:43] jhibbets opened #1155 "Apply for Lexus Nexus support"
Not sure if it's worth the effort, but this could be a good opp for partnership:

https://www.lexisnexis.com/cares/applications/

[2018-08-21 18:02] zachambrose commented on #1155
Do you think we need to have a LexisNexis employee involved to have a shot?

LexisNexis is dedicated to playing a positive role in our local and global
communities, primarily through employee involvement. Our central focus is
education for disadvantaged young people and community initiatives of
importance to local employees.

On Tue, Aug 21, 2018 at 1:43 PM, Jason Hibbets <notifications@github.com

[2018-08-21 18:05] jhibbets commented on #1155
I think that would help the case. I don't have anyone in my network :(

[2018-08-21 18:10] zachambrose commented on #1155
Me either.

On Tue, Aug 21, 2018 at 2:05 PM, Jason Hibbets <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2018-08-21 18:36] ChrisTheDBA commented on #1155
Let me think through this. I have a friend who works in Ohio for them. :)

Chris Mathews

On Tue, Aug 21, 2018 at 2:10 PM zachambrose <notifications@github.com>
wrote:

[2018-08-21 19:55] jcwlib commented on #1153
Campbell Law Dean said no to our event

[2018-08-21 19:55] #1153 closed, assigned to jcwlib

[2018-08-21 19:56] jcwlib commented on #1065
FYI - Campbell Law is out

[2018-08-21 19:57] jcwlib commented on #1155
I was an administrator of a Lexis/Nexis product, but all the local account reps left the company or were let go =(

[2018-08-21 20:06] #1095 closed, assigned to jcwlib

[2018-08-22 12:44] zachambrose commented on #1065
We're talking with Innovate Raleigh about combining DataPalooza with a kick
off reception for the IR Summit. It would be an abbreviated DataPalooza
program followed by the reception. We'd expect a larger crowd than for a
typical DataPalooza.

On Tue, Aug 21, 2018 at 3:56 PM, Janel <notifications@github.com> wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (ce

[2018-08-22 14:13] jhibbets opened #1156 "Send invites for open pass panel"
CLT and GSO brigades

[2018-08-22 14:13] jhibbets opened #1157 "Update website for call for speaker extension"

[2018-08-22 14:25] #1157 closed, assigned to jhibbets

[2018-08-22 14:33] #1156 closed, assigned to jhibbets

[2018-08-22 15:58] jhibbets opened #1158 "QGIS training at Civic Camp"
Two thoughts here - We'll pretty much have the entire Annex on Saturday of Civic Camp. We had a great partnership one year with Girl Develop It. I wonder if....

1) We should reach out to them to see about an Intro to Python and or Intro to HTML/CSS course

Another idea that is independent of that started out as a government employee training idea.

2) Could we get some type of open data course ta

[2018-08-22 17:18] jcwlib commented on #1158
LOVE this idea!  Would there be a separate cost for this workshop? Could folks just register for the workshop and not the other parts of Civic Camp?

[2018-08-22 17:20] jhibbets commented on #1158
Last time we did it, there was a separate cost and registration for the GDI
training. I think for item #2, it would just be included in the ticket
price or we could do a very affordable $10 option for government employees.

[2018-08-22 17:24] ChrisTheDBA commented on #1158
The first would be an easy ask.

I think the group of government employees would be small and then getting
their attention is smaller, so we would need to be reaching lots of
different gov agencies.

Chris Mathews

On Wed, Aug 22, 2018 at 1:20 PM Jason Hibbets <notifications@github.com>
wrote:

[2018-08-22 17:24] jcwlib commented on #1158
Do we have contacts that could teach workshop idea #2? I guess our speaker from Community Action Day could be one.  I know that NCSU holds a data science bootcamp over the summer and those teachers could be other options.  Or even someone from a brigade.

[2018-08-22 17:45] ChrisTheDBA commented on #1158
I think we have enough people to facilitate between Wake and Raleigh,
Durhams new Open data manager(name escapes me right now) Jason Hare and Amy
Gaskins.

I also met a an interesting woman, Alani Perry, who runs a local meetup
called Women in Tech Allies that might be a good fit for the other slot.

Chris Mathews

On Wed, Aug 22, 2018 at 1:24 PM Janel <notifications@github.com> wrote:

[2018-08-22 17:49] jcwlib commented on #1158
Sounds good.  Would we try to bring the workshop participants together with the hackathon folks at some point during the day?  How do we engage the workshop attendees with helping with the potential teams?

[2018-08-22 18:05] ChrisTheDBA commented on #1158
I don't know if we did a good job with that the last time. It did get
their attention when young Gavin began his presentation and they came out
fo their room.

I guess we would need to level set the instructor(s) that we'll be pulling
everyone together and then let networking happen.
Chris Mathews

On Wed, Aug 22, 2018 at 1:49 PM Janel <notifications@github.com> wrote:

[2018-08-22 19:08] jhibbets commented on #1158
I will reach out to GDI - RDU via rdu@girldevelopit.com

[2018-08-24 20:59] clrudderWC commented on #1158
Chris and I chatted today and he mentioned there being value in some sort of training for open source GIS tools. This is a great idea, my only concern is how much information could be effectively communicated for a basic GIS Intro in the time available

[2018-08-25 03:20] jhibbets commented on #1158
We've got a solid 4 hours on Saturday. Is that enough to make progress?

[2018-08-25 17:57] dtraleigh commented on #1107
Sent a note to David, the owner of The Forks, for catering availability on Thurs Aug 23. No response yet but if nothing in the next few days, want to hit up a few more options this week.

[2018-08-25 17:58] dtraleigh commented on #1106
Check delivered and they have confirmed. We are good.

[2018-08-25 17:58] #1106 closed, assigned to ChrisTheDBA, dtraleigh

[2018-08-25 18:58] ChrisTheDBA commented on #1158
I think we can limit the scope of what we want to do and achieve it.

Are we thinking 2 rooms - one for GDI and one for Open Data?

We could do 4 hours on data acquisition and 4 hours on something simple
like build a leaflet app or Shiny app.

Chris Mathews

On Fri, Aug 24, 2018 at 11:20 PM Jason Hibbets <notifications@github.com>
wrote:

[2018-08-26 00:04] jhibbets commented on #1158
We should have 3-4 rooms. The big room for DataPalooza kickoff, then we've got 2 bigger rooms where we could do training. And there are two smaller rooms that we could combine together to make a larger space. So we've got some options.

[2018-08-26 00:29] jhibbets opened #1159 "Send sponsor reg codes"
Please communicate with each sponsor how many tickets they get to NC Open Pass and that any unused tickets can be converted to scholarships (using the same code). See each specific discount code via Event Brite - https://www.eventbrite.com/myevent/42176718701/multi_event_discounts/

[2018-08-26 01:34] #1154 closed, assigned to jhibbets

[2018-08-26 23:43] clrudderWC commented on #1158
Could probably do a pretty good introduction to data exploration using QGIS that builds off of the data acquisition topic. Point to public GIS data repos federal, state and local

[2018-08-27 13:17] jcwlib commented on #1068
@snewt-n could you help with this task as well?  We need to make a flyer to have at the 9/11 First Responders breakfast that explains the partnership between Innovate Raleigh and NC Open Pass and our first responder program.  Here is a link to the background of the partnership https://drive.google.com/open?id=18Htle1VvK2qk4XLa2ftU0qFlgBS0CzlDCOXXhnVcBLM

[2018-08-27 13:17] jcwlib commented on #1068
@snewt-n we also need the flyer to list out the civic camp details as well

[2018-08-27 16:56] jtawes commented on #1056
Done

[2018-08-27 16:56] #1056 closed, assigned to jtawes

[2018-08-27 18:22] zachambrose commented on #1065
HQ isn't available for DataPalooza.

[2018-08-27 20:08] dtraleigh commented on #1065
Starting the process to see if Ipreo can host. If they can, I'll schedule a walkthrough, see what you guys think.

[2018-08-27 22:00] jhibbets opened #1160 "Host weekly meeting - Aug 27"

[2018-08-27 22:49] #1160 closed, assigned to jhibbets

[2018-08-28 01:54] jhibbets opened #1161 "Update organizers page"
http://ncopenpass.com/about/organizers/

1) Move Leo down to regular size
2) Add Janel to the top 4 (bigger image)
3) Add: Jennifer, Frank, Sophia, Stephanie, Tony, Tracy, and Jim

Please make sure I didn't miss anyone from the organizers active sheet.

[2018-08-28 01:56] jhibbets opened #1162 "Create register landing page"
Please create a landing page for Civic Camp registration that points to / embeds this Event Bright page:

https://www.eventbrite.com/e/nc-open-pass-2018-tickets-42176718701

[2018-08-28 01:57] jhibbets opened #1163 "Newsletter this week: Register and early bird"
Please send a newsletter this week that promotes open registration and NC Open Pass early bird expires / price increase to open pass

[2018-08-28 01:58] jhibbets opened #1164 "Create sample invitation language for personal invites"
Need reg page to link to .

[2018-08-28 02:00] jhibbets opened #1165 "Event page upate"
Can we have the event page either like to the event details or somehow include them?

It might make more sense to just have the "event" point to the landing page.

http://ncopenpass.com/event/nc-open-pass-civic-camp/

[2018-08-28 02:02] jcwlib commented on #1164
We have two documents started in the Marketing folder already

https://docs.google.com/document/d/1aCPzDkE_hnL3ZAHJDJY_7vXw_xLVrueT8WCLNlMS7AQ/edit?usp=sharing

https://docs.google.com/document/d/1MfvfuT1CoN4ZE4DTtt92Hy0IJItHpnxW1trVkeqAGzs/edit?usp=sharing

Can we combine and reuse what is in these documents?

On Mon, Aug 27, 2018 at 9:58 PM Jason Hibbets <notifications@github.com>
wrote:

[2018-08-28 02:05] #1094 closed, assigned to jcwlib

[2018-08-28 02:07] jcwlib commented on #1137
Possibly push this newsletter back depending on when the program details are ready

[2018-08-28 02:14] jhibbets opened #1166 "Help with Code of Conduct formatting"
I updated this page tonight and the Ordered List (OL) did not display as intended. I expect to see a bulleted list of 1-12, instead its just indented.

http://ncopenpass.com/about/code-of-conduct/
thanks!

[2018-08-28 13:47] #1149 closed, assigned to jtawes

[2018-08-28 14:04] #1043 closed, assigned to jcwlib, jtawes

[2018-08-29 02:30] jtawes commented on #1166
Fixed.

[2018-08-29 02:30] #1166 closed, assigned to jtawes

[2018-08-29 16:15] jtawes commented on #1162
In order to embed the event registration into NCOpenPass site, I need to be able to log in to the EventBrite account. Can you give me access?

[2018-08-29 16:28] jcwlib commented on #1162
Access shared via Last Pass @jtawes

[2018-08-29 16:30] zachambrose commented on #1162
I just shared it with you.

On Wed, Aug 29, 2018 at 12:19 PM, jtawes <notifications@github.com> wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2018-08-29 16:48] #1140 closed, assigned to Stephanie-H

[2018-08-29 16:58] jhibbets opened #1167 "Send promo code for organizers to regsiter"

[2018-08-29 17:00] #1167 closed, assigned to jhibbets

[2018-08-29 17:24] jtawes commented on #1162
Hi Janel,

I'm trying to work on it now but Last Pass isn't cooperating. I just need
to get into the EventBrite account. I set up a temporary work around by
adding buttons that send visitors directly to the EventBrite registration
page in a new tab.

Can you just send me log in info?

Also, I changed the front page of the site. When we first created the site,
it seemed like the first priority was

[2018-08-29 17:54] jcwlib commented on #1162
Jennifer and Janel talked and got Jennifer the access she needs

[2018-08-29 18:00] jtawes commented on #1162
We currently have buttons linking users to the EventBrite page. In order to actually embed the tickets and allow users to check out from within our own site, ncopenpass.com must have a security certificate installed. Has a security certificate been purchased for the site? This would be purchased from the hosting company.

[2018-08-29 18:09] jcwlib commented on #1163
test newsletter sent out

[2018-08-29 18:10] jcwlib commented on #1164
http://ncopenpass.com/civic-camp/civic-camp-registration/

[2018-08-29 18:14] jcwlib commented on #1165
Updated Civic Camp and DataPalooza event descriptions to point to the event landing pages.

[2018-08-29 18:14] #1165 closed, assigned to jtawes

[2018-08-29 18:24] snewt-n commented on #1164
Yeah so that's just the one I sent last year, but templat-ized -- I thought it'd be useful to keep the actual template one as a template, and update with this year's info in a separate doc. If y'all don't want that's fine.

[2018-08-29 20:45] clrudderWC commented on #1158
The GIS Training came up in a meeting today and we discussed the fact that the NCSU GIS Librarian, Jeff Essic has done open source GIS training in the past and may already have lesson plans preppared. Additionally, Helena Mitosova at NCSU likely has graduate students with the same or similar lessons that may be interested in providing the training. Id be happy to reach out to these folks and get t

[2018-08-29 21:37] ChrisTheDBA commented on #1158
Yes sir. Loop me and Jason in too. We have the logistics info.

I really appreciate you doing this Charlie.

On Wed, Aug 29, 2018 at 4:45 PM Charles Rudder <notifications@github.com>
wrote:

--
Chris Mathews

[2018-08-30 11:56] #1163 closed, assigned to jcwlib

[2018-08-30 15:20] snewt-n commented on #1113
@dtraleigh Leo last year A Frame posters were 24.5"x36.5" - did we want to stick with those sizes?

[2018-08-30 15:23] jcwlib commented on #1161
Add Lisa and update the text at the top to not be Civic Camp specific

[2018-08-30 15:57] jcwlib opened #1168 "Update Civic Camp Facebook page"
I updated the branding and created an FB event and posted a link to registration.

[2018-08-30 15:57] #1168 closed, assigned to jcwlib

[2018-08-30 16:20] jtawes commented on #1161
I'm sending out an email to everyone, Lisa isn't on the Organizers Contact Info 2018 spreadsheet, what is her email address? Thanks!

[2018-08-30 19:47] jtawes commented on #1112
Done

[2018-08-30 19:49] jtawes commented on #1161
I have updated the Leadership Team and moved Leo's picture. I sent an email out to all of those listed above to be added and am now awaiting a response regarding what information to include and the image they would like posted.

[2018-08-30 19:51] #1058 closed, assigned to FrankCJones

[2018-08-30 19:52] #1016 closed, assigned to FrankCJones

[2018-08-30 19:53] #1162 closed, assigned to jtawes

[2018-08-30 21:27] jtawes commented on #1072
which of the github repositories is for the 'Triangle Data Platform'? Is that what Jim is working on with the survey?

[2018-08-30 22:51] jmpmcmanus commented on #1072
We have a list of data sets on affordable housing on github: Open-NC/affordable-housing

|
|
|
|  |  |

 |

 |
|
|  |
Open-NC/affordable-housing

Contribute to Open-NC/affordable-housing development by creating an account on GitHub.
 |

 |

 |

For the survey we plan to use data-world.   On Thursday, August 30, 2018, 5:27:06 PM EDT, jtawes <notifications@github.com> wrote:

which of the github rep

[2018-08-30 23:16] jcwlib commented on #1072
@jtawes this github might help find more links - https://github.com/Open-NC

Also there is a projects page on the Open NC website http://opennc-collaborative.org/

[2018-08-30 23:27] ChrisTheDBA commented on #1072
There isn't a github repo

Chris Mathews

On Thu, Aug 30, 2018 at 7:16 PM Janel <notifications@github.com> wrote:

[2018-08-30 23:46] jtawes commented on #1072
Is there anything you want this linked to?

Sent from my iPhone

[2018-08-31 14:14] TaxLadyTracy commented on #1113
We didn't have the a frame last year those were the inside signs

On Thu, Aug 30, 2018, 11:20 AM snewt-n <notifications@github.com> wrote:

[2018-08-31 14:29] snewt-n commented on #1113
oh whoops I feel silly @TaxLadyTracy I thought a-frames were easels

[2018-08-31 15:16] dtraleigh commented on #1113
I'm out of town for the weekend. On Monday, I plan to use the usual meeting
time to knock out tasks. I'll post the size we need then.

Here's basically what I have. I'm sure the sizes are pretty standard.
Again, I have two so we need 4 posters. (front and back)

https://goo.gl/images/UZ59gv

On Fri, Aug 31, 2018, 10:29 AM snewt-n <notifications@github.com> wrote:

[2018-08-31 16:26] clrudderWC commented on #1158
Im sure you saw Jeffs Response, but im capturing it here for the discussion:
_Hi Charles,

I definitely agree that QGIS would be good to provide.  I may be interested... what part of the day will the training sessions be held, and how long will each session be?  There have been several other things come up for the 22nd, so I need to figure out what's doable.  If I can't, there's a southeast osgeo

[2018-08-31 16:34] jhibbets commented on #1072
Are they using data.world for this?

[2018-08-31 16:56] ChrisTheDBA commented on #1072
No. The idea was to duplicate the SF Affordable housing hub or the
Mecklanburg Quality of life dashboard.

I hate to shoehorn in a technology for the sake of it.

On Fri, Aug 31, 2018 at 12:34 PM Jason Hibbets <notifications@github.com>
wrote:

--
Chris Mathews

[2018-08-31 17:19] jhibbets opened #1169 "Send Open Pass holder to early bird ticket holders"

[2018-08-31 18:34] #1169 closed, assigned to jhibbets

[2018-08-31 18:35] jhibbets opened #1170 "Reach out to GDI about coding class"

[2018-09-03 00:10] TaxLadyTracy commented on #1108
Shirts have been ordered.  TMathews

[2018-09-03 00:13] TaxLadyTracy opened #1171 "Coffee"

[2018-09-03 12:06] jcwlib commented on #1112
Reopening - to track the actual ordering

[2018-09-03 12:07] jcwlib commented on #1132
https://docs.google.com/document/d/1H4V5DmP4OEIGkGE_GiK9DblUudXb4TkT_F_3TuaBPQ0/edit?usp=sharing

[2018-09-03 12:12] jcwlib commented on #1045
Added an item to the Raleigh M.A.I.N. events social media calendar to highlight Civic Camp registration

[2018-09-03 19:10] dtraleigh commented on #1132
Can you give me a deadline for my post?

On Mon, Sep 3, 2018 at 8:07 AM Janel <notifications@github.com> wrote:

[2018-09-03 19:21] jcwlib commented on #1114
Last year's post - http://ncopenpass.com/blog/navigating-around-downtown-raleigh-for-citycamp-nc/

Let's plan to post on Monday, Sept 17 - draft ready for review by Thursday, Sept 13

[2018-09-03 19:21] dtraleigh commented on #1113
24"W x 36"H is the size of the posters for the a-frames signs. Again, we have two brown ones and they are front and back.

[2018-09-03 19:22] dtraleigh commented on #1113
For reference, this is them. http://a.co/d/aQRJJln

[2018-09-03 19:25] jcwlib commented on #1117
From Tracy: Avery 5390 badge template - adding @snewt-n to this item as well

[2018-09-03 19:26] dtraleigh commented on #1105
Contacted The Raleigh/Wake Partnership to End and Prevent Homelessness to see if we could make arrangements.

[2018-09-03 19:28] dtraleigh commented on #1114
Got it.

On Mon, Sep 3, 2018 at 3:21 PM Janel <notifications@github.com> wrote:

[2018-09-03 19:30] jcwlib opened #1172 "Update Open Raleigh Brigade Logo"
just making an official card for this request

[2018-09-03 19:37] dtraleigh commented on #1116
Sent deejay's an email. We've used them in the past for table rentals. Will try and get something locked down this week.

[2018-09-03 19:42] dtraleigh commented on #1110
@ChrisTheDBA Will we be using the mifi for the Mevo at Artspace?

@jhibbets How does Thurs or Fri this week (6 or 7) to get into the annex for a quick mevo test? I'm wide open in the PM hours.

[2018-09-03 19:45] ChrisTheDBA commented on #1110
Artspace doesn’t have WiFi?

On Mon, Sep 3, 2018 at 3:42 PM Leo Suarez <notifications@github.com> wrote:

--
Chris Mathews

[2018-09-03 19:52] dtraleigh commented on #1110
Ha! Completely lost on me to ask that when I was there. Let me find out.

On Mon, Sep 3, 2018 at 3:45 PM Chris Mathews <notifications@github.com>
wrote:

[2018-09-03 20:04] jtawes commented on #1117
Will the lanyards be oriented vertically or horizontally?

[2018-09-03 20:11] jtawes commented on #1172
https://drive.google.com/open?id=1Ir21_BMUBIPGIf_YONI5TEAKTp6o08eV

Ready for review

[2018-09-04 15:17] jhibbets commented on #1110
@dtraleigh  Thursday is best for me. Anytime between 11am - 1pm and after 4pm

[2018-09-04 20:57] jcwlib commented on #1112
New StickerMule account is created and credentials shared with @ChrisTheDBA and @jtawes - need to upload designs with the quantities and then the order can be placed

[2018-09-04 21:23] jtawes commented on #1043
Just to clarify again for everyone - the top one is not a 'design' it is the same design as the bottom one the top one just includes the cut lines/bleed lines for the printer (this is standard in printed items).

[2018-09-04 21:37] ChrisTheDBA commented on #1043
Chris Mathews

The card was closed 7 days ago. I assumed that meant it was resolved -
either ordered or not needed.

On Tue, Sep 4, 2018 at 5:23 PM jtawes <notifications@github.com> wrote:

[2018-09-04 21:54] jcwlib commented on #1111
technically we can use this ticket to track the printing of the business cards - they are included in the linked spreadsheet above.  ticket 1043 was to track the graphics work which is complete

[2018-09-04 23:10] jtawes commented on #1043
My apologies for prematurely closing this ticket. I assumed it referenced the 'design' of the cards only and once the design was approved and thought I should close the ticket. I see now that for these items the ticket is to be used to track the item all the way through ordering and receipt of shipment. I will be more mindful in the future.

[2018-09-04 23:22] ChrisTheDBA commented on #1043
No problem. I just ordered them. They will be here Sept 11 along with the
2.5x6 banner.
Chris Mathews

On Tue, Sep 4, 2018 at 7:10 PM jtawes <notifications@github.com> wrote:

[2018-09-05 12:59] dtraleigh commented on #1110
how about 4pm then.

On Tue, Sep 4, 2018 at 11:17 AM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-05 13:01] TaxLadyTracy commented on #1117
Just need the name badge template.  I opened this ticket for me to order the lanyards no artwork for lanyards.

[2018-09-05 13:02] TaxLadyTracy opened #1173 "Name badges"

[2018-09-05 13:05] TaxLadyTracy commented on #1173
This is for me to keep track of my task.
Avery labels 5390 to be printed horizontal.
leave a space for me to put a clear sticker with participants name.

[2018-09-05 13:12] jtawes commented on #1173
We can set up the template to print the participants name if you have a
spreadsheet of names. Just let me know.

On Wed, Sep 5, 2018 at 9:05 AM TaxLadyTracy <notifications@github.com>
wrote:

[2018-09-05 13:19] ChrisTheDBA commented on #1173
Just need the graphics. have all that in place.
Chris Mathews

On Wed, Sep 5, 2018 at 9:13 AM jtawes <notifications@github.com> wrote:

[2018-09-05 13:34] TaxLadyTracy commented on #1173
Thank you but I have a process.  Names don't usually get printed until the day before so I need to do that myself.

[2018-09-05 13:40] jtawes commented on #1068
Is there a formal name for this project? I understand that this is a partnership with Innovate Raleigh and NC Open Pass to specifically support tech initiatives geared to the First Responder Community but I don't see a title and didn't know if I missed it somewhere.  Is it being called "The First Responder Program"? I'm trying to title the flyer that details this.

[2018-09-05 14:00] jtawes commented on #1173
Is this what you have in mind?

On Wed, Sep 5, 2018 at 9:19 AM Chris Mathews <notifications@github.com>
wrote:

[2018-09-05 14:05] clrudderWC commented on #1158
HI all - is there a specific time of day we would like Jeff to come do a GIS Tutorial for QGIS or is that not nailed down yet?

[2018-09-05 14:06] TaxLadyTracy commented on #1173
Sorry @jtawes  I don't see anything so I can't say

[2018-09-05 14:13] jtawes commented on #1173
Here, try this link:

Lanyard Design
<https://drive.google.com/open?id=1R5zNbSUBhnselo7Grstw6Aj48ECc_TAy>

On Wed, Sep 5, 2018 at 10:07 AM TaxLadyTracy <notifications@github.com>
wrote:

[2018-09-05 14:14] jhibbets commented on #1158
We are flexible. I'd say we can start anytime after 9:30 am. Whatever his
schedule permits.

On Wed, Sep 5, 2018, 10:06 AM Charles Rudder <notifications@github.com>
wrote:

[2018-09-05 14:15] snewt-n commented on #1173
Looks good, should it have the dates on it? Do we have  a laser printer so it doesn't smear with all that blue?

[2018-09-05 14:18] ChrisTheDBA commented on #1173
All we need is a logo to replace the one on this picture.

Chris Mathews

On Wed, Sep 5, 2018 at 10:16 AM snewt-n <notifications@github.com> wrote:

[2018-09-05 14:18] clrudderWC commented on #1158
and how long should we ask for the presentation to be? or should we create a simple project for the attendees to work through?

[2018-09-05 14:23] jtawes commented on #1173
Chris, I don't see which picture you are referring to. Do you have a link?

On Wed, Sep 5, 2018 at 10:19 AM Chris Mathews <notifications@github.com>
wrote:

[2018-09-05 14:36] jcwlib commented on #1068
There is no specific name for the project.

You could use First Responder Initiative for a title

On Wed, Sep 5, 2018 at 9:40 AM jtawes <notifications@github.com> wrote:

[2018-09-05 14:42] ChrisTheDBA commented on #1173
It's just a picture off my phone of last year's badge.

https://drive.google.com/file/d/1rc5ETcXEHWvymoBSKQxG_sWDA0lTQyWF/view?usp=sharing

Chris Mathews

On Wed, Sep 5, 2018 at 10:23 AM jtawes <notifications@github.com> wrote:

[2018-09-05 14:43] jcwlib commented on #1173
hashtag needs to be updated to #civiccampnc as well.

On Wed, Sep 5, 2018 at 10:42 AM Chris Mathews <notifications@github.com>
wrote:

[2018-09-05 14:44] TaxLadyTracy commented on #1173
You beat me to it...I was just asking Chris before I commented.

[2018-09-05 14:48] jtawes commented on #1173
That is the hashtag I put on the design I uploaded. Do you want me to
change the design?

On Wed, Sep 5, 2018 at 10:44 AM TaxLadyTracy <notifications@github.com>
wrote:

[2018-09-05 14:51] jcwlib commented on #1173
Jennifer -

Please update your design to not have the blue background behind the logo
and the twitter handle and hashtag.

--Janel

On Wed, Sep 5, 2018 at 10:48 AM jtawes <notifications@github.com> wrote:

[2018-09-05 14:54] TaxLadyTracy commented on #1173
Jennifer check the spelling that's what we are talking about #civicampnc or
#civiccampnc?  Just don't want to print these out and find out it's wrong.

On Wed, Sep 5, 2018 at 10:51 AM Janel <notifications@github.com> wrote:

[2018-09-05 14:55] TaxLadyTracy commented on #1173
Please keep in mind name badges are printed from my house not a outside
printer and I do not charge NC Open Pass for my ink :)

On Wed, Sep 5, 2018 at 10:54 AM Tracy Mathews <tracymathews@nc.rr.com>
wrote:

[2018-09-05 14:55] jcwlib commented on #1173
It should be  #civiccampnc

On Wed, Sep 5, 2018 at 10:54 AM TaxLadyTracy <notifications@github.com>
wrote:

[2018-09-05 14:59] dtraleigh commented on #1065
I got approval to host DP at Ipreo if we want too. Can we schedule a walkthrough? My concern is the space size. I'm not quite sure we can hold over 100. Let me know who wants to come and I'll get an email thread going. We're at 421 Fayetteville Street in case you don't know.

[2018-09-05 15:04] jtawes commented on #1173
More like this?

Lanyard Design Option 2
<https://drive.google.com/open?id=1TW4vGN5qug6MIOEQdtBrHiiwkML2eOSd>

On Wed, Sep 5, 2018 at 10:51 AM Janel <notifications@github.com> wrote:

[2018-09-05 15:07] ChrisTheDBA commented on #1173
good, but change the hashtag.
Chris Mathews

On Wed, Sep 5, 2018 at 11:05 AM jtawes <notifications@github.com> wrote:

[2018-09-05 15:07] jcwlib commented on #1173
Yes - but the hashtag needs to be #civiccampnc - with two c's

On Wed, Sep 5, 2018 at 11:04 AM jtawes <notifications@github.com> wrote:

[2018-09-05 15:09] TaxLadyTracy commented on #1173
and if you want the hash tag and twitter handle larger that would be fine
too.

On Wed, Sep 5, 2018 at 11:07 AM Chris Mathews <notifications@github.com>
wrote:

[2018-09-05 15:11] TaxLadyTracy commented on #1173
And I know it may be petty but could we please stop calling this a lanyard
design.  It is a name badge and that's what I look for :)

On Wed, Sep 5, 2018 at 11:09 AM Tracy Mathews <tracymathews@nc.rr.com>
wrote:

[2018-09-05 15:13] jtawes commented on #1173
Updated the hashtag, do you want me to take out the green color?

On Wed, Sep 5, 2018 at 11:09 AM TaxLadyTracy <notifications@github.com>
wrote:

[2018-09-05 15:14] TaxLadyTracy commented on #1173
No I am good with the green and blue!!  Looks great

On Wed, Sep 5, 2018 at 11:13 AM jtawes <notifications@github.com> wrote:

[2018-09-05 15:24] jtawes commented on #1173
Final name badge design uploaded to shared drive (Name Badge) folder
Name Badge
<https://drive.google.com/open?id=1se-VxHm9Op4t9kbVQ3VEwSoD9EmhyAzv>

On Wed, Sep 5, 2018 at 11:14 AM TaxLadyTracy <notifications@github.com>
wrote:

[2018-09-05 15:55] jhibbets commented on #1158
To be honest, I'd really want to leave this up to the presenter on what
they think is best. For starting bids, I'd say the 2-3 hours "feels right."
But to give you the parameters of what Saturday will look like, we'll start
things between 9-9:30 am and we've got the space all day until 4 pm. Team
pitches will start around 3 pm.  Does this help?

Once we have the time slot down, we can get this add

[2018-09-05 16:00] jhibbets commented on #1110
Calendar invite sent for 4pm

[2018-09-05 17:35] jtawes commented on #1068
This is a rough first draft - is this on the right track?

On Wed, Sep 5, 2018 at 10:36 AM Janel <notifications@github.com> wrote:

[2018-09-05 17:56] jtawes commented on #1068
Does this work?
First Responders Flyer DRAFT
<https://drive.google.com/open?id=1t7bsTG8sQdQZWlRbVWyrecICo0iVJdZe>

On Wed, Sep 5, 2018 at 1:34 PM Jennifer Tawes <jtawes510@gmail.com> wrote:

[2018-09-05 18:50] zachambrose commented on #1065
I'm in.

On Wed, Sep 5, 2018 at 10:59 AM, Leo Suarez <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2018-09-05 18:53] jcwlib commented on #1068
@jtawes - getting there - but we are missing a key point that we are encouraging them to join us at Civic Camp and that they get a free admission.

Potential changes:
1) Move website URLs into the boxes about the organizations.
2) Move the orgs blocks down to the footer and perhaps shorter
3) Remove first paragraph under the header
4) Text in header needs to be a different color
5) Move Civic Camp

[2018-09-05 19:46] ChrisTheDBA opened #1174 "Find out when organizers can get into Annex"

[2018-09-06 03:10] jhibbets opened #1175 "Speaker notifications"

[2018-09-06 03:11] jhibbets commented on #1158
FYI - GDI has been unresponsive. I've pinged them twice.

[2018-09-06 03:43] #1175 closed, assigned to jhibbets

[2018-09-06 03:44] jhibbets commented on #1112
FYI - Your proofs are ready for R223572342 (via NCOpenPass gmail account)

[2018-09-06 14:17] jtawes commented on #1068
Second draft is now available in First Responders shared drive:

First Responders Flyer
<https://drive.google.com/open?id=17dLjq61MFExLrp1_38ARcLSjsN2c4r60>

On Wed, Sep 5, 2018 at 2:55 PM Janel <notifications@github.com> wrote:

[2018-09-06 14:59] jtawes commented on #1068
Are we having a call today?

On Thu, Sep 6, 2018 at 10:16 AM Jennifer Tawes <jtawes510@gmail.com> wrote:

[2018-09-06 15:09] jcwlib commented on #1068
Jennifer - thanks for all your hard work on this flyer.  We are close!

Let's remove the second paragraph at the top and replace it with this text:

The first responder community is invited to participate in this year's
Civic Camp at the Red Hat Annex and Artspace in downtown Raleigh.  We are
offering free registration to first responders. Friday, September 21 will
include an introduction to Civic

[2018-09-06 21:14] dtraleigh commented on #1110
The Mevo didn't work at The Annex. Here is the help article that mentions which ports should be open to allow the Mevo to both connect and broadcast. If IT can verify this, that would help.

https://help.livestream.com/hc/en-us/articles/212062958-Recommended-Settings-to-Configure-my-Firewall

Our other option is to buy the Mevo Boost which allows us to go hard wired. I'm not sure that's entirely n

[2018-09-06 21:16] dtraleigh commented on #1100
Anyone have an idea of how many gifts? I'd like to start the hunt next week for items.

[2018-09-06 21:57] ChrisTheDBA commented on #1110
The other option might be our Mifi

On Thu, Sep 6, 2018 at 5:14 PM Leo Suarez <notifications@github.com> wrote:

--
Chris Mathews

[2018-09-06 23:10] TaxLadyTracy commented on #1100
Last year we did 4 items I believe.   Nothing overboard obviously.   How many speakers do we have?

Sent from my Verizon, Samsung Galaxy smartphone
-------- Original message --------From: Leo Suarez <notifications@github.com> Date: 9/6/18  5:16 PM  (GMT-05:00) To: ncopenpass/NCOpenPass <NCOpenPass@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Subject: Re: [ncopenpass/NCOpenPas

[2018-09-06 23:51] dtraleigh commented on #1110
For sure. I just wonder about cell signal quality when we're in that cave,
I mean, the spacious and lovely annex. :)

On Thu, Sep 6, 2018 at 5:57 PM Chris Mathews <notifications@github.com>
wrote:

[2018-09-07 00:11] ChrisTheDBA commented on #1110
That is a concern.

On Thu, Sep 6, 2018 at 7:51 PM Leo Suarez <notifications@github.com> wrote:

--
Chris Mathews

[2018-09-07 01:00] jhibbets commented on #1110
We could test the mifi.I have also submitted a help desk ticket about the
port.

[2018-09-07 01:07] jhibbets commented on #1100
Plan for about 20-24 speakers.

[2018-09-07 02:06] jhibbets commented on #1174
Friday, confirmed that security will be there at 7am. However, I or another Red Hatter will need to be present.  I will work on that. I got distracted at forgot to ask about Saturday, but let's plan on 7:45 ish.  I will confirm.

[2018-09-07 02:07] jhibbets opened #1176 "Build out Civic Camp schedule"

[2018-09-07 02:08] jhibbets commented on #1170
I've sent two emails with no response so far. If we don't hear anything by Wed, Sep 12, we'll move on.

[2018-09-07 02:28] ChrisTheDBA commented on #1170
I'd move on now. There wouldn't be enough time to get people in the class.
probably too late already.

Chris Mathews

On Thu, Sep 6, 2018 at 10:08 PM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-07 02:41] jhibbets commented on #1176
First draft: https://docs.google.com/spreadsheets/d/1OIWZbJYrPFbGU8N9wBm1G8gEP-g9CCz03x6fgs_zzHY/edit?usp=sharing

[2018-09-07 02:47] ChrisTheDBA commented on #1176
Looks good. nice work

On Thu, Sep 6, 2018 at 10:41 PM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-07 11:44] jcwlib commented on #1176
Looks good!  Let me know when you want to start promoting specifics. @jhibbets are you updating the website or do you need help from the marketing team?

[2018-09-07 12:01] dtraleigh opened #1177 "Beverages for Friday Night [civic camp]"

[2018-09-07 12:16] zachambrose commented on #1176
Good stuff, Jason. I think the times on the individual lightning talks
should run 6-7 and not 7-8?

It's been a few months since we talked about it, but I'm going to be in
California and won't be able to do the emcee stuff on Saturday.

On Thu, Sep 6, 2018 at 10:41 PM, Jason Hibbets <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (

[2018-09-07 16:22] clrudderWC commented on #1158
_Update from Jeff Essic below...

Hi Charles,

This sounds good... put us down. I have asked a colleague here, Mia Partlow, if she will be able to help not only with revising the material we have now, but also during the workshop with folks needing assistance.

As far as timing, morning will be best for our schedules, as we have activities and out-of-town visitors coming in the afternoon. Feel fre

[2018-09-07 16:28] jcwlib commented on #1137
Planning to send on Monday (9/10) announcing the detailed schedule

[2018-09-07 16:29] jcwlib opened #1178 "Update Civic Camp Speaker Page"
Need to add pictures and bios - grouped by keynote and lightning talks

[2018-09-07 17:52] dtraleigh commented on #1065
Walkthrough of the Ipreo space scheduled for Thursday Sept 13 at noon. Let me know if you are coming/interested.

[2018-09-07 20:06] TaxLadyTracy commented on #1100
Wow.  Thanks a big jump from prior years right?

On Thu, Sep 6, 2018, 9:07 PM Jason Hibbets <notifications@github.com> wrote:

[2018-09-07 20:29] ChrisTheDBA commented on #1100
Last year we did 32.

On Fri, Sep 7, 2018 at 4:06 PM TaxLadyTracy <notifications@github.com>
wrote:

--
Chris Mathews

[2018-09-07 23:03] jhibbets commented on #1178
grouped by keynote, **panels,**  and lightning talks

[2018-09-07 23:09] jhibbets commented on #1176
Lightning talks are 7 minutes apart.

[2018-09-07 23:41] jhibbets commented on #1176
@zachambrose @ChrisTheDBA @jtawes I made some revisions. We have 2 panels, 4 keynotes, and 8 lightning talks. Janel, if you want any speaking slots to get some exposure, please let me know. Zach - same for you on Friday since you're out on Saturday.  Maybe all 4 of us can start our with the welcome. Also, Lori Bush can emcee for us in the morning.

[2018-09-07 23:43] jhibbets commented on #1174
Confirmed 7:45 for Saturday. Note, we'll be starting at 9:15

[2018-09-07 23:43] #1174 closed, assigned to ChrisTheDBA, jhibbets

[2018-09-07 23:47] HoneyBadger126510 commented on #1178
I'm working on the speakers page right now. Marlo Gaddis is listed in the schedule as a keynote speaker but I don't have speaker info on her in the keynote speaker spreadsheet. Is it located somewhere else?

[2018-09-08 02:39] HoneyBadger126510 commented on #1178
Just finished a first pass at the page, there are some speakers that need information on their topic, and some that need editing in their bio. Do we have panelists for both panels? Also I haven't added contact links for everyone yet. But take a look and feel free to send me any edits. I'll work on it more tomorrow and Sunday.

[2018-09-08 12:48] jcwlib commented on #1178
@jtawes thanks for tackling this task so quickly.

1) Let's order the speakers in each section, alpha by last name.
2) Melanie Mazanec is only doing a lightning talk - please remove from the keynote list
3) @jhibbets do we have a list of people on Bonnie's panel?
4) Need to add emcee - Lori Bush
5) Remove Carole Williams, Keith Stewart, Evan Diehnelt from Lightning Talks - they are not on the fina

[2018-09-08 13:01] dtraleigh commented on #1100
So what's the breakdown? 30 "regular" gift bags + 2 "special" gift bags?

On Fri, Sep 7, 2018 at 4:29 PM Chris Mathews <notifications@github.com>
wrote:

[2018-09-08 13:04] jcwlib opened #1179 "Update Partners page"
@jtawes the WeWork hyperlink on the partner page and the bottom of the Civic Camp main page isn't right. The url doesn't directly go to their website.

Also we need to add Innovate Carolina - logo is in the sponsor logo folder.

[2018-09-08 13:09] ChrisTheDBA commented on #1100
@jhibbets correct me but we don’t have that many this year.

I would 25 with two being special.

On Sat, Sep 8, 2018 at 9:01 AM Leo Suarez <notifications@github.com> wrote:

--
Chris Mathews

[2018-09-08 13:23] jcwlib commented on #1100
From Jason's note last night:
We have 2 panels, 4 keynotes, and 8 lightning talks. Not sure how many
judges on Saturday.

One of the panels has 4 speakers + moderator and I'm not sure about the
other one.

On Sat, Sep 8, 2018 at 9:09 AM Chris Mathews <notifications@github.com>
wrote:

[2018-09-08 13:40] HoneyBadger126510 commented on #1178
1. Done
2. Done
4. Do I add her as a keynote? If not, where would you like her and with what title?
5. Done

[2018-09-08 13:43] jcwlib commented on #1178
Here is a page for Lori Bush - I would list her at the top as she is emceeing Friday morning (keynotes and panelists) https://www.townofcary.org/mayor-council/town-council/council-members/lori-bush

[2018-09-08 14:00] jtawes commented on #1178
It seems a little awkward to title her as "emcee", any alternatives?

On Sat, Sep 8, 2018 at 9:43 AM Janel <notifications@github.com> wrote:

[2018-09-08 14:27] ChrisTheDBA commented on #1178
We've used emcee in the past and it hasn't seemed awkward.

BTW, Chief Alvarez is Fayetteville Fire Dept, not Wake County Public Schools
Chris Mathews

On Sat, Sep 8, 2018 at 10:00 AM jtawes <notifications@github.com> wrote:

[2018-09-08 14:30] ChrisTheDBA commented on #1100
Ok, 4 specials for the keynotes

We have duplication on the panels so 9

eight for lightning and five for judges.

that comes to 22 and 4 keynotes.

Chris Mathews

On Sat, Sep 8, 2018 at 9:23 AM Janel <notifications@github.com> wrote:

[2018-09-08 14:31] ChrisTheDBA commented on #1100
Maybe total at 30 to have extras.

Chris Mathews

On Sat, Sep 8, 2018 at 10:29 AM Chris Mathews <christhedba@gmail.com> wrote:

[2018-09-08 14:38] jtawes commented on #1178
Not a problem. Do you want a separate header line that is "Emcee" or place
her inside the "Keynote Speakers"?

Also fixed Alvarez, thanks!

On Sat, Sep 8, 2018 at 10:27 AM Chris Mathews <notifications@github.com>
wrote:

[2018-09-08 16:09] TaxLadyTracy commented on #1173
@jtawes  I printed a test and this does not fit the template for my labels.  Can you just send us the artwork and we will complete it?

[2018-09-08 16:18] TaxLadyTracy commented on #1117
Lanyards have come in and ready for name badges.  Closing this ticket.

[2018-09-08 16:18] #1117 closed, assigned to ChrisTheDBA, dtraleigh, snewt-n, jcwlib, TaxLadyTracy, jtawes

[2018-09-08 16:20] TaxLadyTracy commented on #1177
Brices' said they can't come due to an event going on that weekend with breweries

[2018-09-08 16:48] jtawes commented on #1173
Try this PDF first, it should be the right dimensions, the other file was
the artwork only, this one has the template from avery included: Avery
Template Name Badges
<https://drive.google.com/open?id=1z1GI7H9uiDXPJzyEZNEzl2GX1Er6dCcc>

If that doesn't work, here is the artwork for one badge (two file formats):
Single Name Badge as a PNG File
<https://drive.google.com/open?id=1jIHE6arJaJ-TiLsl01p_L

[2018-09-08 16:57] dtraleigh commented on #1100
Ok 26 regulars and 4 specials. I'll start shopping this week.

On Sat, Sep 8, 2018, 10:31 AM Chris Mathews <notifications@github.com>
wrote:

[2018-09-08 18:23] HoneyBadger126510 commented on #1179
Done

[2018-09-08 18:34] HoneyBadger126510 commented on #1178
Added Lori Bush

[2018-09-09 17:13] jcwlib commented on #1179
@jtawes I don't see WeWork on the main Partners page anymore.

[2018-09-09 17:57] HoneyBadger126510 commented on #1179
Sorry, fixed it. I had to change the galleries to get the links to work.

[2018-09-09 19:22] jcwlib commented on #1179
thanks!

[2018-09-09 19:22] #1179 closed, assigned to jtawes

[2018-09-09 19:23] jcwlib commented on #1068
We have a 9 am deadline on 9/10 to send the final version to Bridget

[2018-09-09 20:25] jtawes commented on #1068
I uploaded a second draft to the "First Responders Initiative" folder in
the shared drive, let me know what changes you need:

First Responders Flyer
<https://drive.google.com/open?id=19LFdbh_SkxnuM28UEejfG-U8mps9DcNP>

On Sun, Sep 9, 2018 at 3:23 PM Janel <notifications@github.com> wrote:

[2018-09-09 20:28] jcwlib commented on #1068
Here is the feedback I sent earlier about version #2

Jennifer - thanks for all your hard work on this flyer.  We are close!

Let's remove the second paragraph at the top and replace it with this text:

The first responder community is invited to participate in this year's
Civic Camp at the Red Hat Annex and Artspace in downtown Raleigh.  We are
offering free registration to first responders. Frid

[2018-09-09 21:09] jtawes commented on #1068
I made those edits, I guess I should have been more clear, this is version
3.

On Sun, Sep 9, 2018 at 4:28 PM Janel <notifications@github.com> wrote:

[2018-09-09 21:24] #1068 closed, assigned to ChrisTheDBA, snewt-n, jcwlib, zachambrose, jtawes

[2018-09-09 21:24] jcwlib commented on #1068
Thanks, Jennifer - I must have missed the third version.  I'll send this
over to Bridget for printing.

On Sun, Sep 9, 2018 at 5:09 PM jtawes <notifications@github.com> wrote:

[2018-09-09 21:25] jcwlib commented on #1069
Closing as there is no opportunity for us to speak at the breakfast

[2018-09-09 21:25] #1069 closed, assigned to ChrisTheDBA, jcwlib, zachambrose

[2018-09-09 21:25] #1141 closed, assigned to Stephanie-H

[2018-09-10 13:32] clrudderWC commented on #1158
@jhibbets @ChrisTheDBA can you guys provide Jeff with some feedback relating to the questions he asked? Im not familiar enough with the event and focus to make great suggestions.
1) Is there any particular data or specific exercise that any of you would like to see us build in?
2)  Can we assume attendees will have their own laptops?
3) please let us know if we need to register or if you will hand

[2018-09-10 14:05] #1123 closed, assigned to ChrisTheDBA

[2018-09-10 14:07] ChrisTheDBA commented on #1177
Hops for Hope is Sept 22nd most breweries are busy with that. Need a bottle shop run.

[2018-09-10 14:07] ChrisTheDBA commented on #1112
Order on the way

[2018-09-10 14:08] ChrisTheDBA commented on #1158
Email sent 9/10.

[2018-09-10 14:08] #1067 closed, assigned to ChrisTheDBA, dtraleigh

[2018-09-10 14:08] #1083 closed, assigned to ChrisTheDBA

[2018-09-10 15:49] jhibbets commented on #1110
@dtraleigh - Can you come back to the Annex on Thursday 9/13 at 4pm for
more testing. I'm trying to schedule time with IT help.

On Thu, Sep 6, 2018 at 9:00 PM Jason Hibbets <jhibbets@gmail.com> wrote:

[2018-09-10 15:53] dtraleigh commented on #1110
Yes. I can be there.

On Mon, Sep 10, 2018 at 11:50 AM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-10 18:42] jhibbets commented on #1110
Invite sent, hurricane or shine.

[2018-09-10 18:54] zachambrose opened #1180 "Update City Camp judging criteria"

[2018-09-10 18:54] zachambrose opened #1181 "Update City Camp judging form"

[2018-09-10 18:56] zachambrose commented on #1033
Closed

[2018-09-10 18:56] #1033 closed, assigned to zachambrose

[2018-09-10 18:56] zachambrose commented on #1022
Closed

[2018-09-10 18:56] #1022 closed, assigned to zachambrose

[2018-09-10 19:05] zachambrose commented on #1134
@wildca01t  can you pick up your names/organizations from last year? @zachambrose, Yes!

[2018-09-10 19:06] zachambrose commented on #1134
Everyone, can you look at the names from 2017 (Copy of Marketing) and see if there any that aren't currently claimed on the 2018 tab that you take?  Thanks!

[2018-09-10 20:39] jcwlib commented on #1137
sent

[2018-09-10 20:39] #1137 closed, assigned to jcwlib

[2018-09-10 20:47] ChrisTheDBA commented on #1170
Did we get news about GDI.

On Mon, Sep 10, 2018 at 4:39 PM Janel <notifications@github.com> wrote:

--
Chris Mathews

[2018-09-10 20:53] #1170 closed, assigned to jhibbets

[2018-09-10 20:53] jcwlib commented on #1170
I was trying to move another card to done and picked this one
accidentally.  I'll move it back to closed again.

On Mon, Sep 10, 2018 at 4:47 PM Chris Mathews <notifications@github.com>
wrote:

[2018-09-10 21:16] jcwlib commented on #1164
Updated this document now that schedule and speakers are set https://docs.google.com/document/d/1MfvfuT1CoN4ZE4DTtt92Hy0IJItHpnxW1trVkeqAGzs/edit?usp=sharing

[2018-09-10 21:47] ChrisTheDBA opened #1182 "Send email to registered user with food preferences"
Send Sunday evening, Monday morning

[2018-09-10 22:13] dtraleigh commented on #1114
@jhibbets @ChrisTheDBA @jcwlib  Who can give me an account to the ncopenpass site so I can draft a blog post? Writer access is fine.

[2018-09-10 22:16] jcwlib commented on #1114
@jtawes and @FrankCJones can one of you give Leo a website account

[2018-09-10 22:21] zachambrose opened #1183 "Create list of last year, but not this year"

[2018-09-10 22:22] zachambrose opened #1184 "Send gmass mailing to last year, but not this year"

[2018-09-10 22:27] jcwlib commented on #1045
done

[2018-09-10 22:27] #1045 closed, assigned to jcwlib

[2018-09-10 22:30] jcwlib opened #1185 "Create Civic Camp Sponsor Poster"
ready to draft this poster for printing

[2018-09-10 22:31] jcwlib opened #1186 "Write blog post around the lightning talks"

[2018-09-10 22:32] jcwlib opened #1187 "Write blog post about keynote speakers"

[2018-09-10 22:32] #1132 closed, assigned to jcwlib

[2018-09-10 22:33] jcwlib opened #1188 "Update Eventbrite to have Datapalooza tickets"

[2018-09-10 22:34] jcwlib commented on #1178
need to add judges to the page once @zachambrose and @jhibbets finalize them

[2018-09-10 22:42] jcwlib commented on #1065
Imurj - 300 S. McDowell St
Burning Coal Theatre - 224 Polk St
Vidrio - 500 Glenwood Ave, Suite 100
CAM Raleigh - 409 W. Martin St
Mahler Fine Art - 228 Fayetteville St
Hyatt Place Raleigh West - 710 Corporate Center Drive
Lincoln Theatre 126 E Cabarrus St

[2018-09-10 23:09] jcwlib opened #1189 "Draft WRAL TechWire blog post"
need to draft a blog post that highlights the speakers, prize money, safari access, DataPalooza kickoff

[2018-09-11 00:07] jtawes commented on #1114
Just sent Leo an email.

On Mon, Sep 10, 2018 at 6:16 PM Janel <notifications@github.com> wrote:

[2018-09-11 15:50] zachambrose opened #1190 "Send Civic Camp judge confirmations"

[2018-09-11 15:51] zachambrose commented on #1190
Confirmed judges are highlighted in green. Notifications sent.

[2018-09-11 15:51] #1190 closed, assigned to zachambrose

[2018-09-11 17:17] zachambrose opened #1191 "Confirm time slot for ATO pitches"

[2018-09-11 17:18] zachambrose commented on #1191
@h I didn't see anything on the schedule yet on the ATO website.

[2018-09-11 17:18] zachambrose commented on #1191
@jhibbets I didn't see anything on the schedule yet on the ATO website.

[2018-09-11 21:10] zachambrose opened #1192 "Track donated tickets for scholarships"

[2018-09-11 21:10] jcwlib commented on #1189
@jhibbets here is a draft using last year's framework.  Not sure what photo you want to include https://docs.google.com/document/d/1o0sN-hp-dHhlK6oZub7OeGuvopONZH9cKNtfPafguDo/edit?usp=sharing

[2018-09-11 21:11] zachambrose commented on #1192
5 from data.world
Total - 5 scholarship tickets

[2018-09-11 21:21] jcwlib opened #1193 "Write blog post about unconference"
repurpose the post from 2017

[2018-09-11 21:21] jcwlib commented on #1193
draft started and open for comment - https://docs.google.com/document/d/1_PGto4BpgB6qOB6b2y1P8ZkFRGa-Zg_iQdQcTDinnXU/edit?usp=sharing

[2018-09-11 21:46] zachambrose commented on #1181
Shared with group for feedback.

[2018-09-11 21:47] zachambrose commented on #1180
I've shared with the group for feedback.

[2018-09-11 21:55] jcwlib commented on #1187
drafted a short and sweet blog post - it could use some love =( https://docs.google.com/document/d/1wlk1ep0qOS517O_3gekpIffsLl_8YTV6VWO6BvZnYNc/edit?usp=sharing

[2018-09-11 22:00] ChrisTheDBA opened #1194 "Pitches: Share your CivicCamp session idea before the conference"
If you plan on pitching an unconference session this year for CivicCamp, please add a comment to this issue with the proposed title and your name. Feel free to add a brief description. We will list the submitted proposals to the website schedule page so attendees can start to formulate a few topics that will be at the unconference.

Disclaimer: you must be present at CivicCamp on Friday, September

[2018-09-11 22:04] jcwlib commented on #1186
draft started and comments are welcome https://docs.google.com/document/d/1zEIaEWHYvHt7JTQ_vCtjLPcMZn76Lp-9lRCvEoGjmGc/edit?usp=sharing

[2018-09-11 22:04] jcwlib commented on #1133
duplicate ticket - closing

[2018-09-11 22:05] #1133 closed, assigned to jhibbets, jcwlib

[2018-09-11 23:24] zachambrose opened #1195 "Add Safari trial to Civic Camp slide deck"

[2018-09-11 23:25] zachambrose commented on #1195
@jhibbets we can reassign if someone else is doing the slide deck.

Here is the direct url: http://oreilly.com/getsafari?code=NCOP18  or you can offer oreilly.com/safari, promo code NCOP18.

[2018-09-12 00:18] dtraleigh opened #1196 "Recording Presentations"
As an enhancement to the video recordings, I'd like to do a mashup of the presenter plus the presentations. I'd like to run a recording of the laptop screen that is presenting.

@jhibbets will all the speakers and presentations be combined into one big one or at least be run on one laptop? (compared with each presenter plugging in their own device?)

[2018-09-12 00:42] jhibbets commented on #1196
My preference is to use one laptop with one large presentation.

On Tue, Sep 11, 2018, 8:18 PM Leo Suarez <notifications@github.com> wrote:

[2018-09-12 09:59] ChrisTheDBA opened #1197 "Drinks for Annex"
We will plan on water and lemonade for attendees and stay away from the drink cooler

@jhibbets does that sound like a plan?

[2018-09-12 12:27] zachambrose commented on #1159
Done

[2018-09-12 12:27] #1159 closed, assigned to ChrisTheDBA, zachambrose

[2018-09-12 13:41] dtraleigh commented on #1196
Awesome. That should be easy then. I can run the laptop that runs the
presentations so recording is easy.

On Tue, Sep 11, 2018 at 8:42 PM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-12 13:44] zachambrose commented on #1192
4 from UserVoice
Total -  9 scholarship tickets

[2018-09-12 17:16] dtraleigh commented on #1110
The Mevo does not work at Artspace. We're 0/2 on this thing. :(

[2018-09-12 17:37] jhibbets commented on #1110
Did you want to try an move our meeting time tomorrow to earlier? I'm OK to
leave it.

[2018-09-12 18:02] dtraleigh commented on #1114
@jcwlib Logistics blog post draft is ready for review. Please edit freely or let me know if anything you think is missing. Wasn't sure of the right category.

[2018-09-12 18:04] dtraleigh commented on #1110
4pm is fine.

On Wed, Sep 12, 2018 at 1:37 PM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-12 18:24] jtawes commented on #1114
I set up a page for it rather than a post, if it is ok with you I’ll move the content to the page?

Sent from my iPhone

[2018-09-12 18:32] dtraleigh commented on #1114
Have at it!

On Wed, Sep 12, 2018 at 2:24 PM jtawes <notifications@github.com> wrote:

[2018-09-12 18:36] jtawes commented on #1114
I've added the content to http://ncopenpass.com/civic-camp/civic-camp-venue/

On Wed, Sep 12, 2018 at 2:33 PM Leo Suarez <notifications@github.com> wrote:

[2018-09-12 23:33] jcwlib commented on #1114
Thanks @jtawes and @dtraleigh - looks great!

[2018-09-12 23:34] #1114 closed, assigned to dtraleigh

[2018-09-12 23:35] jcwlib opened #1198 "Prep messages for Civic Camp registrants"
--unconference, detailed schedule, logistics
--Friday schedule
--Saturday schedule

[2018-09-12 23:36] jcwlib commented on #1181
looks good!

[2018-09-12 23:36] jcwlib commented on #1180
looks good

[2018-09-12 23:54] jcwlib commented on #1178
Open Data Panel details were sent via email from Chris (9/12) and Marlo submitted her talk topic, bio and headshot via the keynote speaker form.  Judges are confirmed -see Zach's email from yesterday (9/11)

[2018-09-13 00:04] jcwlib commented on #1195
First Net Developer Portal https://developer.firstnet.com/firstnet

[2018-09-13 00:06] zachambrose opened #1199 "Remove Carsi Tong from mailing lists"

[2018-09-13 00:10] jcwlib commented on #1199
@jtawes - remove Carsi from the organizers page as well.

[2018-09-13 00:15] zachambrose opened #1200 "Add data.world to partners page as Silver sponsor"

[2018-09-13 00:20] jcwlib commented on #1189
added blurbs about the cash prize, O'Reilly access and a placeholder for the QGIS class

[2018-09-13 00:32] #1142 closed, assigned to Stephanie-H

[2018-09-13 01:48] jhibbets commented on #1186
Reviewed, made some minor edits/additions. approved.

[2018-09-13 02:09] jhibbets commented on #1189
I have reviewed this and made update. As soon as we get the other pieces, this is ready to ship. I am happy to ship to Rick/WRAL Techwire. Might hold off until Sunday to send.

[2018-09-13 02:11] jhibbets commented on #1187
I have reviewed and made additions. Approved.

[2018-09-13 02:14] jhibbets commented on #1194
Discussion topic: What are the challenges to using open data?

[2018-09-13 02:30] jhibbets commented on #1193
@jcwlib this will need a second set of eyes, as I've added some new material. but good to go from my side.

[2018-09-13 02:39] Stephanie-H commented on #1142
I just arrived in PA to my parents house to wait out the storm, so I'll be
able to queue some items.

On Wed, Sep 12, 2018, 8:32 PM Janel <notifications@github.com> wrote:

[2018-09-13 11:26] jcwlib commented on #1189
@jhibbets thanks for the review and edits.

[2018-09-13 11:43] jcwlib commented on #1187
Posted on webite and scheduled on social media

[2018-09-13 11:43] #1187 closed, assigned to jcwlib

[2018-09-13 11:49] jcwlib commented on #1199
I removed Carsi from the organizers page

[2018-09-13 12:08] jcwlib commented on #1193
@jhibbets - I like the new material.  I made some small edits - i've saved as a draft on website and will post next week.

[2018-09-13 12:08] #1193 closed, assigned to jhibbets, jcwlib

[2018-09-13 12:15] HoneyBadger126510 commented on #1200
Done

[2018-09-13 12:17] jcwlib commented on #1186
saved as draft on website - will post next week

[2018-09-13 12:17] #1186 closed, assigned to jhibbets, jcwlib

[2018-09-13 12:21] #1200 closed, assigned to jtawes

[2018-09-13 12:25] jtawes commented on #1200
zach could you please check ncopenpass.com/about/partners and let me know if that is correct, some of the sponsors aren't listed on the worksheet and I want to make sure their levels (diamond/platinum/silver etc) are correct

[2018-09-13 12:27] jtawes commented on #1178
Panelists and judges have been added.

[2018-09-13 12:28] #1172 closed, assigned to jtawes

[2018-09-13 12:29] jcwlib commented on #1178
I tweaked Marlo's profile as well

[2018-09-13 12:34] jtawes commented on #1178
Do we have a fourth panelist for John Stephen's group or will it just be
three?

On Thu, Sep 13, 2018 at 8:29 AM Janel <notifications@github.com> wrote:

[2018-09-13 12:36] jcwlib opened #1201 "Add DevOpsDaysRDU to Partners page"
@jtawes here is another update to the partners page - they are bronze level and their logo is in the sponsor logo folder

[2018-09-13 12:37] jcwlib commented on #1200
Here is what we have in the TechWire post:

Diamond partner: Innovate Raleigh

Platinum partners: HQ Raleigh, Innovate Carolina, Red Hat, WeWork

Gold Partners: O’Reilly, Raleigh 4U (Economic Development City of Raleigh)
Silver Partners: All Things Open (ATO), data.world

Bronze Partners: UserVoice, DevOpsDays Raleigh

Community partners: Raleigh MAIN Events

On Thu, Sep 13, 2018 at 8:25 AM jtawes

[2018-09-13 12:40] jcwlib commented on #1178
I believe the 4th panelist is Jill Bjers https://www.meetup.com/Open-Charlotte-Brigade/members/114660122/ @ChrisTheDBA  - correct?

[2018-09-13 12:55] jtawes commented on #1178
Done

On Thu, Sep 13, 2018 at 8:40 AM Janel <notifications@github.com> wrote:

[2018-09-13 13:11] jtawes commented on #1201
Done

[2018-09-13 13:11] #1201 closed, assigned to jtawes

[2018-09-13 13:37] zachambrose commented on #1192
6 from O'Reilly
Total - 15 scholarship tickets

[2018-09-13 13:39] jhibbets opened #1202 "Email brigade leadership for projects on Saturday"

[2018-09-13 13:40] jhibbets opened #1203 "Send invites to affordable housing teams"
I don't know who has the information, but we should consider inviting the affordable housing teams to Civic Camp, at a minimum, the hackathon on Saturday.

[2018-09-13 13:41] jhibbets commented on #1197
Sounds good. Maybe have some tea?

[2018-09-13 13:42] jhibbets opened #1204 "Send personal invites to elected officials"

[2018-09-13 13:48] jhibbets commented on #1178
Confirmed the 4th panelist is Jillzey.

[2018-09-13 13:49] jhibbets commented on #1158
We got the description:

QGIS is a free and open source software for analyzing and visualizing your geo data, also known as GPS, georeferenced, geocoded, or GIS/Geographic Information System data. QGIS can be installed on multiple operating systems and has greater analytical capabilities than online mapping sites. We'll learn some GIS fundamentals, how QGIS compares with other GIS software, and ho

[2018-09-13 13:50] jhibbets commented on #1186
Can we schedule posts on the WordPress site? If so, I would schedule and close this card.

[2018-09-13 13:51] jhibbets commented on #1186
Oops. my board wasn't referenced. Good to go here.

[2018-09-13 13:52] jhibbets commented on #1193
+1

[2018-09-13 13:53] jhibbets commented on #1189
@jcwlib Once @zachambrose confirms the sponsors, I'll send this to WRAL on Sunday.

[2018-09-13 14:04] jhibbets opened #1205 "Red Hat passes"

[2018-09-13 14:05] jhibbets commented on #1205
@zachambrose @ChrisTheDBA  did either of you coordinate with Red Hat about their passes / scholarships. I'm happy to do this, I just don't want to do it if it's been done already.

[2018-09-13 14:08] jhibbets commented on #1199
Done. I also removed Adam Martin, Ashsley, and Natalie.

[2018-09-13 14:08] #1199 closed, assigned to zachambrose

[2018-09-13 14:09] jhibbets commented on #1176
We'll tweak ad needed, but this is done.

[2018-09-13 14:09] #1176 closed, assigned to jhibbets

[2018-09-13 14:09] jhibbets opened #1206 "Reach out to FirstNet and coordinate speaking time"

[2018-09-13 14:22] jtawes commented on #1199
I'm still awaiting a response from an email I sent out to the additional
organizers for pictures and info. I sent a follow up email this morning.

On Thu, Sep 13, 2018 at 10:09 AM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-13 15:40] ChrisTheDBA commented on #1205
I will email Yolanda.

Chris Mathews

On Thu, Sep 13, 2018 at 10:06 AM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-13 15:51] jhibbets commented on #1205
What's the over under that see sends it to me?

[2018-09-13 15:59] ChrisTheDBA commented on #1205
I don’t want none of that action.

[2018-09-13 16:00] jhibbets opened #1207 "Review ticket types"
All - I just updated the eventbrite ticket types to make the names more clear. I originally had NC Open Pass on all types. I removed that and added which days/portions of the the event each ticket was good for. I also added a free ticket to lightning talks only and lowered the number of available tickets.

Can you please have a look and give me feedback, anything not clear, needs updating, or miss

[2018-09-13 16:03] jhibbets opened #1208 "Civic camp event blocks on website"
Can you make sure all the event civic camp blocks on the site have the correct times?

This is the master schedule: http://ncopenpass.com/civic-camp/civic-camp-schedule/

For example, this page has the wrong times listed:
http://ncopenpass.com/civic-camp/

[2018-09-13 17:00] jcwlib commented on #1207
Looks good to me - I like the flexibility!

[2018-09-13 17:06] jcwlib commented on #1189
@jhibbets - looks like we are good to go - @zachambrose, @ChrisTheDBA  - any concerns?

[2018-09-13 17:13] jcwlib commented on #1208
@jtawes I would recommend we take the image of the Civic Camp Flyer off the main page.

[2018-09-13 17:22] jcwlib opened #1209 "Need to pull together social media list for Civic Camp speakers/judges"
Previous year's the social meida list was on the detailed schedule page

[2018-09-13 17:24] jtawes commented on #1208
Do you want to place it somewhere else? I just made the edits and re-uploaded it.

[2018-09-13 17:29] jcwlib commented on #1208
Oh - I forgot that you had the original files - that works ;)

On Thu, Sep 13, 2018 at 1:24 PM jtawes <notifications@github.com> wrote:

[2018-09-13 17:32] ChrisTheDBA commented on #1189
Well, yes but not with the post. looks good
Chris Mathews

On Thu, Sep 13, 2018 at 1:07 PM Janel <notifications@github.com> wrote:

[2018-09-13 17:40] jtawes commented on #1208
I deleted the incorrect flyers and uploaded the edited version to the shared drive.

[2018-09-13 17:41] jtawes commented on #1185
I'm working on this right now, do we have a contact at WeWork we can reach out to and ask for an 'eps' or 'svg' file of their logo? I only have a jpeg and I'm afraid it will look grainy when it is printed at this size.

[2018-09-13 17:44] ChrisTheDBA commented on #1207
Very explicit, but a lot of text and I gave up. I hope I'm the exception.
"The goldfish effect"

Chris Mathews

On Thu, Sep 13, 2018 at 1:00 PM Janel <notifications@github.com> wrote:

[2018-09-13 17:47] ChrisTheDBA commented on #1185
Coordinate with @snewt_n. I believe she already did it
Chris Mathews

On Thu, Sep 13, 2018 at 1:41 PM jtawes <notifications@github.com> wrote:

[2018-09-13 17:48] jtawes commented on #1185
Here is the first draft of the partners poster
![CivicCampPartnersPoster.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b6b412c71616500119ddf73/125516c66e82c728ace21e0d46cb9d8c2a81a0a882f98f42b649fe913b55177c3a10a63932c9a138ad4d71040c1b5ca6535d5910a9fa882ba7b539748a5d0cb9846d5d25973416a5ee9003ad43eb7edf10d8eff6df0ed2e22f24e0818e4a3d180d1e89f75535a49c42da15.png)

[2018-09-13 17:50] jtawes commented on #1209
was citycampnc.org taken down?

[2018-09-13 17:52] jhibbets commented on #1209
No, looks like a server error. @christhedba - that's on your AWS??

[2018-09-13 17:54] jhibbets commented on #1209
Nope, its on Just Host

[2018-09-13 18:08] ChrisTheDBA commented on #1209
I don't know anything about it. It's still running on my AWS...for now. :)
Chris Mathews

On Thu, Sep 13, 2018 at 1:54 PM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-13 18:30] jhibbets opened #1210 "citycampnc.org site is missing public html files"
If you try to visit the citycampnc.org / .com sites, you'll see we get an error message - "Error establishing a database connection"

I opened a support chat with the hosting company, Just Host, and discovered that the Word Press install is missing. In fact, all files in public HTML folder are gone.

I'm not how this happened. The WP database is still in tact. The last change I made was to update

[2018-09-13 20:21] jtawes commented on #1185
I contacted Sophia and made corrections:
![CivicCampPartnersPosterV2.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b6b412c71616500119ddf73/125516c66e82c728ace21e0d46cb9d8c2a81a0a882f98f42b649fe913b55177c3a10a63946d7a164fd52690e050a1de853524d41faaddc28a7b63d738f580becd6390a74c46c40a5bf8b49ad1da862da11d1e9e1d30695aa2f2ff58a88453f1b061e81f85d35a9904bcf5ee406.png)

[2018-09-13 21:02] dtraleigh commented on #1110
Mevo worked today while at The Annex so we should be good there. We'll need the hotspot for Artspace. Done with the Mevo tests.

[2018-09-13 21:03] #1110 closed, assigned to ChrisTheDBA, dtraleigh

[2018-09-13 21:03] dtraleigh opened #1211 "Confidence Monitor"
@jhibbets to bring.

[2018-09-13 21:04] dtraleigh commented on #1211
Need to know what cable we need for it. Leo to figure out how to drive all the monitors from one laptop.

[2018-09-14 14:48] jhibbets opened #1212 "Send speaker details"
- [ ] How to register
- [ ] When slides are due
- [ ] Logistics

[2018-09-14 14:49] jhibbets opened #1213 "Add speaker invitations to calendar"
Be sure to send each speaker a calendar invite with their time slot

[2018-09-14 18:56] #1207 closed, assigned to ChrisTheDBA, jhibbets, jcwlib, zachambrose

[2018-09-14 19:52] #1204 closed, assigned to jhibbets

[2018-09-14 19:54] #1202 closed, assigned to jhibbets

[2018-09-14 19:56] jhibbets commented on #1189
Send to Rick

[2018-09-14 19:56] #1189 closed, assigned to jhibbets, jcwlib

[2018-09-14 19:56] #1164 closed, assigned to jhibbets

[2018-09-14 20:17] jhibbets opened #1214 "Build speaker contact sheet"

[2018-09-14 20:17] jhibbets opened #1215 "Update schedule for AT&T First Responder speaker"

[2018-09-14 20:27] #1215 closed, assigned to jhibbets

[2018-09-14 20:27] #1206 closed, assigned to jhibbets

[2018-09-14 21:18] #1214 closed, assigned to jhibbets

[2018-09-14 21:18] #1212 closed, assigned to jhibbets

[2018-09-14 21:18] jhibbets commented on #1134
Mine have been updated and sent.

[2018-09-14 21:19] jhibbets opened #1216 "Add calendar invite for QGIS training"

[2018-09-14 22:00] #1213 closed, assigned to jhibbets

[2018-09-14 22:09] #1216 closed, assigned to jhibbets

[2018-09-14 22:14] jhibbets commented on #1158
Who can help close this out early next week? I want to make sure that Jeff has everything he needs to be successful. A few questions / items:

- I just sent out the reg info for the event
- We can communicate that everyone needs to have a laptop - Are there other pre-reqs for this?
- I just created a new ticket type for QGIS training (Saturday / free)
- We also need to promote this, I will open a

[2018-09-14 22:17] jhibbets opened #1217 "Marketing for GQIS training"
We could use some help with promoting the QGIS training for Saturday. Perhaps:
 - [x] short blog post with CTA to register using ticket type: Civic Camp - QGIS training only (Saturday) - note seating is capped at 40
- [ ] social media
- [ ] mention in next newsletter

Participants should bring their own laptop.

What other details do you need?

ref: #1158

[2018-09-14 22:34] jhibbets commented on #1188
I created 4 ticket types that are on auto-hide until they go on sale on Sep 21 @ noon.

early bird - $25
attendee - $35
student - $10
elected official / first responders - $0

All sales end on nov 8 at 8pm.  Please let me know if I've missed anything here.

cc @zachambrose

[2018-09-14 22:34] #1188 closed, assigned to ChrisTheDBA, jhibbets, jcwlib, zachambrose

[2018-09-14 22:35] jhibbets commented on #1205
FYI - Last year I gave the Red Hat  scholarships to ChickTech.

[2018-09-14 22:58] #1205 closed, assigned to ChrisTheDBA, jhibbets

[2018-09-14 22:59] jhibbets opened #1218 "Build Civic Camp master slides - morning keynotes + panel sessions 1"

[2018-09-14 22:59] jhibbets opened #1219 "Build Civic Camp master slides - morning keynotes + panel sessions 2"

[2018-09-14 23:00] jhibbets opened #1220 "Build Civic Camp master slides - unconference"

[2018-09-14 23:03] jhibbets opened #1221 "Build Civic Camp master slides - lightning talks"

[2018-09-14 23:13] jhibbets opened #1222 "Write blog post about CfA Hurricane Florence efforts"
highlight civic tech effort from CfA
- [ ] what was the end result of the shelter resource
- [ ] how did it happen
- [ ] CTA - register for civic camp this week
Wait until Monday to post

[2018-09-15 12:04] #1208 closed, assigned to jtawes

[2018-09-15 12:05] jcwlib commented on #1185
updated poster looks good to me @zachambrose do things look right to you?

[2018-09-15 13:38] snewt-n commented on #1185
please alphabetize names of sponsors within level to avoid the appearance of preference

[2018-09-15 14:05] jtawes commented on #1185
![CivicCampPartnersPoster.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b6b412c71616500119ddf73/125516c66e82c728ace21e0d46cb9d8c2a81a0a882f98f42b649fe913b55177c3a10a63932c9a138ad4d71040c1b5ca6535d5910a9fa882ba7b539748a5d0cb9846d5d25973416a5ee9003ad43eb7edf10d8eff6df0ed2e22f24ee818e4a3d19051a89fc5d32a2914dda15.png)

[2018-09-16 13:38] jtawes commented on #1209
I've created a small spreadsheet because I had to try and look up a lot of missing information on all of the speakers. I wasn't able to find twitter accounts for everyone but was able to find linkedin accounts for everyone except Alvarez.  How would you like this presented? Should I only show those speakers with twitter handles? Should I include linkedin info for everyone or just use linkedin for

[2018-09-16 13:39] jtawes commented on #1209
I moved it to the Marketing Folder, here is the spreadsheet:
https://drive.google.com/open?id=1YWffu3bSHkhJG-0MzSKkKHA1hzNcrvkn

[2018-09-16 15:26] jhibbets commented on #1209
I created a speaker contact list the other day, I hope it wasn't too much
effort for the work you did:
https://docs.google.com/spreadsheets/d/11CXgAQJA-dM62G0WrxmCvvTIhX9FacUDZ5aD4ZzthN8/edit#gid=0

I would show the social media accounts that we have and if they don't have
Twitter for example, then don't show the icon. I would not share their
email.

Jason

On Sun, Sep 16, 2018 at 9:39 AM jtawes <

[2018-09-16 16:56] jtawes commented on #1209
We don't have any social media for Alvarez, do I just leave him off of the guide? Also, I have a found some twitter handles that aren't on your list, I replaced the twitter handles you had with some of the ones I found. Should I include the twitter handles I found for the people you don't have ones for?

[2018-09-16 20:21] jcwlib commented on #1222
I can schedule on social media for mid-day post - 12:00 pm or 1:00 pm - just let me know

[2018-09-16 20:23] jcwlib opened #1223 "schedule social media for 9/17-9/20"
Planning to post on Twitter once an hour between 9-5 with 3-4 posts on Facebook.

There are some gaps right now so I can move around things on the schedule if needed - just reach out

[2018-09-16 20:24] jcwlib commented on #1217
right now I have the first mention on social media scheduled for Tuesday (9/18) but we can be flexible based on responses from Jeff

[2018-09-16 20:51] jcwlib commented on #1209
I would just use the City of Fayetteville for Alvarez - that's what I did for the social media tweets about the keynotes.  If we are able to find social media handles for presenters - I would include them.

[2018-09-16 20:52] jcwlib commented on #1185
@ChrisTheDBA  - ready for printing

[2018-09-16 20:53] jcwlib commented on #1178
@jtawes - we have an additional speaker for Friday night - Corky Over from AT&T First Net - he provided details in the keynotes spreadsheet - https://docs.google.com/spreadsheets/d/11NZJ7bWNhqgrMdcwnD5Xs7R1U4ngPwkqgfObHaGTh98/edit#gid=1081861876

[2018-09-16 21:44] jcwlib commented on #1138
- 4 "Civic Camp this way" signs for 2 A frames - dimensions 24'W x 36'H
- 3' x 3' Podium Sign - Civic Camp Logo (perhaps with @ncopenpass handle and #civiccampnc hashtag)
- '3 x 5' Welcome Sign - "Welcome" in middle with "Follow and tweet the event @ncopenpass #civiccampnc
- Need directional signs for Artspace (Friday evening events)
 From Leo: for the artspace directional signs, can you add that

[2018-09-16 21:48] jcwlib opened #1224 "Newsletter - 9/18"
Planning to send out a newsletter on Tuesday - Wednesday at the latest - focusing on Civic Camp registration and detailed schedule

[2018-09-16 22:08] ChrisTheDBA commented on #1138
The largest we can get is 24" by 36" Those are $55 each.

On Sun, Sep 16, 2018 at 5:44 PM Janel <notifications@github.com> wrote:

[2018-09-16 23:33] jhibbets commented on #1209
Thanks!

[2018-09-16 23:45] zachambrose commented on #1192
1 from Ann at DevOps days
Total - 16 scholarship tickets

[2018-09-17 13:48] jcwlib commented on #1158
@jhibbets - I'll follow up with Jeff

[2018-09-17 14:10] jtawes commented on #1178
Added Corky to speakers page under 'Keynote Speakers'

On Sun, Sep 16, 2018 at 4:53 PM Janel <notifications@github.com> wrote:

[2018-09-17 15:25] jcwlib commented on #1198
first message to all registrants in draft - targeting Wednesday evening to send - need to pull list of registrants out of EventBrite and make a new list in MailChimp

[2018-09-17 15:41] jcwlib commented on #1198
messages for all day Friday and Friday evening only are drafted

[2018-09-17 16:04] ChrisTheDBA commented on #1198
You can email directly from Eventbrite.  I believe this is the method used
in the past.

On Mon, Sep 17, 2018 at 11:45 AM Janel <notifications@github.com> wrote:

--
Chris Mathews

[2018-09-17 17:47] jhibbets commented on #1198
We can schedule these in EventBrite, where can I review the emails?

[2018-09-17 18:07] jhibbets opened #1225 "Announce Civic Camp via MeetUp"

[2018-09-17 18:10] jhibbets opened #1226 "Send out meeting notes from 9/10"

[2018-09-17 18:11] jhibbets opened #1227 "Host weekly meeting - Sep 17"

[2018-09-17 18:18] #1226 closed, assigned to jhibbets

[2018-09-17 18:18] #1225 closed, assigned to jhibbets

[2018-09-17 18:18] jhibbets opened #1228 "Send Civic Camp details to Red Hat list"

[2018-09-17 18:26] #1228 closed, assigned to jhibbets

[2018-09-17 18:30] jhibbets commented on #1211
HDMI and compostite

[2018-09-17 19:50] dtraleigh commented on #1211
Does anyone have a fairly long HDMI cable?

On Mon, Sep 17, 2018 at 2:30 PM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-17 19:56] ChrisTheDBA commented on #1211
6’ 8’

On Mon, Sep 17, 2018 at 3:50 PM Leo Suarez <notifications@github.com> wrote:

--
Chris Mathews

[2018-09-17 20:38] jcwlib commented on #1222
Posted on website and sent out on social media

[2018-09-17 20:38] #1222 closed, assigned to ChrisTheDBA

[2018-09-17 20:39] jcwlib commented on #1198
Here are the draft messages so far - I'll work on getting the ones for the saturday crew this evening.

https://docs.google.com/document/d/1phdCsVeuEVIm8OFRo5SuPmvFYN0uSwbBVujNxKe1WGU/edit?usp=sharing

[2018-09-17 21:16] jmpmcmanus opened #1229 "Make bit.ly link to data survey, and include it in survey introduction."

[2018-09-17 21:16] #1229 closed, assigned to jmpmcmanus

[2018-09-17 21:17] #1042 closed, assigned to jmpmcmanus

[2018-09-17 22:01] dtraleigh commented on #1211
I have 6' which I think is too short.

On Mon, Sep 17, 2018 at 3:56 PM Chris Mathews <notifications@github.com>
wrote:

[2018-09-17 23:03] zachambrose opened #1230 "update team submission form"

[2018-09-17 23:15] zachambrose opened #1231 "Update ATO team registration form"

[2018-09-17 23:16] zachambrose commented on #1230
@jhibbets Updated for September 22nd. It's in the Open Data folder.

[2018-09-17 23:16] #1230 closed, assigned to zachambrose

[2018-09-17 23:17] #1227 closed, assigned to jhibbets

[2018-09-17 23:30] zachambrose commented on #1231
@jhibbets The form is in the open data folder. We need to update (or remove) the day and time for the pitches at ATO. Hopefully we can confirm a time and include it in the form.

[2018-09-17 23:31] zachambrose commented on #1184
Completed last week. I was just slack on the card!

[2018-09-17 23:31] #1184 closed, assigned to zachambrose

[2018-09-17 23:31] #1071 closed, assigned to ChrisTheDBA, zachambrose

[2018-09-17 23:31] zachambrose commented on #1181
Form is ready.

[2018-09-17 23:31] #1181 closed, assigned to zachambrose

[2018-09-17 23:32] zachambrose commented on #1180
It's ready to go.

[2018-09-17 23:32] #1180 closed, assigned to zachambrose

[2018-09-17 23:32] zachambrose opened #1232 "Send judging criteria and forms to judges"

[2018-09-17 23:33] zachambrose opened #1233 "Friday afternoon: Print judging forms and criteria for judges and bring to Civic Camp"

[2018-09-18 00:52] jcwlib commented on #1224
Decided to send out Wednesday - focusing on the new blog content as well as registration

[2018-09-18 00:53] jcwlib opened #1234 "Press release for hurricane efforts"
Need to pull together a press release around the hurricane blog post and civic camp details to be shared with News 14 and N&O

[2018-09-18 00:53] jcwlib opened #1235 "Draft follow-up message for Civic Camp attendees"

[2018-09-18 00:55] jcwlib opened #1236 "Build electronic unconference board"
based on last year's blog post-http://ncopenpass.com/blog/friday-september-23-unconference-schedule-the-grid/

[2018-09-18 00:55] jcwlib commented on #1236
@jhibbets to provide more details (if needed)

[2018-09-18 00:56] jcwlib opened #1237 "Need blog post with hackathon judging critera"
Take Zach's judging criteria and post in a blog post to be referenced during the Civic Camp hackathon

[2018-09-18 00:59] #1178 closed, assigned to jcwlib, jtawes

[2018-09-18 00:59] #1138 closed, assigned to jtawes

[2018-09-18 00:59] #1185 closed, assigned to snewt-n, jtawes

[2018-09-18 00:59] #1134 closed, assigned to ChrisTheDBA, jcwlib, zachambrose

[2018-09-18 01:00] #1112 closed, assigned to ChrisTheDBA, jcwlib, TaxLadyTracy, jtawes

[2018-09-18 01:00] #1111 closed, assigned to ChrisTheDBA, jcwlib

[2018-09-18 01:20] jcwlib commented on #1198
@jhibbets - messages are ready for your review.  I wasn't sure if you want to send a separate email to just the people who sign up for the QGIS training or not.  Just let me know.

[2018-09-18 01:24] jcwlib commented on #1230
updated the logo and made a few edits (date and branding wise)

[2018-09-18 02:02] jhibbets commented on #1236
@jtawes Let me know if you have any questions.

- [ ] Sessions times are: 1pm, 2pm, 3pm, 4pm.
- [ ] Room names: Pender/Dodgeball (80), New Hanover/Red Rover (25), Brunswick (15), Carteret (15)

[2018-09-18 02:05] jhibbets commented on #1236
Oh, and we talked about opening the pantry at 3pm so we can have a 5th column with Taco bar at 1pm and 2pm, then add room name Onslow (15)

[2018-09-18 02:13] jhibbets commented on #1211
MB might have one at work, will know tomorrow.

[2018-09-18 02:35] jhibbets commented on #1158
We don't have any sign-ups for the training yet, any thought on how to generate some interests here?

[2018-09-18 02:36] jcwlib commented on #1234
https://docs.google.com/document/d/1XYZ-qqKHLzNmO0OrAR0p07Rxat4Lm1TkwO3K5sKG92Y/edit?usp=sharing

[2018-09-18 02:37] jcwlib commented on #1234
@zachambrose  and @jmpmcmanus - ready to share with News 14 and News & Observer

[2018-09-18 02:37] #1234 closed, assigned to jcwlib

[2018-09-18 02:38] jcwlib commented on #1158
I was planning to start promoting tomorrow - just waiting to hear back from Jeff on the pre-reqs question.

[2018-09-18 02:48] jhibbets commented on #1198
I have reviewed and made minor updates.

[2018-09-18 02:49] jhibbets commented on #1198
Let's hold off on the training email since no one has signed up and we are
waiting on pre-reqs.

[2018-09-18 13:15] clrudderWC commented on #1158
@jhibbets first thoughts might be to send me materials and i can promote through the NCGIS listserv via UNC-Chapel Hill. We can have Jeff contact students at NCSU, and it might be good to tap Jason Baker since he and his wife are hooked in to the OSGeo community.

[2018-09-18 14:03] ChrisTheDBA commented on #1158
Jason B is on the attendees' list, so feel free to reach out. ncsu.edu is
the second most popular domain for registrants, so maybe they've already
heard

A friend has shared this dataset of aerial imagery from Florence
http://www.digitalglobe.com/opendata/hurricane-florence/pre-event. Might
make a good project to study.

Chris Mathews

On Tue, Sep 18, 2018 at 9:15 AM Charles Rudder <notifications@

[2018-09-18 14:19] jhibbets opened #1238 "Add Quote to hurricane relief press release"

[2018-09-18 14:19] jhibbets opened #1239 "Print unconference pitch sheets"

[2018-09-18 14:19] #1238 closed, assigned to jhibbets

[2018-09-18 15:31] jhibbets commented on #1158
Good stuff. I think we are close to having promotional blog post ready.

[2018-09-18 16:35] jcwlib commented on #1158
Blog post is up and added to social media
http://ncopenpass.com/blog/free-gis-training-to-be-held-at-civic-camp-2018/

On Tue, Sep 18, 2018 at 11:34 AM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-18 16:52] jhibbets opened #1240 "Send list of attendees to Red Hat security"

[2018-09-18 16:52] jhibbets commented on #1198
Going to add some stuff about Red Hat security

[2018-09-18 16:54] ChrisTheDBA commented on #1240
Do you want I should do that or are you reminding yourself?

Chris Mathews

On Tue, Sep 18, 2018 at 12:52 PM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-18 17:01] jhibbets commented on #1158
@clrudderWC I spoke with @jehb and he recommended that Jeff sent out an update to the GIS mailing list and post to social media about the training.

[2018-09-18 17:01] jhibbets commented on #1158
nice work @jcwlib

[2018-09-18 17:14] jhibbets commented on #1240
This is a reminder for me. I need to send the list of name to security in
advance of the event per our guidelines.

[2018-09-18 17:59] clrudderWC commented on #1158
@ChrisTheDBA GIS and Remote Sensing, while related, are very different animals. Using the imagery as a backdrop for creating vector data might be doable, but explaining raster data effectively would be difficult in the time we have. There are some freely available imagery service that we might tap into for the training that are pre and post storm that I can pull together and post here.

[2018-09-18 18:03] clrudderWC commented on #1158
**NOAA post hurricane imagery Coastal areas:** https://storms.ngs.noaa.gov/storms/florence/index.html#7/35.360/-77.820 (web map)
https://storms.ngs.noaa.gov/storms/tilesi/services/tileserver.php/wmts (tile service that should ingest to QGIS)
**Animal Operations in NC**
https://data-ncdenr.opendata.arcgis.com/datasets?q=animal%20operation (open data portal for NCDENR)
https://data-ncdenr.opendata.a

[2018-09-18 19:32] #1223 closed, assigned to jcwlib

[2018-09-18 19:32] #1217 closed, assigned to jhibbets, jcwlib

[2018-09-18 19:32] #1158 closed, assigned to ChrisTheDBA, jhibbets, jcwlib, zachambrose

[2018-09-18 20:35] jcwlib commented on #1192
Posted generally on twitter about scholarships being available - listed the new gmail account as the way to request them @jhibbets

[2018-09-18 21:01] jcwlib commented on #1198
Messages added and scheduled in EventBrite.  @jhibbets Do we need to include the NC Open Pass early birds and regular folks as well as the CivicCamp specific tickets?

[2018-09-18 21:16] jhibbets commented on #1198
If MailChimp removes duplicates, then we should send these details to appropriate ticket types per messaging. I've sent two emails asking for Open Pass holders to sign-up for specific Civic Camp tickets.

[2018-09-18 21:32] jcwlib commented on #1224
test email sent out for review

[2018-09-18 21:35] jcwlib commented on #1192
Included in the newsletter going out tomorrow as well.

[2018-09-18 21:35] #1113 closed, assigned to ChrisTheDBA, dtraleigh, jcwlib, TaxLadyTracy, jtawes

[2018-09-19 02:49] jhibbets commented on #1211
She forgot to check today, I'll have to remind her tomorrow. I tested the monitor today with my laptop, things worked great.

@dtraleigh do you need to get some type of splitter to have A/V going to the confidence monitor and the wall inputs?

[2018-09-19 02:53] jhibbets commented on #1224
Test looks good to me.

[2018-09-19 04:17] jhibbets commented on #1197
Need anything else from me here? TBH I think we can use some of the beverages in the fridge, we'll just hide the snacks.

[2018-09-19 12:17] TaxLadyTracy commented on #1197
I think I'm good this was just my reminder.  I did order tea and I know
there is a water refill station on site so that helps.

On Wed, Sep 19, 2018 at 12:17 AM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-19 12:43] dtraleigh commented on #1211
Tonight, I'll try to see if my laptop can drive two monitors. If not, I'll
have time on Thursday to get a splitter.

On Tue, Sep 18, 2018 at 10:49 PM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-19 12:49] jhibbets opened #1241 "Homepage has wrong Red Hat logo"
Please use the long form logo

[2018-09-19 12:49] #1197 closed, assigned to ChrisTheDBA, jhibbets, TaxLadyTracy

[2018-09-19 12:50] zachambrose opened #1242 "Send Gmass to first responders"

[2018-09-19 12:50] zachambrose commented on #1242
Done.

[2018-09-19 12:50] #1242 closed, assigned to zachambrose

[2018-09-19 12:53] jcwlib commented on #1224
sent

[2018-09-19 12:53] #1224 closed, assigned to jcwlib

[2018-09-19 13:33] clrudderWC commented on #1158
I know this is closed, but wanted to make one last update.

Our contact at NCSU is sending the blog post over to the Center for Geospatial Analytics graduate coordinator to post to the three listservs we chatted about:
<cga-students@lists.ncsu.edu>,
<cga-mgist@lists.ncsu.edu>,
<cga-cert@lists.ncsu.edu>

[2018-09-19 13:44] jhibbets opened #1243 "Invite Fayettecill CIO + Staff"

[2018-09-19 13:57] #1243 closed, assigned to jhibbets

[2018-09-19 14:38] jtawes commented on #1236
I created a draft post titled "Unconference Grid - 2018". I created the
empty table with the conference rooms as headers. I also set up the post to
show a different version on mobile since the table would be cut off at that
size, so you will see the table on Desktop and Tablet but on mobile it
converts to sections by time.

On Mon, Sep 17, 2018 at 10:05 PM Jason Hibbets <notifications@github.com>

[2018-09-19 14:41] jtawes commented on #1241
Fixed

On Wed, Sep 19, 2018 at 8:50 AM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-19 16:44] #1241 closed, assigned to jhibbets, jtawes

[2018-09-19 16:48] jhibbets commented on #1236
@jtawes looks great, thanks for helping me get it set-up

[2018-09-19 16:48] #1236 closed, assigned to jhibbets, jtawes

[2018-09-19 18:10] dtraleigh commented on #1104
For Manhattan Cafe, all ordering should be done online. Anything we need, we need to order 24 hours in advance so if we want to go with them for Saturday, we need the order in early Friday.

I talked to them just now and really, the easiest way is to just place the order here: https://manhattancafenc.com/catering/

We don't need delivery cause the food will be ready for us at the cafe on Wilmingto

[2018-09-19 18:30] jhibbets commented on #1211
I have a 25 ft HDMI cable, should be enough

[2018-09-19 18:42] ChrisTheDBA commented on #1194
Wake County is launching a new transparency portal. Please tell us what we did wrong. Need video.

[2018-09-19 18:43] ChrisTheDBA commented on #1194
Code for San Francisco started a Data Science Working Group. We could totally do that too! https://codeforsanfrancisco.org/projects/the-data-science-working-group/

[2018-09-19 19:29] dtraleigh commented on #1211
That is solid! Please bring.

On Wed, Sep 19, 2018 at 2:30 PM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-20 00:57] dtraleigh commented on #1211
I can push two monitors from my laptop. I'd feel better with a longer Lightning-to-HDMI cable though so will pick one up just in case. (will save receipt)

Between this and the loaner laptop as a backup, we should be good. Let me close this ticket.

[2018-09-20 00:57] #1211 closed, assigned to dtraleigh, jhibbets

[2018-09-20 00:58] #1107 closed, assigned to ChrisTheDBA, dtraleigh, TaxLadyTracy

[2018-09-20 15:21] jhibbets opened #1244 "Add meet-ups to slide deck"

[2018-09-20 23:45] jhibbets opened #1245 "Chairs for panel"
Great task for volunteers

Prior to beginning, we will need to be set-up for the panel, 5 high-top chairs that we can grab from the pantry. as we transition form the panel to first keynote, we will need volunteers to move the chairs from the center of the room to the side.

Also, after the break, we will need to have volunteers return the chairs to the same set-up ** after the two keynotes wrap up

[2018-09-20 23:50] jhibbets opened #1246 "Organizer page"
Jennifer - why aren't you on the organizers page?

[2018-09-21 00:01] jtawes commented on #1246
I have another waffle ticket related (#1161), there are multiple people to add and I sent out emails twice asking for information from each person (title,organization,photo that they wanted included). I was waiting for a response so I could put everyone on there but I haven't heard back from anyone. I just forgot about myself while waiting I guess :)

[2018-09-21 00:38] jhibbets opened #1247 "Add speaker: Eric Marsh"
Can we add:

Eric Marsh, Strategic Initiative Analyst at Durham County, to the Innovate Durham lightning talk

 - [x] speaker page
 - [x] schedule page
 - [x] social media guide (if on social media)

I'm busy pulling all the presentations together ^jh

[2018-09-21 00:45] jhibbets commented on #1247
Twitter is: @TheMarshMethod

[2018-09-21 00:50] jtawes commented on #1247
Does he have a title for his talk or a description? I have his bio

[2018-09-21 00:52] jcwlib commented on #1247
I believe he is speaking with Ben in the Innovate Durham Lightning talk. So
whatever you have for Ben - you can put with Eric

On Thu, Sep 20, 2018 at 8:50 PM jtawes <notifications@github.com> wrote:

[2018-09-21 01:03] jtawes commented on #1247
Done!

[2018-09-21 01:33] jhibbets commented on #1195
done

[2018-09-21 01:33] #1195 closed, assigned to jhibbets

[2018-09-21 01:37] #1244 closed, assigned to jhibbets

[2018-09-21 01:37] #1198 closed, assigned to jhibbets, jcwlib

[2018-09-21 01:41] jhibbets commented on #1247
Thanks. that's correct, he is co-presenting with Ben. Sorry for not
including that detail, I copied it from an email.

[2018-09-21 02:07] jhibbets opened #1248 "Add missing slides"
- [x] Corky / FirstNET
- Janelle / Traffic

[2018-09-21 02:07] #1218 closed, assigned to jhibbets

[2018-09-21 02:07] #1219 closed, assigned to jhibbets

[2018-09-21 02:46] #1221 closed, assigned to jhibbets

[2018-09-21 02:46] #1220 closed, assigned to jhibbets

[2018-09-21 02:46] jhibbets opened #1249 "Make unconference pitch sheet"

[2018-09-21 03:24] #1249 closed, assigned to jhibbets

[2018-09-21 03:25] jhibbets opened #1250 "Final communications with speakers"

[2018-09-21 03:35] #1250 closed, assigned to jhibbets

[2018-09-21 03:35] #1240 closed, assigned to jhibbets

[2018-09-21 03:35] jhibbets opened #1251 "Set-up confidence monitor"

[2018-09-21 03:36] LauraMB12 commented on #1194
How can we create a better way to connect people with resources / services? Maybe a more human/user-centered approach, instead of lists/directories of resources. (e.g. 211, Durham Network of Care [http://durham.nc.networkofcare.org/mh/(url) )
Multiple aspects to consider:
- How to create something that's easy for residents to use
- How to create something that minimizes the effort needed to keep i

[2018-09-21 03:37] jhibbets opened #1252 "Bring NC Open Pass items"
- [x] confidence monitor, power cord, remote, HDMI cable
 - [x] Oreilly boxes
 - [x] Printed materials
 - [x] Orange bag with easles
 - [x] OSDC cart

[2018-09-21 03:39] jhibbets opened #1253 "Create digital grid and publish blog post"

[2018-09-21 03:43] LauraMB12 commented on #1194
How can civic tech help during emergency situations? (e.g. hurricanes)
What problems are not being addressed by other organizations? How can we fill these gaps?

[2018-09-21 03:49] LauraMB12 commented on #1194
How can civic tech help schools?
(We do a lot with cities and counties, but not school systems.)

[2018-09-21 03:50] LauraMB12 commented on #1194
How can we tell if our projects make a difference? How do we measure / monitor / evaluate success / impact?

[2018-09-21 03:54] LauraMB12 commented on #1194
How can we increase the diversity of people involved in our projects / events?
(age, gender, race, ethnicity, education level, disability, technical experience, location, etc.)

[2018-09-21 17:50] #1194 closed, assigned to ChrisTheDBA, jhibbets

[2018-09-21 17:51] jhibbets commented on #1194
Final: http://ncopenpass.com/blog/unconference-grid-2018/

[2018-09-21 17:52] jhibbets commented on #1253
We borked the mobile version, waiting to update that.

[2018-09-21 17:52] #1252 closed, assigned to jhibbets

[2018-09-21 17:52] #1251 closed, assigned to jhibbets

[2018-09-21 17:52] #1239 closed, assigned to jhibbets

[2018-09-21 17:53] jhibbets commented on #1191
mon 22 form 12:30 - 1:30

Need to send the description

[2018-09-21 18:13] jhibbets commented on #1253
@jcwlib

1) can you switch:

Using Data to Convince People to Attend Public Schools  / Open Data for Advocacy

Greg Herschlag / Doug Johnston at 3pm

with

Organizing Volunteer coding during emergencies

Phillip Lamb at 4pm

so that  Organizing Volunteer coding during emergencies is at 3pm and Using Data to Convince People to Attend Public Schools  / Open Data for Advocacy
 is at 4pm.

2) remove W

[2018-09-21 18:27] jcwlib commented on #1253
All set!

On Fri, Sep 21, 2018 at 2:13 PM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-21 18:38] #1253 closed, assigned to jhibbets, jcwlib

[2018-09-21 18:43] #1247 closed, assigned to jtawes

[2018-09-21 18:43] #1245 closed, assigned to dtraleigh

[2018-09-21 18:43] #1209 closed, assigned to jcwlib, jtawes

[2018-09-21 18:43] #1173 closed, assigned to ChrisTheDBA, snewt-n, jcwlib, TaxLadyTracy, jtawes

[2018-09-21 18:43] #1108 closed, assigned to TaxLadyTracy, jtawes

[2018-09-21 18:43] #1109 closed, assigned to ChrisTheDBA, dtraleigh

[2018-09-21 18:44] jcwlib commented on #1198
added a message for the QGIS training folks to go out tonight

[2018-09-21 18:50] jcwlib commented on #1237
this blog post is in draft mode ready for post first thing in the morning @jhibbets

[2018-09-21 19:17] jhibbets opened #1254 "Speaker gifts delivered"
- [ ] Lori Bush
 - [ ] Bonnie Danahy
 - [x] Carter Vickery
 - [ ] Anise Vance
 - [x] Janelle Bailey
 - [x] Jason Jones
 - [x] Gregory Herschlag
 - [x] John Stephens
 - [x] Laura Biediger
 - [x] Jill Bjers
 - [ ] Sagar Mishra
 - [x] Phillip Lamb
 - [ ] Marlo Gaddis
 - [x] Corky Over
 - [x] Dan Moore
 - [x] Chad Foley
 - [x] Melanie Mazanec
 - [x] Gretchen McNeely
 - [x] Eric Marsh
 - [x] Ben Kittel

[2018-09-21 19:22] #1248 closed, assigned to jhibbets

[2018-09-21 20:43] jhibbets opened #1255 "Send list of attendees to Red Hat security - day 2"

[2018-09-21 20:59] #1255 closed, assigned to jhibbets

[2018-09-22 11:48] jcwlib commented on #1237
posted on website - ready for this morning

[2018-09-22 11:48] #1237 closed, assigned to jcwlib, jtawes

[2018-09-22 11:48] #1115 closed, assigned to ChrisTheDBA, dtraleigh, TaxLadyTracy

[2018-09-22 11:48] #1116 closed, assigned to ChrisTheDBA, dtraleigh

[2018-09-22 11:49] #1177 closed, assigned to ChrisTheDBA, dtraleigh, TaxLadyTracy

[2018-09-22 11:49] #1171 closed, assigned to TaxLadyTracy

[2018-09-22 11:49] #1182 closed, assigned to ChrisTheDBA, TaxLadyTracy

[2018-09-22 11:49] #1102 closed, assigned to dtraleigh, TaxLadyTracy

[2018-09-22 11:49] #1101 closed, assigned to dtraleigh, TaxLadyTracy

[2018-09-22 11:51] jcwlib opened #1256 "Draft September Newsletter"
- [x] recap of Civic Camp
 - [x] data survey promotion
 - [x] promote meetups on Oct 2 & Oct 9
 - [x]  ATO teams signup
 - [x] what we're reading

[2018-09-22 11:51] jcwlib opened #1257 "Blog post recapping Civic Camp"

[2018-09-22 12:06] #1233 closed, assigned to jhibbets

[2018-09-22 12:07] jhibbets opened #1258 "Print CivicCamp team forms"

[2018-09-22 12:10] jhibbets opened #1259 "Print w-9's"

[2018-09-22 12:10] #1258 closed, assigned to jhibbets

[2018-09-22 12:11] jhibbets opened #1260 "Print judging criteria for CivicCamp"

[2018-09-22 12:11] #1259 closed, assigned to jhibbets

[2018-09-22 12:11] #1260 closed, assigned to jhibbets

[2018-09-22 12:11] jhibbets opened #1261 "Draft event survey - Civic Camp"

[2018-09-22 12:12] jhibbets commented on #1231
Yep, we've got a room for you, no problem.  So you need the session to start at 12:30 and end at 1:30 on Monday the 22nd?

Also, is the description pretty much the same as in 2017?  Please forward the description you'd like us to use and we'll get it posted ASAP.

Thanks!  And apologies again for the delay!

[2018-09-22 13:32] #1100 closed, assigned to dtraleigh

[2018-09-22 13:32] #1105 closed, assigned to dtraleigh

[2018-09-22 16:35] jcwlib commented on #1261
survey is drafted

The plan is to send the survey to everyone who registered and have the first question ask if they attended the event or not.

If yes, there are questions about the event and suggestions for the future.

If no, we ask why not and also some questions about the future.

For everyone that provides feedback, they will be entered in a drawing for a free DataPalooza registration.

[2018-09-22 17:37] jcwlib commented on #1235
@jhibbets - ready for review - at the end of this document

https://docs.google.com/document/d/1phdCsVeuEVIm8OFRo5SuPmvFYN0uSwbBVujNxKe1WGU/edit

[2018-09-22 17:37] jhibbets opened #1262 "Judge gifts"
- [x] Laura Biediger
 - [ ] Evan Diehnelt
 - [x] Caroline Harper
 - [x] Ben Kittelson
 - [x] Dragana Mendel

[2018-09-22 17:40] jhibbets opened #1263 "Send DataPalooza summary to ATO organizers"
"Also, is the description pretty much the same as in 2017?  Please forward the description you'd like us to use and we'll get it posted ASAP. "

Maybe we add in the description the submission form to try and get a few new teams and ask Todd to include the call for teams in a newsletter they send out

https://docs.google.com/forms/d/1TpeHpnQEVUiqTqmDho4zeqXY4DnCTPSQV241MGIBGHQ/edit

[2018-09-22 17:41] jhibbets commented on #1231
https://docs.google.com/forms/d/1TpeHpnQEVUiqTqmDho4zeqXY4DnCTPSQV241MGIBGHQ/edit

[2018-09-22 17:41] #1231 closed, assigned to jhibbets, zachambrose

[2018-09-22 17:45] jhibbets opened #1264 "Blog post with teams"

[2018-09-22 18:42] jcwlib opened #1265 "Need an link that goes straight to the Lightning Talk speakers"
@jtawes - I tried to figure it out, but I couldn't =(

Can you make an anchor link to the Lightning Talk header on the speaker page?

[2018-09-22 18:43] jcwlib commented on #1257
drafted https://docs.google.com/document/d/1umMS7A6SA61NDMu2qvVZcClG0SxQNF7SJsWsDGM_54I/edit?usp=sharing

[2018-09-22 18:43] #1104 closed, assigned to dtraleigh, TaxLadyTracy

[2018-09-22 18:43] #1103 closed, assigned to dtraleigh, TaxLadyTracy

[2018-09-22 18:50] jhibbets opened #1266 "Pre-meeting with Judges"

[2018-09-22 18:53] jhibbets commented on #1235
Looks good!

On Sat, Sep 22, 2018 at 1:37 PM Janel <notifications@github.com> wrote:

[2018-09-22 20:00] jcwlib commented on #1235
message scheduled in MailChimp - still need to reconcile paper registration list with electronic before closing this ticket

[2018-09-22 20:00] jcwlib opened #1267 "Make booth schedule for ATO"

[2018-09-22 20:01] jcwlib commented on #1261
survey link included in post-event message to attendees

[2018-09-22 20:01] #1261 closed, assigned to jhibbets, jcwlib

[2018-09-22 20:36] jhibbets opened #1268 "Next steps for open data teams"

[2018-09-22 20:36] #1266 closed, assigned to jhibbets

[2018-09-22 20:42] jhibbets commented on #1262
Evan was a no show.

[2018-09-22 20:42] #1262 closed, assigned to jhibbets

[2018-09-22 20:43] jhibbets commented on #1264
Post is live: http://ncopenpass.com/blog/civic-camp-hackathon-concludes-with-open-data-competition-kickoff/

[2018-09-22 20:43] #1264 closed, assigned to jhibbets

[2018-09-22 21:33] jcwlib commented on #1264
posted on social media

[2018-09-22 21:34] jcwlib opened #1269 "Order more stickers"
- [ ] Open Raleigh Brigade
 - [ ] Hack for Change
 - [ ] I love Open Data

[2018-09-22 21:43] ChrisTheDBA commented on #1269
Thanks. Will do.

On Sat, Sep 22, 2018 at 5:34 PM Janel <notifications@github.com> wrote:

--
Chris Mathews

[2018-09-23 00:52] #1191 closed, assigned to jhibbets

[2018-09-23 02:02] jhibbets opened #1270 "Send personal Thank you's to speakers, judges, and trainers"

[2018-09-23 03:08] #1269 closed, assigned to ChrisTheDBA

[2018-09-23 14:35] jtawes commented on #1265
I've made the css id for the speakers page at the Lightning Talks header, where do you need the link?

[2018-09-23 23:26] jcwlib opened #1271 "Reconcile paper registration with Eventbrite list"
make sure we have everyone accounted for and included in the post-event email as possible.

Missing emails for two folks.

[2018-09-23 23:26] #1235 closed, assigned to jcwlib

[2018-09-23 23:30] jcwlib commented on #1265
In a blog post I have drafted in the Marketing folder/ Blog Posts.

It is called Civic Camp Recap and there is a paragraph on Friday evening.

On Sun, Sep 23, 2018 at 10:35 AM jtawes <notifications@github.com> wrote:

[2018-09-24 11:08] #1183 closed, assigned to ChrisTheDBA

[2018-09-24 11:08] #1203 closed, assigned to nobody

[2018-09-24 12:40] jtawes commented on #1265
Done

[2018-09-24 12:40] #1265 closed, assigned to jtawes

[2018-09-24 12:41] jtawes commented on #1246
Done

[2018-09-24 12:41] #1246 closed, assigned to jtawes

[2018-09-24 12:41] jtawes commented on #1161
Done

[2018-09-24 12:41] #1161 closed, assigned to jtawes

[2018-09-24 12:55] jhibbets opened #1272 "Update EventBrite bank account details"

[2018-09-24 12:56] jhibbets opened #1273 "Get check from forward impact"

[2018-09-24 12:58] jhibbets opened #1274 "Remainder speaker gifts"
Tracy has the left over speaker gifts. If we are unable to hand deliver, then we should mail them. Let Jason know if we need to hunt down mailing addresses.

- [ ]  Lori Bush
- [ ]  Bonnie Danahy
- [ ]  Anise Vance
- [ ]  Sagar Mishra
- [ ]  Marlo Gaddis

[2018-09-24 12:58] #1254 closed, assigned to jhibbets

[2018-09-24 12:58] jhibbets opened #1275 "Send WRAL techwire article"

[2018-09-24 13:00] ChrisTheDBA commented on #1272
Done

Chris Mathews

On Mon, Sep 24, 2018 at 8:55 AM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-24 13:01] ChrisTheDBA commented on #1273
According to Eventbrite the check should now go to NCOP Labs
Chris Mathews

On Mon, Sep 24, 2018 at 8:56 AM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-24 13:29] jhibbets commented on #1275
Sent: https://docs.google.com/document/d/187X0k753CS042U-sFkoBYYXbUvuosmdkxV7Q_6erjXs/edit#

[2018-09-24 13:29] #1275 closed, assigned to jhibbets

[2018-09-24 13:34] ChrisTheDBA commented on #1275
Typo in Jennifer's name.
Chris Mathews

On Mon, Sep 24, 2018 at 9:29 AM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-24 13:34] jhibbets opened #1276 "New DataPalooza EventBrite"
Hi all, I created a new EventBrite with the DataPalooza ticket types. We already had one person register, so I manually added them.

https://www.eventbrite.com/e/nc-open-pass-datapalooza-tickets-50593487483

A few things:
- [x] Can I get a second set of eyes on it just to review and make sure all the details are correct
- [x] Do we need to add a questions about dietary restrictions?
- [x] Do we ne

[2018-09-24 13:36] jhibbets commented on #1275
Thanks for catching that, updated in our blog past just now.

[2018-09-24 13:36] jhibbets commented on #1276
Note: I also updated our blog post registration link. If reg for DataPalooza exists somewhere else, we need to update that as well.

[2018-09-24 13:37] jhibbets opened #1277 "Add DataPalooza registration link"
Here is the link for DataPalooza reg, can we add this to the homepage and DataPalooza pages?

https://www.eventbrite.com/e/nc-open-pass-datapalooza-tickets-50593487483

[2018-09-24 13:42] ChrisTheDBA commented on #1275
post, not past :) got ya
Chris Mathews

On Mon, Sep 24, 2018 at 9:36 AM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-24 13:54] jtawes commented on #1277
I have added the links on the home page to register and a link to the DataPalooza home page.

I am working on creating the new pages for DataPalooza with the same format used for Civic Camp. As soon as they are up, I will add links on the home page as well.

I temporarily left the Civic Camp links on the homepage beneath the DataPalooza information (I deleted the "Register" button). Do you want me

[2018-09-24 14:05] ChrisTheDBA commented on #1276
It looks fine. I didn't see anything.

Yes, we need questions on dietary and t-shirts if we plan on feeding them
or giving them t-shirts.

We also need to move over all the people that bought Open Pass tickets and
the sponsor and other discount codes.

I'm also curious why the ticket fees went from making the person pay to us
absorbing the fee. I'm ok with absorbing it, but you said you had a reas

[2018-09-24 14:06] jhibbets commented on #1277
Thanks. I think we should leave Civic Camp stuff up for about a week, then
maybe move what we have on the homepage to the Civic Camp landing page.

[2018-09-24 14:07] jcwlib commented on #1276
Just to clarify - we haven't finalized the exact times of the event.  When we did the walkthrough at Ipreo we had some small logistics questions to work out.  So the times might change.

[2018-09-24 14:08] jcwlib opened #1278 "Build out DataPalooza site within the main site"
Just creating an official ticket for this task

[2018-09-24 14:10] jcwlib commented on #1276
I took the existing link out of the follow-up message we sent to the Civic
Camp registrants this morning.

That's the only place I know of that had the link to DataPalooza
registration.

On Mon, Sep 24, 2018 at 9:37 AM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-24 14:10] jhibbets commented on #1276
I will send a notice to all open pass holders to register, I'm waiting on
the ATO code to get all that into one message. I'm planning on getting that
out this week.

re: fees, to be honest, it was a mistake. EB defaults to passing on fees
and when the Open Pass ticket was created way back in March, it was an
oversite. Since people had already bought the ticket, I thought it was best
to just leave

[2018-09-24 14:14] jhibbets opened #1279 "Update DataPalooza EventBrite with discount codes"

[2018-09-24 14:18] jcwlib commented on #1275
Made some minor tweaks in the Google Doc and the published post on the
website

On Mon, Sep 24, 2018 at 9:29 AM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-24 14:19] #1279 closed, assigned to jhibbets

[2018-09-24 14:22] jhibbets commented on #1275
Thank you.

[2018-09-24 14:24] jhibbets opened #1280 "Create MeetUp page for DataPalooza event"

[2018-09-24 14:24] jhibbets opened #1281 "Create Facebook event for DataPalooza event"

[2018-09-24 14:30] jhibbets commented on #1276
Questions about t-shirts and food have been added.

[2018-09-24 14:35] jcwlib opened #1282 "Create meetup for October 9"
just capturing details on the meetup we "announced" at the end of Civic Camp

 - [x] Draft MeetUp post
 - [x] Confirm Annex availability
 - [x] Announce MeetUp
 - [x] Invite existing team members to sign-up, ask for a team name, description, and needs in to be added to MeetUp comments section

[2018-09-24 14:37] jcwlib commented on #1276
But the food question is required and only has Vegetarian options =) Need a
none in there as well

On Mon, Sep 24, 2018 at 10:32 AM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-24 14:41] dtraleigh opened #1283 "Edit and Post Videos to YouTube"
Planning to get these cut and uploaded before the end of October. Realistically, I'll upload as they are ready so videos will be available throughout October.

If there is a strong reason to expedite this, let me know.

[2018-09-24 14:54] ChrisTheDBA commented on #1276
I tweaked it. Checked out at the same time.

Chris Mathews

On Mon, Sep 24, 2018 at 10:39 AM Janel <notifications@github.com> wrote:

[2018-09-24 14:54] jhibbets commented on #1276
Hrmm, that's strange, when I added the questions, I thought I left it as type Text (to leave it open ended)

[2018-09-24 14:55] jhibbets commented on #1276
Anyway, sounds like we are good here. Please open a new card for anything else.

[2018-09-24 14:55] #1276 closed, assigned to jhibbets

[2018-09-24 14:55] ChrisTheDBA commented on #1283
Can you post them and make them hidden so I can see the Friday morning stuff
Chris Mathews

On Mon, Sep 24, 2018 at 10:43 AM Leo Suarez <notifications@github.com>
wrote:

[2018-09-24 14:56] ChrisTheDBA commented on #1283
Marketing may want them for...marketing.
Chris Mathews

On Mon, Sep 24, 2018 at 10:55 AM Chris Mathews <christhedba@gmail.com>
wrote:

[2018-09-24 14:57] jcwlib commented on #1283
Leo and I talked and agreed on the timing he mentioned.

On Mon, Sep 24, 2018 at 10:57 AM Chris Mathews <notifications@github.com>
wrote:

[2018-09-24 15:06] ChrisTheDBA commented on #1276
if it's open ended, then we have 50 different answers for 50 registrations.

This is the list for Open Pass
[image: image.png]

Chris Mathews

On Mon, Sep 24, 2018 at 10:55 AM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-24 15:14] dtraleigh commented on #1065
For DP at Ipreo, I checked with security and here's how it works.

Before 7pm, business as usual. Attendees walk into the building and use the elevators to the 9th floor. If we think folks will arrive after 7pm, we will need someone to let them in, security does not let them in unless they have a FOB. We can put a volunteer in the lobby to let folks in. Note there are two ways in, Fayetteville Str

[2018-09-24 15:32] dtraleigh commented on #1283
I will upload and make them hidden. I will update this ticket as they are
ready for Chris to review and switch to public.

On Mon, Sep 24, 2018 at 10:58 AM Janel <notifications@github.com> wrote:

[2018-09-24 16:08] jhibbets opened #1284 "Scan in W-9's"
And change permissions on the folder you upload them to to private -- it's open by default.

[2018-09-24 16:09] #1065 closed, assigned to ChrisTheDBA, dtraleigh

[2018-09-24 16:10] jhibbets commented on #1192
Note  I gave out two scholarships.

[2018-09-24 16:14] ChrisTheDBA commented on #1284
Why do they need to scanned in and uploaded? We have done it in the past
because we e-mail them to our fiscal sponsors. Is there someone other
than Tracy that needs to see them. if there is, that's fine but I am not
aware who that is.

Chris Mathews

On Mon, Sep 24, 2018 at 12:09 PM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-24 16:14] jhibbets opened #1285 "Invite Civic Camp speakers to DataPalooza"

[2018-09-24 16:16] jhibbets opened #1286 "Write a hackathon schedule blog post"
Oct 2 - meet-up (Durham)
Oct 9 - meet-up (Raleigh)
Oct 22 -ATO
Oct 30 - meet-up ?
Nov 8 - DataPalooza

[2018-09-24 16:18] jhibbets commented on #1284
I thought we uploaded them for documentation purposes.

[2018-09-24 16:20] dtraleigh opened #1287 "Fold in Ipreo to Sponsor list"
In exchange for the space for DP, what level does it get them at? I will get a logo and put it on the drive.

[2018-09-24 16:24] ChrisTheDBA commented on #1287
I would say Gold($2500).

Most spaces in DT Raleigh are at least $2000. We got off cheap with
ArtSpace because I asked and asked.
Chris Mathews

On Mon, Sep 24, 2018 at 12:20 PM Leo Suarez <notifications@github.com>
wrote:

[2018-09-24 16:27] ChrisTheDBA commented on #1287
Question:

Will having the vendors with display tables be an issue? Is there room?

When Preet from WeWork picked up her stuff on Saturday, she said she'd see
us at DataPalooza. I guess that means they will have their marketing there.

Chris Mathews

On Mon, Sep 24, 2018 at 12:24 PM Chris Mathews <christhedba@gmail.com>
wrote:

[2018-09-24 16:30] ChrisTheDBA commented on #1284
In the three years I've done it. We only scanned them in to email them to
CFA. Once CFA tells me they are good, I delete/destroy them.

Chris Mathews

On Mon, Sep 24, 2018 at 12:18 PM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-24 17:39] jcwlib commented on #1065
Thanks for confirming, Leo.  Those parameters seem reasonable and we can
encourage folks to arrive before 7 as much as possible.

On Mon, Sep 24, 2018 at 11:16 AM Leo Suarez <notifications@github.com>
wrote:

[2018-09-24 17:51] zachambrose commented on #1284
+1

On Mon, Sep 24, 2018, 9:30 AM Chris Mathews <notifications@github.com>
wrote:

[2018-09-24 17:54] jcwlib commented on #1287
We can probably make it work.  We are planning to use the lobby area right
outside of the conference room and training room.

On Mon, Sep 24, 2018 at 12:28 PM Chris Mathews <notifications@github.com>
wrote:

[2018-09-24 18:01] dtraleigh commented on #1287
Yes, it should work. I'm thinking vendors set up in the back of the big
room should work.

On Mon, Sep 24, 2018 at 1:55 PM Janel <notifications@github.com> wrote:

[2018-09-24 18:23] jcwlib commented on #1257
posted and scheduled on social media http://ncopenpass.com/blog/innovation-with-open-data-for-the-community-was-the-theme-of-civic-camp-2018/

[2018-09-24 18:26] jhibbets commented on #1284
that's fine, I just thought it was part of our process and that we were
keeping them for records/tax purposes.

[2018-09-24 18:26] #1257 closed, assigned to jcwlib

[2018-09-24 18:27] jhibbets commented on #1065
It will probably be easier to have the registration table in the lobby so
stuff doesn't have to be carted up/down the elevator.

[2018-09-24 18:30] ChrisTheDBA commented on #1065
Doesn't that mean the people doing registration wont see the event? These
are the same people that make sure food and beverages and other logistics
are covered.

Chris Mathews

On Mon, Sep 24, 2018 at 2:27 PM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-24 18:38] jhibbets commented on #1065
I was making a suggestion; you're snippy today Chris.

[2018-09-24 18:40] ChrisTheDBA commented on #1065
Sorry, if it's coming across as snippy, doing 10 different things.
Chris Mathews

On Mon, Sep 24, 2018 at 2:38 PM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-24 19:03] jhibbets commented on #1065
All good. I figured as much (same boat here) but I figured I'd call it out.
;)

[2018-09-24 19:26] #1232 closed, assigned to zachambrose

[2018-09-24 19:26] #1284 closed, assigned to ChrisTheDBA

[2018-09-24 19:29] jhibbets opened #1288 "Book signing at All Things Open"
If we have budget and think it would get people to Open Raleigh Brigade booth, I'm happy to do a book signing on Monday or Tuesday afternoon.

I can get my books for about $5 or so plus shipping. We can discuss.

 - [x] Order books
 - [ ] Expense order

Cost projection: ~$150

[2018-09-24 19:30] jhibbets opened #1289 "Send ATO Discount to NCOP holders"

[2018-09-24 19:31] jhibbets opened #1290 "Invite NCOP holders to register for DataPalooza"
​
Hello NC Open Pass holder,

We enjoyed seeing many of you at Civic Camp on Friday and Saturday. If you missed us on Saturday afternoon, see how the hackathon concluded. And while Civic Camp is all wrapped up, we've officially kicked off DataPalooza.

DataPalooza registration is open
Registration for DataPalooza is now open. Use promo code XXYYZZ and ticket type "DataPalooza Attendee" when regist

[2018-09-24 19:31] jhibbets commented on #1289
See #1290 this was included in that messaging

[2018-09-24 19:31] #1289 closed, assigned to jhibbets

[2018-09-24 19:32] ChrisTheDBA commented on #1288
It was popular the last time we did it. Sounds good.

On Mon, Sep 24, 2018 at 3:29 PM Jason Hibbets <notifications@github.com>
wrote:

--
Chris Mathews

[2018-09-24 19:32] jhibbets commented on #1290
Sent to:
724764157	Ginny
726120088	John
729139599	Frank
730420999	Justin
730420999	Meredith
730580073	Akeem
737319749	maureen
814437549	Seth
815916399	Anne S.
826087254	Preet
826358974	Eric
827043846	Shykeem
827045319	Nicole
827575963	Bailey

[2018-09-24 19:32] #1290 closed, assigned to jhibbets

[2018-09-24 19:33] jhibbets commented on #1270
Include a discount code to DataPalooza

[2018-09-24 19:37] jhibbets commented on #1288
Note - I updated my original status. We should probably do it on Monday. that's when the open gov / data track is. Also, we would need some marketing around it and could ask Jason Hare to announce it during the featured lunch keynote.

[2018-09-24 22:03] dtraleigh commented on #1065
I'd love to put an A Frame in the lobby for this rather than a person. We
can easily run registration from the 9th floor.

On Mon, Sep 24, 2018 at 3:03 PM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-24 22:22] TaxLadyTracy commented on #1065
Good because we don't need to put someone down there like that.

On Mon, Sep 24, 2018, 6:03 PM Leo Suarez <notifications@github.com> wrote:

[2018-09-25 04:36] jhibbets commented on #1256
Discount code for ATO is

Regarding a discount for Civic Camp attendees/your list, sure, we're happy to.  Pass along CivicCamp20, which is good for 20% off.

[2018-09-25 04:37] jhibbets commented on #1277
We can close this if you think we're done with this card.

[2018-09-25 04:39] jhibbets opened #1291 "Sync with Zach on DataPalooza"
@zachambrose let me know when you have time to sync up
Items to cover
 - [ ]  Retro feedback
 - [ ]  Add demo requirements and suggestions to contest rules and judging criteria
 - [ ] Programming for DataPalooza
 - [ ] Judges for ATO / DataPalooza

[2018-09-25 04:40] jhibbets opened #1292 "Follow-up with NC Riot (Tom)"

[2018-09-25 17:55] dtraleigh commented on #1287
Ipreo logo is in the Sponsorships -> Sponsor Logos folder.

[2018-09-26 00:28] #1277 closed, assigned to jtawes

[2018-09-26 00:29] jtawes commented on #1287
Added IPREO to gallery on homepage and to Partner's page. I'll update the Partners Poster but wait to finalize before printing.

[2018-09-26 00:31] jtawes commented on #1072
This is complete unless there is a link to add for Triangle Data Platform.

[2018-09-26 03:51] jhibbets commented on #1282
Draft is here - I plan to announce in the morning after I confirm Annex availability.

https://www.meetup.com/Triangle-Code-for-America/events/255015049/?isFirstPublish=true

[2018-09-26 03:55] jhibbets commented on #1292
Email sent to Tom.

[2018-09-26 04:19] jhibbets commented on #1270
@jcwlib - can I get a second set of eyes on this before I send out?

https://docs.google.com/document/d/1y1uWFZy1JKvKi61JrM5Xl2QA3yK5w45oC8L4NcsVvmQ/edit

TIA

[2018-09-26 04:31] ChrisTheDBA commented on #1270
I think that 150 is quite a stretch and even deceitful. We printed 118 name
badges and have over 40 that were never picked up. Adding in the people
that weren't on the list, it's maybe 80 people total in attendance.

No one who was there would think that we have 150 people.

Paula had an interesting comment. Maybe when we had 200+ people that was
not reflective of our core group. Most people came

[2018-09-26 12:30] jhibbets commented on #1270
I was tallying the number from each individual event, that' how I got
there. Let me know what we feel comfortable with. I do not want to mislead
people, but at the same time, want to have decent numbers to share.

[2018-09-26 12:57] ChrisTheDBA commented on #1270
Like I said we issued about 80 badges to people, If we want to count
someone 3 times because they were there Friday morning, Friday evening and
Saturday then I have to say that is quite trumpish.

if small is our new normal then we just need to adjust our expectations. I
read something that Seth Godin wrote. I also plan on checking out some of
what Adrian Segar has wrote. (https://www.conferencest

[2018-09-26 13:10] jhibbets opened #1293 "Add WRAL Techwire as media sponsor"
- [x] Add to sponsor sheet
 - [x] Add to DataPalooza sponsor sheet - contact is James Amato <jamato@wral.com>
 - [x] Add to overall sponsors
 - [x] Add to DataPalooza sponsor board

[2018-09-26 13:12] jhibbets opened #1294 "Follow-up with WRAL Techwire re: partnership opps"
Need to find out a few good times then schedule with James Amato

[2018-09-26 13:14] jtawes commented on #1293
Add Techwire under the "Community Sponsor" or make a new heading of "Media
Sponsor"?

On Wed, Sep 26, 2018 at 9:11 AM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-26 13:17] jhibbets commented on #1293
Let's keep it simple and use community sponsor. Logo was just uploaded to
the google Drive folder.

[2018-09-26 13:19] jhibbets commented on #1270
80 it is.
Big numbers have always been nice, but there is something about quality and
outcomes that overcome that.

OK to send? Anyone else have feedback?

[2018-09-26 13:20] jtawes commented on #1293
TechWire added to homepage and partners page, will add to DataPalooza pages as completed.

[2018-09-26 13:31] jhibbets commented on #1282
Just need to complete the Red Hat Event form to confirm booking.

[2018-09-26 13:43] jcwlib commented on #1270
Reviewed and minor edits were made.  Ready to send.

For the record we had 82 unique people based on our paper registration
"marks" with the following breakdown per "section" of the event:
Friday - 63
Friday evening - 50
Saturday - 32

I know I didn't get every single person that walked in the door on Friday
evening so that number is an estimate.

On Wed, Sep 26, 2018 at 9:19 AM Jason Hibbets <not

[2018-09-26 13:52] jhibbets commented on #1270
Thank you all, I'll send these out shortly.

FYI @zachambrose I'll connect to judges and CC you.

[2018-09-26 14:30] jhibbets opened #1295 "Update NC Open Events"
Add the following two MeetUps:

Code for Durham MeetUp Oct 2
 https://www.meetup.com/Triangle-Code-for-America/events/jrhtlpyxnbdb/

NC Open Pass MeetUp Oct 9
 https://www.meetup.com/Triangle-Code-for-America/events/255015049/

[2018-09-26 14:39] #1282 closed, assigned to ChrisTheDBA, jhibbets

[2018-09-26 15:10] jhibbets commented on #1286
Draft is read for review. I think we should try to publish and promote on Thursday (Sep 27)

@zachambrose @jcwlib - please review and make any edits

[2018-09-26 15:12] jtawes commented on #1295
Done, check it out and let me know if you would like any changes...if none, then ticket can be closed :)

[2018-09-26 15:12] jhibbets opened #1296 "Website request - Make headers bolder/darker"
I was using a combination of H2's and H3's in this post and the bold stands out more than the headers. Can we increase the font-weight on Header tags?

http://ncopenpass.com/?p=3999&preview=true

[2018-09-26 15:19] jhibbets commented on #1295
Looks great @jtawes, my only feedback is that they should be in chronological order

[2018-09-26 15:21] jtawes commented on #1296
Absolutely, if you are using elementor it's much more customizable. Do you
want me to go ahead and edit the draft and then you can see how I do it?

On Wed, Sep 26, 2018 at 11:17 AM Jason Hibbets <notifications@github.com>
wrote:

[2018-09-26 15:33] jhibbets commented on #1296
I would prefer not to use Elementor for blog posts. I think it's a barrier
to get people writing content unless there I'm just not missing out on the
advantage of it. I'm used to very simple WYSIWYG with simple, elegant
styles for writing. I don't think we need anything fancy for blog content.

[2018-09-26 15:35] jtawes commented on #1295
Done

[2018-09-26 15:35] #1295 closed, assigned to jtawes

[2018-09-26 15:35] jtawes commented on #1296
http://ncopenpass.com/?p=3999&preview=true

[2018-09-26 15:44] jtawes commented on #1296
Sorry about that, I did have an updated version to preview as you requested but when I switched it back to the WordPress editor, all of the styling was deleted.

I can only customize the style of the content with either custom CSS coding or with Elementor, otherwise you have the default styles from the theme. You don't have to create all blog posts with Elementor but if you want me to customize th

[2018-09-26 15:48] jtawes commented on #1296
You can navigate to the post and click on the Edit with Elementor button in the middle of the screen to see a preview. If no changes, it's ready to publish.

[2018-09-26 16:02] jhibbets commented on #1210
@frankCJones @Jtawes - just a quick update here. I manually uploaded 4.3 v of Wordpress last night but held short of doing the installation. I am on the phone now with the hosting company seeing if they have a back-up to restore. the one I took before the migration to open pass site was in my /tmp folder and removed during a recent reboot.

If either of you has any idea what happened here, that wo

[2018-09-26 16:18] jhibbets commented on #1210
Just got off the phone with support. They found a back-up from Sep 5 they are going to try and restore. no gaurentee's, if it works, we get what we get. Things may be out of place and I'm not sure when the redirects were implemented.

I should have another update within 12-24 hours.

[2018-09-26 19:04] FrankCJones commented on #1210
I can add this site to the backup system I use for WordPress Management with my clients. The reason I have not done this already is that the system also inserts a footer with a link to my business. If this is acceptable, that will solve the backup problem and we will have daily copies of the site. I could restore the site from that backup if this happens again.

[2018-09-26 19:27] jcwlib commented on #1286
@jhibbets - edits made and I put the blog post back into a draft mode.  Somehow it was published (perhaps by me - sorry)

FYI - FirstNet is not an open source platform.  I like the reference to our partner, but it is a little misleading that a team could win with a project built on FirstNet.

Also, there is another cash prize from Innovate Raleigh in the pipeline.  Do we need to promote that oppor

[2018-09-26 19:28] dtraleigh commented on #1210
Could we not just use a backup plugin that uploads them to our google
drive? Would that fix it? I'm familiar with one that's free, should work
for us I'd think.

On Wed, Sep 26, 2018 at 3:06 PM Frank C Jones <notifications@github.com>
wrote:

[2018-09-26 19:29] jtawes commented on #1286
I can change the color of the hyperlinks, just let me know when you are
done editing Janel and I'll update the draft.

On Wed, Sep 26, 2018 at 3:27 PM Janel <notifications@github.com> wrote:

[2018-09-26 19:30] ChrisTheDBA commented on #1286
IR has agreed to fund an additional prize for FirstNet. But to date,
Brigette has not sent the check.

Chris Mathews

On Wed, Sep 26, 2018 at 3:27 PM Janel <notifications@github.com> wrote:

[2018-09-26 19:44] jcwlib commented on #1286
Good to know. I just sent Bridget a reminder regarding the prize money

On Wed, Sep 26, 2018 at 3:30 PM Chris Mathews <notifications@github.com>
wrote:

[2018-09-26 19:53] FrankCJones commented on #1210
@dtraleigh There is no issue with using a plugin that uploads the backup to Google Drive. Someone will need to periodically check that this task is completed and the backup files are created. They will also need to monitor the group Google Drive to ensure the files are not deleted as they were from the server, or restore them if they are deleted.

[2018-09-26 19:57] jtawes commented on #1286
Bolded and underlined the hyperlinks and they also highlight in green on hover. Saved as draft. Let me know if you need anything else done.

[2018-09-26 20:00] jtawes commented on #1296
I can also work on customizing the default theme styles by editing the code but this is much faster for me at the moment and I'm short on time.

[2018-09-27 00:42] jcwlib commented on #1256
test email sent out

[2018-09-27 00:51] jcwlib commented on #1286
Just looking through the partners perks document
<https://docs.google.com/document/d/1VNDutMmhA52SeakzTaMPriV7SJaA1ry5UCLGPaXohx4/edit?usp=sharing>-
WeWork is donating two 3 months memberships as prizes. We should probably
add that to the blog post.

On Wed, Sep 26, 2018 at 3:30 PM Chris Mathews <notifications@github.com>
wrote:

[2018-09-27 01:34] jhibbets commented on #1286
Just to clarify, the intention of this blog post it to outline the
timeline. We should do another post next week announcing the competition,
prizes, and how to submit the teams. I'll publish this in the morning and
then add a comment to the ATO meet-up that Chris and I were at tonight.

[2018-09-27 01:38] jhibbets commented on #1296
I think customizing the theme for headers and URLs would be great. I played
around with this early on as the URLs were hard to read. I made them green,
but didn't put much thought into and to be honest, was flying by the seat
of my pants trying to figure out the theme CSS.

[2018-09-27 01:42] jhibbets opened #1297 "ATO booth idea - raffle off a DataPalooza tickets"
Sign-up for our newsletter and 5 people will get a free ticket to DataPalooza. A cash value of $35.

Do we need to do anything, legal wise, from a 501(3)c standpoint with anything to have things like contest rules?

Thoughts?

[2018-09-27 01:43] jcwlib opened #1298 "Blog post announcing DataPalooza contest"
We should do another post next week announcing the competition,
prizes, and how to submit the teams

[2018-09-27 01:57] jhibbets commented on #1286
Thanks for all the edits, style updates, etc. I really appreciate it. I've scheduled the post to go live at 6:00.

[2018-09-27 01:57] #1286 closed, assigned to jhibbets, jcwlib, zachambrose

[2018-09-27 01:58] jhibbets commented on #1270
Be sure to include #1285 in messaging.

[2018-09-27 11:20] ChrisTheDBA commented on #1297
In the strictest sense of the word, we can conduct raffles. There are some
rules, however. I think we are safe. We might want to have on file a page
of "official rules" but I think it's overkill. You may disagree. If we ever
decide to raffle off a car, we need to reconsider our position.

N.C.G.S. 14-309.15 defines a "raffle" as a game in which the prize is won
by random drawing in the name or num

[2018-09-27 12:22] jcwlib commented on #1286
scheduled on social media for posting at noon today

[2018-09-27 18:56] jcwlib commented on #1256
newsletter sent

[2018-09-27 18:56] #1256 closed, assigned to jcwlib

[2018-09-27 18:57] jcwlib opened #1299 "Send ATO discount to Civic Camp registrants"
send via Eventbrite with a reminder about event survey

[2018-09-27 19:32] #1299 closed, assigned to jcwlib

[2018-09-28 01:16] jcwlib commented on #1271
added CivicCamp2018 tag to newsletter members that registered for Civic Camp

[2018-10-01 14:12] jcwlib commented on #1263
NC Open Pass Datapalooza is an open data competition created in the Triangle to catalyze positive community and economic impact. The annual competition draws together local creators, designers, and developers to build teams to leverage open data strategies to create innovative and sustainable means of improving the local community and economy.

NC Open Pass is partnering with All Things Open again

[2018-10-01 14:13] zachambrose commented on #1263
Done.

[2018-10-01 14:13] #1263 closed, assigned to zachambrose

[2018-10-01 20:50] zachambrose commented on #1297
My guess is that this wouldn't be a raffle since we're not selling tickets,
but I'll check with our atty to confirm.

On Wed, Sep 26, 2018 at 9:42 PM Jason Hibbets <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2018-10-01 21:00] zachambrose commented on #1293
Added to the sponsor worksheet.

[2018-10-01 21:27] jcwlib opened #1300 "Update Partners Poster - Due 10/10"
- [x] add Ipreo (gold level)
 - [x] add WRAL TechWire (community partner)
 - [x] remove event specific branding and year
 - [x] just have NC Open Pass branding and twitter handle at the bottom

[2018-10-01 21:31] zachambrose opened #1301 "Recruit ATO judges"

[2018-10-01 21:31] zachambrose opened #1302 "Recruit DataPalooza judges"

[2018-10-01 21:32] jcwlib commented on #1287
I believe the outstanding items on this ticket is covered by #1300. @dtraleigh - do you agree?

[2018-10-01 21:32] zachambrose opened #1303 "Recruit DataPalooza speaker"

[2018-10-01 21:33] jcwlib opened #1304 "Make a General Welcome Sign Design - Due 10/10"
Update Civic Camp Welcome Sign to just be NC Open Pass - not event specific.

We'll print an 8 1/2 x 11 paper with event specific information to tape to the welcome signs

[2018-10-01 21:35] jcwlib opened #1305 "DataPalooza: Printing Needs"
- [ ] A Frames to direct attendees to elevators
- [ ] General Welcome Signs
- [ ] Updated Partner poster

needs #1300
needs #1304
needs #1306

[2018-10-01 21:39] jcwlib commented on #1305
Link to A Frame graphic - https://drive.google.com/open?id=1gHzz1bsY2Q2SnCJJiH8WGt_fKWOXbSqG  - @jtawes please confirm

[2018-10-01 21:48] ChrisTheDBA commented on #1305
The file you linked has CivicCamp on it.

Chris Mathews

On Mon, Oct 1, 2018 at 5:39 PM Janel <notifications@github.com> wrote:

[2018-10-01 21:49] jcwlib commented on #1305
Sure does - Let me double check

On Mon, Oct 1, 2018 at 5:48 PM Chris Mathews <notifications@github.com>
wrote:

[2018-10-01 21:50] jcwlib opened #1306 "Create Generic NC Open Pass A-Frame Graphics - Due 10/10"
Need to take the existing Civic Camp A-Frames and just have them be generic NC Open Pass branding

[2018-10-01 21:56] jhibbets opened #1307 "Host weekly meeting - Oct 1"

[2018-10-01 22:17] #1291 closed, assigned to jhibbets, zachambrose

[2018-10-01 22:31] jcwlib opened #1308 "Send Newsletter - 10/7"
- [x] promote 10/9 meetup
- [x] DataPalooza team deadline
- [x] Civic Camp survey
- [x] IBM Call for Code event

[2018-10-01 22:32] jcwlib opened #1309 "Follow-up with IBM re Call for Code"
open data included in projects for 10/16 event?

Send over the link to the ATO team form - open through 10/16 at 5:00 pm

[2018-10-01 22:34] jcwlib commented on #1271
Need to add any registrant of Data Jam or Civic Camp to mailing list and appropriate tags

[2018-10-01 22:35] jcwlib opened #1310 "Pull out the Civic Camp Survey results"

[2018-10-01 22:36] jcwlib opened #1311 "Post about data survey in Meetups"
10/2 and 10/9

[2018-10-01 22:41] jcwlib commented on #1288
Yes - either after Jason's session or after the ATO Pitch session

[2018-10-01 22:54] #1307 closed, assigned to jhibbets

[2018-10-02 01:17] #1270 closed, assigned to jhibbets, jcwlib

[2018-10-02 01:17] #1285 closed, assigned to jhibbets

[2018-10-02 01:23] jhibbets commented on #1288
Looks like my talk is at 4:15. So I think we should do something after lunch. Perhaps at the 2pm break? We should also ask Jason Hare @jasonmhare to announce the book signing during the featured lunch session

https://allthingsopen.org/schedule/#day-2

[2018-10-02 01:46] jhibbets commented on #1292
Meeting set for Oct 5 @ 3pm

[2018-10-02 01:49] zachambrose commented on #1292
I've got a conflict. Let me know if you want to touch base beforehand. I'd
be happy to download from our meeting this summer.

On Mon, Oct 1, 2018 at 9:46 PM Jason Hibbets <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2018-10-02 01:51] jhibbets commented on #1292
Chris and I are moving forward here. Maybe you and I can catch up before
then?

[2018-10-02 13:25] jcwlib commented on #1309
email sent - re: open data focus.

[2018-10-02 15:28] dtraleigh commented on #1287
I think we would need them online and that should cover it.

http://ncopenpass.com/civic-camp/civic-camp-partners/

On Mon, Oct 1, 2018 at 5:32 PM Janel <notifications@github.com> wrote:

[2018-10-02 15:40] jcwlib commented on #1287
Leo -

They are listed here actually -> http://ncopenpass.com/about/partners/

This URL is specific to Civic Camp
http://ncopenpass.com/civic-camp/civic-camp-partners/

On Tue, Oct 2, 2018 at 11:29 AM Leo Suarez <notifications@github.com> wrote:

[2018-10-02 16:00] dtraleigh commented on #1287
ahh cool. Then good there.

On Tue, Oct 2, 2018 at 11:40 AM Janel <notifications@github.com> wrote:

[2018-10-02 16:25] jtawes commented on #1300
Uploaded to shared drive https://drive.google.com/open?id=1VT-od_edZjSkAJ1p8_qFfpllNiKGBY8Y

[2018-10-02 16:32] jtawes commented on #1306
24 by 36 Generic NC Open Pass uploaded https://drive.google.com/open?id=192kIKRYnmPZ7y0ToO8FETzahUtsqi6Ic

[2018-10-02 16:38] jtawes commented on #1304
Uploaded here https://drive.google.com/open?id=19RrhCql-XFclEJshgKFcDt8KAQnQ2tS3

[2018-10-02 16:42] jtawes commented on #1304
Version 2 with "WELCOME" moved up so a 8.5 by 11 sheet of paper fits between "Welcome" and "Follow and Tweet" uploaded here https://drive.google.com/open?id=1QbHkgsC4XWrQyBntT_8hDsuSwo4fps4V

[2018-10-02 19:45] zachambrose commented on #1297
I checked with the atty and we're good if we give away tickets based on newsletter signups.

[2018-10-02 19:51] ChrisTheDBA commented on #1297
Thanks for confirming what I said last week.

On Tue, Oct 2, 2018 at 3:45 PM zachambrose <notifications@github.com> wrote:

--
Chris Mathews

[2018-10-02 21:54] #1192 closed, assigned to ChrisTheDBA, zachambrose

[2018-10-03 12:19] jcwlib commented on #1300
@jtawes - there is still Civic Camp branding at the bottom

[2018-10-03 12:21] jcwlib commented on #1304
@christhedba and @taxladytracy - what size were the welcome posters that we printed for Civic Camp?

Personally, I like version 2 that allows for event branding on a normal piece of paper

[2018-10-03 12:27] jcwlib commented on #1311
posted in Code for Durham 10/2 meetup

[2018-10-03 13:10] jtawes commented on #1300
Sorry, updated https://drive.google.com/open?id=1rrhs5juHvnLS8V6Z_s1JTjzc7jNOEnbL
deleted the incorrect one.

[2018-10-03 14:27] ChrisTheDBA commented on #1304
24" x 36" - I think the added paper way looks cheesy. I wonder if there is
a way to add a blank, white section that we can do a dry erase marker type
of thing. just spitballing options.

Another idea. We spend $55 per 24 x 36 poster. 33-34 is laminate and
foamboard. We can purchase posters for $22 and put them in reusable frames
like movie posters.  Doesn't address the recycling piece, but does ma

[2018-10-03 14:42] dtraleigh commented on #1304
I see this as a cost saving effort to be honest. If we have the generic $55
24"x36" poster but a space for one of those 8.5" by 11" plastic inserts, we
can print off event-specific graphics on a typical piece of paper.
Turnaround is minutes depending on who can get to a printer quickly. I
assume Janel and Jennifer would still create these inserts for each event.

That way, the sizes are now standa

[2018-10-03 19:31] jcwlib commented on #1304
I like the spot for the 8 1/2 x 11 paper/plastic insert as well - we could
even use the sign at meetups and not just the big events throughout the
year.

On Wed, Oct 3, 2018 at 10:42 AM Leo Suarez <notifications@github.com> wrote:

[2018-10-04 12:13] jcwlib commented on #1309
follow-up email sent providing link to ATO team form and setting expectations around participation for Oct 16

[2018-10-04 12:20] #1268 closed, assigned to jcwlib

[2018-10-04 19:34] zachambrose opened #1312 "Set up DataPalooza run of show"

[2018-10-04 19:35] zachambrose commented on #1312
I put a draft in the Logistics folder. Can you guys see what you think? Any ideas on ways to tighten it up?

https://docs.google.com/document/d/1uzgcBSzyboBrwzCfpI2qaFS3Hu4eJbr-HA5XsUGEDA0/edit?usp=sharing

[2018-10-04 20:28] jcwlib commented on #1312
Looks good to me - I made a few minor tweaks and we are missing the 2017 winner

[2018-10-05 02:11] dtraleigh commented on #1283
Added my first video to get the editing process down. I have Greg's keynote up on the youtube page but the video is still private. Two things:
1. Can someone update the youtube profile? It still says citycamp and has old logos.
2. Can someone take a look at the video and tell me if it looks ok? If so, the following videos will have the same format.

Once 1 and 2 are done, we can start making a pla

[2018-10-05 11:22] TaxLadyTracy commented on #1304
I just dont want us looking cheap.  We never have and it's not time to start.

Sent from my Verizon, Samsung Galaxy smartphone
-------- Original message --------From: Leo Suarez <notifications@github.com> Date: 10/3/18  10:42 AM  (GMT-05:00) To: ncopenpass/NCOpenPass <NCOpenPass@noreply.github.com> Cc: TaxLadyTracy <tracy.mathews1125@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [n

[2018-10-05 11:50] jcwlib commented on #1283
For #1 - It looks like the Youtube profile is linked to the CityCamp gmail address - so to update the branding we would have to update that gmail address.  @jhibbets - perhaps we need to make a new YouTube channel with the new ncopenpass gmail address and move videos between accounts?

For #2 - Love how we have the branding, the actual video and the presentation all together!  Great job!

[2018-10-05 12:19] dtraleigh commented on #1304
Another question that might help. Is there a need to save money here?

If the answer is no, then why can't marketing just create the full poster
graphic and let logistics print and pay for it.

If we're at a time when we need to tighten up and saving through less
printing is a solution, then we can try something creative.

On Fri, Oct 5, 2018 at 7:22 AM TaxLadyTracy <notifications@github.com>
wrot

[2018-10-05 12:48] dtraleigh commented on #1312
Added the guest Wifi info. (no password, you have to accept the Terms in a
browser)

If you want me, or someone, to do a welcome, then I can cover logistics.
Should be short and sweet.

On Thu, Oct 4, 2018 at 4:28 PM Janel <notifications@github.com> wrote:

[2018-10-05 12:53] jhibbets commented on #1304
I think we should be open to new ideas here. Just because we've never done
it, doesn't mean it shouldn't consider it. If it's best to discuss
something like this outside of the card, then we should add it to our
agenda for the next meeting.

[2018-10-07 20:15] jcwlib commented on #1308
test email sent

[2018-10-07 20:56] jcwlib commented on #1267
draft posted here - https://docs.google.com/spreadsheets/d/1Kpc7jty0PMiu8QsM9KRiorP2jy9WCfn13f1_Lj4eeSU/edit?usp=sharing

[2018-10-07 21:09] jcwlib commented on #1288
Added to the booth schedule for 2:00 on Monday

[2018-10-07 21:10] jcwlib opened #1313 "Update DataPalooza Marketing Invite"

[2018-10-07 21:13] ChrisTheDBA commented on #1267
On Sunday Brigade Congress doesn't end until noon so we won't be back
earlier than 5 PM
Chris Mathews

On Sun, Oct 7, 2018 at 4:56 PM Janel <notifications@github.com> wrote:

[2018-10-07 21:15] jcwlib commented on #1267
Okay- we can only setup until 6:00 pm that day.  Let me know if it makes
sense for us to meet up before you leave for Charlotte or just aim to meet
up between 5 and 6:00 pm.

On Sun, Oct 7, 2018 at 5:13 PM Chris Mathews <notifications@github.com>
wrote:

[2018-10-07 21:36] jcwlib commented on #1271
DataJam registrants not on the mailing list - added and given the DataJam2018 tag

[2018-10-08 00:09] jcwlib commented on #1271
Civic Camp 2018 registrants not on the mailing list - added and given the Civic Camp 2018 tag

[2018-10-08 00:09] #1271 closed, assigned to jcwlib

[2018-10-08 12:01] jcwlib commented on #1308
scheduled to go out this morning at 9:30 am

[2018-10-08 12:02] #1308 closed, assigned to jcwlib

[2018-10-08 12:09] jcwlib opened #1314 "Newsletter - 10/18"
- [x] ATO schedule - NC Riot Pitch Night
- [x] DataPalooza registration - highlight Chief Alvarez
- [ ] IR Summit

[2018-10-08 20:56] #1288 closed, assigned to jhibbets

[2018-10-08 21:26] #1309 closed, assigned to jcwlib

[2018-10-08 21:37] jcwlib opened #1315 "Add DataPalooza Schedule to website"

[2018-10-08 21:38] jcwlib opened #1316 "Add DataPalooza keynote bio and picture to website"

[2018-10-08 22:05] jcwlib commented on #1316
use the same title/topic description from Civic Camp  for DataPalooza talk

[2018-10-08 22:31] jcwlib commented on #1298
add demo pitch from past blog post http://ncopenpass.com/civic-camp/civic-camp-archives/code-sprint-2016/

[2018-10-08 23:18] jhibbets opened #1317 "Host weekly meeting - Oct 8"

[2018-10-08 23:18] #1317 closed, assigned to jhibbets

[2018-10-08 23:19] #1301 closed, assigned to jhibbets, zachambrose

[2018-10-08 23:19] #1292 closed, assigned to ChrisTheDBA, jhibbets

[2018-10-08 23:42] jcwlib commented on #1313
https://docs.google.com/document/d/1_mARteinqsj51gufhHaeL7bDlQAMk02_g8b63-QFsR4/edit?usp=sharing

[2018-10-08 23:43] jcwlib opened #1318 "Pick DataPalooza ticket winner from Civic Camp survey"

[2018-10-08 23:50] jcwlib opened #1319 "Craft ATO marketing"
https://docs.google.com/document/d/1xG1hJO3uXxnCMZorFCVg9Y2hy9Egc8lP_wS00Opz4Pg/edit?usp=sharing

[2018-10-09 00:23] jcwlib commented on #1298
@jhibbets @zachambrose  - draft blog post https://docs.google.com/document/d/1dNmeYcOsv-4fzys9ubFOohvKR4RyEfSCTDAfyCpNLRM/edit?usp=sharing

[2018-10-09 13:42] jtawes commented on #1316
Done.

[2018-10-09 13:43] jtawes commented on #1315
Where can I find the schedule?

[2018-10-09 14:00] jcwlib commented on #1315
https://docs.google.com/document/d/1uzgcBSzyboBrwzCfpI2qaFS3Hu4eJbr-HA5XsUGEDA0/edit?usp=sharing - just the schedule part =)

[2018-10-09 14:01] jcwlib commented on #1316
Looks good - thanks!

[2018-10-09 14:01] #1316 closed, assigned to jtawes

[2018-10-09 14:20] jtawes commented on #1315
Done

[2018-10-09 14:36] jcwlib commented on #1315
Looks good!

[2018-10-09 14:36] #1315 closed, assigned to jtawes

[2018-10-09 14:37] jcwlib opened #1320 "Update DataPalooza Partners menu"
@jtawes - I'm getting a 404 error clicking on the partners menu button in the DataPalooza section

[2018-10-09 16:05] jcwlib commented on #1298
posted on blog and social media

[2018-10-09 16:05] #1298 closed, assigned to jhibbets, jcwlib, zachambrose

[2018-10-09 16:05] #1313 closed, assigned to jcwlib

[2018-10-09 16:14] jtawes commented on #1320
Done

[2018-10-09 17:04] jcwlib commented on #1320
Thanks!

[2018-10-09 17:04] #1320 closed, assigned to jtawes

[2018-10-09 18:12] #1303 closed, assigned to jhibbets, zachambrose

[2018-10-09 18:13] jhibbets opened #1321 "Get room assignment for ATO"

[2018-10-09 18:13] jhibbets commented on #1321
it's on the Back-End Developer track in Room 302A﻿

https://allthingsopen.org/talk/nc-open-pass-datapalooza-pitch-event/

[2018-10-09 18:13] #1321 closed, assigned to jhibbets

[2018-10-09 19:45] zachambrose commented on #1321
I don't see it on the schedule yet. Am I missing it?
https://allthingsopen.org/schedule/#day-2

On Tue, Oct 9, 2018 at 2:14 PM Jason Hibbets <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2018-10-09 19:47] zachambrose commented on #1321
Nevermind. I see it. They've got it at 1. Weren't we thinking 12:30?

On Tue, Oct 9, 2018 at 3:45 PM Zach Ambrose <zambrose@ambrosestrategy.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2018-10-09 20:47] jhibbets commented on #1321
It might be better if we shift it to 1pm to fit in with their time slots.

[2018-10-09 22:39] zachambrose commented on #1312
That sounds great. Feel free to add any specifics that you want, @dtraleigh .

[2018-10-09 22:39] #1312 closed, assigned to zachambrose

[2018-10-09 22:57] jcwlib commented on #1281
done

[2018-10-09 23:06] jcwlib commented on #1310
survey is officially closed

[2018-10-09 23:06] jhibbets opened #1322 "Open data team outreach - Innovate Durham"

[2018-10-09 23:08] #1293 closed, assigned to ChrisTheDBA, jhibbets, zachambrose, jtawes

[2018-10-09 23:12] jhibbets commented on #1294
Sent times Chris and I are available this Friday

[2018-10-09 23:13] jhibbets opened #1323 "Open data team outreach - NCRioT"

[2018-10-09 23:14] jcwlib commented on #1318
done

[2018-10-09 23:15] #1318 closed, assigned to jcwlib

[2018-10-09 23:25] jcwlib opened #1324 "Send Results of ATO Pitch to WRAL Techwire"
- [ ] details on teams that pitched at ATO
- [ ] details on finalists for DataPalooza
- [ ] what is coming up next

[2018-10-09 23:25] jcwlib opened #1325 "Blog post with ATO Team Lineup"

[2018-10-09 23:33] #1323 closed, assigned to jhibbets

[2018-10-09 23:33] #1322 closed, assigned to jhibbets

[2018-10-09 23:34] #1281 closed, assigned to jhibbets, jcwlib

[2018-10-09 23:34] jhibbets opened #1326 "Open data team outreach - NCSU"

[2018-10-09 23:42] #1326 closed, assigned to zachambrose

[2018-10-09 23:50] jhibbets commented on #1280
https://www.meetup.com/Triangle-Code-for-America/events/255405910/

[2018-10-09 23:50] #1280 closed, assigned to jhibbets

[2018-10-09 23:52] jhibbets opened #1327 "Open data team outreach - City of Raleigh"

[2018-10-09 23:54] #1327 closed, assigned to jhibbets

[2018-10-10 00:02] zachambrose opened #1328 "Email people about recruiting teams"
Ryan Nilsen, Ryan Thornburg, Tony Kershaw, Raj Narajan, HQ, AU, Nest, Bullpen

[2018-10-10 00:02] zachambrose commented on #1328
Did Ryan Nilsen, Ryan Thornburg, Tony Kershaw, Raj Narajan, HQ, AU, Nest, Bullpen

[2018-10-10 00:02] jhibbets commented on #1328
NCRioT (Tom), Innovate Durham, Jim Scarbarough, Derrick Minor

[2018-10-10 00:03] #1328 closed, assigned to jhibbets, zachambrose

[2018-10-10 00:05] zachambrose opened #1329 "Use Gmass to encourage team signups"

[2018-10-10 00:05] zachambrose commented on #1329
Sent to Civic Camp teams, 2017 teams and August 2018 hackathon team.

[2018-10-10 00:05] #1329 closed, assigned to zachambrose

[2018-10-10 00:08] jhibbets opened #1330 "Install SSL cert on NC Open Pass"
For December 2018

[2018-10-10 00:44] zachambrose opened #1331 "Add DataPalooza to NCSU Entrepreneurship calendar"

[2018-10-10 00:44] zachambrose commented on #1331
Added here. https://entrepreneurship.ncsu.edu/alliance-resources/

[2018-10-10 00:44] #1331 closed, assigned to zachambrose

[2018-10-10 00:51] zachambrose commented on #1328
Leo did Loading Dock

[2018-10-10 01:52] jhibbets commented on #1328
Reached out to a contact at WakeTech

[2018-10-10 02:24] jhibbets commented on #1283
We can make a new YouTube account with NC Open Pass gmail.

[2018-10-10 12:11] jcwlib opened #1332 "Update ATO team deadline"
- [x]  marketing template
- [x] social media posts
- [x] blog posts

[2018-10-10 12:12] #1332 closed, assigned to jcwlib

[2018-10-10 12:13] #1311 closed, assigned to jcwlib

[2018-10-10 12:14] jcwlib commented on #1278
Need to pull out the open resources content from the old site into its own page and linked off the main NC Open Pass navigation menu

[2018-10-10 12:15] jcwlib commented on #1210
@FrankCJones - please go ahead and setup your automated backup system on ncopenpass.com -  we discussed it at the meetup last night and it is acceptable to have your business in the footer of the site.

[2018-10-10 12:35] zachambrose opened #1333 "Email DataPalooza MeetUp but no Eventbrite"

[2018-10-10 17:32] dtraleigh commented on #1283
I'm happy to own creating the new youtube page if you guys give me the creds. Up to you guys but I'm about halfway done with the videos so will be ready to upload soon.

[2018-10-11 12:38] zachambrose opened #1334 "Email sponsors about DataPalooza"

[2018-10-11 15:22] zachambrose commented on #1334
I've done UserVoice, data.world, Innovate Carolina, Innovate Raleigh, WeWork & DevOps

[2018-10-11 15:22] zachambrose commented on #1334
O'Reilly only sponsored Civic Camp.

[2018-10-11 15:35] zachambrose opened #1335 "Track DataPalooza scholarship tickets"

[2018-10-11 15:36] zachambrose commented on #1335
UserVoice - 4
Total - 4

[2018-10-12 15:52] zachambrose opened #1336 "Send updates to open page"

[2018-10-12 15:52] zachambrose commented on #1336
Let's send updates to http://ncopenpass.com/open-data/ to @jtawes

[2018-10-12 18:19] jcwlib commented on #1278
closing as Zach opened a separate ticket for the last remaining item

[2018-10-12 18:20] #1278 closed, assigned to jtawes

[2018-10-15 15:42] zachambrose opened #1337 "Talk to Chris Erdmann about potential teams"

[2018-10-15 15:43] zachambrose commented on #1337
Done.

[2018-10-15 15:43] #1337 closed, assigned to zachambrose

[2018-10-15 19:12] zachambrose opened #1338 "Change HQ Raleigh to Gold level sponsorship"

[2018-10-15 19:35] jtawes commented on #1338
done

[2018-10-15 20:41] jcwlib commented on #1338
need to update the partners poster as well

[2018-10-15 22:13] jcwlib commented on #1304
ready to print

[2018-10-15 22:13] #1304 closed, assigned to jtawes

[2018-10-15 22:13] jcwlib commented on #1306
ready for printing

[2018-10-15 22:13] #1306 closed, assigned to jtawes

[2018-10-15 22:13] #1267 closed, assigned to jcwlib

[2018-10-15 22:14] jcwlib commented on #1300
Need to adjust HQ Raleigh's level and then ready for printing

[2018-10-15 22:40] jcwlib opened #1339 "Blog post on ATO Pitch results"
schedule to post Monday night at 5:45 pm

[2018-10-15 22:53] dtraleigh opened #1340 "Getting to DP blog post"

[2018-10-15 23:07] zachambrose opened #1341 "Bring NC Open Pass cards/fliers for ATO pitches"

[2018-10-15 23:10] zachambrose commented on #1341
@jcwlib Can you bring them to the booth and I'll grab them and bring them to the pitches?

[2018-10-17 14:45] zachambrose opened #1342 "Update marketing template with ATO team info"

[2018-10-17 14:45] zachambrose commented on #1342
Team names and descriptions are here - https://docs.google.com/spreadsheets/d/1LnJL_o-qUNiPvQjdfXbe3zQOR9Qa6IzZRT5EYcO9a0A/edit?usp=sharing

[2018-10-17 17:49] zachambrose opened #1343 "remove team signup language from Marketing Template"

[2018-10-19 11:36] #1319 closed, assigned to jcwlib

[2018-10-19 11:36] #1342 closed, assigned to jcwlib

[2018-10-19 12:04] jcwlib commented on #1325
published and scheduled on social media http://ncopenpass.com/blog/teams-are-selected-for-next-step-in-datapalooza-open-data-competition/

[2018-10-19 12:04] #1325 closed, assigned to jcwlib

[2018-10-19 13:40] jcwlib commented on #1314
Drafted and scheduled to be sent 10/19 at 10:30 am

[2018-10-19 13:40] #1314 closed, assigned to jcwlib

[2018-10-21 23:44] jcwlib commented on #1339
@zachambrose here is a draft blog post in preparation for tomorrow's pitch event https://docs.google.com/document/d/1m0lADymIDENmW9tCYPFlhYS39Jh6HaJ3ASOURRVu7a0/edit?usp=sharing

[2018-10-22 00:52] zachambrose opened #1344 "Print ATO judging documents"

[2018-10-22 01:03] zachambrose opened #1345 "Print ATO judging documents"

[2018-10-22 15:02] #1341 closed, assigned to jcwlib, zachambrose

[2018-10-22 19:13] zachambrose commented on #1345
Done.

[2018-10-22 19:13] #1345 closed, assigned to zachambrose

[2018-10-22 19:13] zachambrose commented on #1344
Duplicate

[2018-10-22 19:13] #1344 closed, assigned to zachambrose

[2018-10-22 19:14] zachambrose opened #1346 "Email ATO judges thank you"

[2018-10-22 19:14] zachambrose opened #1347 "Email ATO teams with contest results"

[2018-10-22 19:32] zachambrose commented on #1346
Done.

[2018-10-22 19:32] #1346 closed, assigned to zachambrose

[2018-10-22 21:37] jcwlib commented on #1339
scheduled to be published at 5:45

[2018-10-22 21:37] #1339 closed, assigned to jcwlib

[2018-10-23 19:41] #1324 closed, assigned to jhibbets, jcwlib, zachambrose

[2018-10-23 19:42] jcwlib opened #1348 "Send ATO Booth visitors follow-up message"
Need to send a one-time message to ATO booth visitors sharing upcoming happenings and offering for them to sign-up for our newsletter going forward.

[2018-10-23 19:43] jcwlib commented on #1348
@ChrisTheDBA and @TaxLadyTracy  - let me know how you want to coordinate transcribing the sign-up sheets