[2017-06-08 14:41] suzanneccnc opened #421 "compendium of past projects"
compile a list of projects that came out of past citcampnc/ncdatapalooza. this would be helpful in approaching potential sponsors and speakers

[2017-06-08 14:43] suzanneccnc opened #422 "create event material to hand out at events"
something like a postcard or even a sticker with combined citycampnc/ncdatapalooza logos, dates, tag line or brief explanation. ex of target audience: nc data rescue events

[2017-06-12 18:37] zachambrose commented on #421
Hi, Suzanne.  I've shared the 2015 and 2016 DataPalooza teams with you.
Just let me know if you want me to do anything with them.

Zach

On Thu, Jun 8, 2017 at 10:41 AM, suzanneccnc <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-06-12 21:52] #405 closed, assigned to jhibbets

[2017-06-12 21:53] jhibbets opened #423 "Host monthly planning meet-up - 6/12"

[2017-06-12 22:47] #423 closed, assigned to jhibbets

[2017-06-16 21:36] jhibbets opened #424 "Connect Bill Scanlon to data.world"

[2017-06-16 21:38] #424 closed, assigned to jhibbets

[2017-06-21 21:31] suzanneccnc opened #425 "determine if participating in MAIN Event Aug. 4 press conference"
Need a decision about participating in MAIN Event  press conference.  I cannot do it.

[2017-06-21 21:36] suzanneccnc opened #426 "send event info for MAIN Event calendar"
dates/times/locations (event schedule?) to
Donna-maria Harris | Communication Administrator | City of Raleigh 919-996-3014

[2017-06-21 22:56] suzanneccnc opened #427 "add account login file to marketing folder"

[2017-06-21 23:01] suzanneccnc opened #428 "confirm time for pitches at All Things Open"

[2017-06-21 23:09] suzanneccnc commented on #425
Zach ok for DataPalooza

[2017-06-21 23:11] zachambrose commented on #425
It wasn't a big value last year, but if they get better attendance then it
might be more worthwhile.  I covered City Camp and DataPalooza last year
and one person can cover everything if we participate again this year.

On Wed, Jun 21, 2017 at 7:09 PM, suzanneccnc <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseSt

[2017-06-22 16:43] zachambrose opened #429 "Decide whether or not to merge mailchimp lists"

[2017-06-22 19:25] jhibbets commented on #428
Most likely the Monday of ATO during the lunch sessions.

On Jun 21, 2017 7:01 PM, "suzanneccnc" <notifications@github.com> wrote:

[2017-06-22 19:38] suzanneccnc opened #430 "estimated attendance"
Ask from MAIN Event for their calendar listing, but good for us to have a number in mind as well. Last year's calendar listed NC Data Jam est. attendance at 150 with NC CityCamp est attendance at 300.

[2017-06-22 19:47] jhibbets commented on #430
300

On Jun 22, 2017 3:38 PM, "suzanneccnc" <notifications@github.com> wrote:

[2017-06-22 19:58] suzanneccnc commented on #418
URL for logo (vector) & URL for Logo (web for NC DataPalooza & URL for logo (vector) for NC CityCamp. Ask is from MAIN Event for the Calendar. I suggest that we go with whatever we have now (if anything), and update MAIN Event later if we redo logos (like to add "NC OpenPass").

[2017-06-22 20:01] suzanneccnc commented on #427
related to item 399

[2017-06-22 20:04] suzanneccnc opened #431 "decide if NC DataPalooza will have Facebook presence"
CityCamp has a facebook page, but DataPalooza currently does not. Will DataPalooza create its own page? Will CityCamp page be expanded to include NC DataPalooza. Ask is from MAIN Event calendar.

[2017-06-22 22:13] ChrisTheDBA commented on #430
All documented in the prospectus, so we have the exact numbers if interested.

[2017-06-22 22:14] ChrisTheDBA commented on #430
The numbers that are in the prospectus are closer to 225, but 300 sounds good

[2017-06-22 22:17] suzanneccnc commented on #430
Thanks Chris! Forgot they were there.

[2017-06-23 11:06] zachambrose commented on #430
Chris and Jason, what numbers would you say for Saturday of City Camp
(DataPalooza kickoff)?

On Thu, Jun 22, 2017 at 6:17 PM, suzanneccnc <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-06-23 11:07] zachambrose commented on #418
Sounds good to me.   The DataPalooza logo is in the marketing folder.

On Thu, Jun 22, 2017 at 3:58 PM, suzanneccnc <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-06-23 11:41] ChrisTheDBA commented on #430
We did lunch for 80. So say 100-110.

On Fri, Jun 23, 2017 at 7:06 AM zachambrose <notifications@github.com>
wrote:

--
Chris Mathews

[2017-06-26 15:37] zachambrose commented on #431
​We haven't had one in the past.  Do you think it would make a significant
difference in attendees?  ​

On Thu, Jun 22, 2017 at 4:04 PM, suzanneccnc <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-06-26 15:40] zachambrose commented on #427
Should we add DataPalooza credentials to the same file?

On Thu, Jun 22, 2017 at 4:01 PM, suzanneccnc <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-06-26 15:41] ChrisTheDBA commented on #431
Maybe use a combined "NC OpenPass" FB page and Instagram and whatever the
kids are using these days. Can we rename the CityCamp page, I'd hate to
lose the audience we have built!

Chris Mathews

On Mon, Jun 26, 2017 at 11:37 AM, zachambrose <notifications@github.com>
wrote:

[2017-06-26 15:43] zachambrose commented on #431
That makes sense to me.

On Mon, Jun 26, 2017 at 11:41 AM, Chris Mathews <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-06-26 17:30] jhibbets commented on #431
I'm not opposed to making those suggested update, but I would hold off on
renaming anything right now in case we decide to rename it later to
something else anyway.. Just use the CityCamp NC Facebook as-is and let's
not create anything new for Datapalooza. Just my thoughts--thinking let's
not create more work now or later.

iirc, we decided to just use the hashtag, #ncopen or #ncopenpass for socia

[2017-06-29 13:22] jhibbets opened #432 "Coordinate speaker kickoff and recurrring meeting"
Need help to get initial speakers meeting date/time/calendar invite and recurring meeting for the subcomittee to meet.

Speakers include, CityCamp NC keynotes, panels, lightning talks, and requested unconference sessions. Datapalooza includes keynotes and judges for CitCamp kickoff, ATO session, and finale.

[2017-06-30 14:04] toobulkeh commented on #396
Hey @jhibbets and @ChrisTheDBA -- are tasks deleted from Waffle? The link above is not working for me.

[2017-06-30 14:05] toobulkeh commented on #396
Here's the data in GitHub (not Waffle) - https://github.com/codeforraleigh/NCOpenPass/issues/391

[2017-06-30 14:28] #396 closed, assigned to toobulkeh

[2017-06-30 14:28] toobulkeh commented on #396
Added to templates:
https://docs.google.com/document/d/1EXbWQPWnLM68CzGk5beV65ElPmL3OwF-mTswYHncBtY/edit

https://docs.google.com/document/d/1Jr23k3UpaquJhxuWMvQXh1LFgCU2puvm5igqdWgbOZA/edit

https://docs.google.com/document/d/1SPbfKcQCV-kZAuX1HWQ40kmFZfNFMFgBpMQrPpevQUA/edit

[2017-06-30 14:47] ChrisTheDBA commented on #396
Closed issues will age off the waffle board display, but stll available on
the github issue page.

Chris Mathews

On Fri, Jun 30, 2017 at 10:04 AM, Dan Moore <notifications@github.com>
wrote:

[2017-07-10 15:20] jhibbets commented on #428
Answer is Monday during lunch. So most likely 12:15 or 12:30 start time.

[2017-07-10 15:20] #428 closed, assigned to jhibbets, zachambrose

[2017-07-10 15:22] jhibbets opened #433 "Send reminder for July 10 meet-up"

[2017-07-10 15:23] jhibbets opened #434 "Host July 10 meet-up"

[2017-07-10 15:23] #433 closed, assigned to jhibbets

[2017-07-10 15:23] zachambrose commented on #428
Great!  Thanks, Jason.

On Mon, Jul 10, 2017 at 11:20 AM, Jason Hibbets <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-07-10 23:11] suzanneccnc opened #435 "NC Open Pass at Creative Mornings RDU"
reach out to Jonathan Opp to pitch having NC Open Pass present at August Creative Mornings. From 7/10 planning meeting, one idea is to use the GDI/Wake Forest Open Data Portal story; maybe include ESRI somehow.

[2017-07-10 23:17] #434 closed, assigned to jhibbets

[2017-07-10 23:27] jhibbets opened #436 "Create blue version of NC Open Pass logo"
Hex: 1d365c
Add vector file and PNG to Google Drive

[2017-07-10 23:29] jhibbets commented on #408
@carsi Can you create a new version of each logo, CityCamp NC and NC Dataplooza, and add a "by NC Open Pass" in appropriate font for each in an appropriate location under the typeface?

[2017-07-10 23:30] suzanneccnc opened #437 "color theme for 2017"
decide what color should be used for text, background (like for flag), t-shirts.

[2017-07-10 23:36] zachambrose commented on #408
The DataPalooza logo is in the DataPalooza folder in the marketing folder.
Just let me or Brent know what else we need to pull together.

Here are all the files from DataPalooza 2016 if you want to explore.  :)  ​
 Datapalooza 2016
<https://drive.google.com/drive/folders/0BxSvt4naKiIlZjBWU0p0VUFGTm8>
​​​

On Mon, Jul 10, 2017 at 7:29 PM, Jason Hibbets <notifications@github.com>
wrote:

--
Zach Amb

[2017-07-10 23:37] jhibbets opened #438 "Create stacked version of 3 logos"
The planning team loved what you did, we like the yellow version, the one in the middle. If we could get that in the dark blue that would be great. We are also wondering if you could do a "straight" stacked version of all three logos:
[NC] OPEN PASS
CityCamp [NC]
[NC] Datapalooza

where [NC] is the hexagon
and ,Open Pass in blue/white, CityCamp in green/white, DataPalooza inorange/blue

Hopefully

[2017-07-10 23:41] suzanneccnc opened #439 "consider Carroll's Kitchen as food vendor"
www.carrollskitchen.org Good cause; great food; they do catering. Contact: Teresa Garrett, Program Director

[2017-07-10 23:51] jhibbets commented on #437
white

On Mon, Jul 10, 2017 at 7:30 PM, suzanneccnc <notifications@github.com>
wrote:

[2017-07-11 09:26] ChrisTheDBA commented on #437
I agree, white.

Chris Mathews

On Mon, Jul 10, 2017 at 7:51 PM, Jason Hibbets <notifications@github.com>
wrote:

[2017-07-11 09:29] ChrisTheDBA commented on #439
need to takein to consideration price. Breakfast is $110 for 10 people.
That comes out to +$1400 for breakfast. Lat year brekfast cost $500 for
both days. Lunch is $12 per boxed lunch sandwich. We did hot lunch both
days for $9/person.

We need to see if we can get price down.

Chris Mathews

On Mon, Jul 10, 2017 at 7:41 PM, suzanneccnc <notifications@github.com>
wrote:

[2017-07-11 13:25] carsi commented on #437
White works best over colored backgrounds (mid-tone to dark).

[2017-07-11 15:32] carsi commented on #435
Creative Mornings has a theme for their speakers each month (the theme for July is Equality, for example). I couldn't find the theme for August, but it will be a more effective pitch to Jonathan Opp if the story we want to tell conforms to August's theme.

[2017-07-11 15:35] carsi commented on #436
Will do. In what instances will NC Open Pass logo be used instead of NC Datapalooza and NC CityCamp logos?

[2017-07-11 15:40] ChrisTheDBA commented on #436
It's CityCamp NC btw.

On Tue, Jul 11, 2017 at 11:35 AM carsi <notifications@github.com> wrote:

--
Chris Mathews

[2017-07-11 16:51] jhibbets commented on #436
The sole version of NC open pass will be used on the landing page site and
eventbright.

On Jul 11, 2017 11:40 AM, "Chris Mathews" <notifications@github.com> wrote:

[2017-07-11 21:53] suzanneccnc commented on #435
Agreed, however, the theme is usually not announced until the first week of
the month. The pitch to Jonathan will be that NC Open Pass (CityCamp,
DataPalooza) story can support many stories/themes: equality (open data for
all, all welcome), innovation, bravery (unconference), empowerment, etc.
Best regards,
Suzanne

On Tue, Jul 11, 2017 at 11:32 AM, carsi <notifications@github.com> wrote:

[2017-07-12 04:26] jhibbets opened #440 "Archive 2016 CityCamp NC web pages"

[2017-07-12 04:26] jhibbets opened #441 "Document how to archive CityCamp NC website pages"

[2017-07-12 04:26] #440 closed, assigned to jhibbets

[2017-07-12 04:26] jhibbets commented on #441
https://docs.google.com/document/d/1glL1ts01sgVGKiG3Z3bL15UVwfF6DbS_OHPG4qf9S6E/edit#heading=h.l64u5irhnpdx

[2017-07-12 04:27] jhibbets opened #442 "Update site navigation with 2016 archived pages"

[2017-07-12 04:27] #441 closed, assigned to jhibbets

[2017-07-12 04:27] #442 closed, assigned to jhibbets

[2017-07-12 04:33] jhibbets opened #443 "Fix 2016 sponsor page, logos are stretched"
http://citycampnc.org/2016-sponsors/

I tried to go through this a few times and remove some HTML that appeared to be stretching and maxing on the logos, but it seems to not be working. I removed ?w strings from the source files in the IMG attribute and other things that appeared to be expanding the logos.

I'm curious what the srcset= does

[2017-07-12 04:35] jhibbets commented on #443
removing sortset= lines seemed to do the trick

[2017-07-12 04:36] #443 closed, assigned to jhibbets

[2017-07-12 21:34] carsi commented on #436
Blue logo is in the Drive.

[2017-07-12 21:34] #436 closed, assigned to carsi

[2017-07-13 20:01] jhibbets opened #444 "Meeting with C-spring"

[2017-07-13 20:42] #444 closed, assigned to ChrisTheDBA, jhibbets, zachambrose

[2017-07-13 20:43] jhibbets opened #445 "Send C-Spring announcement details when registration opens"
They will forward to SIM communications committee for distribution

[2017-07-14 14:32] jhibbets opened #446 "NC Open Pass call with Code for Durham"
July 14 @ 12:30

[2017-07-14 15:01] jhibbets opened #447 "Update Venue info on CCNC website"
http://citycampnc.org/venue/

[2017-07-14 15:03] jhibbets opened #448 "Update sponsor page on CCNC website"
http://citycampnc.org/sponsors/

[2017-07-14 16:48] #446 closed, assigned to ChrisTheDBA, jhibbets

[2017-07-17 23:37] dtraleigh opened #449 "Table layout for Nash Hall"
Create a plan ahead of time about how to lay our the tables and chairs during the Friday speaker session and afternoon unconference.

[2017-07-17 23:46] dtraleigh commented on #449
Here's my  idea for this year. Any feedback would be appreciated.

https://docs.google.com/document/d/1otLQKA8D-SzYyC8psRUOpPDZcSFqo5iTDl67qQ19OWk/edit?usp=sharing

[2017-07-18 19:33] dtraleigh commented on #419
I inquired with Capital Flag and Flagpole and they need 5 weeks lead time to create the flag. Can we set a deadline for the logo of August 23?

[2017-07-18 19:34] dtraleigh commented on #438
FYI, the ordering of the flag is dependent on this. Can we set a deadline of August 23 on this?

[2017-07-18 20:18] carsi commented on #438
![ncop_bluelogo](https://user-images.githubusercontent.com/3422850/28337720-935dea8c-6bd4-11e7-88ce-71e21d71b7ab.png)
Logo is now in the Drive (named NCOP_bluelogo.png and .svg)

[2017-07-18 20:27] ChrisTheDBA commented on #438
That looks pretty great.

Chris Mathews

On Tue, Jul 18, 2017 at 4:18 PM, carsi <notifications@github.com> wrote:

[2017-07-18 20:29] suzanneccnc commented on #438
Is this the logo we will use for everything, no individual logos? Should we send this one over to MAIN event? If yes, is this the right (shareable with MAIN) url for the vector file?

[2017-07-19 02:13] jhibbets opened #450 "How do we involve/include Hack Duke with NC Open Pass?"
Hack Duke is happening on October 28th and 29th it s a 24 hour hackathon, wondering if there is any opportunity to partner with them. Although the dates don't really work out, but may be a good opp for teams to attend and "sprint" on their projects.

[2017-07-19 13:00] ChrisTheDBA commented on #438
I thought this was more for Leo's flag.

@suzanneccnc Since the main events thing is September specific do they want all of NC OpenPass or just CityCamp/DataJam?

[2017-07-19 13:05] suzanneccnc commented on #438
They prefer Sept-only events, but did say they could list some events that extended beyond. I think that we listed DataPalooza Oct/Nov dates last year. Regardless, the question is: is this new stacked NCOpenPass logo THE logo for this year, retirement of the CityCampNC "building" logo and NC DataPalooza "text only" logo?

[2017-07-19 13:09] ChrisTheDBA commented on #438
Thanks for the clarification on the Main Events coverage.

[2017-07-19 13:13] ChrisTheDBA commented on #438
I think it would take too much to completely retire the event only logos
including redesign of all websites so I vote no.

Chris Mathews

On Wed, Jul 19, 2017 at 9:07 AM, suzanneccnc <notifications@github.com>
wrote:

[2017-07-19 13:15] zachambrose commented on #438
I agree.  I vote for making any easy changes now and then we do more
substantial things next year once we've made it through the rebranding with
New Kind.

On Wed, Jul 19, 2017 at 9:13 AM, Chris Mathews <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-07-19 13:30] suzanneccnc commented on #438
Gotcha; makes sense. So then we'll use the green traditional CityCampNC logo (https://drive.google.com/drive/u/0/folders/0B8TjGFxBIz_Bfm80WExMbWpBTzNodVd2ZkNzeHk1ell6UzgtWmo0TXVyNlFMSExBVENpRlk) and the text only NC DataPalooza logo (https://drive.google.com/drive/u/0/folders/0BxSvt4naKiIlZjBWU0p0VUFGTm8). @zachambrose is there an .svg of the NCDataPalooza logo somewhere? I could only find that .p

[2017-07-19 13:32] zachambrose commented on #438
​I don't think so.  Brent, do you know if there is one in a different
format?​

On Wed, Jul 19, 2017 at 9:30 AM, suzanneccnc <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-07-19 13:44] dtraleigh commented on #438
Here are the requirements from Capital Flag:

"Adobe Illustrator or PhotoShop (Minimum bitmap file size: 100dpi @ 100%)
and all fonts should be converted to outline."

Do we have the stacked version in this format?

On Wed, Jul 19, 2017 at 9:32 AM, zachambrose <notifications@github.com>
wrote:

[2017-07-19 13:50] carsi commented on #438
Is there a specific aspect ratio?

[2017-07-19 13:52] dtraleigh commented on #438
They did not mention it.

On Wed, Jul 19, 2017 at 9:50 AM, carsi <notifications@github.com> wrote:

[2017-07-19 14:03] dtraleigh commented on #419
For the flag, we can choose a traditional rectangle shape or trapezoid shape. The "look" of it depends on how we hang it. A trapezoid will look "flat" when at a 45 degree angle while a rectangle needs to be hung on a pole at 0 degrees.

Attached is a diagram of a First Friday flag hung at an angle. I vote for this one.
![nash_hall_FF_flag.JPG](https://waffleio-direct-uploads-production.s3.amazonaw

[2017-07-19 14:26] suzanneccnc opened #451 "clarify NCOpenPass vs CityCampNC and NC DataPalooza"
When are we using combined website (www.ncopenpass.com) vs. legacy individual ones? When are we using new "stacked" logo vs. legacy logos? please help fill out matrix: https://drive.google.com/drive/u/0/folders/0BwjOr-60lG0lTklRNHZKN1RuSjg

[2017-07-19 14:28] suzanneccnc commented on #451
Deadline for MAIN event info is noon today.

[2017-07-19 14:29] carsi commented on #451
@suzanneccnc Can you recreate the matrix in Google Sheets? I cannot open xslx files.

Great idea. Thanks!

[2017-07-19 14:31] jhibbets commented on #451
Let's discuss the details on when to use what on the call tonight. For the
MAIN event, I would recommend we submit NC Open Pass details in addition to
CityCamp NC, to help give Datapaolloza some love even though its outside of
the September gathering.

On Wed, Jul 19, 2017 at 10:28 AM, suzanneccnc <notifications@github.com>
wrote:

[2017-07-19 14:38] suzanneccnc commented on #451
Done!

On Wed, Jul 19, 2017 at 10:29 AM, carsi <notifications@github.com> wrote:

[2017-07-19 17:45] #432 closed, assigned to zachambrose

[2017-07-19 17:46] jhibbets opened #452 "Update team about Civic Spark Day"

[2017-07-19 17:47] jhibbets opened #453 "Send speaker notes out from 7/18 meeting"

[2017-07-19 18:00] #452 closed, assigned to jhibbets

[2017-07-19 18:00] #453 closed, assigned to jhibbets

[2017-07-19 18:04] jhibbets commented on #438
RE: are we using this logo for everything? My initial feeling is that we should use this logo to promote NC Open Pass and use other event logos to promote each individual event. We are essentially running 4 simultaneous campaigns: Drive reg for NC Open Pass, drive reg / promote for Civic Spark Day, drive reg / promote for NC Open Pass, drive reg / promote for NC Datapalooza. No easy effort for sur

[2017-07-19 18:06] jhibbets commented on #451
oops - I put this on the wrong card, adding here and happy to discuss this evening.

RE: are we using this logo for everything? My initial feeling is that we should use this logo to promote NC Open Pass and use other event logos to promote each individual event. We are essentially running 4 simultaneous campaigns: Drive reg for NC Open Pass, drive reg / promote for Civic Spark Day, drive reg / pro

[2017-07-19 18:07] jhibbets commented on #449
Looks great @dtraleigh

[2017-07-19 18:59] #406 closed, assigned to suzanneccnc

[2017-07-19 19:01] #426 closed, assigned to nobody

[2017-07-19 22:43] natalienoel1 opened #454 "Export list of NC Datapalooza contacts from Mailchimp"

[2017-07-19 22:45] natalienoel1 opened #455 "Import list of passwords to LastPass"

[2017-07-19 22:45] #429 closed, assigned to zachambrose, suzanneccnc

[2017-07-19 22:49] jhibbets opened #456 "Create group in Hoostsuite for all social media accounts"

[2017-07-19 23:01] jhibbets opened #457 "Review/referesh for NC Datapalooza website"

[2017-07-19 23:03] jhibbets opened #458 "Set speaker / judge deadline for speaker committee"

[2017-07-19 23:05] jhibbets commented on #458
Decision is: August 18

[2017-07-19 23:05] #458 closed, assigned to jhibbets, zachambrose

[2017-07-19 23:06] #451 closed, assigned to ChrisTheDBA, carsi, jhibbets, zachambrose, suzanneccnc

[2017-07-19 23:12] jhibbets opened #459 "Update 2017 Prospectus with Civic spark day"

[2017-07-19 23:13] jhibbets commented on #459
Need logo from @smcclenn - please add to 2017  > Sponsor > Logo folder

[2017-07-20 01:25] jhibbets opened #460 "Connect Instagram with NC Open Pass Hootsuite account"

[2017-07-20 01:38] jhibbets commented on #399
Just set-up LP for: Eventbright (CityCamp NC + NC Datapalooza), Twitter (CityCamp NC + NC Datapalooza), Hootsuite, and survey monkey. Mailchimp should have a personal invite

[2017-07-20 01:39] jhibbets commented on #399
I can not access Youtube account, Instagram, or Dropbox, who has access to that??? @lenaecb @ashumz

[2017-07-24 19:08] ashumz commented on #399
No info on this one from my end - sorry!

[2017-07-24 19:17] ashumz opened #461 "update ncopenpass website (dates and venue info)"

[2017-07-24 19:30] ChrisTheDBA commented on #459
Prospectus updated and ready for review

[2017-07-24 19:33] ChrisTheDBA commented on #399
I have updated Instagram. How are they being stored?

[2017-07-24 19:47] ashumz commented on #64
@dtraleigh @jhibbets @suzanneccnc Circling back to this when going through Waffle cards....

If there hasn't been a decision on this, here are my thoughts:

Using  facebook live will allow us to have the content available on fb after we're done recording so people could watch the replay (not a feature with periscope I don't think?) and I believe we can make the livestream 'public' so you don't hav

[2017-07-24 19:56] ashumz commented on #415
@suzanneccnc assigning this one to you, since we talked awhile back about you being interested in helping with a press release :)

[2017-07-24 19:57] ashumz commented on #153
@jhibbets is this something we still need to do or can we close this out?

[2017-07-24 20:11] ashumz commented on #412
@natalienoel1 are you still interested in doing this? If so, we should talk through the details once Mailchimp is consolidated across all events.

@jhibbets do we plan to send out a blast to everyone who attended or registered last year to let them know about all NC OpenPass events for 2017?  If we did something like that, we could also include a CTA to sign up for the NC OpenPass newsletter, and

[2017-07-24 20:26] jhibbets commented on #153
If we have new media then yes. We'd have to look-up if we have any new
press hits / articles.

On Mon, Jul 24, 2017 at 3:57 PM, Ashley <notifications@github.com> wrote:

[2017-07-24 21:24] zachambrose commented on #412
I like it.

On Mon, Jul 24, 2017 at 4:11 PM, Ashley <notifications@github.com> wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-07-25 03:16] jhibbets commented on #459
I've gone through it and the changes look ed good to me. One thing to note, I change Code for the Triangle to Triangle Code for America to match the meet-up page to avoid any confusion.

[2017-07-25 03:17] jhibbets commented on #153
@ashumz - listing of media/press is in the prospectus! https://docs.google.com/document/d/1nlYCbqcFvOdUrMnRirAHPbZxtnf8j0XW8ybKbdnmsMk/edit#

[2017-07-25 04:17] jhibbets commented on #367
Open Pass Eventbrite is live: https://www.eventbrite.com/e/2017-nc-open-pass-tickets-36504335450

[2017-07-25 04:17] #367 closed, assigned to jhibbets

[2017-07-25 05:33] jhibbets commented on #461
Site is updated and committed to GitHub: http://ncopenpass.com/

- updated sponsor logos
- added link to registration
- updated wording for newsletter updates
- added Civic Spark Day
- updated dates for all events
- general updates to landing page

[2017-07-25 05:33] #461 closed, assigned to jhibbets

[2017-07-25 05:46] jhibbets commented on #412
I think we should send out an initial blast later this week or early next week to everyone who registered for NC Open Pass, CityCamp NC, and Datapalooza, by 8/1 for sure, to promote the early bird pricing for NC Open Pass.

Good news @ashumz While I was updating #461 I found a Google Form that we created to capture people interested in NC Open PAss: https://docs.google.com/forms/d/1pygO5X-TexMoHcs

[2017-07-25 05:54] jhibbets commented on #438
@carsi  can we get an additional rev of the blue/white version to include the Civic Spark Day

[NC] OPEN PASS
Civic Spark Day
CityCamp [NC]
NC Datapalooza

Thanks!

[2017-07-25 05:57] jhibbets commented on #460
waiting on correct lastpass to come through

[2017-07-25 06:43] jhibbets commented on #399
Youtube should be squared away.

[2017-07-25 13:26] carsi commented on #438
Yes.

Is there a possibility of several other events being included in the
future? If so, we can use the NC Open Pass logo without the events
underneath for the flag (so we can print it once) and append the NC Open
Pass website for additional events we want to include into NC Open Pass in
the future.

On Tue, Jul 25, 2017 at 1:54 AM, Jason Hibbets <notifications@github.com>
wrote:

[2017-07-25 13:57] jhibbets commented on #438
In the future yes. BUT not for 2017.

On Jul 25, 2017 9:26 AM, "carsi" <notifications@github.com> wrote:

[2017-07-25 14:48] carsi commented on #438
Do we want to reuse the flag in the coming years? I can create multiple
versions for digital and print use in this case.

On Tue, Jul 25, 2017 at 9:57 AM, Jason Hibbets <notifications@github.com>
wrote:

[2017-07-25 15:16] ashumz commented on #412
Great, @jhibbets! If it's cool with you, I can create a new list in Mailchimp from those contacts and get that moving (if you haven't already imported those contacts into Mailchimp?)

I'll take a look at embedded signup form options for the website. Easiest thing might be to add a page for ncopenpass.com/newsletter and embed a newsletter signup form there, and link to that from our email correspon

[2017-07-25 15:19] ashumz commented on #409
see #64  - this is a duplicate. closing out

[2017-07-25 15:19] #409 closed, assigned to nobody

[2017-07-25 16:07] jhibbets commented on #412
I have not imported that listing into MailChimp yet, that would be great if
you could help with that. I wanted to send a quick, simple email to those
30 folks that registration is open and they are some of the first to know,
so take advantage of the early bird pricing.

If you can get me embed code for the suggestion page, I can make that
happen.

On Tue, Jul 25, 2017 at 11:19 AM, Ashley <notifica

[2017-07-25 16:57] natalienoel1 commented on #412
Ashley, I am having an issue with gaining access to LastPass so I am unable
to get into Mailchimp so if you want to try and do that, that would be very
helpful!

On Tue, Jul 25, 2017 at 12:13 PM, Jason Hibbets <notifications@github.com>
wrote:

--
Natalie Noel
Marketing Manager
H/Q Raleigh & Charlotte
www.hq.community

<https://twitter.com/HQRaleigh>  <https://www.facebook.com/HubRaleigh>
<http://

[2017-07-25 20:09] jhibbets opened #462 "Upload ATO logos to Sponsorhip Logo folder"

[2017-07-25 20:10] jhibbets opened #463 "Update ATO logo on NC OpenPass site"

[2017-07-25 20:22] #462 closed, assigned to jhibbets

[2017-07-25 20:22] ChrisTheDBA commented on #462
I already did it. Winning!

[2017-07-25 20:23] ChrisTheDBA opened #464 "Sponsorship page with logos and links to partners"

[2017-07-25 20:25] #448 closed, assigned to ChrisTheDBA

[2017-07-25 20:25] ChrisTheDBA commented on #448
Duplicate

[2017-07-25 20:27] #463 closed, assigned to jhibbets

[2017-07-25 20:29] jhibbets opened #465 "Upload ATO logos to Sponsorhip Logo folder"

[2017-07-25 20:29] #465 closed, assigned to jhibbets

[2017-07-25 22:01] jhibbets opened #466 "Speaker committee meeting - 7/25"

[2017-07-25 22:38] #466 closed, assigned to jhibbets, zachambrose

[2017-07-25 22:52] jhibbets commented on #462
I added the other ones ';)

On Tue, Jul 25, 2017 at 4:22 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-07-25 23:35] dtraleigh commented on #64
Sounds good to me. I'll pursue this assuming we will stream via Facebook
Live.

On Mon, Jul 24, 2017 at 3:48 PM, Ashley <notifications@github.com> wrote:

[2017-07-25 23:43] dtraleigh commented on #438
I got a quote from Capital Flag for a 3'x5' flag for $291. Does this sound
good to go with local company or do you want me to shop around?

Also, they didn't answer my original question so I'm following up with them
but I prefer a trapezoid kind of flag so that when you hang it at a 45
degree angle, it falls "flat" Maybe that will produce a different cost.

Also, just so that I'm clear, I like thi

[2017-07-26 00:40] ChrisTheDBA commented on #438
Did we go over whether this is going to be re-usable? $300 is a lot to
spend if we are planning on re-doing the branding next year.

Chris Mathews

On Tue, Jul 25, 2017 at 7:43 PM, Leo Suarez <notifications@github.com>
wrote:

[2017-07-26 01:01] jhibbets commented on #438
I think we are safe to use the nc open pass with city camp and datapalooza
for this year.

On Jul 25, 2017 8:40 PM, "Chris Mathews" <notifications@github.com> wrote:

[2017-07-26 15:38] carsi commented on #438
All versions in Google Drive.

To clarify, are we using the revised NC Open Pass logo that includes Civic Spark Day, CityCamp NC, and Datapalooza?

Should we also include All Things Open if it's part of NC Open Pass, or are we excluding it because we are not running their marketing campaigns?

[2017-07-26 16:00] jhibbets commented on #438
We do not need All Things Open - mostly because people don't get full
access to the entire event and I want to avoid that confusion.

On Wed, Jul 26, 2017 at 11:38 AM, carsi <notifications@github.com> wrote:

[2017-07-26 18:32] carsi commented on #437
I think we are using hex #1d365c and white for color theme this year, since we are using this color for the logo.

@jhibbets @ChrisTheDBA Please confirm.

[2017-07-26 18:32] carsi commented on #437
I think we are using hex #1d365c and white for color theme this year, since we are using this color for the logo.

@jhibbets @ChrisTheDBA Please confirm.

[2017-07-26 18:34] carsi commented on #438
<img width="1199" alt="screen shot 2017-07-26 at 2 26 35 pm" src="https://user-images.githubusercontent.com/3422850/28637375-50b7c00e-720f-11e7-92f8-7332c1d146ac.png">

@dtraleigh I have no opinion on the flag shape. Either seems to work as long as there isn't a huge price difference and there is a way to hang the flag.

[2017-07-26 18:58] dtraleigh commented on #438
The flag pole bracket on the building, and in my opinion is most typical,
is at an angle. I'll wait and see about the cost difference.

On Wed, Jul 26, 2017 at 2:34 PM, carsi <notifications@github.com> wrote:

[2017-07-27 18:21] dtraleigh commented on #438
Alright. Decision time. Capital Flag says it's the same price either style
we want. Are we ready to go with this?

I propose trapezoid blue logo design for $300. ($291.24 to be exact)
Alternative is to consider another vendor but it'll be online most likely
not local.

I love that mockup by the way Carsi! :)

On Wed, Jul 26, 2017 at 2:58 PM, Leo Suarez <leo@dtraleigh.com> wrote:

[2017-07-27 18:44] ChrisTheDBA commented on #438
Flags are 75-100 online but ok.

On Thu, Jul 27, 2017 at 2:21 PM Leo Suarez <notifications@github.com> wrote:

--
Chris Mathews

[2017-07-27 23:01] dtraleigh commented on #438
oh wow. Where are you seeing that? I think the main price difference is in
how many sides they make, one or two.

On Thu, Jul 27, 2017 at 2:44 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-07-28 11:10] ChrisTheDBA commented on #438
Yeah, I was reading through and there are a lot of variables. Order from
your guy and submit the expense. You have expensify, right? CC me on it and
it will get approved quick.

Chris Mathews

On Thu, Jul 27, 2017 at 7:01 PM, Leo Suarez <notifications@github.com>
wrote:

[2017-07-28 12:29] dtraleigh commented on #438
Yup. I'm on Expensify.

On Fri, Jul 28, 2017 at 7:10 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-07-30 18:43] dtraleigh commented on #64
Best solution I've found so far is a Mevo.

https://www.getmevo.com/collections/cameras

We can mount it on a tripod, connect it to power, wifi, and let it stream to Facebook. No need for anyone to monitor it but in case someone does want to, we can do live video editing via the app. A smartphone is not required if the camera has wifi but it can stream to the smartphone over data. (if we ever need

[2017-07-30 18:44] dtraleigh opened #467 "Order tables from Deejay's"

[2017-07-30 18:45] #449 closed, assigned to dtraleigh

[2017-07-30 20:39] ChrisTheDBA commented on #64
That looks good. The Amazon reviews and comments seem to indicate it would
do what we need. Good find.

Chris Mathews

On Sun, Jul 30, 2017 at 2:43 PM, Leo Suarez <notifications@github.com>
wrote:

[2017-07-31 12:38] #464 closed, assigned to ChrisTheDBA

[2017-07-31 12:40] ChrisTheDBA commented on #439
Prices are kind of high as stated above. Also didn't seem too into Saturday catering.

[2017-07-31 12:43] ChrisTheDBA opened #468 "T-shirts for CityCamp - decide August 7"
We should stick with current vendor. Local, good price and service

[2017-07-31 12:45] ChrisTheDBA opened #469 "Google Fiber - after party"
Google has offered their space for after party.

need caterer and headcount. Thinking 50 people.

[2017-07-31 12:46] ChrisTheDBA opened #470 "Libations for kickoff"
Decide what we need - head count and sources

[2017-07-31 12:46] ChrisTheDBA opened #471 "Libations for Afterparty"
Figure for 50 people

[2017-07-31 12:49] ChrisTheDBA commented on #468
Decide colors

[2017-07-31 12:50] #459 closed, assigned to ChrisTheDBA

[2017-07-31 12:51] ChrisTheDBA commented on #450
Who has a contact with organizers?

[2017-07-31 12:55] ChrisTheDBA commented on #437
So what would be a complementary color? #5c431d

[2017-07-31 12:56] ChrisTheDBA commented on #467
Tracy would like to add 2 rectangular for food, etc.

[2017-07-31 13:40] carsi commented on #437
#5c431d is a brown?

On Mon, Jul 31, 2017 at 8:55 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-07-31 13:49] ChrisTheDBA commented on #437
Yes. Thinking about citycamp t-shirts.

On Mon, Jul 31, 2017 at 9:40 AM carsi <notifications@github.com> wrote:

--
Chris Mathews

[2017-07-31 13:51] carsi commented on #437
How about something like #E7D876 (a bright yellow) or #DF765C (a
red-orange)?

On Mon, Jul 31, 2017 at 9:49 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-07-31 15:30] aikimark commented on #469
Will this also be one of the two libation events?

[2017-07-31 15:32] aikimark commented on #470
I need a head count, and budget.

[2017-07-31 15:33] aikimark commented on #471
What is the budget for this 50-person event?

[2017-07-31 15:35] aikimark opened #472 "Beer choice trip"
I will be happy to set up a trip to the brewery.  Let me know if you're interested.  I will also accept requests and suggestions for beer style/flavor.

[2017-07-31 15:40] dtraleigh commented on #438
@carsi Capital Flag complained that the svg file is not vector art.

I asked them specifically for what they need but maybe you have an idea? :/

[2017-07-31 15:43] carsi commented on #438
I opened one of the svg files and it is vector art. Can you give me the
specific file name you gave Capital Flag so I can try to diagnose the
problem?

On Mon, Jul 31, 2017 at 11:40 AM, Leo Suarez <notifications@github.com>
wrote:

[2017-07-31 15:46] dtraleigh commented on #438
"NCOP_bluelogo.svg"

On Mon, Jul 31, 2017 at 11:43 AM, carsi <notifications@github.com> wrote:

[2017-07-31 15:52] carsi commented on #438
Looks like I forgot to expand the type, so I will reupload the logo as
expanded shapes in a svg file. Sorry about that.

On Mon, Jul 31, 2017 at 11:46 AM, Leo Suarez <notifications@github.com>
wrote:

[2017-07-31 15:55] carsi commented on #438
It has been reuploaded as the same file name "NCOP_bluelogo.svg" in the
same Google Drive folder. Thanks Leo!

On Mon, Jul 31, 2017 at 11:52 AM, Carsi Tong <carsi.tong@gmail.com> wrote:

[2017-07-31 16:31] TaxLadyTracy commented on #472
Just my opinion but we need to keep it simple maybe 2 types.

Sent from my Verizon, Samsung Galaxy smartphone
-------- Original message --------From: aikimark <notifications@github.com> Date: 7/31/17  11:36 AM  (GMT-05:00) To: codeforraleigh/NCOpenPass <NCOpenPass@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Subject: [codeforraleigh/NCOpenPass] Beer choice trip (#472)
I will

[2017-07-31 17:15] dtraleigh commented on #438
Awesome. Thanks a lot!

On Mon, Jul 31, 2017 at 11:55 AM, carsi <notifications@github.com> wrote:

[2017-07-31 17:20] dtraleigh commented on #472
I agree. 1 or 2. No more.

On Mon, Jul 31, 2017 at 12:31 PM, TaxLadyTracy <notifications@github.com>
wrote:

[2017-07-31 17:22] dtraleigh commented on #438
By the way, for all, is this issue done? Sorry, I've taken it over with
flag speak. (which is EXCITING you guys!)

On Mon, Jul 31, 2017 at 1:15 PM, Leo Suarez <leo@dtraleigh.com> wrote:

[2017-07-31 17:28] dtraleigh opened #473 "Table covers - what color?"
Plan is to use the same kind of table covers (from dollar general) as last year. Maybe a different color than the light green last year.

I propose blue (similar to the dark blue t-shirts last year) but will wait until we pick t-shirt colors this year.

[2017-07-31 17:44] dtraleigh commented on #438
@carsi They want an adobe illustrator friendly format. I think that means
.ai Are you able to produce this?

On Mon, Jul 31, 2017 at 1:22 PM, Leo Suarez <leo@dtraleigh.com> wrote:

[2017-07-31 18:09] carsi commented on #438
I am able to produce .ai files. Do you know if they are using the current
version?

On Mon, Jul 31, 2017 at 1:44 PM, Leo Suarez <notifications@github.com>
wrote:

[2017-08-01 01:21] suzanneccnc commented on #435
Met with Sarah Powers, Executive Director, Raleigh Arts, she also see some a fit between CiryCamp and CreativeMornings. Still flummoxed on how to move this forward; may be an effort for next year.

[2017-08-01 01:25] suzanneccnc opened #474 "Outreach to Raleigh Arts"
Outreach to Raleigh Arts to help promote NC Open Pass to the creative community.

[2017-08-01 01:32] suzanneccnc opened #475 "Send Sarah Powers call for Lightning Talk"
Sarah Powers, Executive Director, Office of Raleigh Arts, is interested in doing a lightening talk. Her office is kicking off an Arts & Tech collaborative initiative, so her talk would be mutually beneficial.

[2017-08-01 01:36] suzanneccnc opened #476 "Add Ralph Perrine to list of potential judges."
Ralph Perrine, Director of Enterprise Architecture, Innovation & Strategy, BCBSNC, is interested in being a judge. Need to follow-up with info on what judging entails.

[2017-08-01 01:38] suzanneccnc commented on #476
Ralph felt that if he had a conflict with dates beyond Sept. 30, that Joe Bastante, CTO, BCBSNC, would be a potential alternate.

[2017-08-01 10:47] ChrisTheDBA commented on #475
Sounds interesting. What is her talk about? It will still have to be submitted and weighed against the other submissions.

[2017-08-01 10:49] ChrisTheDBA commented on #472
I was thinking a Trophy IPA(low IBU), White St Kolsch and maybe a 3rd, but my heart not set on the 3rd

[2017-08-01 10:51] ChrisTheDBA commented on #437
LIKE those colors. What color should the logos be on those?

[2017-08-01 11:25] ChrisTheDBA commented on #419
![IMG_2041.JPG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/547f03d3c1ffe602001c5269/125516c66e82c728ace21e0d46c1b9bd1cd0d3fddeabf301b44fff9e2c4533317346f67d7480b079ef1328545b5f4fab150d5f46ada8802cafe02e6c981e5ab38532022d8c6853beb2901db90bbb258b4e80beba8d48c8ee3923f5c6.JPG)

Something like this would be great. reusable.

[2017-08-01 11:54] dtraleigh commented on #472
I can ask one of the guys at Trophy if they are interested in throwing us
an in-kind keg. Yes?

On Tue, Aug 1, 2017 at 6:49 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-01 12:35] zachambrose commented on #474
​Hi, Suzanne.  What would you like me to do here?

Zach​

On Mon, Jul 31, 2017 at 9:25 PM, suzanneccnc <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-01 12:36] dtraleigh commented on #467
Sounds good. Added it to my list.

On Mon, Jul 31, 2017 at 8:56 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-01 12:37] dtraleigh commented on #471
Since we have time, let's seek some in-kind donations for this.

On Mon, Jul 31, 2017 at 11:33 AM, aikimark <notifications@github.com> wrote:

[2017-08-01 12:46] zachambrose commented on #471
Agree.

On Tue, Aug 1, 2017 at 8:37 AM, Leo Suarez <notifications@github.com> wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-01 13:29] carsi commented on #437
For the red-orange, white logo would be fine. Bright yellow might not be a
good idea now that I've thought further about it, but if we proceed with
that color, the navy blue will work for logo over yellow.

On Tue, Aug 1, 2017 at 6:51 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-01 13:32] suzanneccnc commented on #474
Hi Zach. Sorry. I was going to include that Sarah was interested in giving
a lightening talk in this task, but then decided it would be more clear to
have that as a separate item. I'll remove you from this task.

On Tue, Aug 1, 2017 at 8:35 AM, zachambrose <notifications@github.com>
wrote:

[2017-08-01 13:36] suzanneccnc commented on #437
Joining the discussion late...not a fan of yellow for ts. Also, hope for ts
we will have the soft material.

On Tue, Aug 1, 2017 at 9:29 AM, carsi <notifications@github.com> wrote:

[2017-08-01 14:15] carsi commented on #437
An alternative to the yellow: #3CBBBD (a midtone blue) with white logo

Let me know if that works for y'all.

On Tue, Aug 1, 2017 at 9:36 AM, suzanneccnc <notifications@github.com>
wrote:

[2017-08-01 15:42] ChrisTheDBA commented on #437
That is a different blue than last year. Seems nice.

[2017-08-01 15:43] ChrisTheDBA commented on #437
SO, I thought last years T's were quite soft and comfortable.

[2017-08-01 15:51] ChrisTheDBA commented on #468
Consolidating other thread. I think white logo...colors are in doc file.

https://docs.google.com/document/d/15ehRXAPlRkVt5-46Wg9-xdpY-1egfY01l1fV8EB555Y/edit

[2017-08-01 16:21] jhibbets commented on #468
I like both colors. I'm thinking we do the combo logo this year with NC
Open Pass, CityCamp, Datapalooza. That shouldn't be too busy? Maybe @carsi
could do a t-shirt mock-up?

On Tue, Aug 1, 2017 at 11:51 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-01 16:24] aikimark commented on #472
I was going to use White Rabbit brewery, like I intended to do last year.  They will do all the delivery/setup and even man the taps.
http://whiterabbitbrewery.com/

[2017-08-01 16:25] dtraleigh commented on #472
Let us know what they want to donate! ;)

On Tue, Aug 1, 2017 at 12:24 PM, aikimark <notifications@github.com> wrote:

[2017-08-01 16:25] aikimark commented on #472
If you want to seek another beer source, please include me in that process.

[2017-08-01 16:28] aikimark commented on #471
I was planning on using White Rabbit brewery.  If you can find some other in-kind source, please include me in those activities.  White Rabbit is willing to bring their own kegerator and man the taps.

[2017-08-01 19:38] suzanneccnc commented on #475
Do we have an application that we can send her? She has lots of ideas and
experience with the intersection of art/tech/community.

On Tue, Aug 1, 2017 at 6:47 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-01 20:47] jhibbets commented on #475
The Call for speakers is not ready yet.

On Tue, Aug 1, 2017 at 3:38 PM, suzanneccnc <notifications@github.com>
wrote:

[2017-08-01 21:11] suzanneccnc opened #477 "create call for speaker material"
need material to send to potential speakers as well as timeline: application deadline, decision date, confirmation date. Do we have material from last year that we can use as a starting point?

[2017-08-01 21:14] suzanneccnc opened #478 "create "call for" judges material"
need material to send to potential judges: what our even is, what we're looking for, deadline for application, decision date, confirmation date, etc. Do we have any material from last year to use as a starting point?

[2017-08-01 21:25] jhibbets commented on #478
@zambrose you got this?

On Aug 1, 2017 5:14 PM, "suzanneccnc" <notifications@github.com> wrote:

[2017-08-02 04:09] ChrisTheDBA commented on #468
I was looking and it does seem kind of confusing on the front of a t-shirt. I would say either CCNC or NC OpenPass with the events on back? That will drive up the price though. Also do we order them for DataPalooza? if so, how many?

[2017-08-02 04:46] jhibbets commented on #468
My initial thought was that if we use the same logo as the flag, we would
have t-shirts for both events. Maybe we ask Carsi to do a plain, "NC Open"
with the hexagon logo for the t-shirts. I'll think more about it.

On Wed, Aug 2, 2017 at 12:09 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-02 04:55] ChrisTheDBA commented on #419
This is what I want to order.
![Capture.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/547f03d3c1ffe602001c5269/125516c66e82c728ace21e0d46cb958a379791accda5fd53b652fa912a5265296b51f52f75d6b278ee112e555f5e49f814585d15adf08e22f0a42062c80d55b98e30063e937f03a6aa811eb500bf208a4981bfbb8a45c2e13e37aa.PNG)

[2017-08-02 11:17] ChrisTheDBA commented on #476
Added note to speaker notes doc

[2017-08-02 11:19] ChrisTheDBA commented on #475
Added note to speaker notes doc

[2017-08-02 11:34] ChrisTheDBA commented on #468
I remember us settling on keeping branding separate since it would be
confusing. That being said I think an "OpenPass" shirt is good but the
stacked logos is not good. I would really like New Kind on branding.

Chris Mathews

On Wed, Aug 2, 2017 at 12:46 AM, Jason Hibbets <notifications@github.com>
wrote:

[2017-08-02 13:33] carsi commented on #468
We could have an NC Open Pass shirt sans stacked logo, with the individual
logos on the back of the shirt. This might drive up the price per shirt by
an undetermined amount, but could be a good way to inform attendees what NC
Open Pass is.

We may run into a logistical issue where people may not attend all of the
events/may attend all of the events. We will need to figure out how to
distribute shi

[2017-08-02 13:36] carsi commented on #419
Can I get the specifications for size and output to design this to? Thanks!

On Wed, Aug 2, 2017 at 12:55 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-02 13:37] carsi commented on #419
Also, is this in addition to or in lieu of the flag Leo is ordering?

On Wed, Aug 2, 2017 at 9:36 AM, Carsi Tong <carsi.tong@gmail.com> wrote:

[2017-08-02 13:43] dtraleigh commented on #438
@carsi I'm disappointed with this place's responsiveness. Excuse my
ignorance, but can you create different types of .ai files so I can throw
it all at them?

I want to get this order in.

On Mon, Jul 31, 2017 at 2:09 PM, carsi <notifications@github.com> wrote:

[2017-08-02 14:04] carsi commented on #438
I can save the file in the current .ai format (CC) with an .eps file in
case they are using an older version of Illustrator.

On Wed, Aug 2, 2017 at 9:43 AM, Leo Suarez <notifications@github.com> wrote:

[2017-08-02 14:09] dtraleigh commented on #438
cool. Hopefully that satisfies them.

On Wed, Aug 2, 2017 at 10:04 AM, carsi <notifications@github.com> wrote:

[2017-08-02 14:11] ChrisTheDBA commented on #419
This would be in addition to the Flag. For anywhere there isn't a 45 deg
flag pole like ATO and inside the building(s).

The Vistaprint page that I mocked up had 2.5' x 6' and 2.5 x 4'. I like the
6' one. Price is $160(might need stand so $$$)

Chris Mathews

On Wed, Aug 2, 2017 at 9:37 AM, carsi <notifications@github.com> wrote:

[2017-08-02 14:12] ChrisTheDBA commented on #468
We only have 10 days until CSD so its unlikely we can get swag printed.

Chris Mathews

On Wed, Aug 2, 2017 at 9:33 AM, carsi <notifications@github.com> wrote:

[2017-08-02 15:14] dtraleigh commented on #471
What kind of perks are we offering in exchange for a free keg from a
brewery? Where are we name dropping them?

On Tue, Aug 1, 2017 at 12:28 PM, aikimark <notifications@github.com> wrote:

[2017-08-02 16:14] aikimark commented on #471
No one said anything about "free" last year.  I have asked for a budget and head count for the kick-off and after-party.  Still waiting for an answer, beyond "50" (head count) for the after-party.

[2017-08-02 16:34] dtraleigh commented on #471
My question was to the group.

Last year, our venue, Nash Hall, didn't allow alcohol so we just didn't do
it.

On Wed, Aug 2, 2017 at 12:14 PM, aikimark <notifications@github.com> wrote:

[2017-08-02 17:05] ChrisTheDBA commented on #471
Figure 100 for Thursday and 50 for Friday. We'll probably go with a "beer
ticket" where we give people two tickets when they register at the door.

We are $12500 down in donations from last year , so anything in-kind or
free is the preference. We need to keep is simple and popular so I like
Leo's idea of  asking Trophy Brewing for an in-kind and seeing if we can
get a 20L of Trophy Wife if we buy

[2017-08-02 17:20] ashumz opened #479 "[phase 1: august 8th] announce nc open pass early bird reg on twitter"
Set-up some social media to announce NC Open Pass early bird

[2017-08-02 17:27] ashumz opened #480 "[phase 1: august 4th/7th] email initial openpass contacts who signed up on google form to let them know about early bird reg *FOR NC OPENPASS*"
from jason:
email initial NC Open Pass list of folks to let them know registration is open and they are the first to know

The contacts are here and need to be uploaded to mailchimp: https://docs.google.com/forms/d/1pygO5X-TexMoHcs7Gb_3h_w_0tFe1mtrxqv3bTFmZps/

[2017-08-02 17:30] ashumz commented on #412
also see #480 - we need to get these in mailchimp and send initial blast and then can use that as our official newsletter signup list. i'm trying to set up lastpass now and will let you know if i have issues @jhibbets - can you help @natalienoel1 get access if you haven't already? thanks!

[2017-08-02 17:40] natalienoel1 commented on #412
I can definitely do this but I am trying to find the mailchimp login
information but don't see it anywhere in LastPass.

@Jhibbets do you happen to know?

On Wed, Aug 2, 2017 at 1:30 PM, Ashley <notifications@github.com> wrote:

--
Natalie Noel
Marketing Manager
H/Q Raleigh & Charlotte
www.hq.community

<https://twitter.com/HQRaleigh>  <https://www.facebook.com/HubRaleigh>
<http://www.linkedin.com

[2017-08-02 18:44] dtraleigh opened #481 "Plan for setup at HQ on 9/28"
HQ is hosting another group earlier in the day and the space will be ready for us to come in and setup starting at 3. Fortunately for us, the group before us will have the seats set up in rows and all AV ready to go which saves us time.

[2017-08-02 22:11] ashumz opened #482 "share access to mailchimp through lastpass w marketing team members"
natalie needs access for mailchimp   through lastpass

make sure ashley's correct email is invited (ashley.mcclelland@ibm.com)   with access to mailchimp as well

[2017-08-02 22:20] ashumz commented on #480
blocked until #482 is complete

[2017-08-02 22:22] carsi commented on #438
Uploaded in Google Drive under NCOpenPass_logo.ai and NCOpenPass_logo.eps

Hopefully that works! Thanks, Leo.

On Wed, Aug 2, 2017 at 10:09 AM, Leo Suarez <notifications@github.com>
wrote:

[2017-08-02 22:46] carsi commented on #435
The theme for August is Genius

https://creativemornings.com/blog/august-is-genius

If we'd like to move forward with this, we can pitch Jonathan on CityCamp's cross-pollination between people during the event, learning from our mistakes of the past to refine the event every year, etc. May be something @jhibbets can talk about depending on his availability.

[2017-08-02 22:46] ashumz opened #483 "[phase 2: august 10th] create a pricing table for nc openpass and encompassed events for initial blog post"

[2017-08-02 22:48] ashumz opened #484 "[phase 2: aug 10th] 'registration is open' blog post on citycamp blog"
a few things we need to figure out from today's marketing sync and clarify in a blog post announcing registration:
- pricing table for all events for an initial 'registration is open' blog post (why register for nc open pass vs citycamp by itself vs datapalooza by itself?)
- where we're headed with unifying these events under a single brand
- how registration works (register in one place, get coup

[2017-08-02 22:57] ChrisTheDBA commented on #483
On or before Sept 4th
	NC OpenPass		Seperately
	40			                  45 (20+25)

After Sept 4th
	NC OpenPass		Seperately
	50			                 55(20+35)

[2017-08-02 23:17] ashumz commented on #480
@natalienoel1 let's consider this 'phase 1' registration announcement, exclusive to those interested in openpass.

since these people specifically signed up for NC Openpass updates, I think we can abstract the citycamp/datapalooza/openpass confusion and tell people what events are included (civic spark day/citycamp/datapalooza) and the pricing for openpass ONLY.

we can also go ahead with announci

[2017-08-02 23:24] ashumz commented on #410
on today's call we came to the understanding that we should be clear about all available registration options when we reach out to this group of people. while there is value in announcing nc openpass registration being open, the pricing difference between early bird nc openpass reg ($40) and a citycamp student registration ($10) is large enough that, if I only want to attend citycamp, I want to ma

[2017-08-02 23:27] ashumz commented on #484
blocked until we have clarity on pricing table and registration options - @jhibbets I am happy to work on this with you

[2017-08-03 01:08] dtraleigh commented on #438
Great!

On Wed, Aug 2, 2017 at 6:22 PM, carsi <notifications@github.com> wrote:

[2017-08-03 15:46] zachambrose commented on #478
Yes.

On Tue, Aug 1, 2017 at 5:25 PM, Jason Hibbets <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-03 17:10] dtraleigh commented on #419
Does this item include banners/materials with sponsors on them? What do we think the drop dead date is for sponsors that need to go on printed material?

I ask cause Ipreo seems very possible to sponsor but they are stringing this out far longer than I feel it should.

[2017-08-03 18:26] jhibbets commented on #483
I don't understand what is needed here. The NC Open Pass prices are listed
on the site. We don't break it down by each event.

On Aug 2, 2017 5:59 PM, "Chris Mathews" <notifications@github.com> wrote:

[2017-08-03 18:29] suzanneccnc commented on #478
Hey Zach. Can you update on when this will be ready for distribution?

[2017-08-03 18:33] jhibbets commented on #480
Yes. Sounds great. Let's do it. The other general announcement can include
other reg details. The idea is to have exclusive registration for nc open
pass for a certain time before other events reg opens up.

On Aug 2, 2017 6:17 PM, "Ashley" <notifications@github.com> wrote:

[2017-08-03 18:40] suzanneccnc commented on #483
There is no good, easy user journey for the ticketing process. On the Marketing call, there was  much confusion stemming from...how many ticketing portals (3: NCOpenPass, CityCampNC, NCDataPalooza), how many ticketing periods (2: Early Bird until Sept. 4, regular thereafter), how many ticket price tiers (3: Students (free), Government Employees (50% discount), Everyone Else (full price)), and how

[2017-08-03 21:15] carsi commented on #483
Agree with Suzanne.

It is true that NC Open Pass prices are listed, but it is unclear how much
these events cost a la carte and how much of All Things Open is discounted
according to the NC OpenPass website.

Also, there are Early Bird NC Open Pass Prices even though by September 4,
Civic Spark Day will be over so there will be even less value in NC Open
Pass.

As Ashley mentioned on the Marketin

[2017-08-03 22:56] zachambrose commented on #478
I'll have something for folks to review on Monday.

On Thu, Aug 3, 2017 at 2:29 PM, suzanneccnc <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-04 20:58] dtraleigh commented on #438
@carsi we're getting there!

They liked the files but need the PMS # for the blue color in the logo. I
don't know what that means, i hope you do.

Let me know.

On Aug 2, 2017 9:08 PM, "Leo Suarez" <leo@dtraleigh.com> wrote:

[2017-08-04 21:03] carsi commented on #438
PMS is the standard for printing. The closest PMS to the hex code given
(#1D365C) is 534 C for the dark blue. I'd prefer it be dark blue background
with white logo. Thanks!

On Fri, Aug 4, 2017 at 4:58 PM, Leo Suarez <notifications@github.com> wrote:

[2017-08-06 19:18] #447 closed, assigned to dtraleigh

[2017-08-07 00:48] dtraleigh commented on #470
Head count is 100 for the kickoff.

[2017-08-07 09:25] ChrisTheDBA commented on #470
According to registration from last year we had 100. So figure 80% and 2-3
drinks each.

Do we want to serve wine too?

On Sun, Aug 6, 2017 at 8:48 PM Leo Suarez <notifications@github.com> wrote:

--
Chris Mathews

[2017-08-07 11:39] ChrisTheDBA opened #485 "Dinner - Kickoff - Thursday"
Choose vendor, manu

[2017-08-07 11:39] ChrisTheDBA opened #486 "Dinner - After party - Friday"
Choose vendor, menu

[2017-08-07 11:40] ChrisTheDBA opened #487 "Breakfast -Friday"
choose vendor, menu

NY Deli past two years

[2017-08-07 11:40] ChrisTheDBA opened #488 "Breakfast - Saturday"
Choose vendor, menu

[2017-08-07 11:41] ChrisTheDBA opened #489 "Lunch - Friday"
Choose vendor. menu

Moe's - Tacos
Noodles & Co

[2017-08-07 11:42] ChrisTheDBA opened #490 "Lunch - Saturday"
choose vendor - menu

Moe's - tacos
Noodles & Co.

[2017-08-07 14:27] jhibbets commented on #431
Decision: let's not spend any cycles on a new FB page for Datapalooza

[2017-08-07 14:28] #431 closed, assigned to ChrisTheDBA, jhibbets, zachambrose

[2017-08-07 14:53] jhibbets opened #491 "Send Civic Spark Day details to Open Pass registrants"

[2017-08-07 15:05] #491 closed, assigned to jhibbets

[2017-08-07 15:05] #393 closed, assigned to jhibbets

[2017-08-07 15:07] jhibbets commented on #437
+1 to #3CBBBD

[2017-08-07 15:17] jhibbets commented on #482
@ashumz @natalienoel1 please confirm you got the share. For whatever reason, this wasn't in the NC Open Pass folder, which is why I missed it last week when I did all this stuff ;)

[2017-08-07 15:20] jhibbets commented on #484
@ashumz re: using one registration, I'm open to creating a better user experience. Last year was a trial run for NC Open Pass. When I created the Eventbright, I tried doing multiple events using the interface, but it seemed even more confusing. Part of me feels like sense we've already started to just keep moving. If there is a better way to do it before we send out mass emails to folks to registe

[2017-08-07 15:26] jhibbets commented on #427
This document has already been started: https://docs.google.com/document/d/1A2WSZkn6pvQlrIil12UI_yqTfVas_AbcWFU1UoH1oiI/edit#heading=h.443anywraobi

All passwords and usernames should be stored and shared via LastPass.

If this is it, then let's close this out, if not, please let me know what you're looking for.

[2017-08-07 15:33] ChrisTheDBA commented on #484
Plus from a logistics standpoint we need headcount for each event and each
day of the events. Also need info on any special dietary needs.

I have talked a few others about the sigh up process from last year and
most like the updates. Of course with we had events spread over more of the
year too.

Chris Mathews

On Mon, Aug 7, 2017 at 11:20 AM, Jason Hibbets <notifications@github.com>
wrote:

[2017-08-07 15:44] jhibbets commented on #483
pricing table has been started:
https://docs.google.com/spreadsheets/d/1dsxhEzCRtWbMmyyESuz-cQzzDuh0vnrDiEFVXliskm8/edit#gid=0

I've asked @zachambrose to help with the Datapalooza details (see below) that I started but I am not sure if they are accurate, hence they are italicized int eh doc.

- when do we plan to launch NC Datapalooza stand-alone registration?
- what do we charge? (I seem to reme

[2017-08-07 15:49] #425 closed, assigned to nobody

[2017-08-07 15:54] jhibbets commented on #435
@suzanneccnc as of right now, I'm available on August 25.

[2017-08-07 15:57] natalienoel1 commented on #482
Yes, I got it access! Thank you! @jhibbets

[2017-08-07 16:25] jhibbets commented on #483
pricing table has been updated by @zachambrose and is ready for review. We can discuss on tonight's call.

[2017-08-07 16:25] #483 closed, assigned to ashumz, ChrisTheDBA, jhibbets, zachambrose, suzanneccnc

[2017-08-07 16:43] TaxLadyTracy commented on #437
I will go by and get a current catalog from the short guy this afternoon

On Aug 7, 2017 11:07 AM, "Jason Hibbets" <notifications@github.com> wrote:

[2017-08-07 17:18] jhibbets opened #492 "Review ATO language for NC Datapalooza session"

[2017-08-07 19:06] #492 closed, assigned to jhibbets

[2017-08-07 19:15] natalienoel1 commented on #482
Just tried getting on Mailchimp and it says the username doesn't exist.

[2017-08-07 19:42] jhibbets commented on #482
@natalienoel1 I had an old password cached on MC, so the first time I tested this, I got the same error you got. If you go to lastpass and click "launch" it should have the correct username in lastpass, and I had to paste in the new passwd. Give that a try and let me know if you can get in.

[2017-08-07 19:59] dtraleigh commented on #490
Are those the choices? ;)

On a serious note, any feedback from previous years on food that we can try
and improve this year?

On Mon, Aug 7, 2017 at 7:42 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-07 20:06] aikimark commented on #486
ok.  Is this different than the "After Party" already on the schedule?

[2017-08-07 20:11] dtraleigh commented on #486
Same.

[2017-08-07 20:12] aikimark commented on #470
@Chris

So, should we estimate 80% of 150?

[2017-08-07 20:13] dtraleigh commented on #490
Also, Manhattan Cafe, located in downtown, seems to have decent prices. They are local and pretty good for lunch. They also have breakfast options if we want to up our breakfast game.

https://manhattancafenc.com/catering/

[2017-08-07 20:14] dtraleigh commented on #470
With dedicated volunteers for pouring, we could do wine, easy to arrange in
addition to the beer.

On Mon, Aug 7, 2017 at 4:12 PM, aikimark <notifications@github.com> wrote:

[2017-08-07 20:16] natalienoel1 commented on #482
Still not able to access it!

[2017-08-07 20:17] natalienoel1 commented on #482
@jhibbets It now says the password is incorrect and I'm not sure what the updated one is.

[2017-08-07 20:23] aikimark commented on #470
Agreed.  Actually, wine is an easier pour, since you don't have to worry about suds.  I will be on conference call this evening and discuss libations for both kick-off and after-party.

My original plan was to have the beer White Rabbit reps do the beer pouring.  That will ease our libation volunteer requirements.

[2017-08-07 20:54] ChrisTheDBA commented on #469
Duplicate of 486

[2017-08-07 20:54] #469 closed, assigned to ChrisTheDBA, dtraleigh, TaxLadyTracy

[2017-08-07 21:03] ChrisTheDBA commented on #490
The taco bar  has been a favorite the past two years. People also seemed to like the noodle bar.

Each day was 700-800 so figure 9-10/pp. Manhattan deli is that price, but we can get sandwiches at a better price point.

Breakfast has been about 250 per day. So I would say the breakfast at 8/pp is a stretch.

[2017-08-07 21:08] zachambrose commented on #478
Is there a call for speakers document that I can use as a template?

On Thu, Aug 3, 2017 at 6:56 PM, Zach Ambrose <zambrose@ambrosestrategy.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-07 21:10] jhibbets commented on #482
@natalienoel1 I don't know why its not working for you, so sorry. The password is pretty long and should be 15+ characters.

[2017-08-07 21:13] ChrisTheDBA commented on #478
We normally do a Google form with speakers information and topic abstract
that we can then go over. I don't believe have ever had a doc for it.

Chris Mathews

On Mon, Aug 7, 2017 at 5:08 PM, zachambrose <notifications@github.com>
wrote:

[2017-08-07 21:13] jhibbets commented on #482
@natalienoel1 I literally had to go into LastPass, view the passwd, copy it, and paste it into MailChimp password box in order to log in, but I thought I was having issues because of the cached passwd from last year.

[2017-08-07 21:18] ChrisTheDBA commented on #482
My .02. I have two MC logins one is login.mailchimp.com and the other is
just mailchimp.com (both citycampnc). the login.mailchimp does not work the
other does.

Chris Mathews

On Mon, Aug 7, 2017 at 5:13 PM, Jason Hibbets <notifications@github.com>
wrote:

[2017-08-07 21:23] natalienoel1 commented on #482
ah I FINALLY got in. Try #100 but it works! @jhibbets @ChrisTheDBA

[2017-08-07 21:29] ChrisTheDBA commented on #470
White Rabbit is certainly a string option, but they tend to have more
specialty beers. No simple IPA like a Trophy Wife. We might be able to get
a get deal but if its not a popular drink and no one drinks then are we
actually doing it right. but then free beer is free beer.

Chris Mathews

On Mon, Aug 7, 2017 at 4:23 PM, aikimark <notifications@github.com> wrote:

[2017-08-07 21:33] ChrisTheDBA commented on #468
my DW also mentioned we are limited to the colors available at the vendor. we can't just pick any color. mea culpa.

[2017-08-07 21:37] jhibbets commented on #482
I see what happened. We have two mailchimp acocunts. One for Code for Ral and on for Open Pass. When I created the lastpass share for open pass, it copied the credentials for the other one. there were literally two usernames and two passwords on the share. I removed the duplicates so things should be better now.

[2017-08-07 21:37] #482 closed, assigned to jhibbets

[2017-08-07 21:50] zachambrose commented on #478
We haven't used a call for judges (or speakers) before either. @suzanneccnc we've always brainstormed the judges we wanted on the speakers committee and then recruited from that.  Are you thinking of a document that can be shared with targeted speakers that has event particulars and time commitment?

[2017-08-07 22:01] dtraleigh commented on #490
Oh alright. That makes sense.

[2017-08-07 22:02] dtraleigh commented on #490
I feel like I ask this every year. I'll try and create a food breakdown this year so that next year, we have a quick barometer to gauge with.

[2017-08-07 22:31] #454 closed, assigned to zachambrose

[2017-08-07 22:33] zachambrose commented on #457
@wildca01t :) is working on this.

[2017-08-07 22:50] natalienoel1 commented on #480
@ashumz Can we jump on a call early tomorrow? I got into mailchimp but just want to brainstorm with you on what this email should look like and then I can send it out asap tomorrow.

[2017-08-07 23:09] jhibbets opened #493 "Update inviation with Mayor and City Council members"

[2017-08-07 23:11] jhibbets commented on #468
8/7  - we decided to just go with CityCamp NC logo this year,  no Open Pass or Datapalooza to confuse our branding. This will also keep costs down. Chris will work with the vendor on color options, we'll also have a staff shirt by a different color

[2017-08-08 04:04] jhibbets opened #494 "Update project plan - 8/7"

[2017-08-08 04:04] #493 closed, assigned to jhibbets

[2017-08-08 04:04] #494 closed, assigned to jhibbets

[2017-08-08 04:04] #399 closed, assigned to ChrisTheDBA, jhibbets

[2017-08-08 04:06] jhibbets commented on #460
@ChrisTheDBA  I never got anything for this, can you share the credentials via LastPass? Or did not get in either?

[2017-08-08 04:08] jhibbets commented on #484
Pricing table is here: https://docs.google.com/spreadsheets/d/1dsxhEzCRtWbMmyyESuz-cQzzDuh0vnrDiEFVXliskm8/edit#gid=0

[2017-08-08 10:53] ChrisTheDBA commented on #460
Double check. My LP says it is shared with you. I also resent it.

[2017-08-08 10:55] ChrisTheDBA opened #495 "Schedule tweets to thank our partners(sponsors)"

[2017-08-08 11:00] zachambrose commented on #495
Let's leverage both the City Camp and DataPalooza accounts.

On Tue, Aug 8, 2017 at 6:55 AM, Chris Mathews <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-08 12:57] dtraleigh commented on #64
Unless we hear about another option from @aikimark, the plan is to go with a Mevo.

Plan is to purchase one on Fri 8/11.

[2017-08-08 13:17] zachambrose commented on #478
We're not going to do a call for judges this year.

[2017-08-08 13:17] #478 closed, assigned to ChrisTheDBA, jhibbets, zachambrose

[2017-08-08 13:36] carsi commented on #435
It looks like they've already picked a speaker for this month. We should
figure out how this works for another talk in the next year, or partner
with CreativeMornings RDU to promote NCOP/Datapalooza/CCNC to creatives. I
can email Jon Opp to see how we can partner together (or @suzanneccnc
<https://github.com/suzanneccnc> if you've already contacted him, I don't
want to barge him with emails from u

[2017-08-08 13:37] carsi commented on #468
We can use the same shirt design from last year then, and use the midtone
blue and red orange as starting points for color options. Printing doesn't
take hex code so we can choose similar colors given the options.

On Mon, Aug 7, 2017 at 7:11 PM, Jason Hibbets <notifications@github.com>
wrote:

[2017-08-08 17:59] jhibbets commented on #460
Looks like Hootsuite limits us to 3 social networks. Otherwise it's $20 / month. I've rather have both twitter accounts and facebook in the same place. Instgram seems more like a day of social postings. We can do a free 30-day trial starting in September if we want and pay for a month in November.

[2017-08-08 17:59] #460 closed, assigned to jhibbets

[2017-08-08 21:56] zachambrose opened #496 "Send NC Child call for Lightning Talk speakers"

[2017-08-08 21:57] zachambrose opened #497 "Send NC Child technical support description"
to see if NC Child wants to provide data support during the Hackathon or between Hackathon and Finale.

[2017-08-08 21:58] zachambrose opened #498 "Send NC Child information about unconference pitches"

[2017-08-08 22:00] zachambrose opened #499 "Follow up with BCBS about sponsoring their grantees"
This would be so they could attend City Camp and DataPalooza

[2017-08-08 22:13] jhibbets opened #500 "Update 2017 logistics doc with speaker and judge openings"

[2017-08-08 22:19] zachambrose opened #501 "Suzanne ask Ralph Perrine to judge"

[2017-08-09 01:40] ChrisTheDBA opened #502 "Clarify judging w/ Alex Meadows"

[2017-08-09 01:40] ChrisTheDBA opened #503 "Ask Nicole Raimundo to judge"

[2017-08-09 01:41] ChrisTheDBA opened #504 "Ask Bill Greeves to be judge"

[2017-08-09 01:42] ChrisTheDBA opened #505 "Stand up banner for event and other events"

[2017-08-09 03:10] jhibbets opened #506 "Set-up Mail chimp deep dive meeting for 8/9"

[2017-08-09 03:11] jhibbets opened #507 "Set-up payment credits for Mailhcimp emails"

[2017-08-09 03:11] #506 closed, assigned to jhibbets

[2017-08-09 03:37] #507 closed, assigned to jhibbets

[2017-08-09 11:16] ChrisTheDBA commented on #503
Sent ask letter. She is on vacation and will likely require a followup.

[2017-08-09 11:17] ChrisTheDBA commented on #504
Sent email to pick his brain on this and he will be here today.

[2017-08-09 11:43] ChrisTheDBA commented on #488
looking going with last years NY Deli out of Cary. They were quite popular. Let's think of backups though.

[2017-08-09 11:43] ChrisTheDBA commented on #487
looking going with last years NY Deli out of Cary. They were quite popular. Let's think of backups though.

[2017-08-09 11:44] ChrisTheDBA commented on #489
Moe's taco bar has been very popular and reasonably priced.

[2017-08-09 11:45] ChrisTheDBA commented on #490
Manhattan cafe might work out lets see if we can haggle.

[2017-08-09 11:46] ChrisTheDBA commented on #486
We have looking at caterers. Suggestions.

[2017-08-09 11:47] ChrisTheDBA commented on #485
we have done pizza the past few years and it has been a good choice. do we want to stretch here or spend resources elsewhere?

[2017-08-09 11:51] jhibbets commented on #486
Humble Pie or  Irregardless Cafe might have some good options; Maybe
something via Glenwood South since we're are Google Fiber??

On Wed, Aug 9, 2017 at 7:46 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-09 11:54] jhibbets commented on #489
Taco bar is awesome. Amardillo Grill might be a good alternative. There
queso is delicious.

On Wed, Aug 9, 2017 at 7:44 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-09 12:25] dtraleigh commented on #485
For me, I'd love for this part of the weekend to be consistently full.
Maybe we could raise the bar a little more than pizza and beer? Since we're
pulling back on the after party, I feel this could be the one food/drink
area we increase. Thoughts?

I'll look for ideas.

On Wed, Aug 9, 2017 at 7:47 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-09 12:27] dtraleigh commented on #489
No need to reinvent every meal. I vote Moe's for Friday lunch.

On Wed, Aug 9, 2017 at 7:54 AM, Jason Hibbets <notifications@github.com>
wrote:

[2017-08-09 12:28] ChrisTheDBA commented on #485
Are you thinking of pulling back on a Thursday after party? Good point(s).

Chris Mathews

On Wed, Aug 9, 2017 at 8:25 AM, Leo Suarez <notifications@github.com> wrote:

[2017-08-09 12:32] dtraleigh commented on #486
Tobacco Road is right across the street and they can probably accommodate
since they too have meeting space (holds like 30-40 people) and regularly
cater business meetings and events inside their huge space.

On the topic of wine for this event, Raleigh Wine Shop is right across the
street also. I don't mind asking if they're interested in setting up a
table and pouring some. The Wine Feed, furthe

[2017-08-09 12:36] dtraleigh commented on #485
I meant pulling back on the Friday after party. Correct me if I'm wrong but
light eats versus last year's Buku bouquet is a step down. (in price, not
in quality) Yes?

On Wed, Aug 9, 2017 at 8:28 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-09 12:36] dtraleigh commented on #485
banquet*  :)

On Wed, Aug 9, 2017 at 8:36 AM, Leo Suarez <leo@dtraleigh.com> wrote:

[2017-08-09 12:38] ChrisTheDBA commented on #486
Irregardless cafe is $19+/pp, Humble Pie doesn't have a catering menu. Tobacco road seems better but they don't price/pp, they do it by the dozen. so we need to know what they would suggest for 50 people.

[2017-08-09 12:41] ChrisTheDBA commented on #485
I don't know if if that the Friday after party would be a step down. This
is what Tia @ Google thinks their donation is going for so I don't want to
skimp too much.

Chris Mathews

On Wed, Aug 9, 2017 at 8:36 AM, Leo Suarez <notifications@github.com> wrote:

[2017-08-09 13:00] dtraleigh commented on #485
OK I didn't imply we would cheap it out but I think we spent like $2000 on
the Buku after party. You thinking about the same for this one?

On Wed, Aug 9, 2017 at 8:41 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-09 13:02] ChrisTheDBA commented on #503
Out of town on Sept 30, happy to do either of the other days. Also thinking about speakers for us!

[2017-08-09 13:04] ChrisTheDBA commented on #485
Yes plus drinks extra.

On Wed, Aug 9, 2017 at 9:00 AM Leo Suarez <notifications@github.com> wrote:

--
Chris Mathews

[2017-08-09 14:24] jhibbets commented on #486
@dtraleigh - also wondering if we can support any of the businesses
impacted by the fire that are close by. +1 on Tobacco Road

On Wed, Aug 9, 2017 at 8:38 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-09 14:34] jhibbets opened #508 "Speaker request: Mike Kelly, Red Hat CIO for Datapalooza"

[2017-08-09 14:36] jhibbets opened #509 "Speaker request: Miguel A. Gamino Jr. NYC Chief Technology Officer"

[2017-08-09 14:36] jhibbets opened #510 "List out past judges for judging criteria"

[2017-08-09 14:38] jhibbets commented on #510
done:
https://docs.google.com/document/d/1vKNPKp3pz4Sxf15--UVMOihP_ogof1gpIofTzOnxFA8/edit#heading=h.shi7b9gjs1fm

[2017-08-09 14:38] #510 closed, assigned to zachambrose

[2017-08-09 14:39] jhibbets opened #511 "Speaker request: Smart city panel ideas"

[2017-08-09 14:55] jhibbets opened #512 "Host MailChimp Deep Dive"

[2017-08-09 15:25] ChrisTheDBA commented on #502
Alex preference for CityCamp and mentor afterwards.

[2017-08-09 15:26] ChrisTheDBA commented on #509
Bill G knows him and will introduce if we want.

[2017-08-09 15:26] jhibbets commented on #479
This is going out today to a list of 31 folks. @natalienoel1 should be sending this out in the next 30 minutes

[2017-08-09 15:27] jhibbets commented on #479
Strike he previous comment, meant for #480

[2017-08-09 15:28] ChrisTheDBA commented on #486
I like that angle. +1

Anyone know someone at Tobacco Road or I can call. I just want to translate their catering menu to "what do we need for 50 people"

[2017-08-09 15:28] jhibbets commented on #480
This is going out today to a list of 31 folks. @natalienoel1 should be sending this out in the next 30 minutes

[2017-08-09 15:29] jhibbets commented on #410
@natalienoel1 is going to merge Past Attendees - Datapalooza, Open Data Challenge, 2016 Data for Decisions and CityCamp NC 2016 attendees list (with event segmentation), then schedule this email for Monday morning, august 14.

[2017-08-09 15:30] jhibbets opened #513 "Document MailChip lists and plans to merge and segment"

[2017-08-09 15:37] jhibbets opened #514 "Transition NC Open Pass Google form newsletter sign-up to MailChimp embed form"

[2017-08-09 15:38] jhibbets commented on #509
I pinged him on Twitter but could use his email. And intro from Bill to me
would be perfect too.

On Wed, Aug 9, 2017 at 11:26 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-09 15:39] jhibbets commented on #480
Newsletter is out. Good work @natalienoel1

[2017-08-09 15:39] #480 closed, assigned to ashumz, natalienoel1

[2017-08-09 15:47] dtraleigh commented on #486
Nice! I know Little City Brewing has been very vocal about the fact that
the closed streets from the fire are hitting their business.

I know a guy who knows the people behind Tobacco Road, you want me to
inquire?

On Wed, Aug 9, 2017 at 11:28 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-09 16:08] ChrisTheDBA commented on #486
Sounds like we need to talk to these guys.  jalapeno Serrano Ale, I might need to stop by myself. :)

[2017-08-09 16:10] jhibbets commented on #514
Check it out, let me know what you think: http://ncopenpass.com/#newsletter

[2017-08-09 16:10] #514 closed, assigned to jhibbets, natalienoel1

[2017-08-09 16:12] #512 closed, assigned to jhibbets, natalienoel1

[2017-08-09 16:14] jhibbets opened #515 "Close NC Open Pass Google form"
https://docs.google.com/forms/d/1pygO5X-TexMoHcs7Gb_3h_w_0tFe1mtrxqv3bTFmZps/edit#responses

[2017-08-09 16:14] jhibbets commented on #515
No longer accepting responses

[2017-08-09 16:14] #515 closed, assigned to jhibbets

[2017-08-09 16:38] zachambrose commented on #514
I like it!  Our platinum sponsors are Red Hat, Innovate Carolina, Google
Fiber.  I'm good listing HQ and ATO there as well.  Also, can we capitalize
the P in DataPalooza?  Marketing decided to keep it that way from previous
years.

On Wed, Aug 9, 2017 at 12:10 PM, Jason Hibbets <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)

[2017-08-09 16:51] jhibbets opened #516 "MailChimp lists update"
@natalienoel1 Can you make the following updates to the MC lists once you have reviewed: Merge CityCamp NC News into News about NC Open Pass and rename NC Open Pass Newsletter
Merge Past Attendees - Datapalooza, Open Data Challenge, 2016 Data for Decisions into NC Open Pass Newsletter and segment by event
Delete/Archive Do not use (Use Past Registration list & groups within it) - cityCamp 2011 & 2

[2017-08-09 16:51] #456 closed, assigned to jhibbets

[2017-08-09 16:53] jhibbets opened #517 "Import CityCamp 2013 and 2015 attendees"
@natalienoel1 can you get these details before we send the email ou ton Monday:

1) Export CityCamp NC 2013 list from EventBright into CityCamp NC News
2) Export CityCamp NC 2015 list from EventBright into CityCamp NC News

Ref: https://docs.google.com/document/d/1WoNiCYgh_zugp4uCRlH1sy-Lw19Ym2kAWfFlzHknNNA/edit#heading=h.sksbp47zznkk

[2017-08-09 16:59] jhibbets commented on #513
@natalienoel1 phew, this was a doozey. I've documented all the mailing list here:
https://docs.google.com/document/d/1WoNiCYgh_zugp4uCRlH1sy-Lw19Ym2kAWfFlzHknNNA/edit#

I think it would be best to read it from bottom to top. This way you can see the current state of affairs, what needs to happen (thanks for you expertise here), and where we should end up. Let me know if this makes sense. If you ha

[2017-08-09 16:59] #513 closed, assigned to jhibbets, natalienoel1

[2017-08-09 17:00] jhibbets commented on #410
@natalienoel1 would be great to do #517 before this goes out on Monday.

[2017-08-09 17:06] jhibbets opened #518 "Add Innovate Carolina, Google Fiber to NC Open Pass site under platinum partners"
also correct type:
capitalize the P in DataPalooza

[2017-08-09 17:26] jhibbets commented on #518
Done: http://ncopenpass.com/

[2017-08-09 17:26] #518 closed, assigned to jhibbets, zachambrose

[2017-08-09 17:34] zachambrose commented on #518
Looks great.  Raleigh Econ Development is a Gold sponsor and I don't think
we have Wake County this year.

On Wed, Aug 9, 2017 at 1:26 PM, Jason Hibbets <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-09 17:38] ChrisTheDBA commented on #518
I will see Adrienne Cole tomorrow and make a final ask.

Chris Mathews

On Wed, Aug 9, 2017 at 1:34 PM, zachambrose <notifications@github.com>
wrote:

[2017-08-09 17:41] zachambrose opened #519 "Add ESRI as a Gold sponsor to NC Open Pass, City Camp & NC DataPalooza websites"
This is from an inkind sponsorship that @cjharper and @ChristheDBA helped pull together.

[2017-08-09 17:41] zachambrose commented on #519
@jhibbets who should I assign for City Camp website?

[2017-08-09 17:46] zachambrose opened #520 "Send Kevin Wright City Camp agenda"
He wants to pitch an unconference session.  This is part of their idea to engage teams throughout the competition.

[2017-08-09 17:46] jhibbets commented on #518
Technically, we only have Diamond and Platinum levels for NC OpenPass
(according to the prospectus). I'm OK with listing Gold partners from each
event there, but nothing lower. Just trying to make sure we stay
consistent.

On Wed, Aug 9, 2017 at 1:38 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-09 17:47] jhibbets commented on #520
high level agenda is posted: http://citycampnc.org/schedule/

On Wed, Aug 9, 2017 at 1:46 PM, zachambrose <notifications@github.com>
wrote:

[2017-08-09 17:51] ChrisTheDBA commented on #519
I will update the partners page on Friday. Assign to me, please

Chris Mathews

On Wed, Aug 9, 2017 at 1:41 PM, zachambrose <notifications@github.com>
wrote:

[2017-08-09 17:51] zachambrose commented on #520
Thx!  He asked I'll shoot him the detailed agenda for Friday when we have
it.

On Wed, Aug 9, 2017 at 1:47 PM, Jason Hibbets <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-09 17:54] zachambrose commented on #518
I'm good either way.  Gold can just be DataPalooza and City Camp.  I just
 said Gold because it was listed on the Open Pass site.

On Wed, Aug 9, 2017 at 1:46 PM, Jason Hibbets <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-09 17:54] zachambrose commented on #519
Done.

On Wed, Aug 9, 2017 at 1:51 PM, Chris Mathews <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-09 18:00] carsi commented on #505
Did you need me to design this? It wasn't clear but I'd be happy to do it
if someone can give me size dimensions, information, and dpi.

On Tue, Aug 8, 2017 at 9:42 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-09 18:14] ChrisTheDBA commented on #505
I didn't want assume. :)

Dimensions are 82" tall by 36" wide. I'd like the Code for Raleigh Logo and
NC OpenPass, CityCamp NC, and NC DataPalooza "and maybe "Building Community
for a Better Tomorrow through civic design, technology and data."

high enough dpi to look good at that scale.

You should have the three event logos and I have the CFR logo on my home
computer - I will upload. Let me know

[2017-08-09 18:22] jhibbets commented on #505
Serial comma and caps: "Building community for a better tomorrow through
civic design, technology, and data."

On Wed, Aug 9, 2017 at 2:14 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-09 18:25] jhibbets commented on #520
He can look at the 2016 schedule as it will be similar, with different
speakers in the morning.

On Wed, Aug 9, 2017 at 1:51 PM, zachambrose <notifications@github.com>
wrote:

[2017-08-09 19:14] carsi commented on #505
@ChrisTheDBA @jhibbets OK

[2017-08-09 22:10] ChrisTheDBA commented on #505
I've uploaded the CFR logos I have to GOogle Drive

[2017-08-09 22:29] zachambrose commented on #520
Done.  Thx.

[2017-08-09 22:29] #520 closed, assigned to zachambrose

[2017-08-10 15:10] suzanneccnc opened #521 "on-board Lory Mills"
Lory would like to join in the planning for NC Open Pass. She was on the planning call 8/7. She would especially like to join Bill Scanlon's Data and Challenge Committee.

limist00@gmail.com

[2017-08-10 15:13] zachambrose commented on #521
Can you add her contact info to the 'organizers  contact info' sheet?
I'll add her to the Google group once she's there.  :)

​
 Organizers Contact Information
<https://docs.google.com/a/ambrosestrategy.com/spreadsheets/d/155Sq13Uk_zY9ZvZZ_xyrZsKHlLvbmovdMyJ-OntRmhs/edit?usp=drive_web>
​

On Thu, Aug 10, 2017 at 11:10 AM, suzanneccnc <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@Ambr

[2017-08-10 15:19] dtraleigh commented on #486
Logistics committee meeting at Little City Brewing!

On Wed, Aug 9, 2017 at 12:08 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-10 16:18] zachambrose opened #522 "Invite Amy Huffman to judge at ATO"

[2017-08-10 16:25] zachambrose opened #523 "Ask Suja Thomas to judge at Kickoff"

[2017-08-10 19:23] zachambrose commented on #522
She agreed!

[2017-08-10 19:23] #522 closed, assigned to zachambrose

[2017-08-10 20:09] dtraleigh commented on #467
I'm placing the order on Friday 8/11. Let me know if anyone wants to review the order.

[2017-08-10 20:09] dtraleigh commented on #419
I'm placing the order on Friday 8/11 for the flag.

[2017-08-10 20:10] ChrisTheDBA commented on #467
Did you add the tables forcTracy?  If so. No need to review.

On Thu, Aug 10, 2017 at 4:09 PM Leo Suarez <notifications@github.com> wrote:

--
Chris Mathews

[2017-08-10 20:20] dtraleigh commented on #64
Does anyone think this is reputable? Saves us a bunch versus the $399 on Amazon.

https://www.bukoos.com/site/product/?invn=010472800&gclid=EAIaIQobChMI3rWruLzN1QIVnLXACh3IGAqpEAkYASABEgKrsfD_BwE

[2017-08-10 20:22] dtraleigh commented on #467
Yup.

On Thu, Aug 10, 2017 at 4:10 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-10 20:45] suzanneccnc commented on #521
done!

[2017-08-10 20:45] #521 closed, assigned to jhibbets

[2017-08-10 20:50] suzanneccnc opened #524 "Onboard Lory Mills"
this is a repeat of issue added today, but I inadvertently "closed" then "archived" it. So.

Lory would like to help with NC Open Pass, especially with the Data and Challenges work.

I have added her info to the "Organizers Contact Info" spreadsheet

[2017-08-10 20:53] suzanneccnc commented on #501
Formal email invitation send to Ralph 8/9. This follows-up on a casual conversation during which Ralph had a positive response to idea of judging .

[2017-08-10 20:53] #501 closed, assigned to suzanneccnc

[2017-08-10 20:56] zachambrose opened #525 "Onboard Lori Mills"

[2017-08-10 20:57] zachambrose commented on #525
Duplicate

[2017-08-10 20:57] #525 closed, assigned to jhibbets

[2017-08-10 20:58] zachambrose commented on #524
I added her to the Google Group.

[2017-08-10 20:59] zachambrose commented on #524
And Bill's  Committee on the project plan

[2017-08-10 22:40] zachambrose opened #526 "Update Organizer info for website"

[2017-08-10 22:50] ChrisTheDBA commented on #526
What needs to be added where and which site?

[2017-08-10 22:53] ChrisTheDBA commented on #470
I talked to Kris at Brice's Brewing. They will do $80 per keg, deliver, provide kegarator and someone to serve. Probably need 3-4 kegs according to him.

[2017-08-10 23:00] zachambrose commented on #526
Please update your info in the organizer spreadsheet (name, organization, twitter & linkedin) and upload a headshot to the headshot folder.  This will be used for the organizer section of the DataPalooza website.  Deadline is August 25th.  Spreadsheet and folder are in the Marketing/Communications folder.

[2017-08-10 23:01] zachambrose commented on #526
Anyone who wants to be listed as an organizer.  The more the merrier though - good marketing.

[2017-08-10 23:02] dtraleigh commented on #470
Trophy is down for a 1/6 keg of Trophy Wife. Let's rep them accordingly!

On Thu, Aug 10, 2017 at 6:53 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-10 23:12] jhibbets commented on #526
Note to @all This will also be copied over to CityCamp NC website.

On Thu, Aug 10, 2017 at 7:01 PM, zachambrose <notifications@github.com>
wrote:

[2017-08-10 23:13] jhibbets opened #527 "Update jhibbets profile for website"
add headhshot and bio

[2017-08-10 23:41] ChrisTheDBA commented on #470
So are they just down for the beer or is setup included.

[2017-08-10 23:42] ChrisTheDBA commented on #526
I would prefer not to have my info included

[2017-08-10 23:56] zachambrose commented on #526
No problem.  Anyone who doesn't want to be included can just not put their
info in.

On Thu, Aug 10, 2017 at 7:42 PM, Chris Mathews <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-11 01:52] jhibbets commented on #526
Chris, you're so modest. Get some credit. You do great work and we love
you, but respect any wishes.

On Aug 10, 2017 7:57 PM, "zachambrose" <notifications@github.com> wrote:

[2017-08-11 12:10] dtraleigh commented on #470
Just a keg. I'll have to go down and pick it up.

On Thu, Aug 10, 2017 at 7:41 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-11 12:24] ChrisTheDBA commented on #470
The thing with that is I doubt that White Rabbit or Brices will pour
another brewery's keg.

If we want go this way we will have get the taps and man them.

On Fri, Aug 11, 2017 at 8:10 AM Leo Suarez <notifications@github.com> wrote:

--
Chris Mathews

[2017-08-11 12:32] dtraleigh commented on #470
That's what volunteers are for, no?

On Fri, Aug 11, 2017 at 8:24 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-11 16:05] #467 closed, assigned to dtraleigh

[2017-08-11 16:06] dtraleigh commented on #64
Mevo is purchased. I'm going to close this item and add a new one for a test run.

[2017-08-11 16:06] #64 closed, assigned to ashumz, ChrisTheDBA, dtraleigh, suzanneccnc

[2017-08-11 16:07] dtraleigh opened #528 "Test FB live with Mevo"
Let me know if you'd like to be a part of this.

[2017-08-11 17:36] ChrisTheDBA commented on #472
Seems that White Rabbit closed and a new place opened in its place Vicious Fishes

[2017-08-11 17:44] suzanneccnc commented on #472
I am so late to this conversation, but gotta throw some love out for White
Street.

On Fri, Aug 11, 2017 at 1:36 PM Chris Mathews <notifications@github.com>
wrote:

[2017-08-11 17:58] aikimark commented on #472
I can second the White Street suggestion.   Since White Rabbit has closed, I need to do a search for sources.

[2017-08-11 18:01] aikimark commented on #528
I contacted my A/V guy, Eric Leavy, and he wasn't familiar with Mevo.  He did say that audio was usually the biggest determinant of content quality (streaming or recorded).

[2017-08-11 18:09] aikimark commented on #64
My A/V guy said that sound quality was most important

[2017-08-11 18:10] ChrisTheDBA commented on #528
We have two options on the table for Thursday.

1) Trophy will donate a 1/6 keg(40 pints) we setup and pour and still need
to find 3 more kegs

2) Brice's 4 x 1/6 kegs for $320($80/keg), they setup and provide
cicerone(s).

For Friday we will probably want to stick with Little City to support the
area with the fire damage.

Chris Mathews

On Fri, Aug 11, 2017 at 2:01 PM, aikimark <notifications@gi

[2017-08-11 18:14] aikimark commented on #470
From another thread, Chris wrote:
We have two options on the table for Thursday.

1) Trophy will donate a 1/6 keg(40 pints) we setup and pour and still need
to find 3 more kegs

2) Brice's 4 x 1/6 kegs for $320($80/keg), they setup and provide
cicerone(s).

For Friday we will probably want to stick with Little City to support the
area with the fire damage.

Chris Mathews

[2017-08-11 18:16] aikimark commented on #470
Brice's is what I had in mind when I originally contacted (the now closed) White Rabbit Brewery.  Having professionals handle the beer delivery and pouring is a real plus.  It is their equipment and their reputation.

What are our choices in beer?

[2017-08-11 18:17] ChrisTheDBA commented on #472
Duplicate. closing.

[2017-08-11 18:17] #472 closed, assigned to ChrisTheDBA, dtraleigh, aikimark

[2017-08-11 18:18] ChrisTheDBA commented on #439
has anyone seen about getting the price per head down?

[2017-08-11 18:21] aikimark commented on #472
Chris got a good offer from Brice's.  In addition to their regular beers, they have some interesting seasonals.  We'll have to negotiate about what seasonals will be available in late September.

We might also see if they have a Summer beer keg they are trying to move at a discount.

[2017-08-11 18:21] ChrisTheDBA commented on #470
We can go out there and sample, he said anything they have tapped. Kris is a bit finicky about his beer like he won't dispense into growlers that they haven't cleaned

[2017-08-11 18:21] aikimark commented on #472
For reference:
http://bricesbrewing.com/ourbeer/

[2017-08-11 18:24] ChrisTheDBA commented on #470
Their beer list

For reference:
http://bricesbrewing.com/ourbeer/

[2017-08-11 18:24] aikimark commented on #470
I thought the beer selection would be both for the kick-off and the after party.  That is why I had a beer selection trip as a separate item from these two.  I'm up for a beer-selection trip.  I don't need growlers, just a seat at the bar.  Flights ahoy. :-)

[2017-08-11 18:27] ChrisTheDBA commented on #470
![brices.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/547f03d3c1ffe602001c5269/125516c66e82c728ace21e0d46ea8693208790ebc3abaf51ab57f5973d047d317c52a72e23d4b379ec172f515e581af9415a0e15f5fe807db4aa2e32db025fb28c341521842f1bbeb9861bbe07b0218e4f87b2bb8f45c5ef3b26e699c2.jpg)

Brice's current offerings

@aikimark sorry, I think this came up Monday night. SInce Tobacco Rd and

[2017-08-11 18:31] ChrisTheDBA commented on #526
It's not about humility or vanity. I've had a bad experience where this caused strife among organizers and wanted to avoid. However upon further reflection this group isn't that group so...I'm in.

[2017-08-11 18:32] aikimark commented on #470
Not a problem.  I didn't get some of that part of the discussion, just the fire might have an impact on logistics part.  I really appreciate your suggestions.  Let's visit the candidate breweries soon.

[2017-08-11 18:34] dtraleigh commented on #526
This is THE BEST planning group for any event I've been on! :)

On Fri, Aug 11, 2017 at 2:31 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-11 18:35] aikimark commented on #526
I just noticed that I was invited into this thread.  What do you need and where do you need it, Zach?

[2017-08-11 18:47] ashumz commented on #526
link to spreadsheet for adding info: https://docs.google.com/spreadsheets/d/1k_KonkmS51Lv6ha4gWlW90uYpwpX7qgdilzXGllznlg/edit#gid=0
link to folder for adding headshot: https://drive.google.com/drive/u/0/folders/0BxSvt4naKiIlUTRzVzlWMms2Y0U

[2017-08-11 19:03] aikimark commented on #526
I don't have permission to update/edit either of those two locations

[2017-08-11 19:14] zachambrose commented on #526
I'll check the permissions in a few

On Aug 11, 2017 3:03 PM, "aikimark" <notifications@github.com> wrote:

[2017-08-11 22:57] #527 closed, assigned to jhibbets

[2017-08-12 15:34] ChrisTheDBA commented on #519
Citycamp is done

[2017-08-12 15:53] jhibbets opened #529 "Draft recap of meeting with Mayor"
For posting on Friday, August 18

[2017-08-12 15:54] jhibbets commented on #529
Draft is done, once @zachambrose reviews (please add anything I missed), I'll add this to wordpress and schedule: https://docs.google.com/document/d/1-0AW4Gp-PAlErChQS4wy28xUFRkkvF3qkA1SLnw3ccs/edit

[2017-08-12 15:55] jhibbets commented on #529
FYI: @ChrisTheDBA has reviewed

[2017-08-12 15:56] ChrisTheDBA commented on #528
Let me know what I need to do!!!

[2017-08-12 15:58] dtraleigh commented on #528
What is the Facebook login? Would it be weird to test it there or should we
use a personal account?

On Aug 12, 2017 11:56 AM, "Chris Mathews" <notifications@github.com> wrote:

[2017-08-12 16:30] ChrisTheDBA opened #530 "Chris Mathews - Bio Info"

[2017-08-12 16:30] #530 closed, assigned to ChrisTheDBA

[2017-08-12 16:35] ChrisTheDBA commented on #528
I will need to figure that out

Chris Mathews

On Sat, Aug 12, 2017 at 11:58 AM, Leo Suarez <notifications@github.com>
wrote:

[2017-08-12 16:37] jhibbets opened #531 "on-board Sophia Newton"

[2017-08-12 16:37] jhibbets commented on #521
Should be good to go.

[2017-08-12 16:47] jhibbets commented on #528
Added you as an editor to the FB page.

[2017-08-12 16:49] #531 closed, assigned to jhibbets

[2017-08-12 16:49] #524 closed, assigned to jhibbets, zachambrose

[2017-08-12 17:08] jhibbets opened #532 "Add Caktus as venue sponsort"

[2017-08-12 17:08] jhibbets commented on #519
NC Open Pass is done

[2017-08-12 17:09] #532 closed, assigned to jhibbets

[2017-08-12 18:31] wildca01t commented on #457
@zachambrose Discussed between us, I've knocked out all items, plus combed through all pages/sub-pages.  Few areas where we may want further refine, once we know more on final details.  I completed vs. heading over to CivicSpark. I'll check out a few other mktg items later.  Enjoy your wkds, guys!

[2017-08-12 18:35] wildca01t commented on #519
NC Datapalooza is done.

[2017-08-12 18:35] #519 closed, assigned to wildca01t

[2017-08-12 18:39] wildca01t commented on #457
@zachambrose Please upload "data.world" logo for sponsor page. Just let me know what they said before scraping placeholder from their website.

[2017-08-12 21:46] aikimark commented on #470
Chris and Mark will visit Brice's on Sunday afternoon (8/13).  If anyone wants to join us, please post a comment here with your cell phone number.  I will text you when we have a definite time.

[2017-08-13 14:43] jhibbets commented on #457
Are they sponsoring open pass or just datapalooza?

On Sat, Aug 12, 2017 at 2:39 PM, wildca01t <notifications@github.com> wrote:

[2017-08-13 22:40] aikimark commented on #470
We postponed our trip to give Leo a chance to join us

[2017-08-13 23:52] ChrisTheDBA commented on #470
Looks like Saturday afternoon has been proposed as a date.

Here is a Doodle with proposed times...
https://doodle.com/poll/r7dhv2yuexwimxn5

Chris Mathews

On Sun, Aug 13, 2017 at 6:40 PM, aikimark <notifications@github.com> wrote:

[2017-08-14 00:04] natalienoel1 commented on #517
@jhibbets Done!

[2017-08-14 00:04] #517 closed, assigned to jhibbets, natalienoel1

[2017-08-14 00:04] #479 closed, assigned to natalienoel1

[2017-08-14 00:07] #455 closed, assigned to natalienoel1

[2017-08-14 01:33] zachambrose commented on #529
I think that's got it.

[2017-08-14 01:33] #529 closed, assigned to jhibbets, zachambrose

[2017-08-14 02:23] jhibbets opened #533 "Review Mayor meet and greet post"
Post is entered into WP and scheduled for Friday, aug 18:

http://citycampnc.org/?p=2622

Please review and set-up social promotions as appropriate

[2017-08-14 02:24] jhibbets commented on #484
I'm hoping to work on this Monday so we can push out on Tues/Wed

[2017-08-14 11:29] cjharper commented on #526
Thanks guys! You keep me connected.

On Thu, Aug 10, 2017 at 6:40 PM, zachambrose <notifications@github.com>
wrote:

[2017-08-14 12:07] jhibbets commented on #477
Call for speaker form is here:
https://docs.google.com/forms/d/e/1FAIpQLSdQmD46kNRdQmhhTUMCr0aLH_13R7yRFlyecIWMCXhJ2Ctedg/viewform

[2017-08-14 12:21] zachambrose commented on #526
Permissions should be okay.  Just let me know if you're having trouble
accessing.

On Mon, Aug 14, 2017 at 7:29 AM, CJ <notifications@github.com> wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-14 12:22] zachambrose commented on #457
Should be Open Pass.  I've asked Nick to upload the logo and update the
twitter handle.

On Sun, Aug 13, 2017 at 10:43 AM, Jason Hibbets <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-14 12:23] jhibbets commented on #410
Blog post is ready and published announcing NC Open Pass: http://citycampnc.org/2017/08/14/get-your-2017-nc-open-pass/

[2017-08-14 12:24] jhibbets commented on #416
Not sure if this is what you're looking for, but here is a blog post announcing NC Open Pass : http://citycampnc.org/2017/08/14/get-your-2017-nc-open-pass/ -- it's live a published.

[2017-08-14 12:25] jhibbets commented on #479
You can use this post - http://citycampnc.org/2017/08/14/get-your-2017-nc-open-pass/ or point to NC Open pass site (more direct)

[2017-08-14 12:35] jhibbets commented on #477
call for speaker blog post is ready and scheduled to publish on August 15 @ 7am:
http://citycampnc.org/2017/08/15/citycamp-nc-2017-call-for-lightning-talk-speakers/

Committee members can now point to the existing Google Form

[2017-08-14 12:35] #477 closed, assigned to jhibbets

[2017-08-14 12:36] jhibbets opened #534 "Send out initial notifications for CFP"

[2017-08-14 12:38] jhibbets opened #535 "Promote call for speaker"
Please promote Call for speakers via newsletter and social media. Blog post will publish on Aug 15 at 7 am.

http://citycampnc.org/2017/08/15/citycamp-nc-2017-call-for-lightning-talk-speakers/

[2017-08-14 13:02] jhibbets opened #536 "Connect with Noel Isama for keynote speaker ideas"

[2017-08-14 13:09] jhibbets opened #537 "Post from Civic Spark Day for social media"
found this great recap of Civic Spark Day, we should promote it via social a few times:

https://www.linkedin.com/pulse/my-3-takeaways-from-code-durhams-civic-spark-day-cari-keller

[2017-08-14 13:13] #536 closed, assigned to jhibbets

[2017-08-14 13:13] zachambrose opened #538 "Add Nick Jeffress to Waffle.io"

[2017-08-14 13:13] #534 closed, assigned to jhibbets

[2017-08-14 13:15] jhibbets commented on #538
@zachambrose  I've sent an email invite, but will need his GitHub ID

[2017-08-14 13:40] wildca01t commented on #535
@jhibbets = Brasco has a company newsletter going out mid-late week. I'll add in promo/call for speaker. Note: Please check this lightning talk speaker weblink on Citycamp's site. It said broken twice.
Thx.

[2017-08-14 14:00] jhibbets commented on #535
+1 on newsletter, thanks.

The post isn't live yet, you need to be logged in to view it. It will
publish tomorrow morning.

On Mon, Aug 14, 2017 at 9:40 AM, wildca01t <notifications@github.com> wrote:

[2017-08-14 14:52] suzanneccnc commented on #477
Is the idea to wait until blog post goes up to send link to potential speakers?

[2017-08-14 16:13] jhibbets commented on #477
You can send the webform to people now. The idea behind the delayed blog
post is to spread out content on the blog. There is a post published this
morning to promote NC Open Pass registation.

On Mon, Aug 14, 2017 at 10:52 AM, suzanneccnc <notifications@github.com>
wrote:

[2017-08-14 19:16] wildca01t opened #539 "add "Bill Scanlon's Data Criteria" to NC Datapalooza Future Eventbrite Messaging"

[2017-08-14 19:19] wildca01t commented on #457
@jhibbets @ChrisTheDBA Please let me know your preference on adding logos for CityCamp and NC Open Pass to NC Datapalooza website.  Thanks.

[2017-08-14 19:24] jhibbets commented on #457
We need the approved logo uploaded to the sponsorship log folder in Drive,
and then open a card on Waffle.io with the URL. Assign it to both of us and
we'll get it done.

On Mon, Aug 14, 2017 at 3:19 PM, wildca01t <notifications@github.com> wrote:

[2017-08-14 20:07] ChrisTheDBA commented on #457
git 'er done!

Chris Mathews

On Mon, Aug 14, 2017 at 3:24 PM, Jason Hibbets <notifications@github.com>
wrote:

[2017-08-14 21:13] natalienoel1 commented on #410
Need credit card number to add more credits to Mailchimp!  @jhibbets

[2017-08-14 21:19] jhibbets commented on #410
Hmmm...I bought 1,000 credits for like $50, I thought that should have been
enough to last us a while. When I log in it says: *965* credits remaining

On Mon, Aug 14, 2017 at 5:13 PM, natalienoel1 <notifications@github.com>
wrote:

[2017-08-14 21:48] jhibbets commented on #484
Done: http://citycampnc.org/2017/08/14/get-your-2017-nc-open-pass/

[2017-08-14 21:48] #484 closed, assigned to ashumz, jhibbets

[2017-08-14 21:54] #445 closed, assigned to jhibbets

[2017-08-14 22:12] zachambrose opened #540 "Get data.world logo, URL & Twitter"

[2017-08-14 22:13] zachambrose opened #541 "Check and update sponsorship tiers on websites"

[2017-08-14 22:20] zachambrose commented on #541
@jhibbets For NC Open Pass, Wake Econ Dev isn't onboard as a sponsor, Raleigh Econ Dev should be Gold

[2017-08-14 22:23] zachambrose commented on #541
@ChrisTheDBA  For City Camp, Raleigh Econ Dev should be gold,  HQ Raleigh is  Gold, Data.world is silver.

[2017-08-14 22:25] zachambrose commented on #541
@wildca01t Neomonde has agreed to sponsor yet.  Data.world is silver.

[2017-08-14 22:27] zachambrose opened #542 "Decide how to handle speaker & judge info"
Need to decide on managing headshots, bios & twitter handles.

[2017-08-14 22:31] zachambrose commented on #523
She said yes!

[2017-08-14 22:32] ChrisTheDBA opened #543 "Brewery meetup Saturday"
Looks like Saturday afternoon has been proposed as a date. Here is a Doodle with proposed times... https://doodle.com/poll/r7dhv2yuexwimxn5

[2017-08-14 22:34] ChrisTheDBA commented on #543
1822 Garner Station Blvd, Raleigh, NC 27603

[2017-08-14 22:36] zachambrose commented on #523
Wrong card.

[2017-08-14 22:42] suzanneccnc opened #544 "Reach out to Elastic as a sponsor"
Making data available is one thing; making it searchable is even better. Elasticsearch has worked with OpenDataSoft to work with open data (https://www.elastic.co/use-cases/opendatasoft). Therefore, they may be a good fit for sponsorship. Contact: Elyssa Emrich, Developer Relations.

[2017-08-14 22:54] zachambrose commented on #544
Thanks! Do you have an email address for her?

On Mon, Aug 14, 2017 at 6:42 PM, suzanneccnc <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-14 22:58] suzanneccnc commented on #544
Shoot, I sure do! Sorry about that: elyssa@elastic.co (not .com).

[2017-08-14 23:14] suzanneccnc commented on #475
Follow-up email with a link to the form sent!

[2017-08-14 23:14] #475 closed, assigned to suzanneccnc

[2017-08-14 23:17] suzanneccnc commented on #474
Met with Sarah Powers. Very enthusiastic response. Sent form for lightening talk. Sarah has a Arts & Tech Initiative just getting underway, so this is a good opportunity to explore working together.

[2017-08-14 23:17] #474 closed, assigned to suzanneccnc

[2017-08-14 23:17] jhibbets commented on #387
@ChrisTheDBA  Do we have an address?

[2017-08-14 23:18] suzanneccnc commented on #435
Sent Jonathan Opp an invitation to do a lightening talk.

[2017-08-14 23:21] jhibbets commented on #542
google form!

On Mon, Aug 14, 2017 at 6:27 PM, zachambrose <notifications@github.com>
wrote:

[2017-08-14 23:31] ChrisTheDBA commented on #387
Not that I am aware of. "How is this for a tagline "Building community for
a better tomorrow through civic design, technology, and data."

Chris Mathews

On Mon, Aug 14, 2017 at 7:17 PM, Jason Hibbets <notifications@github.com>
wrote:

[2017-08-14 23:31] ChrisTheDBA commented on #505
@carsi  Do you need anything else to begin this?

[2017-08-15 01:43] suzanneccnc commented on #387
"better" doesn't strike me quite right...empowered?, engaged?, informed?,
inclusive?, progressive?...something uplifting but not condemning current
solutions...

On Mon, Aug 14, 2017 at 7:31 PM Chris Mathews <notifications@github.com>
wrote:

[2017-08-15 01:46] suzanneccnc commented on #470
OK. I've got to say this: serving a beer, no matter how tasty, call "Trophy
Wife" doesn't send an inclusive message. Can we rethink the choice of brew?
Does Trophy have something else tasty that we could use?

On Sun, Aug 13, 2017 at 10:56 PM Chris Mathews <notifications@github.com>
wrote:

[2017-08-15 11:49] ChrisTheDBA commented on #537
and this one...http://www.wakeinnovates.com/?p=343

[2017-08-15 11:51] ChrisTheDBA commented on #502
@zachambrose do you have Alex on your list?

[2017-08-15 11:52] ChrisTheDBA commented on #544
Do we know her or is this a cold call?

[2017-08-15 11:55] dtraleigh opened #545 "FB live stream analytics"
Opening this up to the group but I think this is for marketing. How can we capture stats from our official live streams? I see this being useful in the future for sponsorships, maybe other things.

[2017-08-15 12:03] zachambrose commented on #544
Cold call I think.  Suzanne?

On Tue, Aug 15, 2017 at 7:52 AM, Chris Mathews <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-15 12:12] ChrisTheDBA commented on #541
moved HQ to gold and still don't have data.world. Raleigh is at platinum for donation plus in-kind and to apologize for confusion at last years event

[2017-08-15 12:25] jhibbets commented on #470
We could go with Trophy Husband instead ;)

On Mon, Aug 14, 2017 at 9:46 PM, suzanneccnc <notifications@github.com>
wrote:

[2017-08-15 12:43] suzanneccnc commented on #544
Cold call. She may be a connection for the Elastic Meetup that meets on
BCBSNC campus and is coordinated by Nitin Kadam, one of my colleagues.

On Tue, Aug 15, 2017 at 8:03 AM, zachambrose <notifications@github.com>
wrote:

[2017-08-15 12:50] ChrisTheDBA commented on #387
from the Code for America website...https://www.codeforamerica.org/who

[2017-08-15 12:58] snewt-n opened #546 "Update menu>schedule to include 2017 schedule"

[2017-08-15 12:59] snewt-n opened #547 "Update menu>register to include 2017 reg"
blocked by open of 2017 registration

[2017-08-15 13:02] snewt-n opened #548 "Update menu>speakers to include 2017 speakers"
blocked by getting 2017 speakers

[2017-08-15 13:23] aikimark commented on #470
I don't think we're going with the Trophy Brewery solution.  We're meeting at Brice's on Saturday afternoon.  Please join us, Suzanne.

[2017-08-15 13:56] dtraleigh commented on #470
Man, I do love Trophy Husband.

Trophy Wife, like Chris said, is one of Trophy's most palatable and readily
available beers. That's why it's easier to get and it's a crowd pleaser. I
disagree that a beer named Trophy Wife is sending negative messages
especially when you know the crew behind the brewery and all the causes
they support including local businesses.

At the same time, we're shopping ar

[2017-08-15 14:09] ChrisTheDBA opened #549 "Update CityCamp website home page"

[2017-08-15 14:10] ChrisTheDBA commented on #549
Registration is open for OpenPass

[2017-08-15 14:10] #549 closed, assigned to ChrisTheDBA

[2017-08-15 15:24] carsi commented on #505
What should be the output for this banner?

On Mon, Aug 14, 2017 at 7:31 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-15 15:59] ChrisTheDBA commented on #505
I would think whichever has the resolution to not look bad when BIG :)

We support a variety of file formats for uploaded designs.
Adobe Acrobat 9 Document (*.pdf) (recommended)
Adobe Illustrator CS3 Artwork (*.ai) (recommended)
Adobe Photoshop CS3 Image (*.psd) (recommended)
Bitmap Image (*.bmp)
GIF Image (*.gif)
JPEG Image (*.jpg,*.jpeg)
Microsoft PowerPoint 2010 Document (*.ppt)
Microsoft Word

[2017-08-15 16:20] #516 closed, assigned to jhibbets, natalienoel1

[2017-08-15 16:20] #387 closed, assigned to natalienoel1

[2017-08-15 16:22] suzanneccnc commented on #544
I have confirmed with Nitin that Elyssa is his contact at Elastic and she has been integral in help getting this new meetup off the ground.

[2017-08-15 16:25] suzanneccnc commented on #496
Email sent to Laila Bell (laila@ncchild.org) with link to form and blog post.

[2017-08-15 16:25] #496 closed, assigned to suzanneccnc

[2017-08-15 16:41] ChrisTheDBA opened #550 "Add call for speakers to CityCamp website"

[2017-08-15 16:41] #550 closed, assigned to ChrisTheDBA

[2017-08-15 17:18] snewt-n commented on #408
Thoughts on https://drive.google.com/open?id=0B3qfKOo1GXIGVnJJbG9SYWVIZzg ?

[2017-08-15 18:35] carsi commented on #505
Resolution is different from file output. Thanks!

On Tue, Aug 15, 2017 at 11:59 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-15 18:50] carsi commented on #408
The location looks good, but I prefer "by NC Open Pass" to be in allcaps
Ubuntu like in the NC Open Pass logotype.

On Tue, Aug 15, 2017 at 1:18 PM, snewt-n <notifications@github.com> wrote:

[2017-08-15 20:41] carsi commented on #470
While Trophy's beer names are lightheartedly poking fun at cultural
stereotypes, it can come off as offensive to people who don't know about
the names of the other beers Trophy offers. It is only funny if you are a
part of that culture. That said, if we go with another local business for
libations, it won't matter.

On Tue, Aug 15, 2017 at 9:56 AM, Leo Suarez <notifications@github.com>
wrote:

[2017-08-15 21:18] carsi commented on #435
Great, thanks!

On Mon, Aug 14, 2017 at 7:18 PM, suzanneccnc <notifications@github.com>
wrote:

[2017-08-15 22:22] carsi commented on #505
Here are three options:
<img width="1155" alt="screen shot 2017-08-15 at 6 21 30 pm" src="https://user-images.githubusercontent.com/3422850/29339113-bc27dda6-81e6-11e7-8eb9-8a5edb12145b.png">

[2017-08-15 22:30] zachambrose commented on #476
@suzanneccnc is going to circle back about judging at City Camp.

[2017-08-15 22:32] zachambrose commented on #523
Circling back from my initial ask.

[2017-08-15 22:35] zachambrose opened #551 "Ask Girl Develop It about judging at City Camp"

[2017-08-15 22:36] zachambrose commented on #503
@ChrisTheDBA  is going to ask about judging at DataPalooza finale.

[2017-08-15 22:36] ChrisTheDBA commented on #505
I had wanted the logos and Code for Raleigh bigger and above.I the middle
and then the left.I guess I am looking for a Code for Raleigh with the
events secondary and since civic spark is durham not include that

Chris Mathews

On Tue, Aug 15, 2017 at 6:22 PM, carsi <notifications@github.com> wrote:

[2017-08-15 22:36] zachambrose opened #552 "Ask Tony Kershaw about judging at City Camp"

[2017-08-15 22:37] ChrisTheDBA opened #553 "Tony Kershaw - NC State as a judge"
Sent initial email

[2017-08-15 22:38] zachambrose commented on #541
I updated Raleigh to Platinum in the sponsorship sheet.  @wildca01t  can you change Raleigh to Platinum on the DataPalooza website?

[2017-08-15 22:39] zachambrose commented on #553
You're a machine.

On Tue, Aug 15, 2017 at 6:37 PM, Chris Mathews <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-15 23:16] ChrisTheDBA commented on #553
Tony is in. checking schedule for availability

[2017-08-15 23:16] ChrisTheDBA commented on #552
Duplicate

[2017-08-15 23:17] #552 closed, assigned to ChrisTheDBA

[2017-08-15 23:28] zachambrose commented on #502
Can you add him (or ask him) to the Google Form?

On Tue, Aug 15, 2017 at 7:51 AM, Chris Mathews <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-15 23:30] ChrisTheDBA commented on #502
He should be at the board meeting too. I will do it then.

Chris Mathews

On Tue, Aug 15, 2017 at 7:28 PM, zachambrose <notifications@github.com>
wrote:

[2017-08-15 23:58] snewt-n commented on #408
Whoop, sorry didn't read the style guide closely enough, saw open sans and didn't keep reading. Will update.

[2017-08-16 00:02] carsi commented on #408
All good. Handling the NC Open Pass brand is not in the style guide. Thanks
for your help!

On Aug 15, 2017 7:58 PM, "snewt-n" <notifications@github.com> wrote:

[2017-08-16 00:27] dtraleigh commented on #487
What about Yellow Dog? We used them in 2014. They don't do GF or vegetarian
though.

On Wed, Aug 9, 2017 at 7:43 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-16 00:35] ChrisTheDBA commented on #487
Get a quote since we haven't made a decision. +1

Chris Mathews

On Tue, Aug 15, 2017 at 8:27 PM, Leo Suarez <notifications@github.com>
wrote:

[2017-08-16 01:12] snewt-n commented on #422
Do we have a sticker person already here in the area? I have to assume someone has one. Thoughts on magnets? Do we have a prototype of combined logos or just Jason's ascii?

[2017-08-16 01:17] TaxLadyTracy commented on #487
I was going to get prices in pastries from BJ's and do fruit bowl.

Sent from my Verizon, Samsung Galaxy smartphone
-------- Original message --------From: Chris Mathews <notifications@github.com> Date: 8/15/17  8:35 PM  (GMT-05:00) To: codeforraleigh/NCOpenPass <NCOpenPass@noreply.github.com> Cc: TaxLadyTracy <tracy.mathews1125@gmail.com>, Assign <assign@noreply.github.com> Subject: Re: [codeforr

[2017-08-16 01:18] ChrisTheDBA commented on #422
We have a supply of stickers and pins.Not sure of number.

No one local, sticker mule in the past.  Budget is a little tight right now
until funds come in.So we might have to hold off. Magnets is an option if
we have the money.

 The combined logo and all others are on google drive.

Chris Mathews

On Tue, Aug 15, 2017 at 9:12 PM, snewt-n <notifications@github.com> wrote:

[2017-08-16 04:14] jhibbets commented on #505
I like the middle one too!

On Aug 15, 2017 6:36 PM, "Chris Mathews" <notifications@github.com> wrote:

[2017-08-16 13:32] dtraleigh commented on #543
Does Brice's have Wifi? I can bring the Mevo.

On Mon, Aug 14, 2017 at 6:34 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-16 13:48] ChrisTheDBA commented on #509
We have a conversation started on LI

[2017-08-16 14:37] carsi commented on #505
Each logo is already at least 24 inches wide so we should not make them bigger so there is enough space between the logos.

Also, this is for NC Open Pass, right? If so, NC Open Pass should be the dominant logo and Code for Raleigh secondary. Civic Spark Day is part of NC Open Pass, Raleigh or not.

On ncopenpass.com, there is a blurb at the bottom that reads "NC Open Pass is a partnership between

[2017-08-16 14:52] ChrisTheDBA commented on #505
No, I have been talking all this time about a Code for Raleigh banner, Similar to the one I showed that Code for Greensboro has. Sorry about the confusion.

[2017-08-16 15:51] carsi commented on #505
What is the use case for this banner?

On Wed, Aug 16, 2017 at 10:52 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-16 16:30] ChrisTheDBA commented on #505
Don't mean this to be snarky, but...let people know who we are when we are
at events. Some specifics are Brigade Congress in Philly, ATO, Creative
Mornings, Raleigh Chamber, Innovate Raleigh,

Chris Mathews

On Wed, Aug 16, 2017 at 11:51 AM, carsi <notifications@github.com> wrote:

[2017-08-16 16:41] jhibbets commented on #505
I'll add that it's Chris, Tracy, and sometime me at the table/booth. So
it's code for raleigh specific,  hence the ask for specific logos.

On Aug 16, 2017 12:30 PM, "Chris Mathews" <notifications@github.com> wrote:

[2017-08-16 17:37] #410 closed, assigned to natalienoel1

[2017-08-16 17:38] jhibbets commented on #509
Details have been sent to Miguel and his team

[2017-08-16 17:44] jhibbets commented on #542
@zachambrose form looks good, I added email address field ;)

[2017-08-16 17:44] #542 closed, assigned to jhibbets, zachambrose

[2017-08-16 19:04] jhibbets commented on #509
Thank you for the opportunity, but unfortunately, Miguel has a conflict on the 29th.

[2017-08-16 19:04] #509 closed, assigned to jhibbets

[2017-08-16 19:12] zachambrose commented on #540
Completed

[2017-08-16 19:12] #540 closed, assigned to zachambrose

[2017-08-16 19:13] zachambrose commented on #541
Data.world's logo is in the folder and they can be added as a silver sponsor for DataPalooza and City Camp.

[2017-08-16 19:42] jhibbets commented on #541
NC Open Pass is updated with all these items. @wildca01t please close this once you finish your updates.

[2017-08-16 19:46] jhibbets opened #554 "Meet with Stephen Larrick"
Meeting on Friday 8/18 @ 10:30

[2017-08-16 20:12] ashumz commented on #399
still need access for all of these @jhibbets for ashley.mcclelland@ibm.com

[2017-08-16 20:29] jhibbets commented on #399
done

On Wed, Aug 16, 2017 at 4:12 PM, Ashley <notifications@github.com> wrote:

[2017-08-16 22:24] TaxLadyTracy commented on #543
I believe they do and we also have a mifi that can be used.

Sent from my Verizon, Samsung Galaxy smartphone
-------- Original message --------From: Leo Suarez <notifications@github.com> Date: 8/16/17  9:32 AM  (GMT-05:00) To: codeforraleigh/NCOpenPass <NCOpenPass@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Subject: Re: [codeforraleigh/NCOpenPass] Brewery meetup Saturday (#5

[2017-08-16 22:26] zachambrose opened #555 "Ask Natalie about developing social media plan"

[2017-08-16 22:32] zachambrose opened #556 "Develop marketing outreach plan"

[2017-08-16 22:34] zachambrose commented on #556
The 2016 Marketing Template and a copy of the Marketing Outreach are in the marketing folder.  @suzanneccnc can you take a look and see what you think?

[2017-08-16 22:56] #541 closed, assigned to ChrisTheDBA, jhibbets, zachambrose, wildca01t

[2017-08-16 23:03] wildca01t commented on #457
Completed,@zachambrose

[2017-08-17 00:13] dtraleigh commented on #419
Flag order is finally placed!

[2017-08-17 12:04] ChrisTheDBA commented on #543
Going to call Doodle closed. We have three attending I say we meet at 2-2:30 on Saturday at Brices to sample the beer and check out the Mevo. All are still welcome to attend.

[2017-08-17 12:09] #543 closed, assigned to ChrisTheDBA, dtraleigh, jhibbets, aikimark

[2017-08-17 13:44] carsi commented on #419
🚩🚩🚩🚩🚩🚩🚩

[2017-08-17 17:00] #553 closed, assigned to ChrisTheDBA

[2017-08-17 17:01] ChrisTheDBA commented on #553
Info added to form!

[2017-08-17 17:30] ChrisTheDBA commented on #555
please don't forget our sponsors/partners! :)

[2017-08-17 17:32] jhibbets commented on #555
Note: we can set this up for the three remaining events, CityCamp, ATO, and
DataPalooza and have everything scheduled.
Jason

On Thu, Aug 17, 2017 at 1:30 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-17 18:48] ChrisTheDBA opened #557 "Access to Eventbrite for Chris M"
Need for getting the at event logistics planned out

[2017-08-17 18:48] ChrisTheDBA commented on #557
my password is bad.

[2017-08-17 19:43] wildca01t commented on #555
I reached out to Natalie Noel at HQ, just waiting for a response. Natalie handles all of HQs social media.

[2017-08-18 01:05] jhibbets commented on #557
reshared

On Thu, Aug 17, 2017 at 2:48 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-18 12:44] dtraleigh commented on #528
I'm planning to drop by HQ Raleigh next week, Friday the 25th around 3pm to do an on-site test of the Mevo. If anyone is nearby and wants to hang out, come on down. If anyone can be made available virtually to watch the test stream and offer live feedback (so I can test settings and such) that would be helpful also.

Let's say we get there at 3, kick off the stream around 3:15 and test it for 15-3

[2017-08-18 14:31] #538 closed, assigned to jhibbets

[2017-08-18 15:04] #554 closed, assigned to jhibbets

[2017-08-18 17:57] zachambrose commented on #544
I'm in touch with the sponsorship person.

[2017-08-18 18:00] jhibbets opened #558 "Create discount code for RTP180 attendees"

[2017-08-18 18:01] jhibbets commented on #557
Close if it worked, otherwise I'll investigate more

[2017-08-18 18:03] jhibbets opened #559 "Send Open Pass subscribers ATO discount before price increase"

[2017-08-18 18:03] ChrisTheDBA commented on #557
It didn't work. Taking offline

[2017-08-18 18:03] jhibbets commented on #559
Thursday, June 22 – Thursday, August 24 – $99 single/$149 both days

[2017-08-18 18:06] #557 closed, assigned to ChrisTheDBA, jhibbets

[2017-08-18 18:17] #558 closed, assigned to jhibbets

[2017-08-18 18:49] jhibbets commented on #559
Email scheduled to go out from Eventbright on Aug 21 @ 7am

[2017-08-18 18:49] #559 closed, assigned to jhibbets

[2017-08-18 18:51] jhibbets commented on #535
@ashumz @natalienoel1 Reminder to get some social media set up for this - time sensitive (Deadline is Aug 28)

[2017-08-18 19:02] jhibbets opened #560 "Get keynote details from Stephen Larrick"
Speaker/judge form sent on 8/18
Should get w/o 8/21
Will promote w/o 8/28

[2017-08-18 19:07] ChrisTheDBA commented on #560
Im stupid what does w/o mean?

Chris Mathews

On Fri, Aug 18, 2017 at 3:02 PM, Jason Hibbets <notifications@github.com>
wrote:

[2017-08-18 19:11] suzanneccnc commented on #476
Ralph would like to judge at All Things Open, and possibly at NCDataPalooza finale.

[2017-08-18 19:27] suzanneccnc commented on #560
What speaker/judge form?!?!? Need to get that to Ralph Perrine...

On Fri, Aug 18, 2017 at 3:02 PM, Jason Hibbets <notifications@github.com>
wrote:

[2017-08-18 19:42] jhibbets commented on #560
@christhedba week of
@suzanneccnc in the speaker folder ;) -
https://docs.google.com/forms/d/1IQl25hlxP9Nxht2SetBy3kHnAVhrummL28NkSwuDUv4/edit?usp=drive_web

On Fri, Aug 18, 2017 at 3:27 PM, suzanneccnc <notifications@github.com>
wrote:

[2017-08-18 20:28] #535 closed, assigned to ashumz, jhibbets, wildca01t, natalienoel1

[2017-08-18 20:40] #495 closed, assigned to ashumz, suzanneccnc, natalienoel1

[2017-08-19 15:53] #430 closed, assigned to ChrisTheDBA, jhibbets, zachambrose

[2017-08-19 15:54] jhibbets commented on #437
If there anything else for this ticket?

[2017-08-19 15:55] jhibbets opened #561 "Social media: History of Civic Tech article"

[2017-08-19 17:00] ChrisTheDBA commented on #437
I think we are set. Blue, heahered for participants and purple sold for organizers. borth with white  logos. Tultex is first choice of type. ATO uses those. With Bella and  Canvas as backup.

[2017-08-19 17:05] jhibbets opened #562 "List of all blog posts on WordPress"
I'm trying to figure out how to get a public view of all our blog posts. When I go here: http://citycampnc.org/latest-news/ some of the newer posts aren't showing up. I believe it's because that page is bringing in posts that are tagged Latest News 2016. So I'm think we should:
- show all blog posts on that page
or
- merge latest news and latest news 2016 tags together and using latest news as a t

[2017-08-19 17:18] dtraleigh commented on #437
Should I get table covers that match that? What color do you think?
Remember, last year was green.

On Sat, Aug 19, 2017 at 1:00 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-19 17:28] ChrisTheDBA commented on #437
I think we stick with green as the overall color. no need to match to the
shirts

Chris Mathews

On Sat, Aug 19, 2017 at 1:18 PM, Leo Suarez <notifications@github.com>
wrote:

[2017-08-19 19:29] dtraleigh opened #563 "Decide on speaker gifts"
We need to decide on what these will be before buying them.

[2017-08-19 19:30] dtraleigh opened #564 "Purchase speaker gifts and get them to Tracy"

[2017-08-20 11:44] aikimark commented on #470
I will probably make a return trip in a couple/few weeks to see what the seasonals will likely be at the end of September.  My friend, Jason (not Hibbets) summed up my target nicely: "Something a little hoppy, something mild, a Belgian, and something dark"

As far as the Belgians are concerned, I think the Trippel is best.
I would love to get the peach/rosemary, but doubt that will still be around

[2017-08-20 16:50] dtraleigh opened #565 "New (larger) SD card for the Mevo"
I left it running today, doing a local recording (barely any audio as I was out of the house) and with HD (lowest res) the 16Gb card filled up after 3 hours of video.

With a 64 Gb card, I bet we can be comfortable at HD and higher resolutions for a day. A supported card is $27.

Would a 128Gb be too much to ask? For about $50, we would be set at 4K resolution, no need to offload during the event,

[2017-08-20 16:52] dtraleigh commented on #485
Current plan is to do pizza. There has been no negative feedback about this, it's easy, and is budget friendly.

[2017-08-20 16:52] dtraleigh commented on #489
Moe's for Friday lunch.

[2017-08-20 16:53] dtraleigh commented on #487
BJ's and fruit bowl it is.

[2017-08-20 16:53] dtraleigh commented on #486
Working with Tobacco Road on this one.

[2017-08-20 16:54] dtraleigh commented on #488
BJ's and fruit, just like Friday.

[2017-08-20 16:55] dtraleigh commented on #471
Going to talk to Little City about helping us out here.

[2017-08-20 21:47] #528 closed, assigned to ChrisTheDBA, dtraleigh

[2017-08-20 21:49] ChrisTheDBA commented on #470
Ok, I am going to sign the deal with Kris at Brices on Wednesday afternoon. What are your top three? We can probably make some changes but I need to know what to tell Kris.

[2017-08-21 01:08] zachambrose commented on #563
What do you think about gifts for the judges?  City Camp -5, ATO -3 &
DataPalooza -5

On Sat, Aug 19, 2017 at 3:29 PM, Leo Suarez <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-21 01:10] suzanneccnc commented on #563
We should acknowledge them with something...same as lightening talk
speakers?

On Sun, Aug 20, 2017 at 9:08 PM zachambrose <notifications@github.com>
wrote:

[2017-08-21 14:44] zachambrose opened #566 "Send Amy Huffman press pass"

[2017-08-21 15:54] dtraleigh opened #567 "Partner with Iron Yard"
This is not meant to add more complexity to Citycamp but we still have interest from the Iron Yard to for additional space. What to do there exactly and when is the question. Any ideas?

Do we want to send people over there at all? Does that fragment the event?

[2017-08-21 16:04] ChrisTheDBA commented on #567
I don't know about splitting the venue. can you describe the use case.

I know with my disability walking between the locations in the time between sessions would be a challenge.

[2017-08-21 17:05] TaxLadyTracy commented on #567
I think it would be a bad idea to try and move people around like that I feel we will lose people from session to session.

[2017-08-21 17:09] TaxLadyTracy opened #568 "Tshirt sizes from Planning Committee"
I need sizes for each committee member EMAILED to me at tracy.mathews1125@gmail.com ASAP  it will be a unisex shirt Tultex brand 202 is the shirt number if you want to go to their site and look at sizing.

[2017-08-21 17:15] #439 closed, assigned to ChrisTheDBA, TaxLadyTracy

[2017-08-21 17:18] ChrisTheDBA commented on #562
As discussed, do we need to just change the tags on develop a separate.

[2017-08-21 17:41] TaxLadyTracy commented on #473
Green is our color so Green they shall be.

[2017-08-21 17:44] TaxLadyTracy opened #569 "Lunch on Friday"
Contact Moe's to place order for Taco/Salad Bar

[2017-08-21 17:44] TaxLadyTracy opened #570 "Lunch on Saturday"

[2017-08-21 17:45] TaxLadyTracy opened #571 "Breakfast Fri & Sat"
Pastries, fruit, coffee, and water

[2017-08-21 17:47] TaxLadyTracy opened #572 "Confirm Coffee if CoM"
Make sure they order extra cups and beans the week before our event.

[2017-08-21 18:25] dtraleigh commented on #567
I agree. We talked about possibly having a different session, not
unconference session, but maybe a more organized session for Saturday take
place there if folks did not want to do the hackathon, if we came up with
another idea.

I'll let this sit for a few days if someone has a good idea that is
feasible with the time we have, great. If not, I'll thank them for the
offer but pass.

On Mon, Aug 21

[2017-08-21 18:32] zachambrose opened #573 "Add BCBSNC Foundation as a platinum sponsor to websites."

[2017-08-21 18:32] zachambrose commented on #573
Waiting on Logo

[2017-08-21 18:33] zachambrose opened #574 "Create discount code for BSBSNC Foundation for NC Open Pass"

[2017-08-21 18:34] zachambrose commented on #574
@jhibbets They're getting 10 free admissions for their sponsorship.

[2017-08-21 18:36] zachambrose opened #575 "Ask Suja Thomas about judging at City Camp"

[2017-08-21 18:37] zachambrose commented on #575
She wants to judge and is confirming her work travel schedule.

[2017-08-21 18:53] jhibbets commented on #567
I the past, we've partnered with GDI and could potentially look to add some
sort of coding class to the schedule. I'm thinking more co-located and not
competing with our agenda.

On Mon, Aug 21, 2017 at 2:25 PM, Leo Suarez <notifications@github.com>
wrote:

[2017-08-21 18:57] zachambrose commented on #567
Should we worry about pulling people away from the hackathon?

On Mon, Aug 21, 2017 at 2:53 PM, Jason Hibbets <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-21 19:02] ChrisTheDBA commented on #567
We intentionally try and put on a beginner friendly hackathon. We should lose that focus.

[2017-08-21 19:03] ChrisTheDBA commented on #563
something from HoS, local coffee

[2017-08-21 19:12] zachambrose commented on #566
Done.

[2017-08-21 19:12] #566 closed, assigned to zachambrose

[2017-08-21 22:15] zachambrose commented on #476
I've updated him in the speaker notes.   Just need him to do the Google
Form.  :)

On Fri, Aug 18, 2017 at 3:11 PM, suzanneccnc <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-21 22:22] zachambrose commented on #497
There lead person on this has taken a new job, so it's not going to happen.

[2017-08-21 22:22] #497 closed, assigned to zachambrose

[2017-08-21 22:24] zachambrose opened #576 "Get Ipreo logo and twitter handle"

[2017-08-21 22:59] dtraleigh commented on #563
Let's nail down who gets a gift. I'm tracking it and other notes here:
https://docs.google.com/document/d/1ohFfKMatoZS6LTri3J2Eo-BDOBpWutUFUV-gSSpamgw/edit?usp=sharing

Please add, I've started with Zach's suggestion.

On Mon, Aug 21, 2017 at 3:03 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-21 23:02] zachambrose opened #577 "Remove ESRI from website sponsorship section"

[2017-08-21 23:09] ChrisTheDBA commented on #577
Removed from CityCamp site

Chris Mathews

On Mon, Aug 21, 2017 at 7:02 PM, zachambrose <notifications@github.com>
wrote:

[2017-08-22 01:08] #392 closed, assigned to jhibbets

[2017-08-22 01:09] jhibbets commented on #511
@ChrisTheDBA looks like @reidserozi isn't interested in responding, can  you help out here and get some thoughts from Bill Greeves?

[2017-08-22 01:13] jhibbets commented on #577
NC Open pass updated. Note: I just commented that HTML out for now.

[2017-08-22 01:16] jhibbets opened #578 "Build EventBrite for CityCamp NC registration"
Note: I'm going to move (copy) this over to the NC DataPalooza EB to have everything in one location

[2017-08-22 01:36] wildca01t commented on #577
Updated on NC Datapalooza - ESRI removed. @zachambrose

[2017-08-22 01:40] ChrisTheDBA commented on #511
Terry Yates is the TOC contact for this. Will call on Wednesday.

Chris Mathews

On Mon, Aug 21, 2017 at 9:09 PM, Jason Hibbets <notifications@github.com>
wrote:

[2017-08-22 01:46] ChrisTheDBA commented on #578
Please include t-shirt question and food alergies

Also it would be nice to have demographics(optional of course) about the
people registering such as occupation, industry

Chris Mathews

On Mon, Aug 21, 2017 at 9:16 PM, Jason Hibbets <notifications@github.com>
wrote:

[2017-08-22 04:46] jhibbets commented on #578
Draft eventbright created, both of the questions are part of reg.

[2017-08-22 04:46] #578 closed, assigned to jhibbets

[2017-08-22 04:47] jhibbets commented on #574
See VIP code created for ALL events in eventbright.

[2017-08-22 04:47] #574 closed, assigned to jhibbets, zachambrose

[2017-08-22 04:47] #437 closed, assigned to ChrisTheDBA, carsi, jhibbets

[2017-08-22 04:48] jhibbets commented on #416
We might have someone who can help with this,  Lindsey Carbonell from Reese News Lab

[2017-08-22 04:49] jhibbets commented on #548
I don't understand what update menu means.

[2017-08-22 04:56] jhibbets commented on #508
email sent

[2017-08-22 04:56] #508 closed, assigned to jhibbets

[2017-08-22 04:57] jhibbets commented on #402
Not sure this is going to happen before the events.

[2017-08-22 10:50] reidserozi commented on #511
Wait! What? Not interested in responding to what?

On Aug 21, 2017 9:09 PM, "Jason Hibbets" <notifications@github.com> wrote:

[2017-08-22 11:11] ChrisTheDBA commented on #511
Can you help corral the participants or make intros for us. To some of the people you are working with. From the email we know Jim and Deante' but others  - think regional or statewide.

[2017-08-22 11:14] ChrisTheDBA commented on #577
Looks like we have removed. but we can't untweet.

[2017-08-22 11:14] #577 closed, assigned to wildca01t

[2017-08-22 11:17] ChrisTheDBA commented on #526
Given our recent challenge about the dates. We might want to reconsider since this would open a lot of people to the same issues we faced last week.

[2017-08-22 11:17] #502 closed, assigned to ChrisTheDBA, zachambrose

[2017-08-22 11:17] #468 closed, assigned to ChrisTheDBA, TaxLadyTracy

[2017-08-22 12:55] ChrisTheDBA commented on #567
Thought: We are planning on hosting some sprint "meetups" between CCNC and NCDP. Could Iron Yard Raleigh be the venue?

[2017-08-22 22:14] jhibbets opened #579 "Ask Chris Gergen to be a judge for CCNC"

[2017-08-23 11:48] dtraleigh commented on #567
For the citycamp weekend, sounds like we don't have anything to run with at
this point. Agree?

I'll let them know today.

On Tue, Aug 22, 2017 at 8:55 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-23 11:53] zachambrose commented on #567
I agree.

On Wed, Aug 23, 2017 at 7:48 AM, Leo Suarez <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-23 12:44] ChrisTheDBA opened #580 "Smart Cities Panel"
Bill G has made asks to Cisco, SAS and NCSU

[2017-08-23 12:45] ChrisTheDBA commented on #567
I agree.

[2017-08-23 12:46] ChrisTheDBA commented on #505
ordered

[2017-08-23 12:46] #505 closed, assigned to ChrisTheDBA, carsi

[2017-08-23 12:46] #419 closed, assigned to ashumz, ChrisTheDBA, dtraleigh, carsi, TaxLadyTracy

[2017-08-23 12:46] #438 closed, assigned to ChrisTheDBA, carsi, jhibbets

[2017-08-23 13:20] aikimark commented on #567
I thought Iron Yard was closing

[2017-08-23 13:23] dtraleigh commented on #567
That's right. I remember reading about that but they reached out to me this
week and asked if we were still on to use their space for citycamp sooo I
guess not??

On Wed, Aug 23, 2017 at 9:20 AM, aikimark <notifications@github.com> wrote:

[2017-08-23 13:26] ChrisTheDBA commented on #567
Wow you are right Mark. Guess this is non issue.

On Wed, Aug 23, 2017 at 9:20 AM aikimark <notifications@github.com> wrote:

--
Chris Mathews

[2017-08-23 13:35] aikimark commented on #565
What size(s) of SD cards will it accept?  We might find an SD-USB adapter that will allow us to connect an external hard drive.  Then we're looking at TB-level capacity.

Does it also have a USB port?  I'm asking because I have a couple of 64GB thumb drives.  If there's a USB port, I can loan you the thumb drive for the event.

[2017-08-23 13:41] aikimark commented on #470
Are you going over there or talking with Kris on the phone?
The only ones I locked in on were the Trippel and that peach/rosemary saison.  Since the saison is a seasonal, there's no guarantee that it will be available at the end of September.

There was a Belgian Pale Ale on the picture you took, which will serve as our hoppy tap.

I had hoped to go back over in the first week of September to lock

[2017-08-23 13:57] zachambrose commented on #580
Did you want me to see if there is a Cree possibility or hold on that?

On Wed, Aug 23, 2017 at 8:44 AM, Chris Mathews <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-23 14:04] ChrisTheDBA commented on #580
Do it. Rather have the choices.

On Wed, Aug 23, 2017 at 9:57 AM zachambrose <notifications@github.com>
wrote:

--
Chris Mathews

[2017-08-23 14:08] dtraleigh commented on #565
It takes microSD cards and I picked compatible cards off of their website
here:
https://help.getmevo.com/hc/en-us/articles/223431848-What-microSD-Cards-Are-Compatible-With-Mevo-

It has a microUSB port but that'll be used for powering it.

On Wed, Aug 23, 2017 at 9:35 AM, aikimark <notifications@github.com> wrote:

[2017-08-23 14:10] dtraleigh commented on #567
Iron Yard is finishing up their classes through October and then they are donezo. No plans for collab for citycamp.

[2017-08-23 14:10] #567 closed, assigned to nobody

[2017-08-23 14:11] ChrisTheDBA commented on #470
We are going to visit. Ultimately, we need to put this to rest and move on
to the 100 other tasks. Basically, we go with the list of choices and see
what he recommends.

Chris Mathews

On Wed, Aug 23, 2017 at 9:41 AM, aikimark <notifications@github.com> wrote:

[2017-08-23 14:46] aikimark commented on #470
When will you be there?  I can join you.

[2017-08-23 15:11] ChrisTheDBA commented on #470
Not sure   I need to see what Kris' availability is.

On Wed, Aug 23, 2017 at 10:46 AM aikimark <notifications@github.com> wrote:

--
Chris Mathews

[2017-08-23 15:41] zachambrose commented on #580
Done.

On Wed, Aug 23, 2017 at 10:04 AM, Chris Mathews <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-23 16:25] ChrisTheDBA commented on #580
we have bites from NCSU and SAS! more to follow.

[2017-08-23 18:04] dtraleigh commented on #490
Here is the Manhattan Cafe quotes. This is for 30 boxed salads and sandwich trays for 30 people. We have to choose the types of salads and sandwiches.

Option 1. With the Deli assortments and salad boxes is $580.93

Option 2. With  the Premium Assortment and salad boxes is $613.24

[2017-08-23 18:20] ChrisTheDBA commented on #490
I would say 15/45 salads vs sandwiches.

On Wed, Aug 23, 2017 at 2:04 PM Leo Suarez <notifications@github.com> wrote:

--
Chris Mathews

[2017-08-23 18:57] ChrisTheDBA commented on #580
And Cisco is in play.

On Wed, Aug 23, 2017 at 11:41 AM zachambrose <notifications@github.com>
wrote:

--
Chris Mathews

[2017-08-23 19:16] jhibbets commented on #580
Just a reminder that we need to have a diverse panel. Thanks for getting
this kickstarted!

On Wed, Aug 23, 2017 at 2:57 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-23 19:16] aikimark commented on #470
I have a meetup near the fairgrounds from 6-8 PM today.  I can meet you at Brice's before 5:30 or after 8:00

[2017-08-23 19:26] #511 closed, assigned to ChrisTheDBA, jhibbets

[2017-08-23 19:44] jhibbets opened #581 "Discovery meeting with New Kind and NCOP chairs - 8/24"
Meeting is at New Kind at 3:30 pm

[2017-08-23 20:39] ChrisTheDBA commented on #580
demographically diverse or diverse industry or both. I am trying.

[2017-08-23 20:43] ChrisTheDBA commented on #470
Kris was busy. got to remember that

[2017-08-23 21:46] jhibbets commented on #580
not all white dudes

On Wed, Aug 23, 2017 at 4:39 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-23 22:59] ChrisTheDBA commented on #580
I'm trying. I didn't expect everyone to jump when bill sent his note. He's
a popular guy. 😀

On Wed, Aug 23, 2017 at 5:46 PM Jason Hibbets <notifications@github.com>
wrote:

--
Chris Mathews

[2017-08-24 00:47] jhibbets commented on #580
All good, I just want us to be intentional.

On Wed, Aug 23, 2017 at 6:59 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-24 10:55] dtraleigh commented on #490
As in you want a quote or you ready to book 15/45?

On Aug 23, 2017 2:20 PM, "Chris Mathews" <notifications@github.com> wrote:

[2017-08-24 11:07] ChrisTheDBA commented on #490
No, just thinking ratios. Definitely not ready to commit to a count. Won't do that until w/o(thanks Jason).

[2017-08-24 11:11] ChrisTheDBA commented on #580
Greeves has offered to moderate. he doesn't fly out until late Friday.

[2017-08-24 15:04] ChrisTheDBA commented on #580
Bill Greeves - Moderator - WD
Dennis Kekas - NCSU - WD
Rodney Roberts - Greensboro/Triad - NWD
Jennifer Robinson - SAS - NWD
Deante' Taylor - NC Innovation Center - NWD
or Nicole Raimundo - TOC - NWD

[2017-08-24 16:30] carsi commented on #580
If your criterion is "not all white dudes (NWD)," you will surely find not
white dudes but you won't necessarily find a diverse panel.

On Thu, Aug 24, 2017 at 11:04 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-24 17:21] jhibbets commented on #580
We are working to be intentional about having diversity across many
spectrum's. Male/female, color, industry, etc. The "not all white dudes"
was a reference to the call we had on Monday that included the previous
mentioned areas.

[2017-08-24 17:52] zachambrose commented on #526
To Chris' point, you won't be listed as an organizer if your info isn't put
into the spreadsheet/headshot folder.  Having said that, I think there is
value in having a strong list of organizers for the event on the website.
So if you're game to be included, please include your information by COB
August 25th (tomorrow).  Entirely up to each individual.

On Tue, Aug 22, 2017 at 7:17 AM, Chris Mathew

[2017-08-24 18:02] #418 closed, assigned to ashumz, ChrisTheDBA, dtraleigh, TaxLadyTracy

[2017-08-24 18:52] zachambrose commented on #544
Very positive conversation with Elastic.co.  We're going to follow up late next week.

[2017-08-24 19:29] carsi commented on #580
https://user-images.githubusercontent.com/3422850/29690450-05d665f2-88f5-11e7-980d-ff3299f50a8b.png
I understand this is a hard task but if you put WD or NWD next to every
individual on a proposed panel, that is the criterion you are using, no
matter your intentions. Here's the reality: the proposed panel has one,
possibly two, women (both white), and one, possibly two, minorities (both
black).

T

[2017-08-24 22:18] jhibbets commented on #580
We would absolutely love more help reaching out to perspective panelists.
This is a team effort and we are somewhat limited by our own networks.

On Aug 24, 2017 3:29 PM, "carsi" <notifications@github.com> wrote:

[2017-08-24 22:33] suzanneccnc commented on #476
sent Ralph the form.

[2017-08-25 00:37] #581 closed, assigned to ChrisTheDBA, jhibbets, zachambrose

[2017-08-25 01:25] ChrisTheDBA opened #582 "Speaker info - Terry Yates"
Smart Cities Panel

[2017-08-25 01:26] ChrisTheDBA opened #583 "Speaker info - Rodney Roberts"
SMart Cities Panel

[2017-08-25 02:37] carsi commented on #580
I will reach out to my network to find more potential panelists. Is there
anywhere with information about what we are asking of the panelists and
potential professional fields I can direct them to?

On Aug 24, 2017 6:18 PM, "Jason Hibbets" <notifications@github.com> wrote:

[2017-08-25 12:01] #489 closed, assigned to ChrisTheDBA, dtraleigh, TaxLadyTracy, aikimark

[2017-08-25 12:01] #487 closed, assigned to ChrisTheDBA, dtraleigh, TaxLadyTracy, aikimark

[2017-08-25 12:01] #485 closed, assigned to ChrisTheDBA, dtraleigh, TaxLadyTracy, aikimark

[2017-08-25 12:02] ChrisTheDBA commented on #490
Manhattan Deli -

[2017-08-25 12:02] #490 closed, assigned to ChrisTheDBA, dtraleigh, TaxLadyTracy, aikimark

[2017-08-25 12:02] #488 closed, assigned to ChrisTheDBA, dtraleigh, TaxLadyTracy, aikimark

[2017-08-25 12:02] #470 closed, assigned to ChrisTheDBA, dtraleigh

[2017-08-25 12:03] ChrisTheDBA opened #584 "Order Friday lunch - Moes"

[2017-08-25 12:04] ChrisTheDBA opened #585 "Order Saturday Lunch - Manhattan Cafe"

[2017-08-25 12:05] ChrisTheDBA opened #586 "Breakfast Run -"
Pick up breakfast items

[2017-08-25 12:07] ChrisTheDBA opened #587 "Payment to TourTech"
need to pay them $600

[2017-08-25 12:09] ChrisTheDBA commented on #571
dupe

[2017-08-25 12:09] ChrisTheDBA commented on #569
dupe

[2017-08-25 12:09] ChrisTheDBA commented on #570
dupe

[2017-08-25 12:09] #569 closed, assigned to TaxLadyTracy

[2017-08-25 12:09] #570 closed, assigned to dtraleigh, TaxLadyTracy

[2017-08-25 12:09] #571 closed, assigned to TaxLadyTracy

[2017-08-25 12:22] jhibbets commented on #580
Here is the current status of the smart cities panel:

Invited and confirmed for Smart Cities panel
Moderator - Bill Greeves - Wake County CIIO, male, Caucasian
            Rodney Roberts - Guilford County Network Manager, male, African American
            Terry Yates - Town of Cary Network Manager, male, Caucasian
Invited and not confirmed
        Jennifer Robinson - SAS and Town of Cary council

[2017-08-25 12:30] ChrisTheDBA opened #588 "Fix changes to Call for Speakeorm"
We accidentally made changes to the form. Please revert them. Descriptions on questions.

[2017-08-25 12:43] jhibbets commented on #588
I'm not seeing the problem :(

On Fri, Aug 25, 2017 at 8:30 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-25 17:18] aikimark commented on #470
Did you reach Kris?  If not, why is this issue closed?  Or has it been replaced by another issue?

[2017-08-25 17:24] aikimark commented on #526
I am unable to upload a thumbnail headshot

[2017-08-25 17:24] aikimark commented on #526
I can only view the organizers worksheet

[2017-08-25 17:37] ChrisTheDBA commented on #470
This ticket was for the task of deciding on the vendor. Since  we agree on Brice's. I closed the ticket.

[2017-08-25 17:37] zachambrose commented on #526
Send me your email and I'll share them with you directly.  Not sure why you
can't access it. . .

On Fri, Aug 25, 2017 at 1:24 PM, aikimark <notifications@github.com> wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-25 17:38] ChrisTheDBA opened #589 "pay Brice's"
Meet up with Kris and reserve their services

[2017-08-25 17:41] #583 closed, assigned to ChrisTheDBA

[2017-08-25 17:47] aikimark commented on #589
When are you planning to go over there?

[2017-08-25 17:51] ChrisTheDBA commented on #589
Don't know. I plan on going over giving him my CC, signing the agreement
and leaving. Going to be pop in and pop out.

Chris Mathews

On Fri, Aug 25, 2017 at 1:47 PM, aikimark <notifications@github.com> wrote:

[2017-08-25 17:55] aikimark commented on #589
When is he usually there?

[2017-08-25 17:58] suzanneccnc opened #590 "request quote from compost now"
request quote for composting, recycling services, provision of products (plates, cups, napkins, utensils). explore in-kind donation sponsorship.

[2017-08-25 18:04] aikimark commented on #526
aikimark@aol.com

[2017-08-25 18:07] zachambrose commented on #526
Should work now.

On Fri, Aug 25, 2017 at 2:04 PM, aikimark <notifications@github.com> wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-25 18:22] #588 closed, assigned to jhibbets

[2017-08-25 18:23] ChrisTheDBA commented on #589
I don't know. he is in and out.

[2017-08-25 18:31] jhibbets opened #591 "Invite City of Raleigh elected officials"

[2017-08-25 18:32] jhibbets opened #592 "Invite Wake County Commisonners elected officials"

[2017-08-25 18:32] jhibbets opened #593 "Invite Wake County NCGA elected officials"

[2017-08-25 18:33] ChrisTheDBA commented on #591
Let me see the letter and I will send to Wale County.

On Fri, Aug 25, 2017 at 2:31 PM Jason Hibbets <notifications@github.com>
wrote:

--
Chris Mathews

[2017-08-25 18:33] jhibbets commented on #591
My plan is to make a template that anyone can re-purpose. I'll work on this during tomorrow's sprint.

[2017-08-25 18:38] suzanneccnc opened #594 "reserve recycling/compost material from City"
reserve recycling and composting containers from the City of Raleigh. Requesting 8 containers with 5 recycling lids and 3 compost lids and 8 yard signs. If reservation is accepted, then this is no cost to us, except to pick-up and return containers, and dispose of contents.

[2017-08-25 19:08] suzanneccnc opened #595 "Invite Town of Wake Forest officials"
all emails @wakeforestnc.gov
Mayor Vivan Jones mayor@
CIO, Tom LaBarge tlabarge@
Town Manager, Kip Padgett kpadgett@
Town Clerk, Deeda Harris dharris@
Commissioner, Greg Harrington gregharrington@
Commissioner, Brian Pate bpate@
Commissioner, Margaret Stinnett mstinnett@
Commissioner, Jim Thompson jthompson@
Dir. Downtown Dev, Lisa Hayes, lhayes@
Dir. Econ. Dev, Jason Cannon, jcannon@

In addition

[2017-08-25 19:53] aikimark commented on #526
Seems to have worked.

[2017-08-25 19:58] cjharper commented on #526
Zach rocks!

[2017-08-25 20:01] cjharper commented on #526
I closed your ticket! Such a goof!🤔 sorry about that.

On Fri, Aug 25, 2017 at 3:53 PM, aikimark <notifications@github.com> wrote:

[2017-08-25 20:04] zachambrose commented on #526
I thought you knew something I didn't or were just sending a strong
message.  :)

On Fri, Aug 25, 2017 at 4:01 PM, CJ <notifications@github.com> wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-25 20:36] jhibbets opened #596 "Reminder email for CFS"
Natalie, Any chance you could help with a short email blast for Monday to help promote:
1) Call for speakers
2) Announce CityCamp registration is open

I'll have content on the site ready tomorrow.

[2017-08-26 12:22] ChrisTheDBA opened #597 "Ginny Gheezo - Friday MC"
Thoughts, she is imterested

[2017-08-26 19:29] jhibbets opened #598 "Update elected official invitation"

[2017-08-26 19:35] ChrisTheDBA commented on #589
Put down 50%. contact is David

[2017-08-26 19:35] suzanneccnc opened #599 "recycling at HQ?"
Does HQ provide recycling containers for us? If not,  can we provide our own?

[2017-08-26 19:39] #597 closed, assigned to ChrisTheDBA, jhibbets, zachambrose

[2017-08-26 19:42] jhibbets commented on #598
@ChrisTheDBA  can you give this a quick review: https://docs.google.com/document/d/1h6v2nV0gQF5-RPSnEm9jm4qqHNrZhV-3hczgAIsZvfE/edit

[2017-08-26 19:45] jhibbets opened #600 "Open CityCamp NC registration"
- publish eventbright
- update CityCamp NC reg page

[2017-08-26 19:53] suzanneccnc opened #601 "Lightening talk invite Gab Smith"
Gab Smith, CAM Raleigh, Creative Mornings RDU

[2017-08-26 19:53] suzanneccnc opened #602 "Lightening talk invite Jonathan Opp"
Jonathan Opp Creative Mornings RDU

[2017-08-26 19:54] suzanneccnc opened #603 "Lightening Talk Jedidiah Gant"
Jedidiah Gant Creative Mornings RDU, Raleigh Murals Project, Myriad Media

[2017-08-26 19:55] suzanneccnc opened #604 "Lightening talk Sarah Powers"
Sarah Powers Raleigh Arts, Art&Tech civic initiative, Creative Mornings RDU

[2017-08-26 19:56] jhibbets opened #605 "Share YouTube pw via LastPass with Leo"

[2017-08-26 19:56] jhibbets commented on #605
done

[2017-08-26 19:56] #605 closed, assigned to dtraleigh, jhibbets

[2017-08-26 19:57] jhibbets opened #606 "Look for end of event survery for NN"

[2017-08-26 19:58] suzanneccnc opened #607 "Dei Robinson"
Dei Robinson, Google System Administrator, STEM community outreach

[2017-08-26 19:58] suzanneccnc commented on #607
email invitation sent; follow-up email sent

[2017-08-26 19:58] #607 closed, assigned to suzanneccnc

[2017-08-26 19:59] suzanneccnc commented on #604
email invitation sent; follow-up email sent

[2017-08-26 19:59] #604 closed, assigned to suzanneccnc

[2017-08-26 19:59] suzanneccnc commented on #603
email invitation sent; follow-up email sent

[2017-08-26 19:59] #603 closed, assigned to suzanneccnc

[2017-08-26 20:00] suzanneccnc commented on #602
email invitation sent; follow-up email sent

[2017-08-26 20:00] #602 closed, assigned to suzanneccnc

[2017-08-26 20:00] suzanneccnc commented on #601
email invitation sent; follow-up email sent

[2017-08-26 20:00] #601 closed, assigned to suzanneccnc

[2017-08-26 20:00] jhibbets commented on #606
Log in to Survey Monkey via lastpass, go to "Or manage all 2 surveys »" and review the 2015 survey. 25 respondents.

Looks like it's best to send right after the event.

[2017-08-26 20:00] #606 closed, assigned to jhibbets, natalienoel1

[2017-08-26 20:02] #598 closed, assigned to ChrisTheDBA, jhibbets

[2017-08-26 20:04] ChrisTheDBA opened #608 "Meet w/ Joe Stalling Town of Garner"

[2017-08-26 20:04] dtraleigh commented on #599
They do not. Let me get in touch with them this week and see how we could
do this.

On Aug 26, 2017 3:35 PM, "suzanneccnc" <notifications@github.com> wrote:

[2017-08-26 20:16] ChrisTheDBA opened #609 "Followup Jennifer Robinson"

[2017-08-26 20:20] ChrisTheDBA commented on #586
Pastries, fruit, coffee, and water

[2017-08-26 20:23] ChrisTheDBA opened #610 "Send event info and Beer choices to Brices"
We have booked the event.

We get to the event we need to connect with them to pay the remainder, give address and choices of beer style

[2017-08-26 20:24] #589 closed, assigned to ChrisTheDBA

[2017-08-26 20:31] ChrisTheDBA opened #611 "Fix fiscal agent of Eventbrite"
Need to make sure the money is going to CFA

[2017-08-26 20:33] TaxLadyTracy opened #612 "Order t-shirts"
Place the order for event t-shirts.

[2017-08-26 20:35] TaxLadyTracy opened #613 "Final payment to Brice's"
9/27 make final payment to Brice's.

[2017-08-26 20:47] suzanneccnc commented on #551
email invitation sent

[2017-08-26 20:47] #551 closed, assigned to suzanneccnc

[2017-08-26 20:54] #610 closed, assigned to ChrisTheDBA

[2017-08-26 20:54] suzanneccnc commented on #435
So , this is not happening for this year, but lets keep it on the backlog for next year.

[2017-08-26 20:55] jhibbets commented on #600
done: https://www.eventbrite.com/e/citycamp-nc-2017-tickets-37231937728
and http://citycampnc.org/register/

and @ChrisTheDBA  updated the homepage widget to point to ccnc instead of ncop

[2017-08-26 20:55] #600 closed, assigned to jhibbets

[2017-08-26 20:56] suzanneccnc commented on #427
reassigning to Nichole and Jason.

[2017-08-26 21:05] jhibbets commented on #595
Template is ready: https://docs.google.com/document/d/1h6v2nV0gQF5-RPSnEm9jm4qqHNrZhV-3hczgAIsZvfE/edit

[2017-08-26 21:05] jhibbets commented on #593
Template is ready: https://docs.google.com/document/d/1h6v2nV0gQF5-RPSnEm9jm4qqHNrZhV-3hczgAIsZvfE/edit

[2017-08-26 21:05] jhibbets commented on #591
Template is ready: https://docs.google.com/document/d/1h6v2nV0gQF5-RPSnEm9jm4qqHNrZhV-3hczgAIsZvfE/edit

[2017-08-26 21:26] jhibbets opened #614 "Update to NCOP reg for CItyCamp NC with reg code"

[2017-08-26 21:28] jhibbets commented on #614
Email set-up through Eventbright to go out on 8/28 @ 7am

cc @natalienoel1

[2017-08-26 21:28] #614 closed, assigned to jhibbets

[2017-08-26 21:28] ChrisTheDBA opened #615 "Invoice Pendo"

[2017-08-26 21:28] #615 closed, assigned to ChrisTheDBA

[2017-08-26 21:44] #591 closed, assigned to jhibbets

[2017-08-26 21:46] ChrisTheDBA commented on #590
Alternately, if the cost is high. Can we get them elsewhere/

[2017-08-26 21:57] #593 closed, assigned to jhibbets

[2017-08-26 22:00] ChrisTheDBA opened #616 "Tia Betha - Any Google requests"

[2017-08-26 22:08] jhibbets opened #617 "Set-up prep call for Smart City Panel"

[2017-08-26 22:09] jhibbets opened #618 "Update CCNC website with Smart City panel detail"
http://citycampnc.org/speakers/

[2017-08-26 22:12] jhibbets opened #619 "Reminder email to lightning talk speakers"
Usually the Monday/Tuesday before the event and include all the logistic:
- where the event is
- when they should arrive
- where they should sit

[2017-08-26 22:13] jhibbets opened #620 "Select lightning talks and send out accept / reject notifications"
The plan is to do this at the Tuesday speakers call, so please review the submissions before we meet.

[2017-08-27 01:30] snewt-n commented on #548
Oh! I should've been more clear. On the website, the menus from the banner/header/top don't currently include 2017. See image:
![speaker menu.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/59887ffd7b5cff001f24a278/125516c66e82c728ace21e0d46fb849f228986bbcfe4ba4db11fbcd6395428792c07b7692ac7b67ebb4728505f5e4da945585e43a8ac8929f7e73577830a19f1c32f0e2a92624cf5f2d75dad0ba8228d

[2017-08-27 10:40] ChrisTheDBA commented on #548
The headings link to the current year pages . maybe it would be clearer to add "2017" to those pages? I updated the site. How does it look?

[2017-08-27 13:47] jhibbets commented on #548
We usually add 2017 when we back date the website

On Sun, Aug 27, 2017 at 6:40 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-27 13:54] jhibbets commented on #619
Also sent them the speaker discount code in eventbright so they can register

[2017-08-27 14:03] jhibbets commented on #548
Closing: Adding a 2017  menu will cause duplicate pages ad the main page is the current year.

[2017-08-27 14:03] #548 closed, assigned to jhibbets

[2017-08-27 14:04] jhibbets commented on #547
Closing: Adding a 2017  menu will cause duplicate pages ad the main page is the current year.

[2017-08-27 14:04] #547 closed, assigned to jhibbets

[2017-08-27 14:04] jhibbets commented on #546
Closing: Adding a 2017  menu will cause duplicate pages ad the main page is the current year.

[2017-08-27 14:04] #546 closed, assigned to jhibbets

[2017-08-27 14:51] jhibbets opened #621 "Review lightning talk submissions"

[2017-08-27 19:01] ChrisTheDBA commented on #526
I have taken a first crack at the CityCamp site - http://citycampnc.org/organizers/

Just a draft to generate ideas

[2017-08-27 22:02] jhibbets opened #622 "Invite Raleigh Digital Connectors"

[2017-08-27 22:04] #622 closed, assigned to jhibbets

[2017-08-27 22:10] jhibbets opened #623 "Invite past CIO panelists to 2017 event"

[2017-08-27 22:10] #623 closed, assigned to jhibbets

[2017-08-27 22:18] jhibbets commented on #621
All of them look really good so far!

[2017-08-27 22:18] #621 closed, assigned to jhibbets

[2017-08-27 22:38] jhibbets commented on #561
@natalienoel1  this is ready and in WordPress. Let me know how this fits with the marketing plan and we can publish accordingly. Note: I'm saving the timeline for a future post.

[2017-08-28 02:07] jhibbets opened #624 "Draft post to announce registration"

[2017-08-28 02:13] jhibbets commented on #624
@natalienoel1 post if ready and set to publish on Monday 8/28 at 7am

http://citycampnc.org/?p=2720

[2017-08-28 02:13] #624 closed, assigned to jhibbets, natalienoel1

[2017-08-28 02:35] jhibbets opened #625 "Draft personal invitation for planning team to use"
https://docs.google.com/document/d/1l8lItM4zmgomtSNZBa1dDz2jkrX7sr8uQ_ieayOgLd0/edit

[2017-08-28 02:35] #625 closed, assigned to jhibbets

[2017-08-28 11:11] zachambrose commented on #619
Should I let Cree know that we've filled the panel?  They were checking to
see if they had a good participant.

On Sun, Aug 27, 2017 at 9:54 AM, Jason Hibbets <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-28 11:13] ChrisTheDBA commented on #619
I think we have it covered.

Chris Mathews

On Mon, Aug 28, 2017 at 7:11 AM, zachambrose <notifications@github.com>
wrote:

[2017-08-28 11:46] zachambrose commented on #619
I closed the loop with Cree.

On Mon, Aug 28, 2017 at 7:13 AM, Chris Mathews <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-28 12:06] #592 closed, assigned to ChrisTheDBA

[2017-08-28 12:07] ChrisTheDBA commented on #587
Email sent to Bunky Dean

[2017-08-28 13:12] ChrisTheDBA opened #626 "Question:how long the panel"
I'm thinking 45 minute total

[2017-08-28 14:21] natalienoel1 commented on #606
Awesome!

On Sat, Aug 26, 2017 at 4:00 PM, Jason Hibbets <notifications@github.com>
wrote:

--
Natalie Noel
Marketing Manager
H/Q Raleigh & Charlotte
www.hq.community

<https://twitter.com/HQRaleigh>  <https://www.facebook.com/HubRaleigh>
<http://www.linkedin.com/company/2783956?trk=NUS_CMPY_TWIT>
<http://instagram.com/hqraleigh>

*Is your entrepreneurial team growing? Check out our flexible and
a

[2017-08-28 14:42] wildca01t commented on #539
Meeting with Bill on Wednesday. Thanks @zachambrose

[2017-08-28 15:30] #427 closed, assigned to jhibbets, natalienoel1

[2017-08-28 15:31] jhibbets commented on #626
Let's plan for 45 minutes

On Mon, Aug 28, 2017 at 9:12 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-28 15:32] ChrisTheDBA commented on #626
Good. thanks

[2017-08-28 15:32] #626 closed, assigned to ChrisTheDBA, jhibbets

[2017-08-28 15:58] #560 closed, assigned to jhibbets

[2017-08-28 16:36] #587 closed, assigned to ChrisTheDBA

[2017-08-28 16:37] ChrisTheDBA commented on #608
Mon 1:30

[2017-08-28 16:52] dtraleigh commented on #599
HQ can collect compostable materials for us. I think we are close to being
100% for Thursday night.

Compostable items already planned are food and pizza boxes so if we make
sure that our plates and cutlery are compostable, we would be good to go.

The other side is the beer cups. Is Brice's providing or are we?

On Sat, Aug 26, 2017 at 4:04 PM, Leo Suarez <leo@dtraleigh.com> wrote:

[2017-08-28 18:40] ChrisTheDBA commented on #608
They are interested in the parks app, econ dev app and affordable housing!

[2017-08-28 18:40] #608 closed, assigned to ChrisTheDBA, TaxLadyTracy

[2017-08-28 19:28] natalienoel1 commented on #596
Yes I have one going out today! Just finalizing the last few things!

On Fri, Aug 25, 2017 at 4:36 PM, Jason Hibbets <notifications@github.com>
wrote:

--
Natalie Noel
Marketing Manager
H/Q Raleigh & Charlotte
www.hq.community

<https://twitter.com/HQRaleigh>  <https://www.facebook.com/HubRaleigh>
<http://www.linkedin.com/company/2783956?trk=NUS_CMPY_TWIT>
<http://instagram.com/hqraleigh>

*Is you

[2017-08-28 22:12] jhibbets opened #627 "Give Sophia access to LastPass"

[2017-08-28 22:18] TaxLadyTracy commented on #599
We will provide Red Solo Cups :)

[2017-08-28 22:19] TaxLadyTracy commented on #599
Donatos provides all the plates/napkins for dinner not sure if they are compostable but they are FREE or included in the price we pay.

[2017-08-28 22:24] zachambrose commented on #526
I synced the headshot folder and the spreadsheet.  I sent out a last call
for other submissions by Wed, Aug 30.

On Sun, Aug 27, 2017 at 3:01 PM, Chris Mathews <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-28 22:35] TaxLadyTracy commented on #568
Please do not leave your shirt size here...email me so I can acknowledge I have gotten it.  Thanks!

[2017-08-29 00:14] ChrisTheDBA opened #628 "Reach out to Derrick Minor"

[2017-08-29 02:41] jhibbets commented on #627
@snewt-n access granted via lastpass, please see this document: https://drive.google.com/open?id=1A2WSZkn6pvQlrIil12UI_yqTfVas_AbcWFU1UoH1oiI

cc @natalienoel1

[2017-08-29 02:41] #627 closed, assigned to jhibbets

[2017-08-29 03:14] #533 closed, assigned to ashumz, natalienoel1

[2017-08-29 03:16] jhibbets commented on #628
Email sent to ask about his events list.

[2017-08-29 03:16] #628 closed, assigned to ChrisTheDBA, jhibbets

[2017-08-29 03:17] jhibbets opened #629 "Send partners VIP registration code"
Please send all partners invitation with VIP code for their partnership.

[2017-08-29 03:49] jhibbets commented on #596
Update from the call today - no need to announce final CFS.

I added one small section to the email about bringing "your team" to CityCamp. Didn't want people to think that those were the only three projects.

[2017-08-29 03:59] jhibbets opened #630 "Wake County teams and open data comp"
@bilscanlon

Just curious if the Wake county teams will be eligible for the prize money. I absolutely love the work we are doing to support these teams, I'm starting to think we might hurt ourselves a bit if attendees think these are the only teams we have this year and new ones aren't welcome. Would love some feedback / thoughts on this.

[2017-08-29 10:45] ChrisTheDBA commented on #630
I think this is two questions

1) should the teams working on WC projects be eligible for prizes? I think yes, first these are not "just" WC projects we are employing data from multiple jurisdictions. The "no-just-flu-shot-finder" pivoted greatly when Nancy McFarland said that it would be great to add Narcan and prescription drug drop-off.

2) Will the fact that we are "seeding" the competition di

[2017-08-29 11:51] zachambrose commented on #630
I agree.  Bill's team competed last year and they had been working on the
project for a while.  Should we judge teams on what they've accomplished
during the hackathon and then during the 7 week competition?

On Tue, Aug 29, 2017 at 6:45 AM, Chris Mathews <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.co

[2017-08-29 12:48] zachambrose commented on #620
I made a catalog
<https://drive.google.com/open?id=0BxSvt4naKiIlQU9ET1djaEt0SUk>of the 13
submissions.  Easier for me to review than the spreadsheet or google form.
I uploaded it into the speaker folder in case anyone wants to use it.

On Sat, Aug 26, 2017 at 6:13 PM, Jason Hibbets <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (c

[2017-08-29 14:35] ChrisTheDBA commented on #628
also want to see what he wants to do at the event?

[2017-08-29 18:00] jhibbets opened #631 "NC DataPalooza promotion opp - 10/18 @ centennial Campus"
Table at Centennial Rocks

Oct. 11, 5:00-7:00 PM, The Oval near EBII

Set up a table to share job opportunities, host an activity and share your company story. Network with students, faculty and industry partners.

Trying to get the link...

[2017-08-29 18:26] ChrisTheDBA commented on #630
also with my WC hat on for a minute. It's true that WC has proposed the project, but internally these are community projects with WC being a participant.

[2017-08-29 19:05] jhibbets commented on #631
https://docs.google.com/forms/d/e/1FAIpQLSeydfODB6AKVfIXjWbZvgawA_oS_OQxf_mZLHi6-AezFPIiGw/viewform

[2017-08-29 19:06] jhibbets opened #632 "Draft keynote preview"

[2017-08-29 19:22] jhibbets commented on #630
All good, wanted to make sure we think through this. And it sounds like
we're good.

On Tue, Aug 29, 2017 at 2:26 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-29 19:56] dtraleigh commented on #599
12 oz. compostable cups can be had for $10 per 50. In Raleigh, the solo cups (plastic #6) is not accepted by their recycling so these would go in the trash.

Can we vote on this?

[2017-08-29 21:11] ChrisTheDBA commented on #599
Can you send a link w/ picture? Remember the reason we have red solo cups
because most people drank water from disposable bottles and not fill cups.
Attendee behavior is just that.

If we buy these cups this year we could probably use them for a couple of
years. that's not necessarily a bad thing.

Chris Mathews

On Tue, Aug 29, 2017 at 3:56 PM, Leo Suarez <notifications@github.com>
wrote:

[2017-08-29 21:32] carsi commented on #599
Attendees drink out of what you give them. If we get compostable cups for beers, they will drink out of the compostable cups. For a small amount of money, we can be good stewards of the earth and set a good example.

[2017-08-29 21:39] ChrisTheDBA commented on #580
Talk with Bill G today. Good with format and 4 panelists. Likes Jennifer Robinson from SAS and someone from NCSU.

[2017-08-29 22:33] ChrisTheDBA opened #633 "Talk to Sam - Open Data talks"
bring in Bonnie, Daniel and Ben

[2017-08-29 22:45] TaxLadyTracy commented on #599
I will double check with Brice's to see if they are bringing cups, I know they have certain sizes for the pouring.  We have lots of leftover cups from last year so it would be a $0 expense if they are not provided.  I just checked and they are #6

[2017-08-29 23:25] dtraleigh commented on #599
This is what I'm proposing.

Repurpose 100% Compostable Plant-Based Clear Cold Cup, 12-ounce  (50 Count)
https://www.amazon.com/dp/B00NNR3S3S/ref=cm_sw_r_cp_apa_GDFPzbA11G6ME

Actually, my opinion is to first use what we have THEN go green. The damage
is done if we already have plastic cups. (Just my opinion)

On Aug 29, 2017 6:45 PM, "TaxLadyTracy" <notifications@github.com> wrote:

[2017-08-29 23:50] ChrisTheDBA commented on #599
Those look a lot better than what I was looking at. Thanks Leo & Amazon.

I will also note that my other comment was about Nash Hall where the only
water supply is from the mop sink. We used bottle water and water brought
from home.

Chris Mathews

On Tue, Aug 29, 2017 at 7:25 PM, Leo Suarez <notifications@github.com>
wrote:

[2017-08-30 00:34] dtraleigh commented on #599
Nash Hall is an entirely different dynamic I think. Can we break that off
on another waffle card?

Let's keep this thread on Thursday night's event at HQ, which I think we
can make it 100% compostable.

If donato's provides paper plates, napkins, those are compostable. Any
plastic cutlery is typically not.

On Tue, Aug 29, 2017 at 7:50 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-30 01:03] suzanneccnc commented on #599
I like making a move to 100% compostable (/recyclable) for the Thurs night
event. It's the smallest event duration so easier to be successful. My
2-cents. Thanks for the research Leo!

On Tue, Aug 29, 2017 at 8:34 PM Leo Suarez <notifications@github.com> wrote:

[2017-08-30 01:15] suzanneccnc commented on #594
Reservation successful. We can pickup the containers anytime the week of the 25th.

[2017-08-30 01:16] #594 closed, assigned to suzanneccnc

[2017-08-30 01:18] suzanneccnc opened #634 "pick up recycling/compost container from City of Raleigh"
Containers can be picked up anytime during the week of Sept. 25.

[2017-08-30 01:20] suzanneccnc opened #635 "remove Friday's recycling/compostable material"
all material must be removed from Nash Hall at the end of  each day.

[2017-08-30 01:21] suzanneccnc opened #636 "remove Saturday's recycling/compostable material"
All material must be removed from Nash Hall at the  end of each day.

[2017-08-30 01:22] suzanneccnc opened #637 "return recycling/compost containers to City of Raleigh"

[2017-08-30 02:14] jhibbets opened #638 "Remaining lighting talk proposals"
Send out the final acceptance / rejection notices

[2017-08-30 02:20] jhibbets commented on #620
8 acceptance, 1 rejection, 5 on hold sent out tonight - remainder will be in #638

[2017-08-30 02:20] #620 closed, assigned to ChrisTheDBA, jhibbets, zachambrose

[2017-08-30 03:01] jhibbets commented on #632
Post is going live at 8am - http://citycampnc.org/2017/08/30/the-secrets-to-urbanism-and-open-data/

cc @natalienoel1 please help promote via social media

[2017-08-30 03:01] #632 closed, assigned to jhibbets

[2017-08-30 03:02] jhibbets opened #639 "Sent Stephen Larrick registration details"

[2017-08-30 03:02] #639 closed, assigned to jhibbets

[2017-08-30 03:04] jhibbets opened #640 "Building schedule page with lighting talk speakers"

[2017-08-30 09:13] #582 closed, assigned to ChrisTheDBA

[2017-08-30 10:55] zachambrose commented on #523
Duplicate card.  Closing.

[2017-08-30 10:55] #523 closed, assigned to zachambrose

[2017-08-30 11:29] bilscanlon commented on #630
Sorry for not responding yesterday.  I was running non stop.  However, I
wanted to chime in and mention that I agree with everything Chris said
about the WC challenges.

Also, to answer Zach's question, each team should be judged on what they
complete during the event and during the 7 weeks.  An existing team should
be advancing their product and judge on what they added and how well those
additio

[2017-08-30 12:45] dtraleigh commented on #634
Where and at what times?

On Tue, Aug 29, 2017 at 9:18 PM, suzanneccnc <notifications@github.com>
wrote:

[2017-08-30 12:45] dtraleigh commented on #637
When does it need to be returned by?

On Tue, Aug 29, 2017 at 9:22 PM, suzanneccnc <notifications@github.com>
wrote:

[2017-08-30 12:47] zachambrose commented on #629
Should we ask them to sign up for Open Pass with the code?

On Mon, Aug 28, 2017 at 11:17 PM, Jason Hibbets <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-30 12:51] suzanneccnc commented on #637
The return date seems a bit squishy, it just says "at the conclusion of the event". So, target return, Monday, Oct. 2.

[2017-08-30 12:52] suzanneccnc commented on #634
ClearStream recycling containers can be picked up and returned Monday - Friday from 7 am to 5:00 pm at the Solid Waste Services' Administrative Office located at 630 Beacon Lake Drive.

[2017-08-30 13:15] suzanneccnc commented on #526
just put my info/hs in.

[2017-08-30 14:03] jhibbets commented on #629
Yes, I think that would be best.

On Wed, Aug 30, 2017 at 8:47 AM, zachambrose <notifications@github.com>
wrote:

[2017-08-30 14:08] ChrisTheDBA commented on #629
We will also need them to sign up for events logistics-wise t-shirt and
food allergies.

On Wed, Aug 30, 2017 at 10:03 AM Jason Hibbets <notifications@github.com>
wrote:

--
Chris Mathews

[2017-08-30 14:09] zachambrose commented on #629
Will that happen automatically when they register for City Camp?

On Wed, Aug 30, 2017 at 10:08 AM, Chris Mathews <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-30 14:14] ChrisTheDBA commented on #629
Yes we ask those questions. Also we use that list to make the nametags.

On Wed, Aug 30, 2017 at 10:09 AM zachambrose <notifications@github.com>
wrote:

--
Chris Mathews

[2017-08-30 14:21] natalienoel1 commented on #632
Got it!

On Tue, Aug 29, 2017 at 11:01 PM, Jason Hibbets <notifications@github.com>
wrote:

--
Natalie Noel
Marketing Manager
H/Q Raleigh & Charlotte
www.hq.community

<https://twitter.com/HQRaleigh>  <https://www.facebook.com/HubRaleigh>
<http://www.linkedin.com/company/2783956?trk=NUS_CMPY_TWIT>
<http://instagram.com/hqraleigh>

*Is your entrepreneurial team growing? Check out our flexible and
a

[2017-08-30 16:47] jhibbets opened #641 "NC Re-Entry project blog post"
Natalie to reach out to Jason Marshall for NC Re-Entry project blog post to highlight that for featured project on Saturday (in addition to open data challenges)

[2017-08-30 16:48] jhibbets opened #642 "Highlight open data challenges: parks challenge"
Write a blog post to highlight the challenge and open data for this project

[2017-08-30 16:49] jhibbets opened #643 "Highlight open data challenges: not a flu-shot challenge"
Write a blog post to highlight the challenge and open data for this project

[2017-08-30 16:49] jhibbets opened #644 "Highlight open data challenges: economic development"
Write a blog post to highlight the challenge and open data for this project

[2017-08-30 16:50] ChrisTheDBA commented on #642
We are meeting on Friday to discuss the project. I will add to agenda.

[2017-08-30 16:50] jhibbets opened #645 "Where are they now feature: NC Food Inspector"
Get content to highlight past success stories from our events

[2017-08-30 16:51] jhibbets opened #646 "Where are they now feature: Wake Forest open data portal"
Get content to highlight past success stories from our events

[2017-08-30 16:51] jhibbets opened #647 "Where are they now feature: New Cartographers"
Get content to highlight past success stories from our events

[2017-08-30 16:52] jhibbets commented on #646
@suzanneccnc  should be able to help with this

[2017-08-30 16:53] jhibbets commented on #647
@zachambrose has already reached out,  but maybe should connect someone else to try again

[2017-08-30 16:54] jhibbets opened #648 "Schedule for publication and social media: History of Civic Tech article parts 1 and 2"

[2017-08-30 16:55] jhibbets opened #649 "Reach out to NCSU E-clinic"

[2017-08-30 16:56] jhibbets opened #650 "Create flyer to promote events"
No budget for printing these, but folks could grab the file off of drive and print / distribute in their office or other places

[2017-08-30 16:57] #414 closed, assigned to nobody

[2017-08-30 16:57] jhibbets opened #651 "Pitch to WRAL techwire"
Related to #416

[2017-08-30 16:58] jhibbets opened #652 "Save the date newsletter"
As part one of a series of newsletter for NC Open Pass list

related to #412

[2017-08-30 18:09] jhibbets opened #653 "Open data mega lightining talk outline"

[2017-08-30 18:10] jhibbets opened #654 "Open data mega lightining talk organize prep call"

[2017-08-30 18:10] jhibbets opened #655 "Open data mega lightning talk prep call"

[2017-08-30 18:51] jhibbets opened #656 "Add a calendar invite for lightning talk speakers"

[2017-08-30 19:05] #656 closed, assigned to jhibbets

[2017-08-30 19:05] #649 closed, assigned to jhibbets

[2017-08-30 19:08] carsi commented on #650
We can also do a digital release of this on social media. What kind of content do you want on these? I assume this is for NC Open Pass in general.

[2017-08-30 21:17] carsi commented on #650
<img width="884" alt="screen shot 2017-08-30 at 5 14 50 pm" src="https://user-images.githubusercontent.com/3422850/29895352-cde40058-8da6-11e7-9968-184dcef25eab.png">
I took some content from both websites. I also made a CityCamp NC poster in case that is what you really meant @jhibbets

I might not be able to get to revisions until next week but this is a start. If anyone wants to build on top of

[2017-08-30 21:34] carsi commented on #599
Agree with @suzanneccnc, it will be cool to do 100% compostable for at least one part of the event. We might need to explain on Thursday night to guests what is compostable (everything?!) but it will be worth the education for some. Thanks @dtraleigh and @ChrisTheDBA!

[2017-08-31 00:51] #630 closed, assigned to ChrisTheDBA, zachambrose

[2017-08-31 00:51] #611 closed, assigned to ChrisTheDBA

[2017-08-31 03:43] jhibbets commented on #648
@natalienoel1  ready in WP: http://citycampnc.org/?p=2740&preview=true

[2017-08-31 16:16] zachambrose commented on #526
@ChrisTheDBA @wildca01t The organizers who have put their info in to be listed on the website are [here](https://drive.google.com/open?id=1k_KonkmS51Lv6ha4gWlW90uYpwpX7qgdilzXGllznlg).  Headshots are [here](https://drive.google.com/open?id=0BxSvt4naKiIlUTRzVzlWMms2Y0U).  Can you guys close this out once you've updated the websites?

[2017-08-31 16:18] zachambrose commented on #526
Sophia Newton put her info into the sheet.  I emailed about a headshot.  I'll upload if it I get it.

[2017-08-31 16:31] ChrisTheDBA commented on #526
Where are the bios? All I see is name, LI and twitter?

[2017-08-31 16:38] dtraleigh commented on #471
Little City is in. However, they want to charge us for what people consume rather than some upfront fee. This sounds good to me but let me know if there's something I may be missing.

[2017-08-31 16:49] ChrisTheDBA commented on #471
So question is will they bring kegs or bottles? if so someone to
pour/serve?

I have no problem but is there a minimum/deposit?

Chris Mathews

On Thu, Aug 31, 2017 at 12:38 PM, Leo Suarez <notifications@github.com>
wrote:

[2017-08-31 16:52] aikimark commented on #471
If cost is an issue, we might hand out a fixed number of free-drink tickets to the attendees.  If someone wants to drink more, they can either pay for it themselves or get a ticket from someone else.

[2017-08-31 16:53] aikimark commented on #471
Could we use Brice's Brewery for both events?

[2017-08-31 17:11] ChrisTheDBA commented on #471
We made the decision to support businesses that are local to the Google
Fiber space.

Chris Mathews

On Thu, Aug 31, 2017 at 12:53 PM, aikimark <notifications@github.com> wrote:

[2017-08-31 17:26] zachambrose commented on #526
We didn't do bios for organizers, just headshots, organization, twitter and
LinkedIn.

On Thu, Aug 31, 2017 at 12:31 PM, Chris Mathews <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-31 17:32] ChrisTheDBA commented on #526
So how do we want this to look then? I was planning on a meet the team, but without bios it looks kind of weird.

Just a list of the information?

[2017-08-31 17:33] zachambrose commented on #526
This is how they've looked on the DataPalooza website.
http://www.ncdatapalooza.com/organizers/

On Thu, Aug 31, 2017 at 1:32 PM, Chris Mathews <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-31 17:39] jhibbets commented on #526
Looks like we need to remove some old organizers.

Jason

On Thu, Aug 31, 2017 at 1:32 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-31 17:42] zachambrose commented on #526
Updating organizers for both sites is a little further up in the comments.
 :)

On Thu, Aug 31, 2017 at 1:39 PM, Jason Hibbets <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-08-31 17:45] dtraleigh commented on #471
I'll confirm with them but they said they will bring the beer, pour the
beer, and breakdown everything. I asked for a little more detail around
payment/deposit.

For reference, we covered the entire tab at the bar last year at Buku. With
beer only, the cost has got to be lower.

On Thu, Aug 31, 2017 at 1:11 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-31 17:55] ChrisTheDBA commented on #526
We have some that are 100x100 and some that are 640x640. Scaling them loses resolution. My strategy is to go with least common denominator. Plus wide, long and square pics. Thoughts?

[2017-08-31 17:59] ChrisTheDBA commented on #471
Either way is fine. Are we still thinking wine? No hard liquor. Of course there are gluten sensitive folks too. ahhh, the details.

[2017-08-31 18:05] dtraleigh commented on #471
Little City is good to go. They will handle everything. The only real
question is there a table for them or should they bring? I'll tell them to
bring.

As far as wine goes, I was going to invite the Raleigh Wine Shop to see if
they want to set up a wine station, what that might cost and go from there.
I see that as optional so am not getting that right now.

Let's leave this item open until I kno

[2017-08-31 18:51] dtraleigh commented on #526
Is everyone on LinkedIn? Just grab them from there, that way, you get the
same size of everyone. (assuming the LI shot is what people want) I did
that when creating a board page for another org I'm on.

On Thu, Aug 31, 2017 at 1:55 PM, Chris Mathews <notifications@github.com>
wrote:

[2017-08-31 19:03] carsi commented on #526
@ChrisTheDBA Are you scaling up or down the photos? My design two cents is to scale down to the smallest photo (which sounds like 100x100) and crop all to be square pics (easier to grid). Hope that helps.

[2017-08-31 21:02] zachambrose opened #657 "Add BCBSNC Foundation as a Platinum sponsor to all three websites."

[2017-08-31 21:02] zachambrose commented on #657
Logo is in sponsorship folder.

[2017-08-31 21:50] ChrisTheDBA commented on #526
That was the plan. Thanks for the confirmation.

On Thu, Aug 31, 2017 at 3:03 PM carsi <notifications@github.com> wrote:

--
Chris Mathews

[2017-09-01 02:07] jhibbets commented on #657
NC Open Pass is done.

[2017-09-01 02:08] jhibbets opened #658 "Last push for NC Open Pass early bird?"
Natalie - wonder if we do one more reminder email for open pass early bird?

Early bird passes are $40 through September 4, 2017 and $50 starting on September 5, 2017.

[2017-09-01 02:44] wildca01t commented on #413
Completing now.

[2017-09-01 02:44] #413 closed, assigned to nobody

[2017-09-01 02:47] wildca01t commented on #539
@natalienoel1 completing in mktg draft, followed by signed off on filling in gaps and additional input from @wildca01t

[2017-09-01 02:50] wildca01t commented on #657
Completed on NC Datapalooza.

[2017-09-01 02:50] #657 closed, assigned to ChrisTheDBA, wildca01t

[2017-09-01 02:52] wildca01t commented on #573
Completed.

[2017-09-01 02:52] #573 closed, assigned to zachambrose

[2017-09-01 11:14] ChrisTheDBA commented on #526
Thoughts before I go further

http://citycampnc.org/organizers/?preview_id=2686&preview_nonce=437cc6cbc4&_thumbnail_id=-1&preview=true

[2017-09-01 11:41] zachambrose commented on #526
It says I'm not allowed to preview drafts.

On Fri, Sep 1, 2017 at 7:14 AM, Chris Mathews <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-09-01 11:46] ChrisTheDBA commented on #526
Are you logged in?

On Fri, Sep 1, 2017 at 7:41 AM zachambrose <notifications@github.com> wrote:

--
Chris Mathews

[2017-09-01 11:54] aikimark commented on #526
how does one "log in" to the citycampnc.org site?

[2017-09-01 12:09] ChrisTheDBA commented on #526
It is a wordpress site. Add wp-admin to the URL. Use the credentials from
on boarding.

On Fri, Sep 1, 2017 at 7:54 AM aikimark <notifications@github.com> wrote:

--
Chris Mathews

[2017-09-01 12:47] aikimark commented on #526
I didn't save that email :-(

[2017-09-01 12:58] ChrisTheDBA commented on #526
Try this link. http://citycampnc.org/organizers/

[2017-09-01 13:02] dtraleigh commented on #526
Looks good!

By the way, I was just in the site trying to install a plugin I like that
lets you share private links to post previews. It's great for sharing.
However, it doesn't work for pages. Oh well. It's there if needed for post
previews, makes it quicker.

On Fri, Sep 1, 2017 at 8:58 AM, Chris Mathews <notifications@github.com>
wrote:

[2017-09-01 13:03] zachambrose commented on #526
+1

On Fri, Sep 1, 2017 at 9:02 AM, Leo Suarez <notifications@github.com> wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-09-01 14:19] aikimark commented on #526
Looks good to me.  I assume the missing head shots at the bottom of the page were not supplied.

[2017-09-01 14:52] ChrisTheDBA commented on #526
CityCamp site updated. The page is available under About/Our Team. Also tested on mobile.

[2017-09-01 15:31] ChrisTheDBA commented on #633
We have a doodle!

[2017-09-01 17:57] jhibbets opened #659 "Follow-up with NCSU e-clinic partnership"
Follow-up with Kevin Wright and Luis Sheets from NCSU e-clinic about listing them as a partner for NC Open Pass - you can pass this card back to me to update the website if you want

[2017-09-01 17:58] jhibbets opened #660 "Update NC Open Pass to include NCSU data.world event"

[2017-09-01 17:59] jhibbets opened #661 "Send email to open pass holder with new event info"
Notify them of data.world event being added to open pass

[2017-09-01 18:23] jhibbets opened #662 "Communicate to data.world open NC Open Pass NCSU event"
Let our contacts know that we've enhanced the partnership

[2017-09-01 18:34] zachambrose commented on #526
Looks good, Chris!

On Fri, Sep 1, 2017 at 10:52 AM, Chris Mathews <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-09-01 18:37] zachambrose commented on #659
I've emailed them.

On Fri, Sep 1, 2017 at 1:57 PM, Jason Hibbets <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-09-01 18:39] zachambrose commented on #662
I let Nick know.  Just let me know if there is anything else I should do
with this one.

On Fri, Sep 1, 2017 at 2:23 PM, Jason Hibbets <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>

[2017-09-01 18:49] zachambrose commented on #631
Is anyone interested and available to do this on October 11th?

On Tue, Aug 29, 2017 at 3:05 PM, Jason Hibbets <notifications@github.com>
wrote:

--
Zach Ambrose
zambrose@AmbroseStrategy.com
919-438-2752 (office)
919-616-9969 (cell)
www.AmbroseStrategy.com
<https://www.linkedin.com/in/zambrose>